openapi: 3.2.0
info:
  title: BSM (TEST2) HTTP LISBF20 Bean API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: LISBF20Bean
  description: Business facade for LIS, version 2.0
paths:
  /LISBF20Bean/calculateTargetTime:
    post:
      tags:
      - LISBF20Bean
      summary: calculateTargetTime
      description: Determines the event chain for the given plan and performs a backward calculation starting with the given delivery date in the request. The resulting shipping date is returned in the response.
      operationId: calculateTargetTime
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetTimeCalculationRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetTimeCalculationResponseDTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getConsignments:
    post:
      tags:
      - LISBF20Bean
      summary: getConsignments
      description: Returns a list of consignments for the given requestDTO
      operationId: getConsignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISConsignmentRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISExpConsignmentList20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getDocumentCategories:
    post:
      tags:
      - LISBF20Bean
      summary: getDocumentCategories
      description: Returns the document categories for a requested client.
      operationId: getDocumentCategories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDocumentCategoriesRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentCategoriesResponseDTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getEventDefinitions:
    post:
      tags:
      - LISBF20Bean
      summary: getEventDefinitions
      description: Returns all event definitions found for the given requestDTO.
      operationId: getEventDefinitions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISEventDefinitionRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LISEventDefinition20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getMODocument:
    post:
      tags:
      - LISBF20Bean
      summary: getMODocument
      description: Returns a document by its key. The key can be determined by calling the sync or export. It is mentioned in LISExpDocumentMetadata20DTO
      operationId: getMODocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMODocumentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMODocumentResponseDTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getOrderFulfillmentPlans:
    post:
      tags:
      - LISBF20Bean
      summary: getOrderFulfillmentPlans
      description: Returns all order fulfillment plans for the given requestDTO. The order fulfilment steps of a plan come sorted by their sequence number. The events of a step come partially sorted. The milestone events sorted by their sort number. Then the monitored events unsorted.
      operationId: getOrderFulfillmentPlans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISOrderFulfillmentRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISOrderFulfillmentResult20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getQuickSearchResult:
    post:
      tags:
      - LISBF20Bean
      summary: getQuickSearchResult
      description: "Perform a quick search for the given requestDTO.\n The search will deliver the same results that would be obtained when a search term (reference number) would be entered in the quick search application GUI (located in the assistent pane of the Assist4Monitoring & Alerting desktop). Therefore the user's settings of the user specified in the requestDTO will be applied while conducting the search."
      operationId: getQuickSearchResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISQuickSearchRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISExpQuickSearchResult20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getTrackingEvents:
    post:
      tags:
      - LISBF20Bean
      summary: getTrackingEvents
      description: Returns all tracking events for the given requestDTO.
      operationId: getTrackingEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTrackingEventExportRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISExpTrackingEventList20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getTrackingObjectEvents:
    post:
      tags:
      - LISBF20Bean
      summary: getTrackingObjectEvents
      description: Returns the events of a single tracking object referenced in the requestDTO. The allowed tracking object types in the reference DTO are 'CONS' and 'HANDUNIT'.
      operationId: getTrackingObjectEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTrackingObjectEventRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISExpTrackingObjectEventList20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/getUniqueConsignment:
    post:
      tags:
      - LISBF20Bean
      summary: getUniqueConsignment
      description: Returns detailed information of a single consignment referenced in the requestDTO
      operationId: getUniqueConsignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISUniqueConsignmentRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISExpConsignment20DTO'
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/lisBfDummyMethod:
    post:
      tags:
      - LISBF20Bean
      summary: lisBfDummyMethod
      description: Dummy method for testing.
      operationId: lisBfDummyMethod
      parameters:
      - name: argument
        in: query
        description: argument
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/text:
              schema:
                type: string
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveAreaDependSchedule:
    post:
      tags:
      - LISBF20Bean
      summary: receiveAreaDependSchedule
      description: Receive a "Area depend schedule" message. This creates a area depend schedule in the system.
      operationId: receiveAreaDependSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISAreaDependScheduleDTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveConsignment:
    post:
      tags:
      - LISBF20Bean
      summary: receiveConsignment
      description: Receive a "Consignment" message. This creates a consignment in the system.
      operationId: receiveConsignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISConsignment20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveConsignmentWithTransports:
    post:
      tags:
      - LISBF20Bean
      summary: receiveConsignmentWithTransports
      description: Receive a "ConsignmentWithTransports" message. This creates a shipment in the system.
      operationId: receiveConsignmentWithTransports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISConsignmentWithTransports20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveEventCodeList:
    post:
      tags:
      - LISBF20Bean
      summary: receiveEventCodeList
      description: Receive a "Event code list" message.
      operationId: receiveEventCodeList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISEventCodeListDTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveHandlingUnits:
    post:
      tags:
      - LISBF20Bean
      summary: receiveHandlingUnits
      description: Receive a "HandlingUnits" message. That message can contain one or more handling units at the same time.
      operationId: receiveHandlingUnits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISHandlingUnitReceiveRequest20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveMaterialMasterFile:
    post:
      tags:
      - LISBF20Bean
      summary: receiveMaterialMasterFile
      description: Receive a "MaterialMasterFile" message. This creates a master data entries for materials.
      operationId: receiveMaterialMasterFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISMaterialMasterFileDTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveMultiReferenceTrackingObjectDocuments:
    post:
      tags:
      - LISBF20Bean
      summary: receiveMultiReferenceTrackingObjectDocuments
      description: Receive a "TrackingObjectDocument" message with multiple references.
      operationId: receiveMultiReferenceTrackingObjectDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISMultiReferenceTrackingObjectDocuments20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveOrder:
    post:
      tags:
      - LISBF20Bean
      summary: receiveOrder
      description: Receive a "Order" message. This creates an order in the system.
      operationId: receiveOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISOrder20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receivePhysicalTransport:
    post:
      tags:
      - LISBF20Bean
      summary: receivePhysicalTransport
      description: Receive a "Physical Transport" message.
      operationId: receivePhysicalTransport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISPhysicalTransport20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveTrackingEvent:
    post:
      tags:
      - LISBF20Bean
      summary: receiveTrackingEvent
      description: Receive a "Tracking event" message. This creates a tracking event in the system.
      operationId: receiveTrackingEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTrackingEvent20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveTrackingEventList:
    post:
      tags:
      - LISBF20Bean
      summary: receiveTrackingEventList
      description: Receive a "Tracking event list" message. This is a list containing multiple tracking events.
      operationId: receiveTrackingEventList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTrackingEventList20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveTrackingObjectDocuments:
    post:
      tags:
      - LISBF20Bean
      summary: receiveTrackingObjectDocuments
      description: Receive a "TrackingObjectDocument" message.
      operationId: receiveTrackingObjectDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTrackingObjectDocuments20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveTransport:
    post:
      tags:
      - LISBF20Bean
      summary: receiveTransport
      description: Receive a "Transport" message. This creates a Transport in the system.
      operationId: receiveTransport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTransport20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/receiveTransportUnit:
    post:
      tags:
      - LISBF20Bean
      summary: receiveTransportUnit
      description: Receive a "TransportUnit" message.
      operationId: receiveTransportUnit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISTransportUnit20DTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/resetConsignmentWithTransports:
    post:
      tags:
      - LISBF20Bean
      summary: resetConsignmentWithTransports
      description: Reset the status of a LISConsignment and all its transports.
      operationId: resetConsignmentWithTransports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISConsignmentReferenceWithClientDTO'
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - BASIC_AUTH: []
  /LISBF20Bean/syncConsignments:
    post:
      tags:
      - LISBF20Bean
      summary: syncConsignments
      description: Allows the synchronization of client system transactions with the engine consignments. By the use of a `syncId` it is possible to return only `consignments` that have changed between two `syncConsignment` calls.
      operationId: syncConsignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LISConsignmentSyncRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LISConsignmentSyncResponseDTO'
      security:
      - BASIC_AUTH: []
components:
  schemas:
    LISMODocumentCategoryDTO:
      type: object
      properties:
        identCode:
          type: string
          description: 'The ident code of the document category for the binary. Please see product documentation or an admin for possible document categories.

            > `length=15`'
      description: A single binary document category.
    LISExpConsignmentHead20DTO:
      type: object
      properties:
        consignmentNumber:
          type: string
          description: The number of the consignment. <p>length=40</p>
        termsOfDelivery:
          $ref: '#/components/schemas/LISTermsOfDeliveryDTO'
        shipperReference:
          type: string
          description: The reference number of the consignment given by the supplier (shipper) to the forwarder. <p>length=40</p>
        consignmentType:
          type: string
          description: One of a list of constants for the type of consignments. <p>length=20</p>
        orderer:
          $ref: '#/components/schemas/LISPartyDTO'
        buyer:
          $ref: '#/components/schemas/LISPartyDTO'
        consignee:
          $ref: '#/components/schemas/LISPartyLongDTO'
        supplier:
          $ref: '#/components/schemas/LISPartyDTO'
        shippingPoint:
          $ref: '#/components/schemas/LISPartyLongDTO'
        forwarderPickup:
          $ref: '#/components/schemas/LISPartyDTO'
        forwarderDeliv:
          $ref: '#/components/schemas/LISPartyDTO'
        carrierPickup:
          $ref: '#/components/schemas/LISPartyDTO'
        carrierDeliv:
          $ref: '#/components/schemas/LISPartyDTO'
        intConsignee:
          $ref: '#/components/schemas/LISPartyDTO'
        org1:
          $ref: '#/components/schemas/LISPartyShortDTO'
        expectedShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        expectedDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        fromWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        toWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        grossWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        netWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        volume:
          $ref: '#/components/schemas/LISQuantityDTO'
        freightChargeBuyer:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        freightChargeSupplier:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        goodsValue:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        totalValue:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        despatchType:
          $ref: '#/components/schemas/LISDespatchTypeDTO'
        note:
          type: string
          description: The note of the consignment. <p>length=950</p>
        loadingMetre:
          type: number
          description: The loading meter of the consignment. <p>length=15, scale=3</p>
        palletSlots:
          type: number
          description: The pallet slots of the consignment. <p>length=10, scale=1</p>
        goodsDescription:
          type: string
          description: The description of the goods of the consignment. <p>length=250</p>
        earliestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        plannedShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        earliestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        plannedDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        priority:
          type: string
          description: The priority of the consignment. <p>length=40</p>
        uniqueCustomsRefNo:
          type: string
          description: Unique Customs reference number (URN). <p>length=20</p>
        customsEntryNo:
          type: string
          description: Customs entry number (CEN). <p>length=20</p>
        uniqueCustRefNoPerCons:
          type: string
          description: Unique Customs reference number per consignment (UCR). <p>length=20</p>
        deliveryBookingRef:
          type: string
          description: The delivery booking reference of the consignment. <p>length=20</p>
        forwarderPickupRef:
          type: string
          description: The forwarder pickup reference of the consignment. <p>length=20</p>
        forwarderDelivRef:
          type: string
          description: The forwarder delivery reference of the consignment. <p>length=20</p>
        carrierPickupRef:
          type: string
          description: The carrier pickup reference of the consignment. <p>length=20</p>
        carrierDelivRef:
          type: string
          description: The carrier delivery reference of the consignment. <p>length=20</p>
        masterWayBill_lastTransport:
          type: string
          description: The master waybill number of the last transport. <p>length=40</p>
        podSignature_lastTransport:
          type: string
          description: The signer of the last transport. <p>length=20</p>
        numberOfHandlingUnits:
          type: integer
          description: Number of handling units of the consignment. <p>length=10</p>
          format: int32
        publicURL:
          type: string
          description: The url of the public application of the consignment
        dataSourceIDHost:
          type: string
          description: The ID which describes the type of the original business object in the origin system.  It can be used to re-identify the object if it is exported/synchronized with the origin system. <p>length=250</p>
        toFilterCriteria:
          type: string
          description: Additional filter criteria. Free definable text that can be used as an additional filter criteria for the search in filters. <p>length=100</p>
      description: The consignment header data to be sent to a partner system.
    LISHandlingUnitWrapper20DTO:
      type: object
      properties:
        handlingUnit:
          $ref: '#/components/schemas/LISHandlingUnitExt20DTO'
        documents:
          type: array
          description: Documents of the handling unit.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the handling unit.
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
      description: DTO that bundles a handling unit together to documents.
    LISHUTrackingEventExternalTargetDateDTO:
      type: object
      properties:
        eventIdentCode:
          type: string
          description: The identCode of the event.
        targetDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        transportReferences:
          type: array
          description: The sequence number of the transport.
          items:
            $ref: '#/components/schemas/LISTrackingObjectReferenceField20DTO'
      description: DTO containing the event code of a milestone and new target date for this milestone. Additionally a reference to a transport as it is connected to a handling unit DTO, but meant to update a HUTL.
    LISEventCodeListHeadDTO:
      type: object
      properties:
        identCode:
          type: string
          description: Short form of the event code list.
        description:
          type: string
          description: Description of the event code list.
      description: Header data of the event code list.
    LISExpConsignmentList20DTO:
      type: object
      properties:
        consignments:
          type: array
          description: The list of consignments found. May be incomplete, see 'isCompleteList'.
          items:
            $ref: '#/components/schemas/LISExpConsignmentListEntry20DTO'
        resultStatus:
          type: string
          description: "Flag showing the state of success of the conducted search. Possible values are: <br> <ul> <li>\"CONSIGNMENTS_EMPTY\"\tno consignments could be found with the specified parameters</li> <li>\"CONSIGNMENTS_INCOMPLETE\"\tthe list 'consignments' contains only a part of the consignments found. The number of found consignments exceeded the specified maximum.</li> <li>\"CONSIGNMENTS_COMPLETE\"\tConsignments found, all of them are returned in list 'consignments'</li> </ul>"
      description: A list of consignments e.g. as result of a search.
    LISTransport20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISTransportHead20DTO'
        documents:
          type: array
          description: Documents of the transport.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the transport
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        isDataComplete:
          type: boolean
          description: 'Indication whether the transport is data complete. If left empty: default for new objects is ''false''.'
      description: A transport message sent by the supplier or buyer. It is usually sent to a forwarder to request the transportation of goods. Version 2.0
    LISExpOrderItem20DTO:
      type: object
      properties:
        documents:
          type: array
          description: The documents of the order item
          items:
            $ref: '#/components/schemas/LISExpMODocument20DTO'
        events:
          type: array
          description: The events of the order item
          items:
            $ref: '#/components/schemas/LISExpTrackingEvent20DTO'
        orderItemNumberBuyer:
          type: string
          description: The item number of the buyer. <p>length=40</p>
        orderItemNumberSupplier:
          type: string
          description: The item number of the supplier. <p>length=40</p>
        projectNumberBuyer:
          type: string
          description: A project number (e.g. promotion deal number) given by the buyer . <p>length=40</p>
        projectNumberSupplier:
          type: string
          description: A project number (e.g. promotion deal number) given by the supplier . <p>length=40</p>
        expectedDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        orderACKDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        consignee:
          $ref: '#/components/schemas/LISPartyLongDTO'
        org1:
          $ref: '#/components/schemas/LISPartyShortDTO'
        fromWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        toWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        material:
          $ref: '#/components/schemas/LISMaterialDTO'
        quantityOrdered:
          $ref: '#/components/schemas/LISQuantityDTO'
        quantityGranted:
          $ref: '#/components/schemas/LISQuantityDTO'
        quantityPOD:
          $ref: '#/components/schemas/LISQuantityDTO'
        goodsValue:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        note:
          type: string
          description: The note of the order item. <p>length=40</p>
        expectedShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        salesNetPrice:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        purchaseNetPrice:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        cataloguePrice:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        dimensions:
          $ref: '#/components/schemas/LISDimensionsDTO'
        callNumber:
          type: string
          description: The call number of the item. <p>length=40</p>
        earliestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        earliestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        handoverLoc:
          $ref: '#/components/schemas/LISLocationDTO'
        volume:
          $ref: '#/components/schemas/LISQuantityDTO'
        unitVolume:
          $ref: '#/components/schemas/LISQuantityDTO'
        grossWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        unitGrossWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        netWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        unitNetWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        genericIdentifier:
          type: array
          description: The generic Identifiers (Strings) that can be used to identify this OrderItem. <p>length=40</p>
          items:
            type: string
            description: The generic Identifiers (Strings) that can be used to identify this OrderItem. <p>length=40</p>
      description: An item of a purchase order.
    LISExpTrackingEvent20DTO:
      type: object
      properties:
        documents:
          type: array
          description: The documents of the event
          items:
            $ref: '#/components/schemas/LISExpMODocument20DTO'
        documentMetadata:
          type: array
          description: The meta data of the documents of the event
          items:
            $ref: '#/components/schemas/LISExpDocumentMetadata20DTO'
        identCode:
          type: string
          description: Status identCode of the event. <p>length=20</p>
        description:
          type: string
          description: Description of the event in the requested language. Equals identCode, when the event is not customized or when the language can't be determined (e.g. when used in a request without language parameter). <p>length=250</p>
        reason:
          type: string
          description: The code of the reason for the event  <p>length=20</p>
        reasonResponsiblePartner:
          type: string
          description: The responsible party for the reason of the event <p>length=20</p>
        actualDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualLocation:
          $ref: '#/components/schemas/LISLocationDTO'
        plannedLocation:
          $ref: '#/components/schemas/LISLocationDTO'
        actualSender:
          $ref: '#/components/schemas/LISPartyDTO'
        plannedSender:
          $ref: '#/components/schemas/LISPartyDTO'
        info:
          type: string
          description: Additional information about the event. <p>length=1000</p>
        expectedDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        plannedDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        sendDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        eventType:
          type: string
          description: '<p>The event type of the event</p> One of these values: <ul> <li>"Milestone" for milestone events</li> <li>"Information" for info events</li> <li>"Warning" for warning events</li> <li>"Error" for error events</li> <li>"Fatal error" for fatal errors</li> <li>"Canceled" for canceled events</li> <li>"Monitored" for monitored events</li> </ul>'
        delayInHours:
          type: integer
          description: The delay hours of the event. May only contain values other tha 0 for events of eventType "Milestone" or "Monitored".
          format: int32
        isChanged:
          type: boolean
          description: Indicates whether the event has been changed. This is only calculated in customer adaptions and not used in the standard-export-bf.
        category:
          type: string
          description: The name of the event in the requested languages. <p>length=40</p>
        shortName:
          type: array
          description: The short name of the event in the requested languages. <p>length=50 (text)</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        name:
          type: array
          description: The name of the event in the requested languages. <p>length=250 (text)</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        eventTypeMultiLang:
          type: array
          description: <p>The event type of the event in the requested languages</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: DTO to export trackingevent data to partner systems like the Message Engine Logistics.
    LISDurationDTO:
      type: object
      properties:
        endTo:
          $ref: '#/components/schemas/LISTimeDTO'
        durationValue:
          type: integer
          description: Value of the duration.
          format: int32
        durationUnit:
          type: string
          description: 'String containing the unit of the duration. Possible duration units: <br> <ul> <li> "DAY"</li> <li> "HOUR"</li> <li> "WORKDAY"</li> <li> "WORKDAY_AND_SATURDAY"</li></ul>'
      description: DTO for Duration
    LISFileSystemSettingsReferenceDTO:
      type: object
      properties:
        type:
          type: string
          description: 'A constant how the file system settings should be found.

            > Possible values:

            > `ACTIVE` (Finds the currently active document storage settings. If it is not a file system type, this will produce an error)

            > `ID` (Finds the file system storage settings by internal ID. If none are found, this will produce an error. The ID has to be provided in the field referenceKey)

            > `PATH` (Finds the file system storage settings by its starting path. If none are found, this will produce an error. The path has to be provided in the field referenceKey)'
          enum:
          - ACTIVE
          - ID
          - PATH
        referenceKey:
          type: string
          description: A reference key which will be utilized by the different types
      description: The reference to file system storage settings in the VCP
    TargetTimeCalculationPlanStepHandlingDTO:
      type: object
      properties:
        handlingTypeIdentCode:
          type: string
          description: The type of the handling process.
        location:
          $ref: '#/components/schemas/LISLocationDTO'
      description: Handling data of a target time calculation step
    GetDocumentCategoriesResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        categories:
          type: array
          description: The returned categories of the requested client.
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/LISExpMODocumentCategoryDTO'
      description: Response for a document categories request.
    LISRequestIdentification20DTO:
      required:
      - client
      - language
      - user
      type: object
      properties:
        client:
          maxLength: 10
          type: string
          description: 'The ident code of the client the request is made for.

            > `length=10`'
        user:
          maxLength: 20
          type: string
          description: The login name of the user making the request.
        language:
          type: string
          description: The language to be used.
          enum:
          - DE
          - EN
      description: DTO suppliying the identification information for making requests.
    LISOrder20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISOrderHead20DTO'
        items:
          type: array
          description: The items of the purchase order.
          items:
            $ref: '#/components/schemas/LISOrderItem20DTO'
        documents:
          type: array
          description: Documents of the purchase order.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the purchase order
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        isWithoutReferenceItem:
          type: boolean
          description: Indication whether the order should use (and create) a reference item. Default is `false`
          default: false
        isDataComplete:
          type: boolean
          description: 'Indication whether the order is data complete. If left empty: default for new objects is `false`.'
      description: DTO for order messages Version 2.0
    LISArchiveDocumentDTO:
      type: object
      properties:
        documentName:
          type: string
          description: 'the name of the document e.g. a file name with extension.

            > `length=500`'
        mimetype:
          type: string
          description: the mimetype of the archived document e.g. application/pdf or image/jpeg
        byteSize:
          type: integer
          description: the byte size of the archived document
          format: int32
        documentStorageID:
          type: string
          description: 'the unique storage id of the document in the archive system.

            > `length=50`'
        roles:
          type: array
          description: the roles for the binary to be displayed in the application
          items:
            $ref: '#/components/schemas/LISBinaryRoleDTO'
        documentCategories:
          type: array
          description: the documentCategories for the binary to be displayed in the application
          items:
            $ref: '#/components/schemas/LISMODocumentCategoryDTO'
        languageIsoCodes:
          type: array
          description: the languages for the binary to be displayed in the application
          items:
            type: string
            description: the languages for the binary to be displayed in the application
        additionalFields:
          type: array
          description: Additional fields of the document
          items:
            $ref: '#/components/schemas/LISAdditionalFieldDTO'
      description: DTO for document data that has been stored in an archive system e.g. Assist4ContentStorage and shall be accessed via VCP
    LISOrderFulfillmentPlan20DTO:
      type: object
      properties:
        hostCode:
          type: string
          description: The host code of the order fulfillment plan. Not always filled. Can be used to map the plan to an external object in the system of the caller.
        quantity:
          $ref: '#/components/schemas/LISQuantityDTO'
        isNotStartedFulfillment:
          type: boolean
          description: Marks a plan whose fulfillment has not yet begun.
        ofSteps:
          type: array
          description: The order fulfillment steps of the plan
          items:
            $ref: '#/components/schemas/LISOrderFulfillmentStep20DTO'
      description: DTO representing an order fulfillment plan
    LISTrackingObjectDocuments20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        toReference:
          $ref: '#/components/schemas/LISTrackingObjectReference20DTO'
        documents:
          type: array
          description: The documents as binaries
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the events
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        fileSystemDocuments:
          type: array
          description: File system data of the documents of the events
          items:
            $ref: '#/components/schemas/LISFileSystemDocumentDTO'
      description: A document message for a tracking object.
    LISHandlingUnitReceiveRequest20DTO:
      type: object
      properties:
        metaDataDTO:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        handlingUnitWrapper:
          type: array
          description: Handling units of the message (can be more than one!).
          items:
            $ref: '#/components/schemas/LISHandlingUnitWrapper20DTO'
        documents:
          type: array
          description: Common documents for all the handling units.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the consignment
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
      description: RequestDTO for handling of handling units, used in ILISBF20.
    LISUniqueConsignmentRequest20DTO:
      type: object
      properties:
        identificationDTO:
          $ref: '#/components/schemas/LISRequestIdentification20DTO'
        referenceDTO:
          $ref: '#/components/schemas/LISTrackingObjectReference20DTO'
        dataExtent:
          type: array
          description: 'Parameter used to request additional data for a consignment. If left empty, only header data for a consignment will be returned.

            > Possible values:

            > `INCLUDE_TRACKINGINFO`, `INCLUDE_CONSIGNMENT_ITEMS`, `INCLUDE_TRANSPORTS`, `INCLUDE_HANDLING_UNITS`, `INCLUDE_CONSIGNMENT_EVENTS`, `INCLUDE_HAZARDOUS_GOODS_DATA`'
          items:
            type: string
            description: 'Parameter used to request additional data for a consignment. If left empty, only header data for a consignment will be returned.

              > Possible values:

              > `INCLUDE_TRACKINGINFO`, `INCLUDE_CONSIGNMENT_ITEMS`, `INCLUDE_TRANSPORTS`, `INCLUDE_HANDLING_UNITS`, `INCLUDE_CONSIGNMENT_EVENTS`, `INCLUDE_HAZARDOUS_GOODS_DATA`'
      description: DTO with parameters to request details for a specific consignment
    LISAreaDependScheduleFilterLCHandlingDTO:
      type: object
      properties:
        sortNumber:
          type: integer
          description: sortNumber of the schedule filter
          format: int32
        areaPreviousEventIdentCode:
          type: string
          description: identCode of the area (previous event) of the schedule filter
        areaActualEventIdentCode:
          type: string
          description: identCode of the area (actual event) of the schedule filter
        dayTypeSchedules:
          type: array
          description: dayTypeSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISDayTypeScheduleDTO'
        periodicStartSchedules:
          type: array
          description: periodicStartSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISPeriodicStartScheduleDTO'
        usesPeriodicStartSchedule:
          type: boolean
          description: uses Departure Schedule of the schedule filter
        trackingObjectFilter:
          $ref: '#/components/schemas/LISTrackingObjectFilterLCHandlingDTO'
      description: DTO for handling AreaDependScheduleFilters
    LISEventDefinitionRequest20DTO:
      type: object
      properties:
        trackingObjectType:
          type: string
          description: The tracking object type of the event definitions.
          enum:
          - ORDER
          - CONS
          - TRANSLEG
          - HUTRANSLEG
        language:
          type: string
          description: The language iso code. Determines which language the values in the response will have.
        client:
          type: string
          description: The name of the client for which the event definitions shall be returned.
      description: Contains alle fields that are necessary to return a collection of LISEventDefinition20DTO's
    LISExpMODocumentCategoryIdentifierDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The ident code of the document category.> `length=15`
      description: A unique identifier for a document category.
    LISTransportUnit20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISTransportUnitHead20DTO'
        references:
          type: array
          description: References for the transport unit, e.g. physical transports, which are associated with the transport unit.
          items:
            $ref: '#/components/schemas/LISTrackingObjectReference20DTO'
        isDataComplete:
          type: boolean
          description: 'Indication whether the transport unit is data complete. If left empty: default for new objects is `false`.'
      description: A transport unit message send by a partner. *
    LISTrackingObjectFilterLCStorageDTO:
      type: object
      properties:
        storageTypeIdentCode:
          type: string
          description: identCode of the storageType to filter
        location:
          $ref: '#/components/schemas/LISLocationDTO'
      description: 'DTO for TOFLCStorage.<br>Not for the location: Only ''countryISOCode'', ''globLocationNo'', and ''postcodeStreet'' are relevant for the filter.'
    TargetTimeCalculationPlanResultDTO:
      type: object
      properties:
        resultStatus:
          type: string
          description: 'Flag showing the state of success/plausibility of the calculation. In case of an unsuccessful calculation, the diagnosis mode is useful to examine the reasons. Possible values are: <br> <ul> <li>"PLAUSIBLE" Successful calculation of the target dates</li> <li>"NOT_PLAUSIBLE" The date values were calculated but the plan is not plausible (e.g. latest start before earliest start)</li> </ul>'
        hostCode:
          type: string
          description: The hostCode given in the plan calculation request length = 20
        earliestStartDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestStartDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        earliestEndDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestEndDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        planStepResults:
          type: array
          description: Results for single steps
          items:
            $ref: '#/components/schemas/TargetTimeCalculationPlanResultStepDTO'
      description: Result of a target time calculation
    LISDimensionsDTO:
      type: object
      properties:
        quantityUnit:
          type: string
          description: 'Quantity unit.

            > `length=10`'
        width:
          type: number
          description: 'Width.

            > `length=20`, `scale=6`'
        length:
          type: number
          description: 'Length.

            > `length=20`, `scale=6`'
        height:
          type: number
          description: 'Height.

            > `length=20`, `scale=6`'
      description: DTO for Dimensions length, width, height and a quantity unit.
    GetDocumentCategoriesRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Response for a document categories request.
    LISPhysicalTransport20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISPhysicalTransportHead20DTO'
        references:
          type: array
          description: 'References for the physical transport

            The transport legs, which are associated with the physical transport. The associated transport units can be send in the `transportUnits` field'
          items:
            $ref: '#/components/schemas/LISTrackingObjectReference20DTO'
        documents:
          type: array
          description: Documents of the physical transport.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        transportUnits:
          type: array
          description: Transport units of the physical transport
          items:
            $ref: '#/components/schemas/LISTransportUnitHead20DTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the physical transport
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        isDataComplete:
          type: boolean
          description: 'Indication whether the transport is data complete. If left empty: default for new objects is `false`.'
      description: Phyiscal transport message.
    DateAndZoneDTO:
      type: object
      properties:
        dateInTimezone:
          type: string
          description: '<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>'
        timezone:
          type: string
          description: '<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: "GMT+01:00" or "GMT-02:00".</p> <p>Maximum length: 50</p>'
      description: Date and timezone.
    LISExpConsignmentListEntry20DTO:
      type: object
      properties:
        trackingInfo:
          $ref: '#/components/schemas/LISExpTrackingInfo20DTO'
        consignmentNumber:
          type: string
          description: The number of the consignment. <p>length=40</p>
        forwarderDeliv:
          $ref: '#/components/schemas/LISPartyShortDTO'
        consignee:
          $ref: '#/components/schemas/LISPartyLongDTO'
      description: An entry in a consignment list e.g. retrieved by a search request. A consignment list entry is similar to a consignment head DTO, but contains only a small subset of the consigment fields. So it is optimized for bigger lists.
    LISConsignmentSyncRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        syncId:
          type: string
          description: 'For delta-transmissions after initialization.

            Fill this field with the `syncId` returned in the last call of `syncConsignments`.

            > `length=20`'
        dataExtent:
          type: array
          description: 'Parameter used to request additional data for a consignment. If left empty, only header data for a consignment will be returned.

            > Possible values: `INCLUDE_TRACKINGINFO`, `INCLUDE_CONSIGNMENT_ITEMS`, `INCLUDE_TRANSPORTS`, `INCLUDE_HANDLING_UNITS`, `INCLUDE_CONSIGNMENT_EVENTS`, `INCLUDE_TRACKING_EVENTS`, `INCLUDE_DOCUMENTS`, `INCLUDE_HU_TRANSPORTS`, `INCLUDE_HAZARDOUS_GOODS_DATA`'
          items:
            type: string
            description: 'Parameter used to request additional data for a consignment. If left empty, only header data for a consignment will be returned.

              > Possible values: `INCLUDE_TRACKINGINFO`, `INCLUDE_CONSIGNMENT_ITEMS`, `INCLUDE_TRANSPORTS`, `INCLUDE_HANDLING_UNITS`, `INCLUDE_CONSIGNMENT_EVENTS`, `INCLUDE_TRACKING_EVENTS`, `INCLUDE_DOCUMENTS`, `INCLUDE_HU_TRANSPORTS`, `INCLUDE_HAZARDOUS_GOODS_DATA`'
      description: Request DTO for consignment synchronization.
    LISExpMODocumentCategoryTextDTO:
      required:
      - languageISOCode
      type: object
      properties:
        languageISOCode:
          type: string
          description: ISO code of the language of the description. <p>length=2</p>
          example: de
        name:
          type: string
          description: The localized name of the document category.> `length=50`
        description:
          type: string
          description: The localized description of the document category.> `length=250`
      description: Texts for a document category
    LISConsignmentWithTransports20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISConsignmentHead20DTO'
        items:
          type: array
          description: The items of the consignment.
          items:
            $ref: '#/components/schemas/LISConsignmentItem20DTO'
        handlingUnits:
          type: array
          description: The handling units of the consignment.
          items:
            $ref: '#/components/schemas/LISHandlingUnit20DTO'
        consItemInHandlingUnits:
          type: array
          description: Which consignment items are packed in which handling units.
          items:
            $ref: '#/components/schemas/LISConsItemInHandlingUnit20DTO'
        documents:
          type: array
          description: Documents of the consignment.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the consignment
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        isWithoutReferenceItem:
          type: boolean
          description: Indication whether the consignment should use (and create) a reference item
        isDataComplete:
          type: boolean
          description: 'Indication whether the consignment is data complete. Possible values: true or false. If left empty: default for new objects is ''false''.'
        transports:
          type: array
          description: The tranports of the consignment.
          items:
            $ref: '#/components/schemas/LISTransport20DTO'
      description: DTO for a consignment with all transports.
    LISPeriodicStartScheduleDTO:
      type: object
      properties:
        startTime:
          $ref: '#/components/schemas/LISTimeDTO'
        duration:
          $ref: '#/components/schemas/LISDurationDTO'
        startDayType:
          type: string
          description: 'String containing the start day type (Using one of the DAY_TYPE constants). Determines which departure schedule will be used. <br> Possible daytypes: <br> <ul> <li> "ANYDAY"</li><li> "MONDAY"</li><li> "TUESDAY"</li><li> "WEDNESDAY"</li><li> "FRIDAY"</li><li> "THURSDAY"</li><li> "SATURDAY"</li><li> "SUNDAY"</li><li> "SUNDAY_AND_HOLIDAY"</li><li> "WORKDAY"</li><li> "WORKDAY_AND_SATURDAY"</li><li> "MONDAY_ONLY_WORKDAY"</li><li> "TUESDAY_ONLY_WORKDAY"</li><li> "WEDNESDAY_ONLY_WORKDAY"</li><li> "THURSDAY_ONLY_WORKDAY"</li><li> "FRIDAY_ONLY_WORKDAY"</li><li> "WORKDAY_HOLIDAYCAL"</li> </ul>'
      description: DTO for Peridodic start schedules
    LISTrackingObjectFilterHandlingUnitDTO:
      type: object
      properties:
        equipmentType:
          $ref: '#/components/schemas/LISEquipmentTypeDTO'
        incoterm:
          type: string
          description: incoterm.
        toFilterCriteria:
          type: string
          description: additional filter criteria
      description: DTO for CTOFHandlingUnit.
    LISExpHandlingUnitHazardousGoodsData20DTO:
      type: object
      properties:
        packagingTypeHandling:
          type: string
          description: Packaging type of hazardous goods.
        hazardQValue:
          type: number
          description: Q-value of the hazardous goods.
      description: DTO that contains hazardous goods data.
    LISExpHUTransportLeg20DTO:
      type: object
      properties:
        trackingInfo:
          $ref: '#/components/schemas/LISExpTrackingInfo20DTO'
        documents:
          type: array
          description: The documents of the HU transportleg
          items:
            $ref: '#/components/schemas/LISExpMODocument20DTO'
        events:
          type: array
          description: The events of the HU transportleg.
          items:
            $ref: '#/components/schemas/LISExpTrackingEvent20DTO'
        consignmentNumberTransport:
          type: string
          description: The number of the consignment for the transport. <p>length=40</p>
        shipperReferenceTransport:
          type: string
          description: Reference number for the forwarder given by the shipper. <p>length=40</p>
        forwarder:
          $ref: '#/components/schemas/LISPartyDTO'
        handlingUnitNumberFrom:
          type: string
          description: The number of the handling unit given by the supplier. RFF-Segment below PAC segment. <p>length=40</p>
        equipmentNumber:
          type: string
          description: The number of the equipment. <p>length=40</p>
        globalTransactionNumber:
          type: string
          description: Global unique number to identity the transport clearly. <p>length=40</p>
        supplier:
          $ref: '#/components/schemas/LISPartyDTO'
        carrierReference:
          type: string
          description: Reference number of the carrier <p>length=40</p>
        forwarderReference:
          type: string
          description: Reference number of the forwarder <p>length=40</p>
        houseAirwayBillNumber:
          type: string
          description: House airwa bill number of the transport <p>length=40</p>
        masterWayBillNumberTransport:
          type: string
          description: The master waybill number of the transport given by the forwarder. <p>length=40</p>
        deliveryNoteNumber:
          type: string
          description: The delivery note number. <p>length=40</p>
        globalUnitNumber:
          type: string
          description: Unique number to identify a handlingunit Without this number no hu tracking is possible <p>length=100</p>
        masterWayBillNumberHandlingUnit:
          type: string
          description: The master waybill number of the handling unit  SG13/RFF Segment, Element 1154 <p>length=40</p>
        serialShippingContainerCode:
          type: string
          description: The serial shipping container code of the handling unit <p>length=40</p>
        shipperReferenceHandlingUnit:
          type: string
          description: Reference number for the forwarder given by the shipper within the handling unit. <p>length=40</p>
        carrier:
          $ref: '#/components/schemas/LISPartyDTO'
        despatchType:
          $ref: '#/components/schemas/LISDespatchTypeDTO'
        endLoc:
          $ref: '#/components/schemas/LISLocationDTO'
        meansOfTransport:
          $ref: '#/components/schemas/LISMeansOfTransportDTO'
        podSignatureName:
          type: string
          description: POD signature name of the transport. <p>length=20</p>
        priority:
          type: string
          description: The priority of the transport. <p>length=40</p>
        serviceType:
          $ref: '#/components/schemas/LISServiceTypeDTO'
        startLoc:
          $ref: '#/components/schemas/LISLocationDTO'
        transportLegType:
          $ref: '#/components/schemas/LISTransportTypeDTO'
        termsOfDelivery:
          $ref: '#/components/schemas/LISTermsOfDeliveryDTO'
        plannedShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        plannedArrivalDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualArrivalDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        grossWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        netWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        equipmentType:
          $ref: '#/components/schemas/LISEquipmentTypeDTO'
        toFilterCriteria:
          type: string
          description: Additional filter criteria. Free definable text that can be used as an additional filter criteria for the search in filters. <p>length=100</p>
      description: DTO to export handling unit transport data to partner systems like the Message Engine Logistics.
    LISCESDocumentDTO:
      type: object
      properties:
        name:
          type: string
          description: 'The name of the document. This might be a file name with extension, but can be some abstract number, too.

            Corresponds to the messagePoolId in the CES.

            > `length=200`'
        contentType:
          type: string
          description: 'The content type of the stored document e.g. EDIFACT or CSV

            Note: The content of this field will be stored in the description of the document.

            > `length=30`'
        byteSize:
          type: integer
          description: 'the byte size of the stored document.

            > `length=10`'
          format: int32
        documentKey:
          type: string
          description: 'The key of the document. This is calculated from the configurationIdentCode and the digest in CES.

            > `length=100`'
        receivedAt:
          $ref: '#/components/schemas/DateAndZoneDTO'
        contentInfo:
          type: string
          description: CESProvidedTrackingData.contentInfo, e.g. "PushApi", or the converter identifier
        contentSource:
          type: string
          description: Information about the technical source of the data content.
        roles:
          type: array
          description: the roles for the binary to be displayed in the application
          items:
            $ref: '#/components/schemas/LISBinaryRoleDTO'
        documentCategories:
          type: array
          description: the documentCategories for the binary to be displayed in the application
          items:
            $ref: '#/components/schemas/LISMODocumentCategoryDTO'
        languageIsoCodes:
          type: array
          description: the languages for the binary to be displayed in the application
          items:
            type: string
            description: the languages for the binary to be displayed in the application
        additionalFields:
          type: array
          description: Additional fields of the document
          items:
            $ref: '#/components/schemas/LISAdditionalFieldDTO'
      description: DTO for document data that has been stored in a CES partner server and shall be accessed via VCP
    LISAreaDependScheduleFilterOrderItemDTO:
      type: object
      properties:
        sortNumber:
          type: integer
          description: sortNumber of the schedule filter
          format: int32
        areaPreviousEventIdentCode:
          type: string
          description: identCode of the area (previous event) of the schedule filter
        areaActualEventIdentCode:
          type: string
          description: identCode of the area (actual event) of the schedule filter
        dayTypeSchedules:
          type: array
          description: dayTypeSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISDayTypeScheduleDTO'
        periodicStartSchedules:
          type: array
          description: periodicStartSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISPeriodicStartScheduleDTO'
        usesPeriodicStartSchedule:
          type: boolean
          description: uses Departure Schedule of the schedule filter
        trackingObjectFilter:
          $ref: '#/components/schemas/LISTrackingObjectFilterOrderItemDTO'
      description: DTO for order item AreaDependScheduleFilters
    LISTrackingEventReferenceField20DTO:
      type: object
      properties:
        referenceField:
          type: string
          description: 'ReferenceField can hold one of the constants REF_FIELD-XYZ constants. It depends on the trackingEventType which field makes sense.

            > Valid values:

            > `ORDER_NO`: To be used when the type type of order number is unknown. It might be order number buyer or supplier. If the type of order number is known, use `ORDER_NO_BUYER` or `ORDER_NO_SUPPLIER` instead.<br> Not to be used together with `ORDER_NO_BUYER` or `ORDER_NO_SUPPLIER`.

            > `ORDER_NO_BUYER`: Order number buyer (`ORDER_NO_BUYER`)<br> Not to be used together with `ORDER_NO` or `ORDER_NO_SUPPLIER`.

            > `ORDER_NO_SUPPLIER`: Order number supplier (`ORDER_NO_SUPPLIER`)<br> Not to be used together with `ORDER_NO` or `ORDER_NO_BUYER`.

            > `ORDERITEM_NO`: Order item number (`ORDERITEM_NO`). To be used when the type type of order item number is unknown. It might be order item number buyer or supplier. Only to be used together with `ORDER_NO`.

            > `ORDERITEM_NO_BUYER`: Order item number buyer (`ORDERITEM_NO_BUYER`)<br>  Only to be used together with `ORDER_NO_BUYER`.

            > `ORDERITEM_NO_SUPPLIER`: Order item number buyer (`ORDERITEM_NO_SUPPLIER`)<br>  Only to be used together with `ORDER_NO_SUPPLIER`.

            > `SHIPPER_REFERENCE`: Reference number of the shipper for the forwarder (`SHIPPER_REFERENCE`).

            > `FORWARDER_REFERENCE`: Reference number by which the shipment can be found on the tracking website of the forwarder (`FORWARDER_REFERENCE`).

            > `MASTER_WAYBILL`: Waybill number as a unique number for the process within the organisation of the forwarder (`MASTER_WAYBILL`).

            > `HOUSE_WAYBILL`: Waybill number distributed by forwarder for one consignee, usually not known to the supplier (`HOUSE_WAYBILL`).

            > `MEANS_OF_TRANSPORT_NO`: Registration number of the means of transport (`MEANS_OF_TRANSPORT_NO`).

            > `CONS_NO`: Consignment number (`CONS_NO`).

            > `GLOB_TRANS_NO`: Global transaction number of a transport leg (`GLOB_TRANS_NO`).

            > `SUPPLIER_GLN`: Global location number of the supplier. Can only be used in combination with other references fields.

            > `BUYER_GLN`: Global location number of the buyer. Can only be used in combination with other references fields.

            > `FORWARDER_GLN`: Global location number of the forwarder of a LISHUTransportLeg (`FORWARDER_GLN`).

            > `HU_NUMBER_FROM`: Handling unit number from of a handling unit (`HU_NUMBER_FROM`).

            > `DELIVERY_NOTE_NUMBER`: Deliverynotenumber of a handling unit (`DELIVERY_NOTE_NUMBER`).

            > `GLOBAL_UNIT_NUMBER`: Global unit number of a handling unit (`GLOBAL_UNIT_NUMBER`).

            > `HU_MASTER_WAYBILL_NUMBER`: Waybill number for a handling unit (`HU_MASTER_WAYBILL_NUMBER`).

            > `SHIPPING_CONTAINER_CODE`: Serial shipping container code for a handling unit (`SHIPPING_CONTAINER_CODE`).

            > `HU_SHIPPER_REFERENCE`: Handling unit reference number of the shipper for the forwarder (`HU_SHIPPER_REFERENCE`).

            > `CARRIER_REFERENCE`: Reference number by which a transport leg can be found in the organisation of the carrier (`CARRIER_REFERENCE`).

            > `SEQUENCE_NUMBER`: Sequence number by which a transport leg can be found in combination with other numbers (`SEQUENCE_NUMBER`).

            > `DATA_SOURCE_ID_HOST`: DataSourceIDHost or transacation ID (`DATA_SOURCE_ID_HOST`). The Id of the object in the host system.

            > `INTERNAL_ID`: Internal database id (`INTERNAL_ID`). Only to be used for internal purposes.'
        referenceNumber:
          type: string
          description: 'ReferenceNumber

            > `length=depending on the field defined in referenceField`'
      description: DTO for a single reference field with fieldName and the number
    LISOrderHead20DTO:
      type: object
      properties:
        idOrder:
          type: string
          description: 'Order id. The technical unique ID of the order. This field is used to reference the order and to link it to its items. It should not be filled with functional data and is not a prominent feature in the gui.

            This is a mandatory field if the idRefScheme is set to  `ID_REF_SCHEME_IDREFFIELDS`.

            > `length=150`'
        orderType:
          type: string
          description: 'One of a list of constants for the type of orders. The order type will influence the status list and event chain.

            > `length=20`'
        orderNumberBuyer:
          type: string
          description: 'The order number from the view of the buyer.

            > `length=40`'
        orderDateBuyer:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        orderNumberSupplier:
          type: string
          description: 'The order number from the view of the supplier.

            > `length=40`'
        orderDateSupplier:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        earliestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        earliestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        latestShippingDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        expectedDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualDeliveryDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        orderACKDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        consignee:
          $ref: '#/components/schemas/LISPartyLongDTO'
        buyer:
          $ref: '#/components/schemas/LISPartyDTO'
        orderer:
          $ref: '#/components/schemas/LISPartyDTO'
        supplier:
          $ref: '#/components/schemas/LISPartyDTO'
        org1:
          $ref: '#/components/schemas/LISPartyShortDTO'
        fromWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        toWarehouse:
          $ref: '#/components/schemas/LISWarehouseDTO'
        note:
          type: string
          description: 'The note of the order.

            > `length=950`'
        priority:
          type: string
          description: 'The priority of the order.

            > `length=40`'
        despatchType:
          $ref: '#/components/schemas/LISDespatchTypeDTO'
        seller:
          $ref: '#/components/schemas/LISPartyDTO'
        additionalFields:
          type: array
          description: Additional fields of the order
          items:
            $ref: '#/components/schemas/LISAdditionalFieldDTO'
        externalTargetDates:
          type: array
          description: The external target dates for specific tracking events.
          items:
            $ref: '#/components/schemas/LISTrackingEventExternalTargetDateDTO'
        toFilterCriteria:
          type: string
          description: 'Additional filter criteria for the order.

            > `length=100`'
        installationIDHost:
          type: string
          description: 'The ID of the sending system.  It is used for the re-export of tracking events to the sending system.

            > `length=30`'
        dataSourceIDHost:
          type: string
          description: 'The ID which describes the type of the original business object in the sending system.  It is used for the re-export of tracking events to the sending system.

            > `length=250`'
        transactionLabel:
          type: string
          description: 'Human readable text which identifies an order in the sending system.

            > `length=250`'
        isNotDeliveryRelevant:
          type: boolean
          description: Indication whether the Order is relevant for delivery
      description: The head of a order. Information in the head applies to all items, unless corresponding item fields are not null, i.e. explicitly different from the head.<br> An order may be a purchase order or a sales order.
    LISTextTranslationItemDTO:
      type: object
      properties:
        languageIsoCode:
          type: string
          description: The ISO Code of the language of the translation.
        text:
          type: string
          description: The translated text.
      description: DTO for a single text translation. E.g. the german translation of a material description.
    TargetTimeCalculationResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        planResults:
          type: array
          description: The results for the given plans in the request. If a target time calculation for a particular plan was not possible, no result will be included in this response.
          items:
            $ref: '#/components/schemas/TargetTimeCalculationPlanResultDTO'
        diagnosisLogs:
          type: array
          description: If requested, the diagnosis logs of the plans will be put here.
          items:
            $ref: '#/components/schemas/TargetTimeCalculationDiagnosisLogDTO'
      description: Response of a target time calculation
    LISTrackingObjectEventRequest20DTO:
      type: object
      properties:
        identificationDTO:
          $ref: '#/components/schemas/LISRequestIdentification20DTO'
        referenceDTO:
          $ref: '#/components/schemas/LISTrackingObjectReference20DTO'
      description: DTO with parameters to request the tracking events for a specific tracking object
    LISMaterialMasterFileHeadDTO:
      required:
      - globalTradeItemNumber
      type: object
      properties:
        globalTradeItemNumber:
          type: string
          description: Globaly unique identifier of the material.
        materialNumber:
          type: string
          description: Number of the material used by the origin party.
        unitCode:
          type: string
          description: The default unit code of the material.
        brandName:
          type: string
          description: Name of the brand of the material.
        productGroup1:
          type: string
          description: First product group of the material.
        productGroup2:
          type: string
          description: Second product group of the material.
        productGroup3:
          type: string
          description: Third product group of the material.
        originParty:
          $ref: '#/components/schemas/LISPartyDTO'
        refSupplierMaterial:
          $ref: '#/components/schemas/LISMaterialDTO'
        refSupplier:
          $ref: '#/components/schemas/LISPartyDTO'
        refBuyerMaterial:
          $ref: '#/components/schemas/LISMaterialDTO'
        refBuyer:
          $ref: '#/components/schemas/LISPartyDTO'
        firstOrderDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        lastPossibleOrderDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        dimensions:
          $ref: '#/components/schemas/LISDimensionsDTO'
        volume:
          $ref: '#/components/schemas/LISQuantityDTO'
        grossWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        netWeight:
          $ref: '#/components/schemas/LISQuantityDTO'
        minimalOrderQuantity:
          $ref: '#/components/schemas/LISQuantityDTO'
        minimalSalesQuantity:
          $ref: '#/components/schemas/LISQuantityDTO'
        storageCode:
          type: string
          description: Storage code of the material. e.g. Warehouse products or warehouse-to-store products.
        materialStatusIdentCode:
          type: string
          description: 'Identification code of the status of the material. e.g. A: active, D: discontinued, N: not to be ordered'
        cataloguePrice:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        netPrice:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        unitPriceBasisValue:
          type: number
          description: The basis value of the unit price e.g. 20 $ per 100 pce.
        countryOfOriginISOCode:
          type: string
          description: ISO Code of the country of origin of the material.
        substituteMaterial:
          $ref: '#/components/schemas/LISMaterialDTO'
        commodityCode:
          type: string
          description: Commodity code of the material. Conditionally.
        materialDescriptionLong:
          $ref: '#/components/schemas/LISTextTranslationDTO'
        materialDescriptionShort:
          $ref: '#/components/schemas/LISTextTranslationDTO'
      description: DTO for the material master file items.
    LISAreaDependScheduleFilterOrderDTO:
      type: object
      properties:
        sortNumber:
          type: integer
          description: sortNumber of the schedule filter
          format: int32
        areaPreviousEventIdentCode:
          type: string
          description: identCode of the area (previous event) of the schedule filter
        areaActualEventIdentCode:
          type: string
          description: identCode of the area (actual event) of the schedule filter
        dayTypeSchedules:
          type: array
          description: dayTypeSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISDayTypeScheduleDTO'
        periodicStartSchedules:
          type: array
          description: periodicStartSchedules of the schedule filter
          items:
            $ref: '#/components/schemas/LISPeriodicStartScheduleDTO'
        usesPeriodicStartSchedule:
          type: boolean
          description: uses Departure Schedule of the schedule filter
        trackingObjectFilter:
          $ref: '#/components/schemas/LISTrackingObjectFilterOrderDTO'
      description: DTO for order AreaDependScheduleFilters
    LISPartyShortDTO:
      type: object
      properties:
        globalLocationNumber:
          type: string
          description: 'Global Reference number of the party.

            > `length=20`'
        partyNumberBuyer:
          type: string
          description: 'Reference number of the party from the viewpoint of the buyers IT.

            > `length=40`'
        partyNumberSupplier:
          type: string
          description: 'Reference number of the party from the viewpoint of the suppliers IT.

            > `length=40`'
        partyNumberForwarder:
          type: string
          description: 'Reference number of the party from the viewpoint of the forwarders IT.

            > `length=40`'
        name:
          type: string
          description: 'Address name line 1.

            > `length=40`'
      description: Data transfer object to denote parties, e.g. buyer or seller, without address data.
    GetMODocumentResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        document:
          $ref: '#/components/schemas/GetMODocumentDTO'
      description: Data Transfer Object for a get document result.
    LISTransportHead20DTO:
      type: object
      properties:
        idTransport:
          type: string
          description: 'Transport id. The technical unique ID of the transport.  This field is used to reference the transport and to link it to other objects. It should not be filled with functional data and is not a prominent feature in the gui.

            However this is a mandatory field if the `idRefScheme` is set to  `ID_REF_SCHEME_IDREFFIELDS`.

            > `length=150`'
        refConsignment:
          type: string
          description: 'Consignment reference. This field references the id of a consignment `idConsignment`. It is used to connect this transport to a specific consignment with exactly the same id. The field should not be filled with functional data and is not a prominent feature in the gui.

            > `length=150`'
        consignmentNumber:
          type: string
          description: 'The number of the consignment.

            > `length=40`'
        shipperReference:
          type: string
          description: 'Reference number for the forwarder given by the shipper.

            > `length=40`'
        masterWayBillNumber:
          type: string
          description: 'The master waybill number of the transport given by the forwarder.

            > `length=40`'
        plannedDepartureDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        plannedArrivalDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualDepartureDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        actualArrivalDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        serviceType:
          $ref: '#/components/schemas/LISServiceTypeDTO'
        goodsValue:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        freightCh:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        freightChPartner:
          $ref: '#/components/schemas/LISAmountOfMoneyDTO'
        numberOfHandlingUnits:
          type: integer
          description: "Number of handling units.\n > `length=10`"
          format: int32
        netWeightKG:
          $ref: '#/components/schemas/LISQuantityDTO'
        grossWeightKG:
          $ref: '#/components/schemas/LISQuantityDTO'
        volumenM3:
          $ref: '#/components/schemas/LISQuantityDTO'
        loadingMetre:
          type: number
          description: 'Loading metres.

            > `length=15`, `scale=3`'
        transportLegType:
          $ref: '#/components/schemas/LISTransportTypeDTO'
        meansOfTransport:
          $ref: '#/components/schemas/LISMeansOfTransportDTO'
        startLoc:
          $ref: '#/components/schemas/LISLocationDTO'
        endLoc:
          $ref: '#/components/schemas/LISLocationDTO'
        forwarder:
          $ref: '#/components/schemas/LISPartyDTO'
        supplier:
          $ref: '#/components/schemas/LISPartyDTO'
        isForwSendingPUP:
          type: boolean
          description: True, if the forwarder sends the event PUP (Pickup). If the value is null, this will be computed from the forwarder master file data in LIS.
        isForwSendingPOD:
          type: boolean
          description: True, if the forwarder sends the event POD (Proof of Delivery). If the value is null, this will be computed from the forwarder master file data in LIS.
        globalTransactionNumber:
          type: string
          description: 'Global unique number to identity the transport clearly.

            > `length=40`'
        totalNumberOfTransportLegs:
          type: integer
          description: 'The total number of transport legs of the corresponding transport.

            > `length=10`'
          format: int32
        sequenceNumber:
          type: integer
          description: 'The sequence number of this tansport leg in the corresponding transport.

            > `length=10`'
          format: int32
        chargeableWeightKG:
          $ref: '#/components/schemas/LISQuantityDTO'
        distanceKM:
          type: number
          description: 'The distance of the transport in KM.

            > `length=10`, `scale=3`'
        palletFootprint:
          type: number
          description: 'Pallet footprint of the transport.

            > `length=15`, `scale=3`'
        shippingPoint:
          $ref: '#/components/schemas/LISPartyLongDTO'
        consignee:
          $ref: '#/components/schemas/LISPartyLongDTO'
        buyer:
          $ref: '#/components/schemas/LISPartyDTO'
        org1:
          $ref: '#/components/schemas/LISPartyShortDTO'
        costCenter:
          $ref: '#/components/schemas/LISPartyShortDTO'
        despatchType:
          $ref: '#/components/schemas/LISDespatchTypeDTO'
        termsOfDelivery:
          $ref: '#/components/schemas/LISTermsOfDeliveryDTO'
        note:
          type: string
          description: 'The note of the transport.

            > `length=950`'
        expectedDepartureDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        expectedArrivalDate:
          $ref: '#/components/schemas/LISDateAndZoneDTO'
        houseAirwayBillNumber:
          type: string
          description: 'House airway bill number.

            > `length=40`'
        priority:
          type: string
          description: 'The priority of the transport.

            > `length=40`'
        carrier:
          $ref: '#/components/schemas/LISPartyDTO'
        carrierReference:
          type: string
          description: 'Carrier reference of the transport.

            > `length=40`'
        forwarderReference:
          type: string
          description: 'Forwarder reference of the transport.

            > `length=40`'
        installationIDHost:
          type: string
          description: 'The ID of the sending system.  It is used for the re-export of tracking events to the sending system.

            > `length=30`'
        dataSourceIDHost:
          type: string
          description: 'The ID which describes the type of the original business object in the sending system.  It is used for the re-export of tracking events to the sending system.

            > `length=30`'
        additionalFields:
          type: array
          description: Additional fields of the transport leg
          items:
            $ref: '#/components/schemas/LISAdditionalFieldDTO'
        externalTargetDates:
          type: array
          description: The external target dates for specific tracking events.
          items:
            $ref: '#/components/schemas/LISTrackingEventExternalTargetDateDTO'
        toFilterCriteria:
          type: string
          description: 'Additional filter criteria for the transport.

            > `length=100`'
      description: DTO for transport legs.
    LISTrackingEventExportRequest20DTO:
      required:
      - eventType
      type: object
      properties:
        client:
          type: string
          description: The client of the events to export. This is a mandatory field.
        identCode:
          type: string
          description: The identCode of the events to export. Can be empty.
        blockSize:
          type: integer
          description: Number of events to be exported with this request. If 0 all events will be exported
          format: int32
        eventType:
          type: string
          description: 'The event type of the events to export. Can be left empty to not filter for an eventType.

            > Possible Values:

            > `MILESTONE` for milestone events

            > `INFO` for info events

            > `WARNING` for warning events

            > `ERROR` for error events

            > `FATERROR` for fatal errors

            > `CANCELED` for canceled events

            > `MONITORED` for monitored events'
          enum:
          - MILESTONE
          - INFO
          - WARNING
          - ERROR
          - FATERROR
          - CANCELED
          - MONITORED
        trackingObjectType:
          type: string
          description: 'The tracking object type of the events to export. Can be left empty to not filter for a tracking object type.> Possible values:

            > `CONS` for shipment events

            > `TRANSLEG` for transport events

            > `HUTRANSLEG` for handling unit transport events

            > `ORDER` for orders

            > `ORDERITEM` for order items

            > `HANDUNIT` for handling units'
          enum:
          - CONS
          - TRANSLEG
          - HUTRANSLEG
          - ORDER
          - ORDERITEM
          - HANDUNIT
        installationIDHost:
          type: string
          description: The ID of the sending system. It is used for the re-export of tracking events to the sending system.
        dataSourceIDHost:
          type: string
          description: The ID which describes the type of the original business object in the sending system.  It is used for the re-export of tracking events to the sending system.
        syncID:
          type: number
          description: Provides synchronisation data for the received tracking events by the invoking system
      description: The request DTO for a tracking event export
    GetMODocumentRequestDTO:
      required:
      - key
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        key:
          maxLength: 50
          minLength: 20
          type: string
          description: The key of the document to fetch. See LISExpDocumentMetadata20DTO.key
      description: Data transfer object to request one or several documents.
    LISTextTranslationDTO:
      type: object
      properties:
        translations:
          type: array
          description: The translated texts.
          items:
            $ref: '#/components/schemas/LISTextTranslationItemDTO'
      description: DTO for text translations.
    LISTrackingEvent20DTO:
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/LISMessageMetaDataDTO'
        head:
          $ref: '#/components/schemas/LISTrackingEventHead20DTO'
        references:
          type: array
          description: Data about Tracking event type and used reference number. The different references will be handled in a loop. Which means that they will be concatenated with `OR`
          items:
            $ref: '#/components/schemas/LISTrackingEventReference20DTO'
        documents:
          type: array
          description: Documents of the event.
          items:
            $ref: '#/components/schemas/LISBinaryDTO'
        archivedDocuments:
          type: array
          description: The storage data of the archived documents of the event
          items:
            $ref: '#/components/schemas/LISArchiveDocumentDTO'
        fileSystemDocuments:
          type: array
          description: File system data of the documents of the events
          items:
            $ref: '#/components/schemas/LISFileSystemDocumentDTO'
        cesDocuments:
          type: array
          description: CES partner system data of the documents of the events
          items:
            $ref: '#/components/schemas/LISCESDocumentDTO'
[...]
