openapi: 3.2.0
info:
  title: (DEMO1) HTTP Document Service API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://rz3.aeb.de/demo1docs/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: DocumentService
  description: REST API for the Document Service
paths:
  /DocumentService/workstation:
    get:
      tags:
      - DocumentService
      summary: getWorkstations
      description: <h3>Fetch all registered workstations</h3><p>Returns an information about all registered workstations as json or xml list.</p>
      operationId: getWorkstations
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json: {}
            application/xml: {}
  /DocumentService/template/{fileName}/parse:
    get:
      tags:
      - DocumentService
      summary: parseDocumentTemplateContent
      description: <h3>Parse document</h3><p>Parses the referenced template data and returns the required information, as specified in the parse query parameters. The supported query parameters are individual to each document processor. The referenced template must already exist in the system.</p>
      operationId: parseDocumentTemplateContent
      parameters:
      - name: fileName
        in: path
        description: Relative file name of the document template in file system (without path). This name, together with the version, uniquely identifies a template resource.
        required: true
        schema:
          type: string
        example: DemoDoc10.pdf
      - name: processor
        in: query
        description: Document processor tag. It decides, which processor takes care of the document.
        schema:
          type: string
        example: PDF-XFA
      - name: query
        in: query
        description: Parse query. Defines, which part of the template is to be returned.
        schema:
          type: string
        examples:
          xmls:
            summary: List of predefined XML examples
            description: 'Return the predefined example XMLs of a document template (plain list of UTF8 strings, one page name per line). Each line, including the last one, is delimited by the system line separator. These example XMLs are resources of a bundle and must be manually added. To return a specific example XML from that list the XML can be extended by a ''?'' and the name of the XML: <code>query="XML?some-known-example.xml"</code> <br><br>To determine a generic empty example XML the parse commandXML can be used.'
            value: XMLs
          xml:
            summary: Empty document data example (XML format)
            description: Empty XML document data, generated from the document data schema
            value: XML
          xsd:
            summary: Schema in XSD format
            description: Return the data schema definition (XSD format http://www.w3.org/2001/XMLSchema).
            value: XSD
          SchemaDTO:
            summary: Schema in proprietary format (JSON)
            description: Return the data schema definition (proprietary format DocumentTemplateSchemaDTO).
            value: SchemaDTO
          pageNames:
            summary: Template page names
            description: Return the template page names (plain list of UTF8 strings, one page name per line). Each line, including the last one, is delimited by the system line separator.
            value: PageNames
          textPlaceholders:
            summary: List of template placeholders
            description: Return the template text placeholders (plain list of UTF8 string, one placeholder name per line). Each line, including the last one, is delimited by the system line separator.
            value: TextPlaceholders
          xml_example:
            summary: A predefined XML example
            description: Return XML example 'DemoDoc10.example.xml'. See query=XMLs to get a list of all predefined examples.
            value: XML?DemoDoc10.example.xml
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
        '400':
          description: Document template doesn't have the requested external tag
        '404':
          description: Document template was not found
  /DocumentService/template:
    get:
      tags:
      - DocumentService
      summary: queryDocumentTemplates
      description: <h3>Query information on document templates</h3><p>Returns a list of available templates for the specified processor. The templates are resolved in the context of a session client. Processor parameter is optional; templates for all supported processors are returned when empty.</p>
      operationId: queryDocumentTemplates
      parameters:
      - name: processor
        in: query
        description: Document processor tag
        schema:
          type: string
        example: PDF-XFA
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: No processor registered and supported for specified tag
  /DocumentService/ui/printQueue:
    get:
      tags:
      - DocumentService
      summary: openPrintRequestQueue
      description: <h3>Get URL to print queue</h3><p>Returns print request queue in url.</p>
      operationId: openPrintRequestQueue
      parameters:
      - name: user
        in: query
        description: 'The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may have granted only the role "I_EVERYONE" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the business facade will be trusted to have checked the users access rights. This enables a kind of "single sign on" between different e.g. XNSG servers.'
        schema:
          type: string
        example: API_TEST
      - name: language
        in: query
        description: The two letter ISO code of the language of the new session. Currently "de" and "en" are supported.
        schema:
          type: string
        example: en
      - name: workstationId
        in: query
        description: The id of the workstation for which the print requests have to be shown.
        schema:
          type: string
      - name: redirect
        in: query
        description: If set to 'true', the generated URI is returned in the 'Location' header of a SEE OTHER (303) response.
        schema:
          type: boolean
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/internet-shortcut: {}
            application/json: {}
            application/xml: {}
          links:
            target page url:
              description: Alternative to response content, target page url is accessible via link header
        '303':
          description: Redirected to a URI generated in call response
  /DocumentService/ui/document/{documentId}:
    get:
      tags:
      - DocumentService
      summary: openStagedDocumentEditor
      description: <h3>Get URL to edit document</h3><p>Returns document editor url.</p>
      operationId: openStagedDocumentEditor
      parameters:
      - name: documentId
        in: path
        description: The documentId of the document to be edited.
        required: true
        schema:
          type: string
      - name: editorAction
        in: query
        description: The action to start with. Default initial action is PREVIEW
        schema:
          type: string
          enum:
          - EDIT
          - PREVIEW
          - PRINT_DIALOG
      - name: user
        in: query
        description: 'The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may have granted only the role "I_EVERYONE" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the business facade will be trusted to have checked the users access rights. This enables a kind of "single sign on" between different e.g. XNSG servers.'
        schema:
          type: string
        example: API_TEST
      - name: language
        in: query
        description: The two letter ISO code of the language of the new session. Currently "de" and "en" are supported.
        schema:
          type: string
        example: en
      - name: redirect
        in: query
        description: If set to 'true', the generated URI is returned in the 'Location' header of a SEE OTHER (303) response.
        schema:
          type: boolean
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/internet-shortcut: {}
            application/json: {}
            application/xml: {}
          links:
            target page url:
              description: Alternative to response content, target page url is accessible via link header
        '303':
          description: Redirected to a URI generated in call response
  /DocumentService/ui/document:
    get:
      tags:
      - DocumentService
      summary: openStagedDocumentSearch
      description: <h3>Get URL to search document</h3><p>Returns document search link.</p>
      operationId: openStagedDocumentSearch
      parameters:
      - name: user
        in: query
        description: 'The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may have granted only the role "I_EVERYONE" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the business facade will be trusted to have checked the users access rights. This enables a kind of "single sign on" between different e.g. XNSG servers.'
        schema:
          type: string
        example: API_TEST
      - name: language
        in: query
        description: The two letter ISO code of the language of the new session. Currently "de" and "en" are supported.
        schema:
          type: string
        example: en
      - name: documentId
        in: query
        description: Criteria for the document ID of the document. Only documents that exactly match the ID pattern will be returned.
        schema:
          type: string
      - name: referenceType
        in: query
        description: Criteria for the reference type of the documents. Only documents that exactly match the reference type pattern will be returned.
        schema:
          type: string
      - name: referenceNumber
        in: query
        description: Criteria for the reference number of the documents. The criteria can contain wildcards.
        schema:
          type: string
      - name: documentType
        in: query
        description: Criteria for the document type of the document. Only documents that exactly match the document type pattern will be returned.
        schema:
          type: string
      - name: relativeFromValue
        in: query
        description: Relative time range, from
        schema:
          type: integer
          format: int32
      - name: relativeFromUnit
        in: query
        description: Relative time range, from
        schema:
          type: string
          enum:
          - DAYS
          - WDAYS
          - WEEKS
          - MONTHS
          - YEARS
      - name: relativeToValue
        in: query
        description: Relative time range, to
        schema:
          type: integer
          format: int32
      - name: relativeToUnit
        in: query
        description: Relative time range, to
        schema:
          type: string
          enum:
          - DAYS
          - WDAYS
          - WEEKS
          - MONTHS
          - YEARS
      - name: absoluteFrom
        in: query
        description: Specific day/time for filtering, from
        schema:
          type: string
          format: date-time
        example: '2000-01-01 00:00:00'
      - name: absoluteTo
        in: query
        description: Specific day/time for filtering, to
        schema:
          type: string
          format: date-time
        example: '2099-12-31 23:59:59'
      - name: redirect
        in: query
        description: If set to 'true', the generated URI is returned in the 'Location' header of a SEE OTHER (303) response.
        schema:
          type: boolean
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/internet-shortcut: {}
            application/json: {}
            application/xml: {}
          links:
            target page url:
              description: Alternative to response content, target page url is accessible via link header
        '303':
          description: Redirected to a URI generated in call response
  /DocumentService/document:
    get:
      tags:
      - DocumentService
      summary: queryDocuments
      description: '<h3>Query information on existing documents</h3><p>Executes a search query on the documents stored in the document storage. Only the documents that are visible to the caller (session user and session client) are returned. The results can be sorted by predefined criteria, the limit of the number of results is configurable, too.</p><h4>Date time interval range filter</h4><p>Use one of the given attributes to pass the filter. If more than one attribute is filled attributes will be used in the following order: relative interval, absolute interval<ul><li>Filter relative to current day, e.g: from 6 moths ago to a week ago (relativeFrom = "-6 MONTHS", relativeTo = "-1 WEEKS")</li><li>Filter with absolute date-time values, see field examples</li></ul></p>'
      operationId: queryDocuments
      parameters:
      - name: referenceType
        in: query
        description: Document reference type (only exact match)
        schema:
          type: string
      - name: documentType
        in: query
        description: Document type (only exact match)
        schema:
          type: string
      - name: referenceNumberPattern
        in: query
        description: Document reference number pattern (can contain wildcards)
        schema:
          type: string
      - name: referenceNumber
        in: query
        description: List of document reference numbers (max. 1000 elements allowed). Only documents exactly matching these numbers will be returned.<p>Consider using `/documentByRef` instead.</p>
        deprecated: true
        schema:
          maxItems: 1000
          type: array
          items:
            type: string
            default: referenceNumber
      - name: documentId
        in: query
        description: List of document IDs (max. 1000 elements allowed). Only documents exactly matching these IDs will be returned.<p>Consider using `/documentById` instead.</p>
        deprecated: true
        schema:
          maxItems: 1000
          type: array
          items:
            type: string
            default: documentId
      - name: returnTotalCount
        in: query
        description: If `true`, total number of documents found is returned in field `totalCount`. Total number can be different from number of actually returned documents in case total document count exceeds value `maxResults`
        schema:
          type: boolean
      - name: maxResults
        in: query
        description: 'Defines how many documents will be returned. Default value: 30, maximum value: 100'
        schema:
          type: integer
          format: int32
      - name: skipFirst
        in: query
        description: If set, defines the number of documents that will be skipped before collecting results. Use this to retrieve further documents if a previous query did not return all required documents. The number must not exceed 10000
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: 'Defines how the requested documents are sorted.<ul><li>`CREATED_AT_ASC` : <i>Sorted by date/time of document creation, oldest first.</i></li><li>`CREATED_AT_DESC` : <i>Sorted by date/time of document creation, newest first.</i></li><li>`REFERENCE_NUMBER_ASC` : <i>Sorted by document reference number, alphabetically ascending.</i></li><li>`REFERENCE_NUMBER_DESC` : <i>Sorted by document reference number, alphabetically descending.</i></li><li>`REFERENCE_TYPE_ASC` : <i>Sorted by document reference type, alphabetically ascending.</i></li><li>`REFERENCE_TYPE_DESC` : <i>Sorted by document reference type, alphabetically descending.</i></li></ul>'
        schema:
          type: string
          enum:
          - CREATED_AT_ASC
          - CREATED_AT_DESC
          - REFERENCE_NUMBER_ASC
          - REFERENCE_NUMBER_DESC
          - REFERENCE_TYPE_ASC
          - REFERENCE_TYPE_DESC
      - name: relativeFromValue
        in: query
        description: Relative time range, from
        schema:
          type: integer
          format: int32
      - name: relativeFromUnit
        in: query
        description: Relative time range, from
        schema:
          type: string
          enum:
          - DAYS
          - WDAYS
          - WEEKS
          - MONTHS
          - YEARS
      - name: relativeToValue
        in: query
        description: Relative time range, to
        schema:
          type: integer
          format: int32
      - name: relativeToUnit
        in: query
        description: Relative time range, to
        schema:
          type: string
          enum:
          - DAYS
          - WDAYS
          - WEEKS
          - MONTHS
          - YEARS
      - name: absoluteFrom
        in: query
        description: Specific day/time for filtering, from
        schema:
          type: string
          format: date-time
        example: '2000-01-01 00:00:00'
      - name: absoluteTo
        in: query
        description: Specific day/time for filtering, to
        schema:
          type: string
          format: date-time
        example: '2099-12-31 23:59:59'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
    put:
      tags:
      - DocumentService
      summary: createDocument
      description: <h3>Upload an external document</h3><p>Uploads an external document (which does not depend on any document templates). Like `POST /document`, the uploaded document can be queried, deleted and fetched by calling the corresponding method with the received `documentId`. The document also has a date to which it is at least stored in the document store.<br/>Currently only PDF documents up to a maximum size of 10MB are supported, without embedded links, scripts or attachments.</p>
      operationId: createDocument
      parameters:
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: INVOICE
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document to upload (only PDF supported)
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document was created.
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    post:
      tags:
      - DocumentService
      summary: createDocument
      description: <h3>Generate a new document either synchronously (wait for the result) or asynchronously (enqueue document creation and get the result later with the provided documentId).</h3><p>Creates a document from the referenced template and document data. The template is resolved in the context of the session client. If any of the <b>Staging options</b> is filled the created document contents will be retained for later reuse.<br/>An existing document can be updated in `POST /document/{documentId}` and stored as a new revision in the archive in case it was previously archived.<br/>The update can be done in different ways, see the description for `POST /document/{documentId}`
      operationId: createDocument_1
      parameters:
      - name: async
        in: query
        description: Asynchronous document creation. If `true`, the request returns immediately, whereas the document is being prepared in the background.
        schema:
          type: boolean
          default: false
      - name: processor
        in: query
        description: <b>Processing Options:</b> Document processor tag
        schema:
          type: string
        example: PDF-XFA
      - name: templateName
        in: query
        description: <b>Processing Options:</b> Document template name
        schema:
          type: string
        example: DemoDoc10.pdf
      - name: format
        in: query
        description: <b>Processing Options:</b> Format of the generated document (one of the formats supported by the processor)
        schema:
          type: string
        examples:
          pdf:
            description: PDF version 1.5 including layout and data (standard for e-distribution)
            value: PDF
          pdf_data:
            description: PDF version 1.5, only data - no layout
            value: PDF data
          pdfa:
            description: PDF/a including layout and data
            value: PDFa
          pdfa_data:
            description: PDF/a, only data - no layout
            value: PDFa data
      - name: documentLocale
        in: query
        description: <b>Processing Options:</b> Language of the generated document (if applicable)
        schema:
          type: string
      - name: documentName
        in: query
        description: <b>Processing Options:</b> Suggested base file name of the generated document (without extension)
        schema:
          type: string
        example: DEMO_4711
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: DEMODOC
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document data (XML or JSON format - must match the provided 'ContentType' header)
        content:
          application/xml:
            schema:
              type: string
              description: XML document data
              format: binary
          application/json:
            schema:
              type: string
              description: JSON document data
              format: binary
      responses:
        '200':
          description: Request has been successfully processed, document created and result link has been sent in response header.
          content:
            '*/*':
              schema:
                type: string
                description: Generated document content
                format: binary
                example: '...'
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '202':
          description: Request is being processed asynchronously and result link has been sent in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareDocumentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/PrepareDocumentResponseDTO'
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentTrusted:
    put:
      tags:
      - DocumentService
      summary: createDocumentTrusted
      description: <h3>Upload an external document</h3>Access is restricted to the `I_DOCUMENTSERVICEBF_TRUSTED` role.<p>Like `PUT /document` but with less limitations to the uploaded contents.</p>
      operationId: createDocumentTrusted
      parameters:
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: INVOICE
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document to upload
        content:
          '*/*':
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document was created.
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '403':
          description: Access denied, restricted to I_DOCUMENTSERVICEBF_TRUSTED role.
  /DocumentService/document/{documentId}:
    get:
      tags:
      - DocumentService
      summary: getDocument
      description: <h3>Download an existing document content</h3><p>Returns the requested document content if it is available for the user. A document may contain several contents, so the user has to define which content to return by the documentId and the variant.</p>
      operationId: getDocument
      parameters:
      - name: documentId
        in: path
        description: Unique document id (as returned from POST/PUT/GET document)
        required: true
        schema:
          type: string
        example: 012345678-abcd-4eff-9876-543210fedcba
      - name: contentVariant
        in: query
        description: Document content variant (optional)
        schema:
          type: string
      - name: searchInArchive
        in: query
        description: Search archives if not found in common storage
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: The data was found and the required content has been sent in the response.
          content:
            '*/*':
              schema:
                type: string
                description: Downloadable document content
                format: binary
                example: '...'
        '400':
          description: Requested or default content has not been found. Check the `contentVariant` parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: The requested document was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: The content of the requested document has expired and is no more available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Asynchronous creation of requested content failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '425':
          description: Asynchronous creation of requested content hasn't yet been completed. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    put:
      tags:
      - DocumentService
      summary: updateDocument
      description: <h3>Upload an external document</h3><p>Uploads an external document (which does not depend on any document templates). Like `POST /document/{documentId}` the uploaded document can be queried, deleted and fetched by calling the corresponding method with received `documentId`. The document also has a date to which it is at least stored in the document store.<br/>Currently only PDF documents up to a maximum size of 10MB are supported, without embedded links, scripts or attachments.</p>
      operationId: updateDocument
      parameters:
      - name: documentId
        in: path
        description: Unique document id (as returned from POST/PUT/GET document)
        required: true
        schema:
          type: string
        example: 012345678-abcd-4eff-9876-543210fedcba
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: INVOICE
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document to upload (only PDF supported)
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document was updated.
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: The requested document was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: The content of the requested document has expired and is no more available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: The requested document was found but it is currently locked. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    post:
      tags:
      - DocumentService
      summary: updateDocument
      description: "<h3>Update an existing document or generate it in a different format either synchronously (wait for the result) or asynchronously (enqueue document creation and get the result later with the documentId).</h3> <p> Possibilities to update the stored document contents:<br /> <ul>   <li>`xml/json` data is filled + any of <b>Processing Options</b> is filled:<br />   \tThe contents of the document are completely replaced by newly created ones</li>   <li>`xml/json` data is <em>not</em> filled + any of <b>Processing Options</b> is filled:<br />   \tThe contents are created or updated using the existing document data stored together with the document.<br />   \tExisting contents are retained. For example, it allows to add content in a new format.</li>   <li>`xml/json` data is filled + none of <b>Processing Options</b> is filled:<br />   \tAll existing contents are recreated/updated with the new document data.</li> </ul> </p> If the stored document is archived a new revision will be created in the connected archive."
      operationId: updateDocument_1
      parameters:
      - name: documentId
        in: path
        description: Unique document id (as returned from POST/PUT/GET document)
        required: true
        schema:
          type: string
        example: 012345678-abcd-4eff-9876-543210fedcba
      - name: async
        in: query
        description: Asynchronous document creation. If `true`, the request returns immediately, whereas the document is being prepared in the background.
        schema:
          type: boolean
          default: false
      - name: processor
        in: query
        description: <b>Processing Options:</b> Document processor tag
        schema:
          type: string
        example: PDF-XFA
      - name: templateName
        in: query
        description: <b>Processing Options:</b> Document template name
        schema:
          type: string
        example: DemoDoc10.pdf
      - name: format
        in: query
        description: <b>Processing Options:</b> Format of the generated document (one of the formats supported by the processor)
        schema:
          type: string
        examples:
          pdf:
            description: PDF version 1.5 including layout and data (standard for e-distribution)
            value: PDF
          pdf_data:
            description: PDF version 1.5, only data - no layout
            value: PDF data
          pdfa:
            description: PDF/a including layout and data
            value: PDFa
          pdfa_data:
            description: PDF/a, only data - no layout
            value: PDFa data
      - name: documentLocale
        in: query
        description: <b>Processing Options:</b> Language of the generated document (if applicable)
        schema:
          type: string
      - name: documentName
        in: query
        description: <b>Processing Options:</b> Suggested base file name of the generated document (without extension)
        schema:
          type: string
        example: DEMO_4711
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: DEMODOC
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document data (XML or JSON format - must match the provided 'ContentType' header)
        content:
          application/xml:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Request has been successfully processed, document updated and result link has been sent in response header.
          content:
            '*/*':
              schema:
                type: string
                description: Updated document content
                format: binary
                example: '...'
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '202':
          description: Request is being processed asynchronously and result link has been sent in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareDocumentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/PrepareDocumentResponseDTO'
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: The requested document was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: The content of the requested document has expired and is no more available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: The requested document was found but it is currently locked. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    delete:
      tags:
      - DocumentService
      summary: deleteDocument
      description: <h3>Delete an existing document</h3><p>Deletes the document with the requested documentId.</p>
      operationId: deleteDocument
      parameters:
      - name: documentId
        in: path
        description: Unique document id (as returned from POST/PUT/GET document)
        required: true
        schema:
          type: string
        example: 012345678-abcd-4eff-9876-543210fedcba
      - name: ignorePendingContent
        in: query
        description: If set to `true`, the document will be deleted even when the document content is yet being generated or archived. Otherwise (default behavior), the deletion is rejected in such case.
        schema:
          type: boolean
      responses:
        '204':
          description: Document was successfully deleted.
        '404':
          description: The requested document was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: The requested document was found but it is currently locked. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '425':
          description: Asynchronous creation of requested content hasn't yet been completed. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentById:
    post:
      tags:
      - DocumentService
      summary: queryDocumentsById
      description: '<h3>Query information on existing documents</h3><p>Executes a search query on the documents stored in the document storage. Only the documents that are visible to the caller (session user and session client) are returned. The results can be sorted by predefined criteria, the limit of the number of results is configurable, too.</p><h4>Date time interval range filter</h4><p>Use one of the given attributes to pass the filter. If more than one attribute is filled attributes will be used in the following order: relative interval, absolute interval<ul><li>Filter relative to current day, e.g: from 2 months ago to a week ago (relativeFrom = "-2 MONTHS", relativeTo = "-1 WEEKS")</li><li>Filter with absolute date-time values, see field examples</li></ul></p>'
      operationId: queryDocumentsById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDocumentsByIdRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/QueryDocumentsByIdRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
  /DocumentService/documentByRef:
    post:
      tags:
      - DocumentService
      summary: queryDocumentsByRef
      description: '<h3>Query information on existing documents</h3><p>Executes a search query on the documents stored in the document storage. Only the documents that are visible to the caller (session user and session client) are returned. The results can be sorted by predefined criteria, the limit of the number of results is configurable, too.</p><h4>Date time interval range filter</h4><p>Use one of the given attributes to pass the filter. If more than one attribute is filled attributes will be used in the following order: relative interval, absolute interval<ul><li>Filter relative to current day, e.g: from 2 months ago to a week ago (relativeFrom = "-2 MONTHS", relativeTo = "-1 WEEKS")</li><li>Filter with absolute date-time values, see field examples</li></ul></p>'
      operationId: queryDocumentsByRef
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDocumentsByRefRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/QueryDocumentsByRefRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryDocumentsResponseDTO'
  /DocumentService/documentTrusted/{documentId}:
    put:
      tags:
      - DocumentService
      summary: updateDocumentTrusted
      description: <h3>Upload an external document</h3>Access is restricted to the `I_DOCUMENTSERVICEBF_TRUSTED` role.<p>Like `PUT /document/{documentId}` but with less limitations to the uploaded contents.</p>
      operationId: updateDocumentTrusted
      parameters:
      - name: documentId
        in: path
        description: Unique document id (as returned from POST/PUT/GET document)
        required: true
        schema:
          type: string
        example: 012345678-abcd-4eff-9876-543210fedcba
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: referenceNumber
        in: query
        description: <b>Staging Options:</b> Document reference number
        schema:
          type: string
        example: 4711
      - name: referenceType
        in: query
        description: <b>Staging Options:</b> Document reference type
        schema:
          type: string
        example: SHIPMENT
      - name: documentType
        in: query
        description: <b>Staging Options:</b> Document type
        schema:
          type: string
        example: INVOICE
      - name: retentionDaysLimit
        in: query
        description: <b>Staging Options:</b> How long should the generated document be retained (max 90 days)
        schema:
          maximum: 90
          type: integer
          format: int32
        example: 3
      - name: tag
        in: query
        description: <b>Staging Options:</b> Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching.<p>Tags <b>must</b> follow the <em>kebab case</em> naming convention (lowercase, words separated by hyphens)</p><p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document to upload
        content:
          '*/*':
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document was updated.
          links:
            content:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
        '403':
          description: Access denied, restricted to I_DOCUMENTSERVICEBF_TRUSTED role.
        '400':
          description: Missing or invalid request data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: The requested document was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: The content of the requested document has expired and is no more available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: The requested document was found but it is currently locked. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentInstance/{referenceType}/{referenceNumber}/{documentType}:
    get:
      tags:
      - DocumentService
      summary: getDocumentInstance
      description: <h3>Download an existing document content</h3><p>Returns the document instance for the given reference object and document type.</p>
      operationId: getDocumentInstance
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
        example: DEMODOC
      - name: contentVariant
        in: query
        description: Format of the document content
        schema:
          type: string
      - name: searchInArchive
        in: query
        description: Search archives if not found in common storage
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Request was successful
          content:
            application/octet-stream:
              schema:
                type: string
                description: Downloadable document content
                format: binary
          links:
            content via id:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
            content:
              operationRef: documentInstance/{referenceType}/{referenceNumber}/{documentType}
              parameters:
                referenceNumber: $request.path.referenceNumber
                documentType: $request.path.documentType
                referenceType: $request.path.referenceType
              description: Download document content
        '400':
          description: Document content was not found or there were multiple contents stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: Document has already expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Document instance was not created (missing document type or unprocessable data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '425':
          description: Document content pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    put:
      tags:
      - DocumentService
      summary: updateDocumentInstance
      description: <h3>Update specified document instance.</h3><p>Uploads an external document which does not depend on templates of the document. The document type and reference object are resolved in the context of the session client. The archive options are defined in the referenced document type. Like <code>POST /documentInstance/{referenceType}/{referenceNumber}/{documentType}</code> the uploaded document can be queried, deleted and fetched by calling the corresponding method with the received documentId.The document also has a date to which this document is at least stored in the document store.<br/>Currently only PDF up to a maximum size of 10MB is supported.</p>
      operationId: updateDocumentInstance
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
        example: INVOICE
      - name: autoCreateRefObject
        in: query
        description: Automatically create reference object
        schema:
          type: boolean
          default: true
        example: true
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: retentionDaysLimit
        in: query
        description: How long should the generated document be retained (max 90 days)
        schema:
          type: integer
          format: int32
        example: 3
      - name: storageRetentionDaysLimit
        in: query
        description: How long should the generated document be retained in storage (applicable only with archive activation)
        schema:
          type: integer
          format: int32
        example: 300
      - name: userName
        in: query
        description: User name (if different from the authentication)
        schema:
          type: string
      - name: tag
        in: query
        description: Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching. <p>Tags <i>must</i> follow the kebab case naming convention(lowercase, and words are separated by hyphens)</p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document data
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document instance was updated
          links:
            content via id:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
            content:
              operationRef: documentInstance/{referenceType}/{referenceNumber}/{documentType}
              parameters:
                referenceNumber: $request.path.referenceNumber
                documentType: $request.path.documentType
                referenceType: $request.path.referenceType
              description: Download document content
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: Document has already expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Document instance was not created (missing document type or unprocessable data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Document was found but is currently locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    post:
      tags:
      - DocumentService
      summary: createDocumentInstance
      description: <h3>Generate a new document instance.</h3><p>Prepares a document immediately within response or asynchronously from the referenced document type and document data. The document type and reference object are resolved in the context of the session client. The output format and archive options are defined in the referenced document type. Created documents are retained for later reuse, e.g. fetching or printing the document. The caller can fetch the document contents by calling <code>GET /document/{documentId}</code> with the received documentId or <code>GET /documentInstance/{referenceType}/{referenceNumber}/{documentType}</code>. An existing document can be updated by specifying the reference object and stored as a new revision in the archive if it has to be or was previously archived.</p>
      operationId: createDocumentInstance
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
        example: DEMODOC
      - name: async
        in: query
        description: Create document asynchronously
        schema:
          type: boolean
          default: false
        example: false
      - name: replaceExistingContent
        in: query
        description: Remove document contents prior to creation
        schema:
          type: boolean
      - name: autoCreateRefObject
        in: query
        description: Automatically create reference object
        schema:
          type: boolean
          default: true
        example: true
      - name: retentionDaysLimit
        in: query
        description: How long should the generated document be retained (max 90 days)
        schema:
          type: integer
          format: int32
        example: 3
      - name: storageRetentionDaysLimit
        in: query
        description: How long should the generated document be retained in storage (applicable only with archive activation)
        schema:
          type: integer
          format: int32
        example: 300
      - name: documentLocale
        in: query
        description: Language of the generated document (if applicable)
        schema:
          type: string
      - name: translateDataRequired
        in: query
        description: Translate of data is required
        schema:
          type: boolean
          default: false
        example: false
      - name: userName
        in: query
        description: User name (if different from the authentication)
        schema:
          type: string
      - name: workstationId
        in: query
        description: Workstation for print (required e.g. for labels to identify the target printer type)
        schema:
          type: string
      - name: tag
        in: query
        description: Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching. <p>Tags <i>must</i> follow the kebab case naming convention(lowercase, and words are separated by hyphens)</p>
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      requestBody:
        description: Document data (XML or JSON format - must match the provided 'ContentType' header)
        content:
          application/xml:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Request has been successfully processed, document instance created
          content:
            application/octet-stream: {}
          links:
            content via id:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
            content:
              operationRef: documentInstance/{referenceType}/{referenceNumber}/{documentType}
              parameters:
                referenceNumber: $request.path.referenceNumber
                documentType: $request.path.documentType
                referenceType: $request.path.referenceType
              description: Download document content
        '202':
          description: Request is being processed and result link has been sent in response
          links:
            content via id:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
            content:
              operationRef: documentInstance/{referenceType}/{referenceNumber}/{documentType}
              parameters:
                referenceNumber: $request.path.referenceNumber
                documentType: $request.path.documentType
                referenceType: $request.path.referenceType
              description: Download document content
        '400':
          description: Invalid request parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: Document has already expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Document instance was not created (missing document type or unprocessable data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Document was found but is currently locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    delete:
      tags:
      - DocumentService
      summary: deleteDocumentInstance
      description: <h3>Delete an existing document instance</h3><p>Deletes the document instance for the given reference object and document type.</p>
      operationId: deleteDocumentInstance
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
        example: DEMODOC
      - name: ignorePendingContent
        in: query
        description: If set to <code>true</code>, the document will be deleted even when the document content is yet being generated or archived. Otherwise (default behavior), the deletion is rejected in such case.
        schema:
          type: boolean
      responses:
        '204':
          description: Document instance was deleted
        '404':
          description: The required data was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Document was found but is currently locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '425':
          description: Document content pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentInstance/{referenceType}/{referenceNumber}:
    get:
      tags:
      - DocumentService
      summary: getDocumentInstances
      description: <h3>Query information on existing document instances</h3><p>Returns the document instances for the given reference object.</p>
      operationId: getDocumentInstances
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: onlyCreated
        in: query
        description: Fetch only instances with already created documents
        schema:
          type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentInstancesResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetDocumentInstancesResponseData'
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentInstance/{documentId}/print:
    post:
      tags:
      - DocumentService
      summary: printDocumentInstance
      description: <h3>Create a print request for document instance.</h3><p>Creates a print request for the requested document. The document must have been created by <code>POST /documentInstance/{referenceType}/{referenceNumber}/{documentType}</code> and defined by its documentId.The printing location depends on the session context (e.g. user/client or workstation) and the printing output settings in the document type of the document.</p><p>The print request is processed asynchronously and may fail if the cloud printing server service is not started on the target machine. When the print request is processed the <b>actual content</b> of the document will be printed, e.g. if the document has been changed since the print request was created the changes will be printed.</p>
      operationId: printDocumentInstance
      parameters:
      - name: documentId
        in: path
        description: The unique documentId for the stored document which has to be printed.
        required: true
        schema:
          type: string
      - name: stopOnError
        in: query
        description: Stop printing when error occurs
        schema:
          type: boolean
      - name: monitorPrintJob
        in: query
        description: Supervise print job until the printing is finished
        schema:
          type: boolean
      - name: notificationDisabled
        in: query
        description: Disable sending print job error email
        schema:
          type: boolean
      - name: notificationEmail
        in: query
        description: Email address to send information about failed print job
        schema:
          type: string
      - name: numberOfCopies
        in: query
        description: 'Number of copies to print (default: 1 or inherited from client/workstation settings if available)'
        schema:
          type: integer
          format: int32
      - name: userName
        in: query
        description: User name (if different from the authentication)
        schema:
          type: string
      - name: workstationId
        in: query
        description: Workstation for print. When the `workstationId` is specified, the print request is attached to the workstation print queue. Otherwise, the print queue of the request user name is used.
        schema:
          type: string
      - name: workstationSessionId
        in: query
        description: ID of the workstation session for local printing (session must be established by caller)
        schema:
          type: string
      - name: validatePrinterName
        in: query
        description: Check that the resolved printer name is available in the provided context. No print request is created if this is not the case.
        schema:
          type: boolean
      - name: retryTimeout
        in: query
        description: Auto-retry timeout for locking (default is 3000ms).
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrintDocumentInstanceResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/PrintDocumentInstanceResponseData'
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: Document has already expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Printer name validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrintDocumentInstanceResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/PrintDocumentInstanceResponseDTO'
        '423':
          description: Document was found but is currently locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '425':
          description: Document content pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/documentInstanceTrusted/{referenceType}/{referenceNumber}/{documentType}:
    put:
      tags:
      - DocumentService
      summary: updateDocumentInstanceTrusted
      description: <h3>Generate a new document instance.</h3>Access is restricted to <code>I_DOCUMENTSERVICEBF_TRUSTED</code> role.<br/><p>Like <code>PUT /documentInstance/{referenceType}/{referenceNumber}/{documentType}</code> but with less limitations to the uploaded contents.</p>
      operationId: updateDocumentInstanceTrusted
      parameters:
      - name: referenceType
        in: path
        description: Document reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Document reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
        example: INVOICE
      - name: autoCreateRefObject
        in: query
        description: Automatically create reference object
        schema:
          type: boolean
          default: true
        example: true
      - name: fileName
        in: query
        description: Document file name
        schema:
          type: string
        example: INV_4711.pdf
      - name: retentionDaysLimit
        in: query
        description: How long should the generated document be retained (max 90 days)
        schema:
          type: integer
          format: int32
        example: 3
      - name: storageRetentionDaysLimit
        in: query
        description: How long should the generated document be retained in storage (applicable only with archive activation)
        schema:
          type: integer
          format: int32
        example: 300
      - name: userName
        in: query
        description: User name (if different from the authentication)
        schema:
          type: string
      - name: tag
        in: query
        description: Additional tags that help to further describe the document (e.g. document source system, context, category...) and allows it to be found again by browsing and searching. <p>Tags <i>must</i> follow the kebab case naming convention(lowercase, and words are separated by hyphens)</p>Existing tags are retained if no value is defined. Defined values replace the existing tags. To delete all text without creating a tag, an empty tag has to be defined (e.g. `&tag=`)
        schema:
          type: array
          items:
            type: string
        example:
        - foo
        - bar
      - name: printerModelString
        in: query
        description: Model of the printer (aka printer type) for which the printable printer raw data applies (<i>only relevant for content-type "print/raw"</i>)<br /><i>Example :</i> ZEBRA GK420d
        schema:
          type: string
      - name: printerId
        in: query
        description: Some ERP systems responsible for printing need more information about the printer (<i>only relevant for content-type "print/raw"</i>)
        schema:
          type: string
      - name: resolution
        in: query
        description: Print resolution in DPI (<i>only relevant for content-type "image/*"</i>)
        schema:
          type: integer
          format: int32
      - name: offsetX
        in: query
        description: X offset in mm (<i>only relevant for content-type "image/*"</i>)
        schema:
          type: integer
          format: int32
      - name: offsetY
        in: query
        description: Y offset in mm (<i>only relevant for content-type "image/*"</i>)
        schema:
          type: integer
          format: int32
      requestBody:
        description: Document data
        content:
          '*/*':
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Document instance was updated
          links:
            content via id:
              operationRef: document/{documentId}
              parameters:
                documentId: $documentId
              description: Download document content
            content:
              operationRef: documentInstance/{referenceType}/{referenceNumber}/{documentType}
              parameters:
                referenceNumber: $request.path.referenceNumber
                documentType: $request.path.documentType
                referenceType: $request.path.referenceType
              description: Download document content
        '403':
          description: Access denied, restricted to I_DOCUMENTSERVICEBF_TRUSTED role.
        '404':
          description: Reference object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '410':
          description: Document has already expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '422':
          description: Document instance was not created (missing document type or unprocessable data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Document was found but is currently locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/referenceObject/{referenceType}/{referenceNumber}:
    get:
      tags:
      - DocumentService
      summary: getDocumentReferenceObject
      description: <h3>Find one document reference object</h3><p>Returns the requested document reference object if it is available for the user.</p>
      operationId: getDocumentReferenceObject
      parameters:
      - name: referenceType
        in: path
        description: Unique Id of the reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Unique Id of the reference number
        required: true
        schema:
          type: string
        example: 4711
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json: {}
            application/xml: {}
        '404':
          description: The required data was not found
    put:
      tags:
      - DocumentService
      summary: updateDocumentReferenceObject
      description: <h3>Create or update document reference object.</h3><p>Creates new or updates existing document reference object.</p>
      operationId: updateDocumentReferenceObject
      parameters:
      - name: referenceType
        in: path
        description: Unique Id of the reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Unique Id of the reference number
        required: true
        schema:
          type: string
        example: 4711
      responses:
        '204':
          description: Reference object was created/updated
        '404':
          description: The required data was not found
        '423':
          description: Reference object is locked
    delete:
      tags:
      - DocumentService
      summary: deleteDocumentReferenceObject
      description: <h3>Delete an existing document reference object</h3><p>Deletes the document reference object with the requested <code>referenceType</code> and <code>referenceNumber</code> along with all its documents (optionally the documents can be preserved).</p>
      operationId: deleteDocumentReferenceObject
      parameters:
      - name: referenceType
        in: path
        description: Unique Id of the reference type
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: referenceNumber
        in: path
        description: Unique Id of the reference number
        required: true
        schema:
          type: string
        example: 4711
      - name: preserveDocuments
        in: query
        description: If activated, the documents are not deleted
        schema:
          type: boolean
      responses:
        '204':
          description: Reference object was successfully deleted
        '404':
          description: The required data was not found
        '423':
          description: Reference object is locked
  /DocumentService/referenceObject/{referenceType}:
    get:
      tags:
      - DocumentService
      summary: queryDocumentReferenceObjects
      description: <h3>Search document reference objects</h3><p>Executes a search query on the document reference objects. Only the document reference objects that are visible to the caller (session user and session client) are returned. The results can be sorted by predefined criteria, the limit of the number of results is configurable, too.</p>
      operationId: queryDocumentReferenceObjects
      parameters:
      - name: referenceType
        in: path
        description: Criteria for the reference type of the document reference objects. Only reference objects that exactly match the reference type pattern will be returned.
        required: true
        schema:
          type: string
        example: SHIPMENT
      - name: returnTotalCount
        in: query
        description: If <code>true</code>, the total number of document reference objects found is returned in field <code>totalCount</code>. The total number can be different from the number of returned reference objects in case <code>maxResults</code> value is exceeded.
        schema:
          type: boolean
      - name: maxResults
        in: query
        description: Defines how many document reference objects will be returned. The number must not exceed the maximum value of <code>100</code>If no value is passed, default value <code>30</code> will be set.
        schema:
          type: integer
          format: int32
      - name: skipFirst
        in: query
        description: Number of document reference objects that will be skipped before collecting results. Use this to retrieve other document reference objects (next page) if a previous query did not return all of the required document reference objects. The number must not exceed <code>10000</code>.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: 'Defines how the requested document reference objects are sorted.<ul><li><code>REFERENCE_NUMBER_ASC</code> : <i>Sorted by reference number, alphabetically ascending.</i></li><li><code>REFERENCE_NUMBER_DESC</code> : <i>Sorted by reference number, alphabetically descending.</i></li></ul>'
        schema:
          type: string
          enum:
          - REFERENCE_NUMBER_ASC
          - REFERENCE_NUMBER_DESC
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentReferenceObjectsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetDocumentReferenceObjectsResponseDTO'
        '404':
          description: The required data was not found
  /DocumentService/printRequest/{printRequestId}:
    get:
      tags:
      - DocumentService
      summary: getPrintRequest
      description: <h3>Get information on print request state</h3><p>Returns the state of a print request identified by its unique ID (obtained by <code>POST /documentInstance/{documentId}/print</code>).</p>
      operationId: getPrintRequest
      parameters:
      - name: printRequestId
        in: path
        description: The unique ID of the print request for which the state is requested.
        required: true
        schema:
          type: string
        example: print_request_id
      - name: userName
        in: query
        description: User name (if different from the authentication).
        schema:
          type: string
      - name: workstationId
        in: query
        description: The unique identifier of the workstation (must be unique within the same client) for which the print request was created.
        schema:
          type: string
      responses:
        '200':
          description: The print request state data has been sent in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrintRequestStateResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetPrintRequestStateResponseData'
    post:
      tags:
      - DocumentService
      summary: updatePrintRequest
      description: <h3>Update print request</h3><p>Updates a print request identified by its unique ID (obtained by <code>POST /documentInstance/{documentId}/print</code>) with a specific action.</p>
      operationId: updatePrintRequest
      parameters:
      - name: printRequestId
        in: path
        description: The unique ID of the print request for which the state is requested.
        required: true
        schema:
          type: string
        example: print_request_id
      - name: userName
        in: query
        description: User name (if different from the authentication).
        schema:
          type: string
      - name: workstationId
        in: query
        description: The unique identifier of the workstation (must be unique within the same client) for which the print request was created.
        schema:
          type: string
      - name: action
        in: query
        description: 'Defines the type of action on specified print request.<ul><li><code>CANCEL</code> : <i>The pool is contacted with request to cancel selected request</i></li><li><code>IGNORE</code> : <i>Print request is being ignored.</i></li><li><code>RESET</code> : <i>Printing process is reset.</i></li></ul>'
        required: true
        schema:
          type: string
          enum:
          - CANCEL
          - IGNORE
          - RESET
      - name: timeout
        in: query
        description: Action timeout in seconds; currently applicable to CANCEL only, this parameter allows to set maximum time to wait for selected action to finish.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Print request was updated and its state has been sent in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePrintRequestResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdatePrintRequestResponseData'
        '400':
          description: Print request action failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Print request was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Print request is locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
    delete:
      tags:
      - DocumentService
      summary: deletePrintRequest
      description: <h3>Delete print request.</h3><p>Removes a specific print request identified by its unique ID (obtained by <code>POST /documentInstance/{documentId}/print</code>).</p>
      operationId: deletePrintRequest
      parameters:
      - name: printRequestId
        in: path
        description: The unique ID of the print request for which the state is requested.
        required: true
        schema:
          type: string
        example: print_request_id
      - name: userName
        in: query
        description: User name (if different from the authentication).
        schema:
          type: string
      - name: workstationId
        in: query
        description: The unique identifier of the workstation (must be unique within the same client) for which the print request was created.
        schema:
          type: string
      responses:
        '204':
          description: Print request was deleted
        '400':
          description: Print request deletion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '423':
          description: Print request is locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
  /DocumentService/printRequest:
    get:
      tags:
      - DocumentService
      summary: getPrintRequests
      description: '<h3>Get information on print requests</h3><p>Returns list of all print requests for the specified queue (default: active only). The state of the queue may influence the individual request states.</p>'
      operationId: getPrintRequests
      parameters:
      - name: onlyActive
        in: query
        description: Only active print requests
        schema:
          type: boolean
          default: true
        example: true
      - name: requestedAtAfter
        in: query
        description: Requests created after the given time
        schema:
          type: string
          format: date-time
        example: '2020-01-01 00:00:00'
      - name: userName
        in: query
        description: User name (if different from the authentication).
        schema:
          type: string
      - name: workstationId
        in: query
        description: The unique identifier of the workstation (must be unique within the same client) for which the print request was created.
        schema:
          type: string
      responses:
        '200':
          description: List of matching print requests has been sent in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrintRequestsResponseData'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetPrintRequestsResponseData'
  /DocumentService/util/processor/{processor}:
    get:
      tags:
      - DocumentService
      summary: getProcessorInfo
      description: <h3>Fetch processor detailed information</h3><p>Returns an information on functions and/or features supported by the processor.<br/>Supported output formats are controlled by the <code>Accept</code> header. Currently only <code>application/json</code> and <code>application/xml</code> are available.</p>
      operationId: getProcessorInfo
      parameters:
      - name: processor
        in: path
        description: Document processor tag
        required: true
        schema:
          type: string
        example: PDF-XFA
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json: {}
            application/xml: {}
  /DocumentService/util/processor:
    get:
      tags:
      - DocumentService
      summary: getSupportedProcessors
      description: <h3>Fetch supported processors</h3><p>Collects tags of all document processors that are supported in this service.</p>
      operationId: getSupportedProcessors
      responses:
        '200':
          description: The data was found and the required content has been sent in the response
          content:
            application/json: {}
            application/xml: {}
  /DocumentService/util/schemaToXsd:
    post:
      tags:
      - DocumentService
      summary: schemaToXsd
      description: <h3>Convert proprietary schema descriptor to XSD format</h3>
      operationId: schemaToXsd
      requestBody:
        description: Schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaToXsdRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/SchemaToXsdRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/xml: {}
  /DocumentService/util/xsdToSchema:
    post:
      tags:
      - DocumentService
      summary: xsdToSchema
      description: <h3>Convert XSD input to a proprietary schema descriptor</h3>Supported output formats are controlled by the <code>Accept</code> header. Currently only <code>application/json</code> and <code>application/xml</code> are available.</p>
      operationId: xsdToSchema
      requestBody:
        description: XSD schema to convert
        content:
          application/xml:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Conversion was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XsdToSchemaResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/XsdToSchemaResponseDTO'
        '400':
          description: Conversion was not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
components:
  schemas:
    DocumentInstanceReferenceDTO:
      required:
      - documentReferenceObjectRef
      - documentTypeRef
      type: object
      properties:
        documentTypeRef:
          $ref: '#/components/schemas/DocTypeReferenceDTO'
        documentReferenceObjectRef:
          $ref: '#/components/schemas/DocumentReferenceObjectReferenceDTO'
    DocumentTemplateSchemaDTO:
      type: object
      properties:
        rootTypeName:
          type: string
          description: Name of the root data element type.
          example: documentData
        types:
          type: array
          description: Object types included in the schema.
          items:
            $ref: '#/components/schemas/DocumentTemplateSchemaObjectTypeDTO'
      description: Schema
    IntervalFromNowFilterDTO:
      type: object
      properties:
        unit:
          type: string
          description: Defines the unit for the interval from 'now'.<p>Possible values are 'DAYS', 'WDAYS', 'WEEKS', 'MONTHS' and 'YEARS'.<p>This is a mandatory attribute.
        duration:
          type: integer
          description: Defines the duration for the interval from 'now'.<p>The duration can be negative for the past and positive for the future.<p>This is a mandatory attribute.
          format: int32
      description: Initializes the filter with a time interval relative to 'today'.
    QueryDocumentsByIdRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        createdAtRange:
          $ref: '#/components/schemas/DateTimeIntervalRangeFilterDTO'
        returnTotalCount:
          type: boolean
          description: If <code>true</code>, total number of documents found is returned in field <code>totalCount</code>. Total number can be different from number of actually returned documents in case total document count exceeds the value of <code>maxResults</code>
          example: false
        maxResults:
          type: integer
[...]
