openapi: 3.2.0
info:
  title: Aeb Routing API
  version: '1.0'
  description: 'Operations tagged Routing across 2 of this provider''s published API definitions: aeb-bsm-openapi.json, aeb-carrier-select-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
- url: https://rz3.aeb.de/demo1routing/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: Routing
  description: API for the handling of routing tasks
paths:
  /RoutingBFBean/createRoutingTask:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: createRoutingTask
      description: Creates a new routing task and returns a unique task id.<br> <br> In case of successful creation, the response will contain the unique taskId of the created routing task. The respective routing task can be found by this task id. Proposal calculation starts in an asynchronous process. The current state of calculation can be requested by handing over the provided task id via the call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO) or waitForRoutingTaskResult(WaitForRoutingTaskResultRequestDTO).<br>
      operationId: createRoutingTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoutingTaskRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  routingTask:
                    referenceNumber: REF_NO
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5
                        unit: kg
                      singleDimensions:
                        length: 10
                        width: 20
                        height: 30
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB HQ
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      address:
                        referenceCode: AEB MZ
                        name: AEB Mainz
                        street: Dekan-Laist-Str. 13
                        postcode: '55129'
                        city: Mainz
                        countryISOCode: DE
                        stateRegion: RLP
                    decisiveDate: '2020-12-31'
              Complete data:
                description: Complete data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  routingTask:
                    referenceNumber: REF_NO
                    routingParms:
                      ratingProfile: DEFAULT
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5.0
                        unit: kg
                      singleDimensions:
                        length: 10.0
                        width: 20.0
                        height: 30.0
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    parties:
                    - address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                      partyRole: SHIPPER
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      hopRef:
                        identCode: FRA
                    decisiveDate: '2020-12-31'
                    readyForShippingDate:
                      dateInTimezone: '2020-12-24 12:00:00'
                      timezone: GMT+01:00
                    confirmedDeliveryDate:
                      dateInTimezone: '2020-12-31 18:00:00'
                      timezone: GMT+01:00
                    termsOfDeliveryCode: DDP
                    requirements:
                    - requirementType: SERVICE_LEVEL
                      requirementCode: EXPRESS
                    isDocumentShipment: false
                    loadingMeters: 5
                    palletPlaces: 2
                    addFreightCalculationData:
                      modeOfTransportIdentCode: AIR
                      distance:
                        value: 100.0
                        unit: km
                      goodsValue:
                        value: 1000.0
                        currencyIso: EUR
                      customsValue:
                        value: 500.0
                        currencyIso: EUR
                      numberOfDeliveryNotes: 1
                      numberOfInvoices: 2
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateRoutingTaskRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  routingTask:
                    referenceNumber: REF_NO
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5
                        unit: kg
                      singleDimensions:
                        length: 10
                        width: 20
                        height: 30
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB HQ
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      address:
                        referenceCode: AEB MZ
                        name: AEB Mainz
                        street: Dekan-Laist-Str. 13
                        postcode: '55129'
                        city: Mainz
                        countryISOCode: DE
                        stateRegion: RLP
                    decisiveDate: '2020-12-31'
              Complete data:
                description: Complete data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  routingTask:
                    referenceNumber: REF_NO
                    routingParms:
                      ratingProfile: DEFAULT
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5.0
                        unit: kg
                      singleDimensions:
                        length: 10.0
                        width: 20.0
                        height: 30.0
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    parties:
                    - address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                      partyRole: SHIPPER
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      hopRef:
                        identCode: FRA
                    decisiveDate: '2020-12-31'
                    readyForShippingDate:
                      dateInTimezone: '2020-12-24 12:00:00'
                      timezone: GMT+01:00
                    confirmedDeliveryDate:
                      dateInTimezone: '2020-12-31 18:00:00'
                      timezone: GMT+01:00
                    termsOfDeliveryCode: DDP
                    requirements:
                    - requirementType: SERVICE_LEVEL
                      requirementCode: EXPRESS
                    isDocumentShipment: false
                    loadingMeters: 5
                    palletPlaces: 2
                    addFreightCalculationData:
                      modeOfTransportIdentCode: AIR
                      distance:
                        value: 100.0
                        unit: km
                      goodsValue:
                        value: 1000.0
                        currencyIso: EUR
                      customsValue:
                        value: 500.0
                        currencyIso: EUR
                      numberOfDeliveryNotes: 1
                      numberOfInvoices: 2
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoutingTaskResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateRoutingTaskResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/createSupplementTask:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: createSupplementTask
      description: Creates a new supplement task and returns a unique task id.<br> <br>In case of successful creation, the response will contain the unique taskId of the created supplement task. The respective supplement task can be found by this task id. Supplement calculation starts in an asynchronous process. The current state of calculation can be request by handing over the provided task id via the call of getSupplementTaskResult(GetSupplementTaskResultRequestDTO).<br>
      operationId: createSupplementTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplementTaskRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  supplementTask:
                    referenceNumber: REF_NO
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5
                        unit: kg
                      singleDimensions:
                        length: 10
                        width: 20
                        height: 30
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB HQ
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      address:
                        referenceCode: AEB MZ
                        name: AEB Mainz
                        street: Dekan-Laist-Str. 13
                        postcode: '55129'
                        city: Mainz
                        countryISOCode: DE
                        stateRegion: RLP
                    decisiveDate: '2020-12-31'
                    service:
                      serviceIdentCode: UPS_EXPR
                      serviceProviderIdentCode: UPS
              Complete data:
                description: Complete data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  supplementTask:
                    referenceNumber: REF_NO
                    routingParms:
                      ratingProfile: DEFAULT
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5.0
                        unit: kg
                      singleDimensions:
                        length: 10.0
                        width: 20.0
                        height: 30.0
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    parties:
                    - address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                      partyRole: SHIPPER
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      hopRef:
                        identCode: FRA
                    decisiveDate: '2020-12-31'
                    readyForShippingDate:
                      dateInTimezone: '2020-12-24 12:00:00'
                      timezone: GMT+01:00
                    confirmedDeliveryDate:
                      dateInTimezone: '2020-12-31 18:00:00'
                      timezone: GMT+01:00
                    termsOfDeliveryCode: DDP
                    isDocumentShipment: false
                    loadingMeters: 5
                    palletPlaces: 2
                    addFreightCalculationData:
                      modeOfTransportIdentCode: AIR
                      distance:
                        value: 100.0
                        unit: km
                      goodsValue:
                        value: 1000.0
                        currencyIso: EUR
                      customsValue:
                        value: 500.0
                        currencyIso: EUR
                      numberOfDeliveryNotes: 1
                      numberOfInvoices: 2
                    service:
                      serviceIdentCode: UPS_EXPR
                      serviceProviderIdentCode: UPS
                      vasIdentCodes:
                      - COD
                      - SATDEL
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateSupplementTaskRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  supplementTask:
                    referenceNumber: REF_NO
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5
                        unit: kg
                      singleDimensions:
                        length: 10
                        width: 20
                        height: 30
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB HQ
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      address:
                        referenceCode: AEB MZ
                        name: AEB Mainz
                        street: Dekan-Laist-Str. 13
                        postcode: '55129'
                        city: Mainz
                        countryISOCode: DE
                        stateRegion: RLP
                    decisiveDate: '2020-12-31'
                    service:
                      serviceIdentCode: UPS_EXPR
                      serviceProviderIdentCode: UPS
              Complete data:
                description: Complete data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  supplementTask:
                    referenceNumber: REF_NO
                    routingParms:
                      ratingProfile: DEFAULT
                    handlingUnits:
                    - numberOfHandlingUnits: 1
                      singleGrossWeight:
                        value: 5.0
                        unit: kg
                      singleDimensions:
                        length: 10.0
                        width: 20.0
                        height: 30.0
                        quantityUnit: cm
                      handlingUnitType: PALLET
                      dangerousGoodsCode:
                        handlingCode: NONE
                    parties:
                    - address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                      partyRole: SHIPPER
                    startLocation:
                      address:
                        referenceCode: AEB
                        name: AEB SE
                        street: Sigmaringer Straße 109
                        postcode: '70567'
                        city: Stuttgart
                        countryISOCode: DE
                        stateRegion: BW
                    endLocation:
                      hopRef:
                        identCode: FRA
                    decisiveDate: '2020-12-31'
                    readyForShippingDate:
                      dateInTimezone: '2020-12-24 12:00:00'
                      timezone: GMT+01:00
                    confirmedDeliveryDate:
                      dateInTimezone: '2020-12-31 18:00:00'
                      timezone: GMT+01:00
                    termsOfDeliveryCode: DDP
                    isDocumentShipment: false
                    loadingMeters: 5
                    palletPlaces: 2
                    addFreightCalculationData:
                      modeOfTransportIdentCode: AIR
                      distance:
                        value: 100.0
                        unit: km
                      goodsValue:
                        value: 1000.0
                        currencyIso: EUR
                      customsValue:
                        value: 500.0
                        currencyIso: EUR
                      numberOfDeliveryNotes: 1
                      numberOfInvoices: 2
                    service:
                      serviceIdentCode: UPS_EXPR
                      serviceProviderIdentCode: UPS
                      vasIdentCodes:
                      - COD
                      - SATDEL
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSupplementTaskResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateSupplementTaskResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getAllCarriers:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getAllCarriers
      description: Returns all carriers available for the target client.<br> <br> This call might help to find the correct identCode of a carrier and service as well as the value-added services belonging to that carrier, which shall be added to the supplement task by using createSupplementTask(CreateSupplementTaskRequestDTO).
      operationId: getAllCarriers_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllCarriersRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
          application/xml:
            schema:
              $ref: '#/components/schemas/GetAllCarriersRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllCarriersResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetAllCarriersResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getHandoverPoints:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getHandoverPoints
      description: Returns all handover points available for the target client.<br> <br> Handover points are master file data. This call can be used to choose a handover point from a drop down application. It is <b>not</b> intended that this call is used for master data maintenance or master data synchronization.<br><br> The address is <b>not</b> included in the response.
      operationId: getHandoverPoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetHandoverPointsRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
          application/xml:
            schema:
              $ref: '#/components/schemas/GetHandoverPointsRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHandoverPointsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetHandoverPointsResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getRatingProfiles:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getRatingProfiles
      description: Returns all rating profiles available for the target client.<br> <br> This call might help to find the correct identCode of a rating profile, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO). This becomes more important, if a rating profile other than the default profile shall be used for proposal calculation.<br>
      operationId: getRatingProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRatingProfilesRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
          application/xml:
            schema:
              $ref: '#/components/schemas/GetRatingProfilesRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRatingProfilesResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetRatingProfilesResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getRejectedRoutingTaskResult:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getRejectedRoutingTaskResult
      description: 'Returns a sorted list of the rejected proposals for the provided task id and its current calculation state.<br> The rejected proposals are those proposals which were filtered out according to the settings in the rating profile.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>'
      operationId: getRejectedRoutingTaskResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
          application/xml:
            schema:
              $ref: '#/components/schemas/GetRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoutingTaskResultResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetRoutingTaskResultResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getRoutingRequirementTypes:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getRoutingRequirementTypes
      description: Returns all requirements and requirement types available for the target client.<br> <br> This call might help to find the correct identCode of a requirement, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>
      operationId: getRoutingRequirementTypes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoutingRequirementTypesRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
          application/xml:
            schema:
              $ref: '#/components/schemas/GetRoutingRequirementTypesRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoutingRequirementTypesResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetRoutingRequirementTypesResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getRoutingTaskResult:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getRoutingTaskResult
      description: 'Returns a sorted list of proposals for the provided task id and its current calculation state.<br> <br> The final list of proposals is ranked according to a rating profile. A rating profile uses supplements for score calculation and ranking.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>'
      operationId: getRoutingTaskResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
          application/xml:
            schema:
              $ref: '#/components/schemas/GetRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoutingTaskResultResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetRoutingTaskResultResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/getSupplementTaskResult:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: getSupplementTaskResult
      description: 'Returns an intermediate result of calculated supplements for the provided task id and its current calculation state.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new supplement task can be created by using createSupplementTask(CreateSupplementTaskRequestDTO).<br>'
      operationId: getSupplementTaskResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSupplementTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_SUPPLEMENT_TASK_ID
          application/xml:
            schema:
              $ref: '#/components/schemas/GetSupplementTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_SUPPLEMENT_TASK_ID
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSupplementTaskResultResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetSupplementTaskResultResponseDTO'
      security:
      - BASIC_AUTH: []
  /RoutingBFBean/waitForRoutingTaskResult:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Routing
      summary: waitForRoutingTaskResult
      description: 'Waits for the task calculation to finish and returns a sorted list of proposals for the provided task id and its current calculation state.<br> <br> If the calculation takes longer than the set waiting time limit, the list of proposals will be returned in its current unfinished calculation state as soon as the limit is reached.<br> <br> The final list of proposals is ranked according to a rating profile. A rating profile uses supplements for score calculation and ranking.<br><br>Possible states of calculation are:<br>- INPROGRESS: entries (and ordering) might change in future calls. <br>- RANKED: ordering and entries fixed, at least one supplement missing. <br>- COMPLETE: ordering and entries fixed, all supplements are calculated. <br><br>A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>'
      operationId: waitForRoutingTaskResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
                  waitingTimeoutInSeconds: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/WaitForRoutingTaskResultRequestDTO'
            examples:
              Basic data:
                description: Basic data
                value:
                  clientSystemId: MY_SYSTEM
                  clientIdentCode: MY_CLIENT
                  userName: MY_USERNAME
                  resultLanguageIsoCodes:
                  - de
                  taskId: MY_ROUTING_TASK_ID
                  waitingTimeoutInSeconds: 10
      responses:
        default:
          description: default response
          content:
            application/json: {}
            application/xml: {}
      security:
      - BASIC_AUTH: []
components:
  schemas:
    RouteScheduleDTO:
      required:
      - configurationIdentCode
      - state
      type: object
      properties:
        state:
          type: string
          description: 'Calculation state of this schedule. Can have the following values:<br> - PENDING: The routing proposals are still to be calculated. <br> - PROCESSED: Calculation is complete and has valid values<br> - ABORTED: Carrier Select returns an exception.<br> - ERROR: An error was occurred in  the subsequent systems. E.g. Logistics Cost Management.<br> - EXCLUDED: No schedule was calculated as too many service proposals were determined for the request.<br>'
        configurationIdentCode:
          type: string
          description: Identcode of configuration used to calculate this DTO.
        additionalInfo:
          type: array
          description: Additional information about the route schedule. <p> length of the translated text=280 </p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        earliestShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        latestShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        earliestDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        latestDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        internalId:
          type: string
          description: The unique ID of the route schedule. Can be used to uniquely identify the route schedule when requesting the routing task results several times. This is a temporary, unique ID. In very rare cases you may get a different unique ID for the same route schedule and same taskId  (after server restart).
      description: DTO to provide a result of a schedule calculation. It's values are filled depending on the calculation state and the calculation mode.
    BillingAdditionalFreightCalculationDataDTO:
      type: object
      properties:
        modeOfTransportIdentCode:
          type: string
          description: Identifier for the mode of transport. Can be empty, if not needed or if it is not known.
        distance:
          $ref: '#/components/schemas/QuantityDTO'
        goodsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        customsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        numberOfDeliveryNotes:
          type: integer
          description: represents the number of delivery notes.
          format: int32
        numberOfInvoices:
          type: integer
          description: represents the number of invoices.
          format: int32
        cusBillingFields:
          type: array
          description: Custom fields for Logistics Cost Management.  Every custom field must also be defined in Logistics Cost Management  in a structured type of a Smart-Rules module with the same field name and type.
          items:
            $ref: '#/components/schemas/CusBillingFieldDTO'
      description: The BillingAdditionalFreightCalculationDataDTO provides data to send to Logistics Costs Management. It fills some fields BFreightTransportExtendedDataDTO, but not all. In addition it provides a list of custom fields which must be also customized with the same field name in Logistics Costs Management.
    RoutingTaskLocationDTO:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/RoutingAddressDTO'
        hopRef:
          $ref: '#/components/schemas/HopReferenceDTO'
      description: Class for location based routing task data for BF. Contains data of a complete address or a reference to a hand over point and its location/address in the master data. Either the address or the hopRef is required, the other value must be null.
    RatingProfileDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Ident code of the rating profile <p>length = 50</p>
        descriptions:
          type: array
          description: Multi-language descriptions of this RatingProfile
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: DTO representation of a rating profile
    RoutingTaskHandlingUnitDTO:
      required:
      - handlingUnitType
      - numberOfHandlingUnits
      - singleDimensions
      - singleGrossWeight
      type: object
      properties:
        numberOfHandlingUnits:
          type: integer
          description: Number of handling units. Maximum value is 999. <p>length=3</p>
          format: int32
        singleGrossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        singleDimensions:
          $ref: '#/components/schemas/CuboidDimensionsDTO'
        handlingUnitType:
          type: string
          description: The identCode of the handling unit type. length=35
        dangerousGoodsCode:
          $ref: '#/components/schemas/DangerousGoodsCodeDTO'
      description: Basic data of a handling unit which shall be transported as defined in the RoutingTaskDTO.
    CarrierDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Ident code of a carrier <p>length = 20</p>
        services:
          type: array
          description: Array of identCodes of services. <p> length = 20 <\p> per ident code
          items:
            $ref: '#/components/schemas/ServiceInfoDTO'
        valueAddedServices:
          type: array
          description: Array of identCodes of value added services. <p> length = 20 <\p> per ident code
          items:
            $ref: '#/components/schemas/ValueAddedServiceDTO'
      description: Representation of a carrier.
    ServiceVasValidationSupplementDataDTO:
      required:
      - validationResult
      type: object
      properties:
        validationResult:
          type: string
          description: 'Possible values: OK, UNDEFINED, REJECTED'
      description: Result of validation
    ServiceDTO:
      required:
      - serviceIdentCode
      - serviceProviderIdentCode
      type: object
      properties:
        serviceIdentCode:
          type: string
          description: The ID of the service.
        serviceProviderIdentCode:
          type: string
          description: The ID of the provider.
        vasIdentCodes:
          type: array
          description: The IDs of the value added services.
          items:
            type: string
            description: The IDs of the value added services.
      description: Representation of a service classified by a service code, a provider code and value-added service codes. <br> This DTO is used in context of creating a SupplementTask.
    GetRoutingTaskResultRequestDTO:
      required:
      - taskId
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        taskId:
          type: string
          description: The task id is a unique value that was generated for requesting the results of the according routing task. It is returned when the the routing task is created. <p>length=50</p>
      description: Request DTO to get the a list of ranked proposals and the current calculation status for the routing task defined by the provided task id.
    GetRoutingRequirementTypesRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Request DTO to access all requirement types configured for the given target client in the Routing engine.
    RoutingSupplementTypeDTO:
      required:
      - dataType
      - name
      type: object
      properties:
        name:
          type: string
          description: Unique name of supplement <p> length=50 </p>
        dataType:
          type: string
          description: Class short name of SupplementDataDTO e.g. 'StarRatingSupplementDataDTO'
      description: Each supplement is characterized by a unique name defined by the user and its dataType. It defines one type of supplement.
    RoutingProposalDTO:
      required:
      - legs
      - score
      - sortNumber
      type: object
      properties:
        legs:
          type: array
          description: The legs ('parts') of a whole transport chain. Typically only one element.
          items:
            $ref: '#/components/schemas/RoutingLegProposalDTO'
        score:
          type: number
          description: 'Score of the proposal. Proposals may have equal score if they are ranked as equal by the rating profile. <br> length = 15 <br> scale = 3 '
        sortNumber:
          type: integer
          description: Sort number of the proposal. Unique among the proposals of a fixed routing task result. <br> length = 10
          format: int32
        effectiveSupplements:
          type: array
          description: Array of supplements for this routing proposal.
          items:
            $ref: '#/components/schemas/RoutingSupplementDTO'
        routeSchedule:
          $ref: '#/components/schemas/RouteScheduleDTO'
      description: Main DTO to hold data on a proposal.<br> Each leg contains information on services enriched with supplements as additional information. The entirety of legs describes one proposal.<br> <br> Individual proposals are comparable by their score and can be ordered by their sortNumber. Score and sortNumber are calculated based on supplements by a rating profile. Two proposals might have the same score but have different sort numbers.
    CusBillingFieldDTO:
      required:
      - name
      - type
      - value
      type: object
      properties:
        name:
          type: string
          description: Name of the field. This name must be identical to the configured, customized field in Logistic Costs Management, otherwise this custom field is ignored.
        type:
          type: string
          description: 'type of the field. Supported types are: string, int, boolean, decimal , etc. see also constants of this class.'
        value:
          type: string
          description: <p>Value of the custom field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href="http://www.w3.org/TR/xmlschema-2/">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> </ul>
      description: This is a standard DTO class, which holds customized content. Custom field dto, send to Logistics Cost Management. Must also be defined in Logistics Cost Management, otherwise the field is ignored.
    RoutingLegProposalDTO:
      required:
      - endHop
      - serviceIdentCode
      - serviceProviderIdentCode
      - startHop
      type: object
      properties:
        serviceProviderIdentCode:
          type: string
          description: IdentCode of the service provider. <p> length = 20 <\p>
        serviceIdentCode:
          type: string
          description: IdentCode of the service <p> length = 20 <\p>
        vasIdentCodes:
          type: array
          description: Array of identCodes of value added services. <p> length = 20 <\p> per ident code
          items:
            type: string
            description: Array of identCodes of value added services. <p> length = 20 <\p> per ident code
        serviceInfoTextIdentCodes:
          type: array
          description: Array of identCodes of info texts <p> length = 20 <\p> per ident code
          items:
            type: string
            description: Array of identCodes of info texts <p> length = 20 <\p> per ident code
        supplements:
          type: array
          description: Array of supplements for this leg proposal.
          items:
            $ref: '#/components/schemas/RoutingSupplementDTO'
        startHop:
          $ref: '#/components/schemas/HopDTO'
        endHop:
          $ref: '#/components/schemas/HopDTO'
        legSchedule:
          $ref: '#/components/schemas/RouteLegScheduleDTO'
        internalId:
          type: string
          description: The unique ID of the leg proposal. Can be used to uniquely identify the leg proposal when requesting the routing task results several times. This is a temporary, unique ID. In very rare cases you may get a different unique ID for the same proposal and same taskId  (after server restart).
      description: Describes one leg ('part') of a whole transport chain. The entirety of legs describes a set of services of one proposal. In case of direct simple routing, a proposal contains only one leg.
    RoutingRequirementDTO:
      required:
      - requirementCode
      - requirementType
      type: object
      properties:
        requirementType:
          type: string
          description: 'Type of requirement.<br> for example: serviceLevel, mode of transport, special treatment COD, insurance <p> length=50 </p>'
        requirementCode:
          type: string
          description: 'Name of requirement.<br> for example: Economy, Standard, Express Sea, Road, Air A, B, C Cash, Cheque, <p>length=50</p>'
      description: Representation of a requirement, classified by a requirement type and a requirement code. <br> This DTO is used in context of creating a RoutingTasks.
    ValueRatingSupplementDataDTO:
      required:
      - value
      type: object
      properties:
        value:
          type: string
          description: Actual value for the rating <p>length=50</p>
      description: Holds the value rating.
    WaitForRoutingTaskResultRequestDTO:
      required:
      - taskId
      - waitingTimeoutInSeconds
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        taskId:
          type: string
          description: The task id is a unique value that was generated for requesting the results of the according routing task. It is returned when the the routing task is created. <p>length=50</p>
        waitingTimeoutInSeconds:
          type: integer
          description: Waiting timeout in seconds.
          format: int32
      description: Request DTO to get the a list of ranked proposals and the current calculation status for the routing task defined by the provided task id.
    RoutingScheduleTypeDTO:
      type: object
      properties:
        configurationIdentCode:
          type: string
          description: The configuration ident code for the schedule configuration. Filled when a schedule calculation was configured in the rating profile. <p>length=50</p>
      description: Holds a reference of a schedule configuration.
    AmountOfMoneyDTO:
      type: object
      properties:
        value:
          type: number
          description: The value of the amount of money. <p>length=15, scale=2</p>
        currencyIso:
          type: string
          description: The three letter ISO code of the currency of the amount of money. <p>length=3</p>
      description: An amount of money with a value and an currency ISO code.
    GetRoutingTaskResultResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        routingTaskResult:
          $ref: '#/components/schemas/RoutingTaskResultDTO'
      description: Response DTO of a routing task request.
    CreateRoutingTaskRequestDTO:
      required:
      - routingTask
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        routingTask:
          $ref: '#/components/schemas/RoutingTaskDTO'
      description: Request DTO for create routing task.
    HopReferenceDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: 'IdentCode of the hand over point <br> length = 50 '
      description: Representation of a handover point as a defined entity
    GetHandoverPointsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Request DTO to access all handover points existing for the given target client in the Routing engine.
    GetAllCarriersRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Request DTO to access all carriers existing for the given target client in the Routing engine.
    HopDTO:
      type: object
      description: Representation of an handover point
    HandoverPointDTO:
      required:
      - address
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Ident code of the handover point <p>length = 50</p>
        descriptions:
          type: array
          description: Multi-language descriptions of the handover point
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        address:
          $ref: '#/components/schemas/RoutingAddressDTO'
      description: Representation of an handover point.
    RoutingAddressDTO:
      required:
      - city
      - countryISOCode
      - name
      - referenceCode
      - street
      type: object
      properties:
        referenceCode:
          type: string
          description: Reference code,  <p>length=50</p>
        name:
          type: string
          description: First address line  <p>length=40</p>
        street:
          type: string
          description: Street (line 1) of the address. Is required because some validation requires streets. <p>length=40</p>
        postcode:
          type: string
          description: Postcode of the address. Postcode is checked with the postcode format of the given country. <p>length=10</p>
        city:
          type: string
          description: City of the address. <p>length=40</p>
        countryISOCode:
          type: string
          description: Country of address <p>length=2</p>
        stateRegion:
          type: string
          description: The state or region <p>length=40</p>
      description: DTO to provide address data
    RoutingRequirementInTypeDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Unique identification code of this requirement <p> length=50 </p>
        descriptions:
          type: array
          description: Multi-language descriptions of this requirement
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: DTO representation of a routing requirement contained in a routing requirement type.<br> This DTO is used in context of getting a list of all available requirements available for a target client.
    StarRatingSupplementDataDTO:
      required:
      - starRatingValue
      type: object
      properties:
        starRatingValue:
          type: integer
          description: 'Possible values: 1, 2, 3, 4, 5;'
          format: int32
      description: Holds the star rating
    RoutingTaskDTO:
      required:
      - decisiveDate
      - endLocation
      - handlingUnits
      - startLocation
      type: object
      properties:
        referenceNumber:
          type: string
          description: The clients reference number for the task. <p>length=50</p>
        routingParms:
          $ref: '#/components/schemas/RoutingParmsDTO'
        handlingUnits:
          type: array
          description: The handling units of the routing task.
          items:
            $ref: '#/components/schemas/RoutingTaskHandlingUnitDTO'
        parties:
          type: array
          description: 'The parties of the routing task. '
          items:
            $ref: '#/components/schemas/RoutingPartyDTO'
        startLocation:
          $ref: '#/components/schemas/RoutingTaskLocationDTO'
        endLocation:
          $ref: '#/components/schemas/RoutingTaskLocationDTO'
        decisiveDate:
          type: string
          description: The string representation of the Date  in the format yyyy-MM-dd. The date is used when it comes to exclude configuration elements that have a validity date. <p>length=10</p>
        readyForShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        confirmedDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        termsOfDeliveryCode:
          type: string
          description: The clients terms of delivery code. Value is not checked in routing but will be checked in carrier validation and is probably needed for freight calculation.   * <p>length=20</p>
        requirements:
          type: array
          description: The requirements of the routing task.
          items:
            $ref: '#/components/schemas/RoutingRequirementDTO'
        isDocumentShipment:
          type: boolean
          description: Indicates whether the routing task is a document shipment or goods shipment.<br> If true, the shipment is a document shipment.<br> If false, the shipment is a goods shipment.<br> False (= goods shipment) is the default when no value is supplied.
        loadingMeters:
          type: number
          description: The loading meters of the routing task. <p>length=15, scale = 3</p>
        palletPlaces:
          type: number
          description: The pallet places of the routing task. <p>length=15, scale = 3</p>
        addFreightCalculationData:
          $ref: '#/components/schemas/BillingAdditionalFreightCalculationDataDTO'
        procedureIndicator:
          type: string
          description: (Special) procedure indicator.
        deliveryPriority:
          type: string
          description: Delivery priority or delivery condition.
        shippingCondition:
          type: string
          description: Shipping condition.
      description: The RoutingTaskDTO is the main representation of a routing task. The data describes a set of different handling units which shall be transported in one process. Additionally, involved parties, important dates, requirements and other parameters of the request are stored within this DTO. <br> <br> Based on these data, the process of preselection calculates valid proposals. Furthermore, the data of this RoutingTaskDTO might be used during the process of supplement calculation.
    SupplementTaskDTO:
      required:
      - decisiveDate
      - endLocation
      - handlingUnits
      - service
      - startLocation
      type: object
      properties:
        referenceNumber:
          type: string
          description: The clients reference number for the task. <p>length=50</p>
        routingParms:
          $ref: '#/components/schemas/RoutingParmsDTO'
        handlingUnits:
          type: array
          description: The handling units of the supplement task.
          items:
            $ref: '#/components/schemas/RoutingTaskHandlingUnitDTO'
        parties:
          type: array
          description: 'The parties of the supplement task. '
          items:
            $ref: '#/components/schemas/RoutingPartyDTO'
        startLocation:
          $ref: '#/components/schemas/RoutingTaskLocationDTO'
        endLocation:
          $ref: '#/components/schemas/RoutingTaskLocationDTO'
        decisiveDate:
          type: string
          description: The string representation of the Date  in the format yyyy-MM-dd. The date is used when it comes to exclude configuration elements that have a validity date. <p>length=10</p>
        readyForShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        confirmedDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        termsOfDeliveryCode:
          type: string
          description: The clients terms of delivery code. Value is not checked in routing but will be checked in carrier validation and is probably needed for freight calculation.   * <p>length=20</p>
        isDocumentShipment:
          type: boolean
          description: Indicates whether the supplement task is a document shipment or goods shipment.<br> If true, the shipment is a document shipment.<br> If false, the shipment is a goods shipment.<br> False (= goods shipment) is the default when no value is supplied.
        loadingMeters:
          type: number
          description: The loading meters of the supplement task. <p>length=15, scale = 3</p>
        palletPlaces:
          type: number
          description: The pallet places of the supplement task. <p>length=15, scale = 3</p>
        addFreightCalculationData:
          $ref: '#/components/schemas/BillingAdditionalFreightCalculationDataDTO'
        service:
          $ref: '#/components/schemas/ServiceDTO'
        procedureIndicator:
          type: string
          description: (Special) procedure indicator.
        deliveryPriority:
          type: string
          description: Delivery priority or delivery condition.
        shippingCondition:
          type: string
          description: Shipping condition.
      description: The SupplementTaskDTO is the main representation of a supplement task. The data describes a set of different handling units which shall be transported in one process. Additionally, involved parties, important dates and other parameters of the request are stored within this DTO. <br> <br> Based on these data, the process of service adoption calculates the supplements.
    ValueAddedServiceDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Ident code of the value-added service <p>length = 20</p>
      description: Representation of a value-added service.
    DangerousGoodsCodeDTO:
      required:
      - handlingCode
      type: object
      properties:
        handlingCode:
          type: string
          description: "Indicates the type of dangerous goods Valid values are: <li>NONE\t\t(no dangerous goods) <li>NORMAL \t(dangerous goods) <li>LQ\t\t(limited quantities) <li>EQ\t\t(excepted quantities)"
          enum:
          - NONE
          - NORMAL
          - EQ
          - LQ
          default: NONE
      description: Information about dangerous goods.
    RoutingParmsDTO:
      type: object
      properties:
        ratingProfile:
          type: string
          description: The ident code of the profile that will be used in routing. A profile contains configured strategies and options how  routing for this task will be done. If no profile is set a default profile will be used. <p>length=50</p>
      description: Detailed settings for proposal, supplement and ranking calculations.
    RouteLegScheduleDTO:
      type: object
      properties:
        earliestShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        latestShippingDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        earliestDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        latestDeliveryDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
      description: DTO to provide a leg of a route schedule calculation. It's values are filled depending on the calculation state and the calculation mode.
    GetRoutingRequirementTypesResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        types:
          type: array
          description: List of all requirement types available for the target client as configured in the Routing engine.
          items:
            $ref: '#/components/schemas/RoutingRequirementTypeDTO'
      description: ResponseDTO for a request of requirement types.
    GetHandoverPointsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        handoverPoints:
          type: array
          description: List of all handover points available for the target client as configured in the Routing engine.
          items:
            $ref: '#/components/schemas/HandoverPointDTO'
      description: ResponseDTO for an access request of handover points.
    RoutingPartyDTO:
      required:
      - address
      - partyRole
      type: object
      properties:
        address:
          $ref: '#/components/schemas/RoutingAddressDTO'
        partyRole:
          type: string
          description: '<p> Role of the location, might be shipping point, consignee. </p> <p> Possible values are: (may be more in the future). </p> <ul> <li>"SHIPPER"</li> <li>"SHIPPINGPOINT"</li> <li>"CONSIGNEE"</li> </ul>'
          enum:
          - SHIPPER
          - SHIPPINGPOINT
          - CONSIGNEE
      description: A party contains a company with information on the address of the given party. Furthermore, the company fulfills one or more certain roles within the routing context, which are also stored in this DTO.
    GetSupplementTaskResultRequestDTO:
      required:
      - taskId
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        taskId:
          type: string
          description: The task id is a unique value that was generated for requesting the results of the according supplement task. It is returned when the the supplement task is created. <p>length=50</p>
      description: Request DTO to get the current calculation status for the supplement task defined by the provided task id.
    QuantityDTO:
      type: object
      properties:
        value:
          multipleOf: 0.001
          maximum: 999999999999.999
          type: number
          description: The value of the quantity.
        unit:
          maxLength: 10
          type: string
          description: " \t\t\tIdentifier of the quantity unit. Use quantity units known from your AEB application or alternatively domain specific or legacy quantity codes, but not the UNECE code.\n \t\t\tFor UNECE unit codes use the 'uneceUnit' field, if supported.\n\n \t\t\tWeight unit codes:\n \t\t\t* kg - Kilogram\n         \t* gr - Gram\n         \t* t - Metric ton\n         \t* lb - Pound\n         \t* oz - Ounce\n\n         \tLength unit codes:\n         \t* m - Meter\n         \t* mm - Milimeter\n         \t* cm - Centimeter\n         \t* dm - Decimeter\n         \t* km - Kilometer\n         \t* ft - Foot\n         \t* in - Inch\n         \t* mi - Mile\n         \t* nm - Nanometer\n         \t* µm - Micrometer\n\n         \tVolume unit codes:\n         \t* ccm - Cubic centimeter\n         \t* cdm - Cubic decimeter\n         \t* m3 - Cubic meter\n         \t* ml - Milliliter\n         \t* cl - Centiliter\n         \t* hl - Hectoliter\n         \t* l - Liter\n         \t* cuin - Cubic inch\n         \t* cuft - Cubic foot\n\n         \tQuantity unit codes:\n         \t* St - Piece\n         \t* Paar - Pair\n\n         \tDensity unit codes:\n         \t* g/ccm - grams per cubic centimeter\n         \t* kg/m3 - kilogram per cubic meter\n\n         \tTime unit codes:\n         \t* h - Hour\n         \t* stu - Hour\n         \t* std - Hour\n         \t* oph - Operational hour\n         \t* s - Second\n         \t* min - Minute\n         \t* 15m - 15 mins\n         \t* d - Day\n         \t* tag - Day\n         \t* wch - Week\n         \t* mon - Month\n         \t* jhr - Year\n         \t* mis - Millisecond\n         \t* ms - Microsecond\n         \t* ns - Nanosecond\n         \t* ps - Picosecond\n\n         \tArea unit codes:\n \t\t\t* qm - Square meter\n         \t* qmm - Square millimeter\n         \t* qcm - Square centimeter\n         \t* qdm - Square decimeter\n"
          example: kg
        uneceUnit:
          maxLength: 3
          type: string
          description: " \t\t\tIdentifier of the quantity unit based on 'Recommendation No. 20 - Units of Measure used in International Trade'.<br/>\n \t\t\tThe #uneceUnit can be specified alternatively to #unit but is currently not supported by all AEB services. Please speak to your contact person at AEB if you are unsure whether #uneceUnit is supported or not.\n\n \t\t\tWeight unit codes:\n \t\t\t* `KGM` - Kilogram\n \t\t\t* `GRM` - Gram (10⁻³ kg)\n \t\t\t* `TNE` - Metric ton (10³ kg)\n \t\t\t* `LBR` - Pound (0,453 592 37 kg)\n \t\t\t* `ONZ` - Ounce (2,834 952 x 10⁻² kg)\n\n \t\t\tLength unit codes:\n \t\t\t* `MTR` - Meter\n \t\t\t* `CMT` - Centimeter (10⁻² m)\n \t\t\t* `MMT` - Millimeter (10⁻³ m)\n \t\t\t* `KMT` - Kilometer (10³ m)\n \t\t\t* `YRD` - Yard (0,914 4 m)\n \t\t\t* `FOT` - Foot (0,304 8 m)\n \t\t\t* `INH` - Inch (25,4 x 10⁻³ m)\n \t\t\t* `SMI` - Mile (statute mile) (1609,344 m)\n\n \t\t\tVolume unit codes:\n \t\t\t* `MTQ` - Cubic meter\n \t\t\t* `CMQ` - Cubic centimeter (10⁻⁶ m³)\n \t\t\t* `HLT` - Hectoliter (10⁻¹ m³)\n \t\t\t* `LTR` - Liter (10⁻³ m³)\n \t\t\t* `MLT` - Milliliter (10⁻⁶ m³)\n \t\t\t* `YDQ` - Cubic yard (0,764 555 m³)\n \t\t\t* `FTQ` - Cubic foot (2,831 685 x 10⁻² m³)\n \t\t\t* `INQ` - Cubic inch (16,387 064 x 10⁻⁶ m³)\n\n \t\t\tArea unit codes:\n \t\t\t* `MTK` - Square meter\n \t\t\t* `CMK` - Square centimeter (10⁻⁴ m²)\n \t\t\t* `MMK` - Square millimeter (10⁻⁶ m²)\n \t\t\t* `YDK` - Square yard (8.361 274 x 10⁻¹ m² )\n \t\t\t* `FTK` - Square foot (9,290 304 x 10⁻² m²)\n \t\t\t* `INK` - Square inch (6,451 6 x 10⁻⁴ m²)\n\n \t\t\tQuantity unit codes:\n \t\t\t* `NAR` - Number of articles\n \t\t\t* `NPR` - Number of pairs\n \t\t\t* `CEN` - A unit of count defining the number of units in multiples of 100\n \t\t\t* `MIL` - A unit of count defining the number of units in multiples of 1000\n"
          example: NAR
      description: A quantity with a value and a quantity unit. Quantity units are encoded by using AEB unit codes mainly based on the International System of Unit (e.g. 'Gram' is encoded by the code 'gr') or - if supported - UNECE unit codes (e.g. 'Gram' is encoded by the code 'GRM').<br>Recoding of the quantity unit code from capital letters to small letters (e.g. from 'LB' to 'lb') may be supported, depending on the AEB product.<br>The quantity unit type is specified by the usage context, i.e. if this quantity is a weight, a volume or similar.
    GetRatingProfilesResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        profiles:
          type: array
          description: List of all rating profiles available for the target client as configured in the Routing engine.
          items:
            $ref: '#/components/schemas/RatingProfileDTO'
      description: ResponseDTO for an access request of rating profiles.
    ServiceInfoDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Ident code of the service <p>length = 20</p>
      description: DTO to provide service data
    SupplementTaskResultDTO:
      required:
      - service
      - state
      - supportedSupplementTypes
      - taskId
      type: object
      properties:
        state:
          type: string
          description: 'Possible states of calculation are:<br> - INPROGRESS: Some supplements have not been calculated yets.<br>- COMPLETE: All supplements have been calculated.<br>'
        taskId:
          type: string
          description: Unique taskId of the supplement task. <p>length=50</p>
        referenceNumber:
          type: string
          description: The reference number for the supplement task. <p>length=50</p>
        service:
          $ref: '#/components/schemas/ServiceDTO'
        routeSchedule:
          $ref: '#/components/schemas/RouteScheduleDTO'
        supplements:
          type: array
          description: List of supplements for this service.
          items:
            $ref: '#/components/schemas/RoutingSupplementDTO'
        supportedSupplementTypes:
          type: array
          description: List of supported supplements types that are calculated for this supplement task.
          items:
            $ref: '#/components/schemas/RoutingSupplementTypeDTO'
      description: Contains a list of calculated supplements and information on the current calculation status for for the routing task with the given taskId.
    CreateRoutingTaskResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        taskId:
          type: string
          description: The taskId is a unique value that is generated for a requested routing task. Use this taskId to request the calculation result in a separate call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO). <p>length=50</p>
      description: Response DTO for create routing rask.
    RoutingRequirementTypeDTO:
      required:
      - identCode
      - requirements
      type: object
      properties:
        identCode:
          type: string
          description: Unique requirement type ident code. <p> length=50 </p>
        descriptions:
          type: array
          description: Multi-language descriptions for this type
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        requirements:
          type: array
          description: Routing requirements contained in this type
          items:
            $ref: '#/components/schemas/RoutingRequirementInTypeDTO'
      description: DTO representation of a routing requirement type.<br> This DTO is used in context of getting a list of all available requirements available for a target client.
    CreateSupplementTaskResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        taskId:
          type: string
          description: The taskId is a unique value that is generated for a requested supplement task. Use this taskId to request the calculation result in a separate call of getSupplementTaskResult(GetSupplementTaskResultRequestDTO). <p>length=50</p>
      description: Response DTO for create supplement task.
    PricingSupplementDataDTO:
      required:
      - currencyIsoCode
      - settlementPrices
      - value
      type: object
      properties:
        currencyIsoCode:
          type: string
          description: Currency of calculated price in client currency. <br> length = 3
        value:
          type: number
          description: Value of calculated price in client currency. <br> length = 15, scale = 2
        settlementPrices:
          type: array
          description: Settlement prices, grouped by currency. The settlement prices may be different to the price in client currency and may include prices in different currencies. The list includes all settlement item prices, grouped by settlement currency. Each currency group is summed up, so that only one entry per currency is in this list.
          items:
            $ref: '#/components/schemas/AmountOfMoneyDTO'
      description: Price information.
    DateAndZoneDTO:
      type: object
      properties:
        dateInTimezone:
          type: string
          description: '<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>'
        timezone:
          type: string
          description: '<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: "GMT+01:00" or "GMT-02:00".</p> <p>Maximum length: 50</p>'
      description: Date and timezone.
    GetSupplementTaskResultResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        supplementTaskResult:
          $ref: '#/components/schemas/SupplementTaskResultDTO'
      description: Response DTO of a supplement task request.
    RoutingTaskResultDTO:
      required:
      - state
      - supportedSupplementTypes
      - taskId
      type: object
      properties:
        state:
          type: string
          description: 'State of current proposal calculation, it can have the following states:<br> - INPROGRESS: proposals (and ordering) might change in future calls.<br>- COMPLETE: ordering and entries fixed, all supplements calculated.<br>'
        taskId:
          type: string
          description: Unique taskId of the routing task. <p>length=50</p>
        referenceNumber:
          type: string
          description: The reference number for the routing task. <p>length=50</p>
        supportedSupplementTypes:
          type: array
          description: List of supported supplements types that are calculated for this routing task.
          items:
            $ref: '#/components/schemas/RoutingSupplementTypeDTO'
        supportedScheduleType:
          $ref: '#/components/schemas/RoutingScheduleTypeDTO'
        proposals:
          type: array
          description: List of proposals calculated by the Routing engine. Depending on the state, sorting and/or supplements within the proposals might change. The proposals might be empty - even if the calculation has been executed successfully. This depends on the individual service allocations and on the filter settings within the rating profile used for this request.
          items:
            $ref: '#/components/schemas/RoutingProposalDTO'
      description: Contains a list of ranked proposals and information on the current calculation status for for the routing task with the given taskId.
    GetAllCarriersResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        carriers:
          type: array
[...]
