openapi: 3.2.0
info:
  title: Customs Management HTTP International Customs AF Bean API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://rz3.aeb.de/test2ici/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: InternationalCustomsAFBean
  description: Application facades for Customs Management
paths:
  /InternationalCustomsAFBean/openConsignmentFolder:
    post:
      tags:
      - InternationalCustomsAFBean
      summary: Open consignment folder
      description: Opens a consignment for the given parameters. A consignment is identified by a businessObjectId or a consignmentIdClientSystem.
      operationId: openConsignmentFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenConsignmentFolderArgumentDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
  /InternationalCustomsAFBean/openDeclarationAttachment:
    post:
      tags:
      - InternationalCustomsAFBean
      summary: Open declaration attachment
      description: Opens an attachment of a declaration for the given parameters. A declaration is identified by a businessObjectId.
      operationId: openDeclarationAttachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDeclarationAttachmentArgumentDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
  /InternationalCustomsAFBean/openDeclarationFolder:
    post:
      tags:
      - InternationalCustomsAFBean
      summary: Open declaration folder
      description: Opens a declaration for the given parameters. A declaration is identified by a businessObjectId.
      operationId: openDeclarationFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDeclarationFolderArgumentDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
  /InternationalCustomsAFBean/openDeclarationSearch:
    post:
      tags:
      - InternationalCustomsAFBean
      summary: Open declaration search
      description: Opens a declaration search for the given parameters.
      operationId: openDeclarationSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDeclarationSearchArgumentDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
components:
  schemas:
    OpenDeclarationFolderArgumentDTO:
      type: object
      properties:
        afParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        folderParms:
          $ref: '#/components/schemas/ICDeclarationFolderParmsDTO'
      description: Arguments to open a declaration folder.
    OpenDeclarationAttachmentArgumentDTO:
      type: object
      properties:
        afParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        attachmentParms:
          $ref: '#/components/schemas/ICDeclarationAttachmentParmsDTO'
      description: Arguments to open an attachment.
    ICDeclarationFolderParmsDTO:
      type: object
      properties:
        customsProcess:
          $ref: '#/components/schemas/ICCustomsProcessTypeDTO'
        businessObjectId:
          type: string
          description: The unique business object id of the desired declaration.<p> length=50 </p>
      description: Identifies a declaration to be opened in a folder.
    ICConsignmentFolderParmsDTO:
      type: object
      properties:
        businessObjectId:
          type: string
          description: The unique business object id of the desired consignment. BusinessObjectId or consignmentIdClientSystem must be filled.<p> length=50 </p>
        consignmentIdClientSystem:
          type: string
          description: The consignment id of the ERP system of the client. BusinessObjectId or consignmentIdClientSystem must be filled.<p> length=255 </p>
      description: Identifies a consignment to be opened in a folder.
    AFShellExecuteParmsDTO:
      type: object
      properties:
        fileName:
          type: string
          description: This is the name of the file that has to be created in some temporary directory and filled with what contents contains
        contents:
          type: string
          description: This is the contents that has to be written to the file
          format: byte
      description: 'Parameters of application UI API when this is to be done via shellexecute: The client has to create a file with the given name in a temporary directory, the contents of the file is given in the variable ''contents''. Then "shellExecute" has to be invoked which assumes that the file type as given by filename is registered on client''s machine'
    AFExecuteProcessParmsDTO:
      type: object
      properties:
        executableFile:
          type: string
          description: The name of the executable (including path name,  or expected to be found within search path) This must not contain any parameters, and it must not be enclosed with quotes even if the string contains spaces.
        parameters:
          type: string
          description: Parameters to the executable. may be null. most processes expect parameters separated by spaces, and honor enclosing quotes for a parameter if it contains spaces.
        workDir:
          type: string
          description: The current directory to be set for the process created as given in executable may be null
      description: 'Parameters of UI API invocation when this is to be done via create process: The client has to invoke the process as specified by the properties of this object.'
    OpenDeclarationSearchArgumentDTO:
      type: object
      properties:
        afParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        searchParms:
          $ref: '#/components/schemas/ICDeclarationSearchParmsDTO'
      description: Arguments to open a declaration search.
    AbsoluteIntervalFilterDTO:
      type: object
      properties:
        from:
          type: string
          description: Start date of the interval in the format 'yyyy-MM-dd[ HH:mm:ss[z]]' (the time and zone is optional).<p>If no time zone is specified, the local zone of the server is used.<p>Use 'Z' for UTC/GMT or offsets like '+01', '-0600' or 'GMT+04:30'.
        to:
          type: string
          description: End date of the interval in the format 'yyyy-MM-dd[ HH:mm:ss[z]]' (the time and zone is optional).<p>If no time zone is specified, the local zone of the server is used.<p>Use 'Z' for UTC/GMT or offsets like '+01', '-0600' or 'GMT+04:30'.
      description: Initializes the filter with a fix interval between two dates.
    ICCustomsProcessTypeDTO:
      type: object
      properties:
        customsProcess:
          maxLength: 35
          type: string
          description: <p>Specific customs process. <ul><li>'EXPORT_BE' - Export process for Belgium</li> <li>'EXPORT_SE' - Export process for Sweden</li> <li>'EXPORT_NL' - Export process for Netherlands</li> <li>'TRANSIT_NL' - Transit process for Netherlands</li> <li>For full list see /InternationalCustomsBFBean/getCodes with codeListCode=CUSTOMS_PROCESS_TYPE.</li></ul></p>
          example: EXPORT_BROKER
        countrySetupIdentCode:
          maxLength: 2
          type: string
          description: <p>Country setup ident code for the customs process (Broker).</p><p>Only used in response DTOs (ICDeclarationDTO) </p>
          example: CN
      description: DTO to hold the customs process type.
    ApplicationFacadeDTO:
      type: object
      properties:
        sessionid:
          type: string
          description: The session id of the UI API which may be used as a parameter to read results from the application facade. (Currently not supported.)
        httpUrl:
          type: string
          description: Used when the UI API is to be opened in a browser an http:// or https:// URL which is a web side to display the UI API.
        urlCloseToken:
          type: string
          description: URL token to check on the remote system (for example SAP) if the browser was closed.
        executeProcess:
          $ref: '#/components/schemas/AFExecuteProcessParmsDTO'
        shellExecute:
          $ref: '#/components/schemas/AFShellExecuteParmsDTO'
      description: A data transfer object which describes an UI API. There are various techniques possible how to "open" the "application" on the client; typically only one of the fields is filled, but when more than one possibility is not null the client may choose the type most suitable. Supported types include <ul><li>HTTP</li> - use when field 'httpUrl' is not null. Open a browser and navigate to the url given. When urlCloseToken is given, you can monitor the browsers pages and when you find that it navigates to an url equal to urlCloseToken, the browser can be closed by the application. <li>Start executable</li> - use when field 'executeProcess' is not null. Create a process as defined in the field 'executable', with the current directory as workDir (if specified). <li>Shell execute</li> - use when field 'shellExecute' is not null. Create a file in a temporary directory with name equal to that given in 'fileName', and fill it with the bytes given in 'contents', and then invoke "ShellExecute" to let the shell open the application corresponding to the file type. </ul>
      xml:
        name: ApplicationFacade
    IntervalFromNowFilterDTO:
      type: object
      properties:
        unit:
          type: string
          description: Defines the unit for the interval from 'now'.<p>Possible values are 'DAYS', 'WDAYS', 'WEEKS', 'MONTHS' and 'YEARS'.<p>This is a mandatory attribute.
        duration:
          type: integer
          description: Defines the duration for the interval from 'now'.<p>The duration can be negative for the past and positive for the future.<p>This is a mandatory attribute.
          format: int32
      description: Initializes the filter with a time interval relative to 'today'.
    ApplicationFacadeParmsDTO:
      type: object
      properties:
        client:
          type: string
          description: The client of the new session. This should be a legal identCode of a client in the system.<br> If it is NOT a legal identCode of a client in the system, the user will see a login prompt before he is able to see the UI API. (See IFoundationBF.getAllClients()). <br>When the UI API web service call is authenticated, this value will be checked against the authentication data and the call is rejected if it does not match.
          example: APITEST
        user:
          type: string
          description: 'The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may get granted only have the role "I_EVERYONE" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the API will be trusted to have checked the users access rights. This enables a kind of "single sign on" between different e.g. XNSG servers.'
          example: API_TEST
        workstationId:
          type: string
          description: The unique workstation identifier of the new session.<br><br>The identifier of the workstation must be configured and unique within the same client.
        workstationSessionId:
          type: string
          description: The unique workstation agent session identifier of the new session.<br>It defines a concrete and already established session agent bound to the local workstation e.g. locally started service agent.<br>The workstation agent is used for accessing local peripheries (e.g. local printers).<p><b>The caller must ensure that the corresponding session has been established</b></p>
        language:
          type: string
          description: The two letter ISO code of the language of the new session.
          example: en
        displayFullWorkplace:
          type: boolean
          description: <code>true</code> to display the complete workspace (central, user and info panel). Use false or null to display only the single ac.
          example: true
        isACEmbedded:
          type: boolean
          description: <code>true</code> to display header and statusbar, false if ac should be embedded in another
          example: true
        displayStatusbar:
          type: boolean
          description: <code>true</code> to display statusbar, <code>false</code>
          example: true
        displayTitlebar:
          type: boolean
          description: <code>true</code> to display header, <code>false</code> if ac should not show header
          example: true
        stylevariant:
          type: string
          description: Deprecated.
          example: NEUTRAL
        acceptTechnology:
          type: string
          description: 'Specify which technology the clients wants to access the application; one token (or several, separated by semicolon) - the server may chose to ignore this possible tokens are specific for each server technology, XNSG-Servers currently honor strings from the GUIInvocationTechnology enum (e.g.: VAADIN) if <code>null</code> a default technology is chosen.'
          example: VAADIN
        productname:
          type: string
          description: Optional field, which may be set if productname differs from standard product name
        productShortName:
          type: string
          description: Optional field, which may be set if productShortName differs from standard product name
        preferredWidth:
          type: integer
          description: Optional field, which may be set if preferred width of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way
          format: int32
        preferredHeight:
          type: integer
          description: Optional field, which may be set if preferred height of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way
          format: int32
        openToTray:
          type: boolean
          description: 'Optional field, which may be set if application should be opened to tray (default: <code>false</code>) - currently not available for vaadin, will be ignored'
      description: A data transfer object to be the parameter of the method IFoundationBF.getNewApplicationFacade()
    ICDeclarationSearchParmsDTO:
      type: object
      properties:
        customsProcess:
          $ref: '#/components/schemas/ICCustomsProcessTypeDTO'
        declarationDate:
          $ref: '#/components/schemas/DateTimeIntervalRangeFilterDTO'
        filterName:
          type: string
          description: Name of the stored filter/view which belongs to the declaration search. Views can be edited and stored within the declaration service. Length=100
      description: Parameters for a declaration search.
    OpenConsignmentFolderArgumentDTO:
      type: object
      properties:
        afParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        folderParms:
          $ref: '#/components/schemas/ICConsignmentFolderParmsDTO'
      description: Arguments to open a consignment folder.
    DateTimeIntervalRangeFilterDTO:
      type: object
      properties:
        relativeInterval:
          $ref: '#/components/schemas/RelativeIntervalFilterDTO'
        absoluteInterval:
          $ref: '#/components/schemas/AbsoluteIntervalFilterDTO'
      description: 'Represents a possibility to pass a date time interval range filter. Use one of the given attributes to pass the filter. If more than one attribute is filledthe attributes will be used in the following order: relativeInterval, absoluteInterval'
    ICDeclarationAttachmentParmsDTO:
      type: object
      properties:
        customsProcess:
          $ref: '#/components/schemas/ICCustomsProcessTypeDTO'
        businessObjectId:
          type: string
          description: The unique business object id of the desired declaration.<p> length=50 </p>
        attachmentCode:
          type: string
          description: Code of the attachment.<p> length=250 </p>
        setPrinted:
          type: boolean
          description: When opening the attachment it is set automatically to printed.
      description: Identifies a declaration attachment to be opened.
    RelativeIntervalFilterDTO:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/IntervalFromNowFilterDTO'
        to:
          $ref: '#/components/schemas/IntervalFromNowFilterDTO'
      description: Initializes the filter with a relative time range.<p>If only one attribute is filled, the interval is relative to 'today'.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
