openapi: 3.2.0
info:
  title: Trade Compliance Management HTTP License Management API
  description: Thank you for using our HTTP API documentation.
  version: '4.0'
servers:
- url: https://rz3.aeb.de/test4ce/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: License Management
  description: API for License Management
paths:
  /LicenseManagement/getTransactionApprovalsCustomsData:
    post:
      tags:
      - License Management
      summary: Get the customs data of the approvals for one or more check transactions.
      description: Returns the customs data associated with the approvals for one or more check transactions.
      operationId: getTransactionApprovalsCustomsData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionApprovalsCustomsDataRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/TransactionApprovalsCustomsDataRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionApprovalsCustomsDataResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransactionApprovalsCustomsDataResponseDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
components:
  schemas:
    ApprovalCustomsDataDTO:
      type: object
      properties:
        customsProcessCountry:
          maxLength: 2
          type: string
          description: The country for which the approval may be used for customs declaration, e.g. <code>US</code>, <code>GB</code> or <code>DE</code>.<br>The special value <code>EU</code> is used for approvals which may be used for declaration in all EU countries, unless a more specific <code>ApprovalCustomsDataDTO</code> with a concrete country code (e.g. <code>DE</code>) and typically a more specific value for <code>customsLicenseTypeCode</code> is also returned in another <code>ApprovalCustomsDataDTO</code>.
          example: GB
        customsLicenseTypeCode:
          maxLength: 81
          type: string
          description: A code for the customs system for the license type.<br>For EU and GB, this is the concatenation of code/qualifier of a produced document for the license type.
        licenseNumber:
          maxLength: 100
          type: string
          description: The license number or the ID of a license exception (US) or a general license (EU), associated with the approval.
        licenseItemNumber:
          maxLength: 100
          type: string
          description: The license item number, if the approval was associated to a license with items.
        licenseValidFromDate:
          type: string
          description: Start of the validity of the license.
          format: yyyy-MM-dd
          example: '2016-09-21'
        licenseExpirationDate:
          type: string
          description: End of the validity of the license.
          format: yyyy-MM-dd
          example: '2016-09-21'
        valueBooked:
          type: number
          description: The value booked from the license, if the license supports value booking.<br>The number has up to 13 digits before the decimal point and exactly 2 digits after the decimal point.
        valueBookedCurrency:
          maxLength: 3
          type: string
          description: The currency of the value booked from the license.
        quantityBooked:
          type: number
          description: The quantity booked from the license, if the license supports quantity booking.<br>The number has up to 20 digits before the decimal point and exactly 7 digits after the decimal point.
        quantityBookedUnit:
          maxLength: 20
          type: string
          description: The unit of the quantity booked from the license.
        extensions:
          type: array
          description: Encodes country specific data.
          items:
            $ref: '#/components/schemas/ApprovalCustomsDataExtensionDTO'
      description: For every jurisdiction there may be zero or 1 approval for a transaction item.<br>For every approval, at least one <code>ApprovalCustomsDataDTO</code> is returned.<br>For approvals which may be declared to customs in more than one country (which especially may be true for countries in the EU), one <code>ApprovalCustomsDataDTO</code> per country may be returned.
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
    ErrorData:
      type: object
      properties:
        errorMessage:
          type: string
        errorCause:
          type: string
    TransactionApprovalsCustomsDataDTO:
      type: object
      properties:
        transactionIdHost:
          maxLength: 255
          type: string
          description: The transactionIdHost of the transaction.
        items:
          type: array
          description: The items of the transaction.
          items:
            $ref: '#/components/schemas/TransactionItemApprovalsCustomsDataDTO'
      description: Provides the customs data (based on approvals) of the transaction with the specified <code>transactionIdHost</code>.
    TransactionApprovalsCustomsDataRequestDTO:
      required:
      - transactionIdsHost
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transactionIdsHost:
          type: array
          description: 'The transaction ids for which the approvals customs data are requested.<br> The transaction id, along with the clientIdentCode, should uniquely identify the transaction, which was checked with <code>/ExportControl/v2/checkTransaction</code>.<br><br>A maximum of <code>10</code> transactions is currently allowed to be requested here.<br> <br> Maximum length of a transactionIdHost: <code>255</code>'
          items:
            type: string
            description: 'The transaction ids for which the approvals customs data are requested.<br> The transaction id, along with the clientIdentCode, should uniquely identify the transaction, which was checked with <code>/ExportControl/v2/checkTransaction</code>.<br><br>A maximum of <code>10</code> transactions is currently allowed to be requested here.<br> <br> Maximum length of a transactionIdHost: <code>255</code>'
      description: Request DTO for <code>/LicenseManagementBF/getTransactionApprovalsCustomsData</code>
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    ApprovalCustomsDataExtensionDTO:
      type: object
      properties:
        fieldName:
          maxLength: 255
          type: string
          description: 'The field name of the extension. The following names are allowed:<ul><li><code>producedDocumentReference</code>: Field "Referenz" for produced document for ATLAS (German customs)</li><li><code>producedDocumentAddition</code>: Field "Zusatz" for produced document for ATLAS (German customs)</li><li><code>quantityUnitLicenseAuthorityGermany</code>: Quantity unit used by BAFA (German license authority)</li><li><code>exportControlNumberEU_DE</code>: Export control number, either of EU or of German jurisdiction. (Export control numbers of other EU countries are not supported.)</li></ul>'
        fieldValue:
          maxLength: 1000
          type: string
          description: The value of the extension field.
      description: Country specific property (field and value) in a <code>ApprovalCustomsDataDTO</code>.
    TransactionApprovalsCustomsDataResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        transactions:
          type: array
          description: For each element of <code>TransactionApprovalsCustomsDataRequestDTO.transactionIdsHost</code>, one <code>TransactionApprovalsCustomsDataDTO</code> is returned, unless the number of requested transactions exceeds <code>10</code>.
          items:
            $ref: '#/components/schemas/TransactionApprovalsCustomsDataDTO'
      description: Response DTO for <code>/LicenseManagementBF/getTransactionApprovalsCustomsData</code>
    TransactionItemApprovalsCustomsDataDTO:
      type: object
      properties:
        itemIdHost:
          maxLength: 255
          type: string
          description: The itemIdHost of the item of the transaction.
        approvals:
          type: array
          description: Customs data of the approvals available for the item.
          items:
            $ref: '#/components/schemas/ApprovalCustomsDataDTO'
      description: Provides the customs data (based on approvals) of the item with the specified <code>itemIdHost</code>.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
