openapi: 3.2.0
info:
  title: Carrier Event Service HTTP Push API Rest Endpoint API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://xnsg.dc.aeb.com/demo1ces/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: PushAPIRestEndpoint
  description: PushApi for carrier events.
paths:
  /PushApi/v1/push:
    post:
      tags:
      - PushAPIRestEndpoint
      summary: Receives carrier event data.
      description: Receives carrier specific data in a generic request object. The endpoint deserializes the data and pushes it for further processing into the system.
      operationId: push
      requestBody:
        description: The carrier data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushApiRequestDTO'
            examples:
              A typical example for encoded CSV data:
                description: A typical example for encoded CSV data
                value:
                  content:
                    contentBase64: dHJhY2tpbmdOdW1iZXI7ZXZlbnRJZGVudENvZGU7ZGF0ZTt0aW1lO3RpbWV6b25lO2N1c3RvbWVyUmVmO3JlYXNvbg0KMDA5ODg0O0RFUDsyMDIyLTA4LTEyOzE0OjA4OjEyO0V1cm9wZS9CZXJsaW47QTMzOTMzOw==
          application/xml:
            schema:
              $ref: '#/components/schemas/PushApiRequestDTO'
            examples:
              A typical example for encoded CSV data:
                description: A typical example for encoded CSV data
                value:
                  content:
                    contentBase64: dHJhY2tpbmdOdW1iZXI7ZXZlbnRJZGVudENvZGU7ZGF0ZTt0aW1lO3RpbWV6b25lO2N1c3RvbWVyUmVmO3JlYXNvbg0KMDA5ODg0O0RFUDsyMDIyLTA4LTEyOzE0OjA4OjEyO0V1cm9wZS9CZXJsaW47QTMzOTMzOw==
      responses:
        '204':
          description: Success, no content
        '400':
          description: Client request error
          content:
            application/json:
              example:
                errorMessage: No request content available
            application/xml:
              example:
                errorMessage: No request content available
        '401':
          description: Client request error
          content:
            application/json:
              examples:
                Authentication error:
                  description: When not authentication data has been provided or the authentication data are invalid
                  value:
                    errorMessage: Authentication required
            application/xml:
              examples:
                Authentication error:
                  description: When not authentication data has been provided or the authentication data are invalid
                  value:
                    errorMessage: Authentication required
        '500':
          description: Server error
          content:
            application/json:
              example:
                errorMessage: Adapter is not active
                errorCause: javax.ws.rs.ServerErrorException
            application/xml:
              example:
                errorMessage: Adapter is not active
                errorCause: javax.ws.rs.ServerErrorException
      security:
      - BASIC_AUTH: []
components:
  schemas:
    PushApiRequestContentDTO:
      type: object
      properties:
        contentBase64:
          type: string
    PushApiRequestDTO:
      type: object
      properties:
        content:
          $ref: '#/components/schemas/PushApiRequestContentDTO'
      description: DTO for sending data to the push api
      xml:
        name: pushApiRequestDTO
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
