openapi: 3.2.0
info:
  title: Product Classification HTTP Material Configuration BF Bean API
  description: Thank you for using our HTTP API documentation.
  version: '4.0'
servers:
- url: https://rz3.aeb.de/test2cl/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: MaterialConfigurationBFBean
  description: API for requesting settings regarding materials.
paths:
  /MaterialConfigurationBFBean/classificationValueTypes/{typeName}/values/{value}/validate:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Check if the supplied value is valid for the given type.
      operationId: checkClassificationValueValid
      parameters:
      - name: typeName
        in: path
        description: The name of the type.
        required: true
        schema:
          maxLength: 40
          type: string
      - name: value
        in: path
        description: The value to be validated.
        required: true
        schema:
          maxLength: 800
          type: string
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      - name: decisiveDate
        in: query
        description: 'Check the validity of the given value on this date. Defaults to today, if empty. Format: yyyy-MM-dd.'
        schema:
          type: string
          format: date
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckCodeValueValidResultDTO'
  /MaterialConfigurationBFBean/classificationProfiles/{profileCode}:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Get a specific classification profile of the client.
      operationId: getClassificationProfile
      parameters:
      - name: profileCode
        in: path
        description: The code of the profile.
        required: true
        schema:
          maxLength: 40
          type: string
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassificationProfileResultDTO'
  /MaterialConfigurationBFBean/classificationProfiles:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Get classification profiles of the client.
      operationId: getClassificationProfiles
      parameters:
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      - name: ignoreInactive
        in: query
        description: If true, only active profiles are returned.
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassificationProfilesResultDTO'
  /MaterialConfigurationBFBean/classificationValueTypes/{typeName}:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Get a specific classification value type of the client.
      operationId: getClassificationValueType
      parameters:
      - name: typeName
        in: path
        description: The name of the type.
        required: true
        schema:
          maxLength: 40
          type: string
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassificationValueTypeResultDTO'
  /MaterialConfigurationBFBean/classificationValueTypes:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Get classification value types of the client.
      operationId: getClassificationValueTypes
      parameters:
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      - name: ignoreInactive
        in: query
        description: If true, only active classification value types are returned.
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassificationValueTypesResultDTO'
  /MaterialConfigurationBFBean/clientInfo:
    get:
      tags:
      - MaterialConfigurationBFBean
      summary: Get information about a specific client.
      operationId: getClientInfo_1
      parameters:
      - name: clientIdentCode
        in: query
        description: The code of the client. If empty, the client of the authentication is used.
        schema:
          maxLength: 10
          type: string
      - name: userName
        in: query
        description: Names the user from the client system. Used to identify the origin of the call.
        schema:
          maxLength: 254
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClientInfoResultDTO'
components:
  schemas:
    ClassificationCodeTypeDTO:
      type: object
      properties:
        name:
          maxLength: 40
          type: string
          description: The name of the type as defined in the engine.
        profileContext:
          $ref: '#/components/schemas/ProfileTypeContextDTO'
        isoCode:
          maxLength: 2
          minLength: 2
          type:
          - string
          - 'null'
          description: ISO-Code as defined in the engine.
        descriptions:
          type: array
          description: Descriptions of the classification code type in different languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        active:
          type: boolean
          description: Current activation status of the type. If true the type may be used by the engine. Values of inactive types are hidden until activated.
        valueType:
          maxLength: 255
          type: string
          description: Defines what kind of value is described by the type.
          enum:
          - TEXT
          - COUNTRY
          - COMMODITY_CODE
          - EXPORT_CONTROL
          - VALUELIST
          - GOODS_DESCRIPTION
        referenceIdentCode:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Identcode of a reference object, according to the value type. 'COMMODITY_CODE' and 'EXPORT_CONTROL' reference a catalog, 'VALUELIST' a valuelist.
      description: DTO holding information about a classification code type.
    GetClientInfoResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        useOnlyMaterialData:
          type: boolean
          description: Indicates if the client only uses material data from Product Classification.
      description: 'Response DTO for #getClientInfo'
    GetClassificationProfilesResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        profiles:
          type: array
          description: List of classification profiles, that match the request filter.
          items:
            $ref: '#/components/schemas/ClassificationProfileDTO'
      description: Response DTO for <code>IMaterialConfigurationBF#getClassificationProfiles</code>.
    GetClassificationValueTypesResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        types:
          type: array
          description: List of types, that match the request filter.
          items:
            $ref: '#/components/schemas/ClassificationCodeTypeDTO'
      description: Response DTO for <code>IMaterialConfigurationBF#getClassificationValueTypes</code>.
    CheckCodeValueValidResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        valid:
          type: boolean
          description: If true, the supplied code value is a valid value of the given type at the decisive date.
      description: Response DTO for <code>IMaterialConfigurationBF#checkClassificationValueValid</code>.
    GetClassificationProfileResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        profile:
          $ref: '#/components/schemas/ClassificationProfileDTO'
      description: Response DTO for <code>IMaterialConfigurationBF#getClassificationProfile</code>.
    ClassificationProfileDTO:
      type: object
      properties:
        active:
          type: boolean
          description: Current activation status of the profile. If true the type may be used by the engine.
        profileIdentCode:
          type: string
          description: Identcode as defined in the engine. Identcode and ISO-Code build a unique key per client.
        types:
          type: array
          description: All types of this profile. Inactive may be hidden according to request.
          items:
            $ref: '#/components/schemas/ClassificationCodeTypeDTO'
      description: DTO holding information about a classification profile.
    GetClassificationValueTypeResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        type:
          $ref: '#/components/schemas/ClassificationCodeTypeDTO'
      description: Response DTO for <code>IMaterialConfigurationBF#getClassificationValueType</code>.
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    ProfileTypeContextDTO:
      type:
      - object
      - 'null'
      properties:
        alias:
          maxLength: 40
          type:
          - string
          - 'null'
          description: Names the type uniquely within the context of the requested profile. Used to name diffenent types uniformly for each profile. E.g. COCO_EXPORT.
        relationship:
          maxLength: 255
          type: string
          description: Defines how the type is taken into account for classification status calculation.
          enum:
          - MANDATORY
          - OPTIONAL
      description: 'If a type is requested in the context of a profile (#getClassificationProfile or #getClassificationProfiles) this additional information about the type is returned.'
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
