{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Logistics Cost Management HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "2.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/demo1billing/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "BillingScenario",
    "description" : "REST API for billing scenarios"
  }, {
    "name" : "Service",
    "description" : "REST API for services"
  }, {
    "name" : "Settlement",
    "description" : "REST API for settlements"
  }, {
    "name" : "SettlementItem",
    "description" : "REST API for settlementitems"
  }, {
    "name" : "Billing",
    "description" : "API for the billing of services"
  }, {
    "name" : "Rates",
    "description" : "API for handling rates"
  }, {
    "name" : "Invoices",
    "description" : "API for handling external invoices"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  } ],
  "paths" : {
    "/billing-scenarios/{id}" : {
      "get" : {
        "tags" : [ "BillingScenario" ],
        "description" : "Returns the billing scenario with the requested ID",
        "operationId" : "getBillingScenario",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of the billing scenario.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingScenario"
                },
                "examples" : {
                  "Billing scenario entry" : {
                    "description" : "Billing scenario entry",
                    "value" : {
                      "identCode" : "001",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "001"
                      }, {
                        "language" : "EN",
                        "description" : "001"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested billing scenario does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Billing scenario not found" : {
                    "description" : "Billing scenario not found",
                    "value" : {
                      "errorMessage" : "Kein Billingszenario mit dem Kürzel '001' gefunden."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing-scenarios" : {
      "get" : {
        "tags" : [ "BillingScenario" ],
        "description" : "Returns all billing scenarios matching the given filter criteria. In case no scenario matches the given filter criteria, an empty collection is returned. If the filter field supports place holders ('*' or '%'), all scenarios beginning with the value of the filter are returned. I.e. a place holder at the end of the filter value is added automatically.",
        "operationId" : "searchScenarios",
        "parameters" : [ {
          "name" : "ident_code_like",
          "in" : "query",
          "description" : "Filters billing scenarios by ident code.<br>In the example, all scenarios which include '0' are returned.<br>This filter field is case insensitive.<br>Place holders are supported. The ident code is unique.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*0*"
        }, {
          "name" : "description_code_like",
          "in" : "query",
          "description" : "Filters billing scenarios by description.<br>In the example, all scenarios which include 'A' in the description are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
          "schema" : {
            "maxLength" : 250,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*A*"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingScenarioList"
                },
                "examples" : {
                  "Billing scenario list" : {
                    "description" : "Billing scenario list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "001",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "001"
                        }, {
                          "language" : "EN",
                          "description" : "001"
                        } ]
                      }, {
                        "identCode" : "002",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "002"
                        }, {
                          "language" : "EN",
                          "description" : "002"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing-scenarios/{id}/services/{service-id}" : {
      "get" : {
        "tags" : [ "Service" ],
        "description" : "Returns the service of the billing scenario with the requested ID",
        "operationId" : "getService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of the billing scenario.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "001"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "UPS_EXPR"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHL_EXPR_INT1030",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "DHL Express International 10:30 Uhr (USA)"
                      }, {
                        "language" : "EN",
                        "description" : "DHL Express International 10:30 (USA)"
                      } ],
                      "attribute" : "DHL",
                      "quantityUnitType" : "QUANTITY"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested carrier setup does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Service not found" : {
                    "description" : "Service not found",
                    "value" : {
                      "errorMessage" : "Kein Leistungstyp mit dem Kürzel 'UPS_EXPR' für das Billingszenario '001' gefunden."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Service" ],
        "description" : "Create or update a service in a billing scenario with the requested ID. If the service with the given ID does not exist, a new service is created. If the service exists, the existing service is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing service. It is therefore recommended to use GET/billing-scenarios/{id}/services to check whether a service with an ID already exists BEFORE you use PUT/billing-scenarios/{id}/services/{service-id}",
        "operationId" : "createOrUpdateService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of the billing scenario.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "001"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "UPS_EXPR"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              },
              "examples" : {
                "Service request" : {
                  "description" : "Service request",
                  "value" : {
                    "identCode" : "DHL_EXPR_INT1030",
                    "translations" : [ {
                      "language" : "DE",
                      "description" : "DHL Express International 10:30 Uhr (USA)"
                    }, {
                      "language" : "EN",
                      "description" : "DHL Express International 10:30 (USA)"
                    } ],
                    "attribute" : "DHL",
                    "quantityUnitType" : "QUANTITY"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHL_EXPR_INT1030",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "DHL Express International 10:30 Uhr (USA)"
                      }, {
                        "language" : "EN",
                        "description" : "DHL Express International 10:30 (USA)"
                      } ],
                      "attribute" : "DHL",
                      "quantityUnitType" : "QUANTITY"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Locking error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested billing scenario does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Service not found" : {
                    "description" : "Service not found",
                    "value" : {
                      "errorMessage" : "Kein Leistungstyp mit dem Kürzel 'UPS_EXPR' für das Billingszenario '001' gefunden."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service" ],
        "description" : "Deletes a service in a billing scenario with the requested ID.",
        "operationId" : "deleteService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of the billing scenario.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "001"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "UPS_EXPR"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHL_EXPR_INT1030",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "DHL Express International 10:30 Uhr (USA)"
                      }, {
                        "language" : "EN",
                        "description" : "DHL Express International 10:30 (USA)"
                      } ],
                      "attribute" : "DHL",
                      "quantityUnitType" : "QUANTITY"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Locking error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested billing scenario does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Billing scenario not found" : {
                    "description" : "Billing scenario not found",
                    "value" : {
                      "errorMessage" : "Kein Billingszenario mit dem Kürzel '001' gefunden."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing-scenarios/{id}/services" : {
      "get" : {
        "tags" : [ "Service" ],
        "description" : "Returns all services of a billing scenario matching the given filter criteria. In case no service matches the given filter criteria, an empty collection is returned. If the filter field supports place holders ('*' or '%'), all scenarios beginning with the value of the filter are returned. I.e. a place holder at the end of the filter value is added automatically.",
        "operationId" : "searchServices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of the billing scenario.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "001"
        }, {
          "name" : "ident_code_like",
          "in" : "query",
          "description" : "Filter services by ident code.<br>In the example, all services which include 'UPS' are returned.<br>This filter field is case insensitive.<br>Place holders are supported. The ident code is unique for one billing scenario.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*UPS*"
        }, {
          "name" : "description_like",
          "in" : "query",
          "description" : "Filter services by description.<br>In the example, all services which include 'UPS' in the description are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
          "schema" : {
            "maxLength" : 250,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*UPS*"
        }, {
          "name" : "attribute_like",
          "in" : "query",
          "description" : "Filter services by attribute.<br>In the example, all services which include 'A' in the attribute are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
          "schema" : {
            "maxLength" : 75,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*A*"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          },
          "example" : 200
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServicePage"
                },
                "examples" : {
                  "Service list" : {
                    "description" : "Service list",
                    "value" : {
                      "totalElements" : 2,
                      "content" : [ {
                        "identCode" : "DHL_EXPR_INT1030",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "DHL Express International 10:30 Uhr (USA)"
                        }, {
                          "language" : "EN",
                          "description" : "DHL Express International 10:30 (USA)"
                        } ],
                        "attribute" : "DHL",
                        "quantityUnitType" : "QUANTITY"
                      }, {
                        "identCode" : "DHL_EXPR_WORLD",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "DHL Express Worldwide"
                        }, {
                          "language" : "EN",
                          "description" : "DHL Express Worldwide"
                        } ],
                        "attribute" : "DHL",
                        "quantityUnitType" : "QUANTITY"
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}" : {
      "get" : {
        "tags" : [ "Settlement" ],
        "summary" : "get settlement",
        "description" : "Returns the settlement with the requested ID",
        "operationId" : "getSettlement",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Settlementnumber of the requested Settlement.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "000001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BSettlementRestDTO"
                },
                "examples" : {
                  "Settlement entry" : {
                    "description" : "Settlement entry",
                    "value" : {
                      "settlementNumber" : "SETTL-2025-000123",
                      "createdAt" : "2025-10-01T08:15:30Z",
                      "lastDispoDate" : "2025-10-02T09:20:00Z",
                      "lastDispoUserLoginName" : "jane.doe",
                      "settlementType" : {
                        "identCode" : "STANDARD",
                        "scenIdentCode" : "SCEN_MAIN"
                      },
                      "referenceNumber" : "EXT-REF-456",
                      "additionalReferenceNumber1" : "CUST-ADD-01",
                      "numberOfCancelledSettlement" : "0",
                      "settlementDate" : "2025-10-01",
                      "chargeDateMin" : "2025-09-01",
                      "chargeDateMax" : "2025-09-30",
                      "valueDate" : "2025-10-03",
                      "provider" : {
                        "companyNo" : "PROV001"
                      },
                      "orderer" : {
                        "companyNo" : "ORD001"
                      },
                      "payer" : {
                        "companyNo" : "PAY001"
                      },
                      "isDataReady" : true,
                      "isCompiled" : false,
                      "isCumulated" : false,
                      "isReleased" : false,
                      "isCompleted" : false,
                      "isAutoConfirmStatusSuppressed" : false,
                      "boStatus" : {
                        "statusID" : 200,
                        "dirty" : false,
                        "identCode" : "READY",
                        "error" : false
                      },
                      "isCancelled" : false,
                      "cancellationType" : null,
                      "isAnnulation" : false,
                      "settlementItemRevisionNumber" : 1,
                      "note" : "Quarterly settlement for September.",
                      "processingIdentCode" : "PROC_MAIN",
                      "totalSettlNetPrice" : {
                        "value" : 1000.0,
                        "currency" : "EUR"
                      },
                      "totalSettlGrsPrice" : {
                        "value" : 1190.0,
                        "currency" : "EUR"
                      },
                      "totalSettlClNetPrice" : {
                        "value" : 1065.0,
                        "currency" : "USD"
                      },
                      "totalSettlClGrsPrice" : {
                        "value" : 1267.35,
                        "currency" : "USD"
                      },
                      "totalSettlVatPrice" : {
                        "value" : 190.0,
                        "currency" : "EUR"
                      },
                      "totalSettlClVatPrice" : {
                        "value" : 202.35,
                        "currency" : "USD"
                      },
                      "rateDateClPrice" : "2025-09-30",
                      "usdSpltFlds" : {
                        "usePayer" : true,
                        "useProvider" : true,
                        "useSettlCurrency" : true,
                        "useSettlType" : true,
                        "useBillingScenario" : true,
                        "useOrderer" : false,
                        "usePeriod" : true,
                        "useService" : true,
                        "useOrderNumber" : false,
                        "useClientOrga" : false
                      },
                      "period" : {
                        "start" : "2025-09-01",
                        "end" : "2025-09-30",
                        "type" : "MONTH"
                      },
                      "service" : {
                        "identCode" : "SRV_TRANSPORT",
                        "description" : "International Transport"
                      },
                      "billingScenario" : {
                        "identCode" : "BILL_SCEN_STD"
                      },
                      "contractNumber" : "CON-778899",
                      "orderNumber" : "ORD-556677",
                      "clientOrgaId" : "CL001",
                      "paymentTerm" : {
                        "identCode" : "NET30",
                        "description" : "Net 30 Days"
                      },
                      "paymentMethod" : {
                        "identCode" : "BANK_TRANSFER",
                        "description" : "Bank Transfer"
                      },
                      "isPartiallyDeleted" : false,
                      "archiveInfo" : {
                        "archiveState" : "NEW",
                        "archivedAt" : "2025-10-01T08:15:30Z",
                        "archiveId" : "ARCH-00001",
                        "transactionId" : "TX-123456789",
                        "onRetrySince" : "2025-10-01T08:15:30Z"
                      },
                      "storageAdapterId" : "S3-STORAGE-01"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested settlement does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Settlement not found" : {
                    "description" : "Settlement not found",
                    "value" : {
                      "error" : "No settlement with the ID '0001' found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settlements" : {
      "get" : {
        "tags" : [ "Settlement" ],
        "summary" : "Search settlements",
        "description" : "Returns all settlements matching the given filter criteria. In case no settlement matches, an empty collection is returned. Supports wildcards in filter fields.",
        "operationId" : "searchSettlements",
        "parameters" : [ {
          "name" : "settlement_number_like",
          "in" : "query",
          "description" : "Filter settlements by Settlementnumber. Place holders are supported.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "000001"
        }, {
          "name" : "settlement_type_like",
          "in" : "query",
          "description" : "Filter settlements by Settlementtype. Place holders are supported.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "Storno"
        }, {
          "name" : "billing_scenario_like",
          "in" : "query",
          "description" : "Filter settlements by Billingscenario. Place holders are supported.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "CAI"
        }, {
          "name" : "provider_like",
          "in" : "query",
          "description" : "Filter settlements by Provider companyNo. Place holders are supported.",
          "schema" : {
            "maxLength" : 50,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "UPS"
        }, {
          "name" : "status_list",
          "in" : "query",
          "description" : "Filter settlements by status code. Possible Status Codes are: READY, COMPILED, RELEASED, COMPLETE, CANCELLED Place holders are supported.",
          "schema" : {
            "maxItems" : 50,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : [ "READY", "COMPILED" ]
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          },
          "example" : 200
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettlementPage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Status.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Invalid Status" : {
                    "description" : "Invalid Status",
                    "value" : {
                      "error" : "Invalid status 'Status'."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/settlement-items" : {
      "get" : {
        "tags" : [ "SettlementItem" ],
        "summary" : "Search settlements",
        "description" : "Returns all settlement items matching the given filter criteria. In case no settlement items matches, an empty collection is returned. Supports wildcards in filter fields.",
        "operationId" : "searchSettlementItem",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Settlementnumber of the requested Settlement.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "000001"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          },
          "example" : 200
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SettlementItem"
                },
                "examples" : {
                  "Settlement entry" : {
                    "description" : "Settlement entry",
                    "value" : {
                      "orderNumber" : "ORD-556677",
                      "serviceItemId" : "SRVITEM-00042",
                      "numberInServiceItem" : 1,
                      "referenceNumber" : "REF-456",
                      "serviceItemDescription" : "International freight – sea FCL",
                      "orderDate" : "2025-09-10",
                      "referenceDate" : "2025-09-15",
                      "chargeDate" : "2025-09-20",
                      "serviceDate" : "2025-09-21",
                      "createdAt" : "2025-09-21T14:22:05Z",
                      "isCancelled" : false,
                      "boStatus" : {
                        "statusID" : 210,
                        "dirty" : false,
                        "identCode" : "ITEM_READY",
                        "error" : false
                      },
                      "clientSystemId" : "CLIENT_SYS_A",
                      "clientOrgaId" : "CL001",
                      "costCenter" : "COST-CC-01",
                      "provider" : {
                        "companyNo" : "PROV001"
                      },
                      "orderer" : {
                        "companyNo" : "ORD001"
                      },
                      "payer" : {
                        "companyNo" : "PAY001"
                      },
                      "beneficiary" : {
                        "companyNo" : "BEN001"
                      },
                      "billingScenario" : {
                        "identCode" : "BILL_SCEN_STD"
                      },
                      "serviceId" : "SRV_TRANSPORT",
                      "quantity" : {
                        "value" : 10.0,
                        "unit" : "PALLET",
                        "factor" : "1"
                      },
                      "pricingDate" : "2025-09-18",
                      "calcRef" : {
                        "contractNumber" : "CON-778899",
                        "apsContractNumber" : "APS-1122",
                        "apsNumber" : 3,
                        "apsSchemaNumber" : "APS-SCHEMA-01",
                        "apsComponentNumber" : 5,
                        "calcSchemaNumber" : "CALC-SCHEMA-ROOT",
                        "calcComponentNumber" : 12,
                        "calcComponentAttribute" : "BASE",
                        "calcCompDescription" : "Base tariff component",
                        "calcTid" : "GENERIC",
                        "calcGenericIdentCode" : "GEN_TARIFF"
                      },
                      "translations" : [ {
                        "description" : "International freight – sea FCL"
                      }, {
                        "description" : "Internationale Seefracht – FCL"
                      } ],
                      "chargeableQty" : {
                        "value" : 10.0,
                        "unit" : "PALLET",
                        "factor" : "1"
                      },
                      "groupingIdentCode1" : "GRP_ORIGIN",
                      "groupingIdentCode2" : "GRP_DESTINATION",
                      "priceType" : "STANDARD",
                      "settlementType" : {
                        "identCode" : "STANDARD",
                        "scenIdentCode" : "SCEN_MAIN"
                      },
                      "period" : {
                        "start" : "2025-09-01",
                        "end" : "2025-09-30",
                        "type" : "MONTH"
                      },
                      "price" : {
                        "value" : 100.0,
                        "currency" : "EUR"
                      },
                      "settlementPrice" : {
                        "value" : 100.0,
                        "currency" : "EUR"
                      },
                      "settlVatPrice" : {
                        "value" : 19.0,
                        "currency" : "EUR"
                      },
                      "settlGrsPrice" : {
                        "value" : 119.0,
                        "currency" : "EUR"
                      },
                      "settlementPriceRate" : {
                        "quantNot" : 1.0,
                        "valueNot" : 1.067,
                        "isoCurrTo" : "USD",
                        "tableCode" : "ECB",
                        "rateDate" : "2025-09-30",
                        "validFrom" : "2025-09-29"
                      },
                      "clientPrice" : {
                        "value" : 106.7,
                        "currency" : "USD"
                      },
                      "kindOfCreation" : {
                        "code" : "AUTO"
                      },
                      "creationReason" : "Automatically generated from contract.",
                      "reason" : "BASE",
                      "vatInfo" : {
                        "scenarioIdentCode" : "VAT_SCEN_STD",
                        "typeIdentCode" : "VAT_STD",
                        "ratePercent" : 19.0,
                        "vatDate" : "2025-09-30"
                      },
                      "vatSplitCode" : "VAT_SPLIT_A",
                      "comparisonCode" : {
                        "code1" : "CMP1",
                        "code2" : "CMP2"
                      },
                      "archiveInfo" : {
                        "archiveState" : "NEW",
                        "archivedAt" : "2025-09-21T14:22:05Z",
                        "archiveId" : "ARCH-ITEM-0001",
                        "transactionId" : "TX-ITEM-123456",
                        "onRetrySince" : "2025-09-21T14:22:05Z"
                      },
                      "parentItemId" : null,
                      "rootItemId" : "ROOT-ITEM-0001",
                      "childItemIds" : [ "ROOT-ITEM-0001-CH1", "ROOT-ITEM-0001-CH2" ],
                      "settlementId" : "SETTL-2025-000123",
                      "storageAdapterId" : "S3-STORAGE-01"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested settlement does not exist.",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Settlement not found" : {
                    "description" : "Settlement not found",
                    "value" : {
                      "error" : "No settlement with the ID '0001' found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingBFBean/acknowledgeChangedSettlements" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "acknowledgeChangedSettlements",
        "description" : "Acknowledge that changed settlements were processed and should no longer be returned by getChangedSettlements.",
        "operationId" : "acknowledgeChangedSettlements",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/cancelServiceItems" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "cancelServiceItems",
        "description" : "Cancel the service items in the Billing engine.<br> Cancel a service item will try to logically remove the service item with all of its settelement items, if this is possible.<br> In some cases the cancellation of service items is not (or no longer) possible and will lead to errors.<br> E.g. the service item can not be found, or some of the settlement items of the service item can not or no longer be logically removed.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and message arrays in the response for any error to detect this case.<br>",
        "operationId" : "cancelServiceItems",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/createServiceItems" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "createServiceItems",
        "description" : "Creates one or more service items. For each BServiceItemDTO included in the BCreateServiceItemsRequestDTO one service item is created. Starts pricing if boolean calculatePriceImmediately in BCreateServiceItemParmsDTO is true and returns the calculated prices. Use this method if you want to invoice and or audit the service items.",
        "operationId" : "createServiceItems",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BCreateServiceItemsRequestDTO"
              },
              "examples" : {
                "Complete data" : {
                  "description" : "Complete data",
                  "value" : {
                    "clientSystemId" : "APITEST",
                    "clientIdentCode" : "APITEST",
                    "userName" : "user",
                    "resultLanguageIsoCodes" : [ "de", "en" ],
                    "parms" : {
                      "calculatePriceImmediately" : false,
                      "createSettlementsImmediately" : false,
                      "returnTraceInfo" : true,
                      "rollbackOnErrorMessage" : true
                    },
                    "items" : [ {
                      "itemId" : "25-11-2022",
                      "scenarioIdentCode" : "A01",
                      "serviceIdentCode" : "TNTDE_EXP12",
                      "referenceNumber" : "25-11-2022",
                      "orderNumber" : "25-11-2022",
                      "serviceProvider" : {
                        "companyNumber" : "TNT",
                        "name" : "TNT Express Worldwide",
                        "street" : "Heilbronner Staße 110",
                        "postcode" : "70334",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "orderer" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "payer" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "beneficiary" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "referenceDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "pricingDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "chargeDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "serviceDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "orderDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "quantity" : {
                        "value" : "1",
                        "unit" : "St"
                      },
                      "description" : "Shipment",
                      "extendedData" : {
                        "fields" : [ {
                          "name" : "carrierDefinitionIdentCode",
                          "type" : "string",
                          "value" : "TNT"
                        }, {
                          "name" : "numberOfInvoices",
                          "type" : "decimal",
                          "value" : "1"
                        }, {
                          "name" : "isDangerousGoods",
                          "type" : "boolean",
                          "value" : "false"
                        }, {
                          "name" : "referenceNumber",
                          "type" : "string",
                          "value" : "referenceNumber"
                        }, {
                          "name" : "incotermIdentCode",
                          "type" : "string",
                          "value" : "incoterm"
                        }, {
                          "name" : "numberOfItems",
                          "type" : "decimal",
                          "value" : "2"
                        }, {
                          "name" : "palletPlaces",
                          "type" : "decimal",
                          "value" : "1.000"
                        }, {
                          "name" : "numberOfPackages",
                          "type" : "decimal",
                          "value" : "2"
                        }, {
                          "name" : "isDocumentShipment",
                          "type" : "boolean",
                          "value" : "false"
                        }, {
                          "name" : "numberOfDeliveryNotes",
                          "type" : "decimal",
                          "value" : "1"
                        } ],
                        "subrecords" : [ {
                          "name" : "volume",
                          "record" : {
                            "fields" : [ {
                              "name" : "unit",
                              "type" : "string",
                              "value" : "ccm"
                            }, {
                              "name" : "value",
                              "type" : "decimal",
                              "value" : "4500.000"
                            } ]
                          }
                        }, {
                          "name" : "grossWeight",
                          "record" : {
                            "fields" : [ {
                              "name" : "unit",
                              "type" : "string",
                              "value" : "kg"
                            }, {
                              "name" : "value",
                              "type" : "decimal",
                              "value" : "1.900"
                            } ]
                          }
                        }, {
                          "name" : "transportStart",
                          "record" : {
                            "subrecords" : [ {
                              "name" : "postalAddress",
                              "record" : {
                                "fields" : [ {
                                  "name" : "countryIsoCode",
                                  "type" : "string",
                                  "value" : "DE"
                                }, {
                                  "name" : "postcode",
                                  "type" : "string",
                                  "value" : "70597"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "transportEnd",
                          "record" : {
                            "subrecords" : [ {
                              "name" : "postalAddress",
                              "record" : {
                                "fields" : [ {
                                  "name" : "countryIsoCode",
                                  "type" : "string",
                                  "value" : "DE"
                                }, {
                                  "name" : "postcode",
                                  "type" : "string",
                                  "value" : "94405"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "packages",
                          "record" : {
                            "fields" : [ {
                              "name" : "dangerousGoodsHandlingCode",
                              "type" : "string",
                              "value" : "NONE"
                            }, {
                              "name" : "packageReferenceNumber",
                              "type" : "string",
                              "value" : "package1"
                            }, {
                              "name" : "numberOfPackages",
                              "type" : "decimal",
                              "value" : "1"
                            } ],
                            "subrecords" : [ {
                              "name" : "volume",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "ccm"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "1500.000"
                                } ]
                              }
                            }, {
                              "name" : "grossWeight",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "kg"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "0.600"
                                } ]
                              }
                            }, {
                              "name" : "dimensions",
                              "record" : {
                                "fields" : [ {
                                  "name" : "length",
                                  "type" : "decimal",
                                  "value" : "30.000"
                                }, {
                                  "name" : "width",
                                  "type" : "decimal",
                                  "value" : "10.000"
                                }, {
                                  "name" : "quantityUnit",
                                  "type" : "string",
                                  "value" : "cm"
                                }, {
                                  "name" : "height",
                                  "type" : "decimal",
                                  "value" : "5.000"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "packages",
                          "record" : {
                            "fields" : [ {
                              "name" : "dangerousGoodsHandlingCode",
                              "type" : "string",
                              "value" : "NONE"
                            }, {
                              "name" : "packageTypeIdentCode",
                              "type" : "string",
                              "value" : "packageType"
                            }, {
                              "name" : "packageReferenceNumber",
                              "type" : "string",
                              "value" : "package2"
                            }, {
                              "name" : "numberOfPackages",
                              "type" : "decimal",
                              "value" : "1"
                            } ],
                            "subrecords" : [ {
                              "name" : "volume",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "ccm"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "3000.000"
                                } ]
                              }
                            }, {
                              "name" : "grossWeight",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "kg"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "1.300"
                                } ]
                              }
                            }, {
                              "name" : "dimensions",
                              "record" : {
                                "fields" : [ {
                                  "name" : "length",
                                  "type" : "decimal",
                                  "value" : "30.000"
                                }, {
                                  "name" : "width",
                                  "type" : "decimal",
                                  "value" : "20.000"
                                }, {
                                  "name" : "quantityUnit",
                                  "type" : "string",
                                  "value" : "cm"
                                }, {
                                  "name" : "height",
                                  "type" : "decimal",
                                  "value" : "5.000"
                                } ]
                              }
                            } ]
                          }
                        } ]
                      }
                    } ]
                  }
                }
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BCreateServiceItemsRequestDTO"
              },
              "examples" : {
                "Complete data" : {
                  "description" : "Complete data",
                  "value" : {
                    "clientSystemId" : "APITEST",
                    "clientIdentCode" : "APITEST",
                    "userName" : "user",
                    "resultLanguageIsoCodes" : [ "de", "en" ],
                    "parms" : {
                      "calculatePriceImmediately" : false,
                      "createSettlementsImmediately" : false,
                      "returnTraceInfo" : true,
                      "rollbackOnErrorMessage" : true
                    },
                    "items" : [ {
                      "itemId" : "25-11-2022",
                      "scenarioIdentCode" : "A01",
                      "serviceIdentCode" : "TNTDE_EXP12",
                      "referenceNumber" : "25-11-2022",
                      "orderNumber" : "25-11-2022",
                      "serviceProvider" : {
                        "companyNumber" : "TNT",
                        "name" : "TNT Express Worldwide",
                        "street" : "Heilbronner Staße 110",
                        "postcode" : "70334",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "orderer" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "payer" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "beneficiary" : {
                        "companyNumber" : "001",
                        "name" : "AEB SE",
                        "street" : "Sigmaringer Straße 109",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "countryISOCode" : "DE"
                      },
                      "referenceDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "pricingDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "chargeDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "serviceDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "orderDate" : {
                        "dateInTimezone" : "2022-11-25 12:00:00",
                        "timezone" : "Europe/Berlin"
                      },
                      "quantity" : {
                        "value" : "1",
                        "unit" : "St"
                      },
                      "description" : "Shipment",
                      "extendedData" : {
                        "fields" : [ {
                          "name" : "carrierDefinitionIdentCode",
                          "type" : "string",
                          "value" : "TNT"
                        }, {
                          "name" : "numberOfInvoices",
                          "type" : "decimal",
                          "value" : "1"
                        }, {
                          "name" : "isDangerousGoods",
                          "type" : "boolean",
                          "value" : "false"
                        }, {
                          "name" : "referenceNumber",
                          "type" : "string",
                          "value" : "referenceNumber"
                        }, {
                          "name" : "incotermIdentCode",
                          "type" : "string",
                          "value" : "incoterm"
                        }, {
                          "name" : "numberOfItems",
                          "type" : "decimal",
                          "value" : "2"
                        }, {
                          "name" : "palletPlaces",
                          "type" : "decimal",
                          "value" : "1.000"
                        }, {
                          "name" : "numberOfPackages",
                          "type" : "decimal",
                          "value" : "2"
                        }, {
                          "name" : "isDocumentShipment",
                          "type" : "boolean",
                          "value" : "false"
                        }, {
                          "name" : "numberOfDeliveryNotes",
                          "type" : "decimal",
                          "value" : "1"
                        } ],
                        "subrecords" : [ {
                          "name" : "volume",
                          "record" : {
                            "fields" : [ {
                              "name" : "unit",
                              "type" : "string",
                              "value" : "ccm"
                            }, {
                              "name" : "value",
                              "type" : "decimal",
                              "value" : "4500.000"
                            } ]
                          }
                        }, {
                          "name" : "grossWeight",
                          "record" : {
                            "fields" : [ {
                              "name" : "unit",
                              "type" : "string",
                              "value" : "kg"
                            }, {
                              "name" : "value",
                              "type" : "decimal",
                              "value" : "1.900"
                            } ]
                          }
                        }, {
                          "name" : "transportStart",
                          "record" : {
                            "subrecords" : [ {
                              "name" : "postalAddress",
                              "record" : {
                                "fields" : [ {
                                  "name" : "countryIsoCode",
                                  "type" : "string",
                                  "value" : "DE"
                                }, {
                                  "name" : "postcode",
                                  "type" : "string",
                                  "value" : "70597"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "transportEnd",
                          "record" : {
                            "subrecords" : [ {
                              "name" : "postalAddress",
                              "record" : {
                                "fields" : [ {
                                  "name" : "countryIsoCode",
                                  "type" : "string",
                                  "value" : "DE"
                                }, {
                                  "name" : "postcode",
                                  "type" : "string",
                                  "value" : "94405"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "packages",
                          "record" : {
                            "fields" : [ {
                              "name" : "dangerousGoodsHandlingCode",
                              "type" : "string",
                              "value" : "NONE"
                            }, {
                              "name" : "packageReferenceNumber",
                              "type" : "string",
                              "value" : "package1"
                            }, {
                              "name" : "numberOfPackages",
                              "type" : "decimal",
                              "value" : "1"
                            } ],
                            "subrecords" : [ {
                              "name" : "volume",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "ccm"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "1500.000"
                                } ]
                              }
                            }, {
                              "name" : "grossWeight",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "kg"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "0.600"
                                } ]
                              }
                            }, {
                              "name" : "dimensions",
                              "record" : {
                                "fields" : [ {
                                  "name" : "length",
                                  "type" : "decimal",
                                  "value" : "30.000"
                                }, {
                                  "name" : "width",
                                  "type" : "decimal",
                                  "value" : "10.000"
                                }, {
                                  "name" : "quantityUnit",
                                  "type" : "string",
                                  "value" : "cm"
                                }, {
                                  "name" : "height",
                                  "type" : "decimal",
                                  "value" : "5.000"
                                } ]
                              }
                            } ]
                          }
                        }, {
                          "name" : "packages",
                          "record" : {
                            "fields" : [ {
                              "name" : "dangerousGoodsHandlingCode",
                              "type" : "string",
                              "value" : "NONE"
                            }, {
                              "name" : "packageTypeIdentCode",
                              "type" : "string",
                              "value" : "packageType"
                            }, {
                              "name" : "packageReferenceNumber",
                              "type" : "string",
                              "value" : "package2"
                            }, {
                              "name" : "numberOfPackages",
                              "type" : "decimal",
                              "value" : "1"
                            } ],
                            "subrecords" : [ {
                              "name" : "volume",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "ccm"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "3000.000"
                                } ]
                              }
                            }, {
                              "name" : "grossWeight",
                              "record" : {
                                "fields" : [ {
                                  "name" : "unit",
                                  "type" : "string",
                                  "value" : "kg"
                                }, {
                                  "name" : "value",
                                  "type" : "decimal",
                                  "value" : "1.300"
                                } ]
                              }
                            }, {
                              "name" : "dimensions",
                              "record" : {
                                "fields" : [ {
                                  "name" : "length",
                                  "type" : "decimal",
                                  "value" : "30.000"
                                }, {
                                  "name" : "width",
                                  "type" : "decimal",
                                  "value" : "20.000"
                                }, {
                                  "name" : "quantityUnit",
                                  "type" : "string",
                                  "value" : "cm"
                                }, {
                                  "name" : "height",
                                  "type" : "decimal",
                                  "value" : "5.000"
                                } ]
                              }
                            } ]
                          }
                        } ]
                      }
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/getBillingScenarios" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "getBillingScenarios",
        "description" : "Returns all billing scenarios for the given client",
        "operationId" : "getBillingScenarios",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetBillingScenariosRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetBillingScenariosRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetBillingScenariosResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetBillingScenariosResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/getBillingServices" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "getBillingServices",
        "description" : "Returns all billing services for the given client and billing scenario as optional parameter.",
        "operationId" : "getBillingServices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetBillingServicesRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetBillingServicesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetBillingServicesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetBillingServicesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/getChangedSettlements" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "getChangedSettlements",
        "description" : "<p>Returns all changed settlements.</p> <p> This method should be used together with acknowledgeChangedSettlements. </p> See also BGetChangedSettlementsResponseDTO#syncId",
        "operationId" : "getChangedSettlements",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetChangedSettlementsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetChangedSettlementsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetChangedSettlementsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetChangedSettlementsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/getServiceItems" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "getServiceItems",
        "description" : "Returns all service items for the given client.",
        "operationId" : "getServiceItems",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetServiceItemsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetServiceItemsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/offsetServiceItems" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "offsetServiceItems",
        "description" : "Offset the service items in the Billing engine.<br> Offsetting a service item will offset all relevant settlement items of this service item, by creating exact copies of the relevant settlement items with reversed sign.<br> Depending on customizing, some settlement items will not take part in offsetting the service item and some settlement items will prevent any offsetting at all, which leads to an error.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and error message arrays in the response for any error to detect this case.<br>",
        "operationId" : "offsetServiceItems",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/setServiceMasterFileData" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "setServiceMasterFileData",
        "description" : "Create or update multiple Services in the Billing engine.<br> Create or update multiple services in the master file data of the engine. Because of performance and transactional issues it is recommended to transfer about 100 services within one synchronous call. All transfered services will be either created or updated. The identCode and scenarioIdentCode (these are key values) of the service will be checked before processing. In case of any unfilled key value, nothing will be done. In case of other problems for a single service e.g locking or invalid identCode values the processing is usually continued with the next service, skipping, the problematic service. This means the record will be skipped completely and processing will continue with the next service. Anyway such errors will set the hasErrors or hasWarnings to true. To analyse situations check the response for details. Possible messageIdentCodes are documented in AbstractResponseDTO, BSetServiceMasterFileDataResponseDTO, BServiceMFResultDTO, AbstractResponseItemDTO and BServiceMFResultDTO",
        "operationId" : "setServiceMasterFileData",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSetServiceMasterFileDataRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSetServiceMasterFileDataRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BSetServiceMasterFileDataResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BSetServiceMasterFileDataResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BillingBFBean/simulateCreateServiceItems" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "simulateCreateServiceItems",
        "description" : "This method does the same as createServiceItems, but does not store the results in the database.<br> So this method can e.g. be used to precalculate prices for potential service items or just for testing purposes.",
        "operationId" : "simulateCreateServiceItems",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BCreateServiceItemsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BCreateServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/RateBFBean/updateRateSheetEntries" : {
      "post" : {
        "tags" : [ "Rates" ],
        "summary" : "updateRateSheetEntries",
        "description" : "Updates entries of a rate sheet. If any errors occur no entry will be changed.",
        "operationId" : "updateRateSheetEntries",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BUpdateRateSheetEntriesRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BUpdateRateSheetEntriesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BUpdateRateSheetEntriesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BUpdateRateSheetEntriesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExternalInvoice/acknowledgeChangedExternalInvoices" : {
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "acknowledgeChangedExternalInvoices",
        "description" : "Acknowledge that changed external invoices were processed and should no longer be returned by getChangedExternalInvoices.",
        "operationId" : "acknowledgeChangedExternalInvoices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BAcknowledgeChangedExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BAcknowledgeChangedExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExternalInvoice/createExternalInvoices" : {
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "createExternalInvoices",
        "description" : "Creates one external invoice for every BExternalInvoiceDTO included in the BCreateExternalInvoicesRequestDTO.",
        "operationId" : "createExternalInvoices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BCreateExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BCreateExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExternalInvoice/getChangedExternalInvoices" : {
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "getChangedExternalInvoices",
        "description" : "<p>Returns all changed external invoices.</p> <p> This method should be used together with acknowledgeChangedExternalInvoices. </p> See also BGetChangedExternalInvoicesResponseDTO#syncId",
        "operationId" : "getChangedExternalInvoices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BGetChangedExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BGetChangedExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "description" : "Returns the company with the requested ID (company number). In some cases the ID (company number) is <b>not unique</b>. In this case an error is returned.",
        "operationId" : "getCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID (company number).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 12345
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "examples" : {
                  "Successful call" : {
                    "description" : "Successful call",
                    "value" : {
                      "companyNumber" : "12345",
                      "name" : "AEB SE",
                      "name2" : "Name 2",
                      "name3" : "Name 3",
                      "name4" : "Name 4",
                      "street" : "Sigmaringerstr. 109",
                      "street2" : "Street 2",
                      "postcode" : "70567",
                      "city" : "Stuttgart",
                      "district" : "Möhringen",
                      "countryIsoCode" : "DE",
                      "county" : "BW",
                      "poBox" : "12345",
                      "postcodePoBox" : "70567",
                      "cityPoBox" : "Stuttgart",
                      "emailAddress" : "max.mustermann@aeb.com",
                      "phoneNumber" : "0711 12345",
                      "faxNumber" : "0711 12345",
                      "vatNumber" : "DE123456789",
                      "isEnabled" : true,
                      "homepage" : "www.aeb.com",
                      "remark" : "Logistics company",
                      "roles" : [ {
                        "identCode" : "DLSHIPPT",
                        "description" : "Versandstelle"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Either the requested company number is not unique or something went wrong during the validation.",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Company number is not unique" : {
                    "description" : "Company number is not unique",
                    "value" : {
                      "type" : "company/company-number-not-unique",
                      "status" : 400,
                      "title" : "Company not unique",
                      "detail" : "Es gibt mehrere Firmen mit der gleichen Firmennummer",
                      "timestamp" : "2024-04-24T13:34:01.051128600Z",
                      "errors" : [ ],
                      "companyNumber" : "12345"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested company not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Requested company not found" : {
                    "description" : "Requested company not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "description" : "Create or update a company with the specified ID (company number). If the company with the given ID does not exist, a new company is created. If the company exist, the existing company is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an already existing company. It is therefore recommended to use the GET/companies to check whether a company with a specific ID exists or not BEFORE you use PUT/companies/{id}.",
        "operationId" : "createOrUpdateCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID (company number).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 12345
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "examples" : {
                  "Successful call" : {
                    "description" : "Successful call",
                    "value" : {
                      "companyNumber" : "12345",
                      "name" : "AEB SE",
                      "name2" : "Name 2",
                      "name3" : "Name 3",
                      "name4" : "Name 4",
                      "street" : "Sigmaringerstr. 109",
[...]
