openapi: 3.2.0
info:
  title: Carrier Connect HTTP Carrier Definition API
  description: Thank you for using our HTTP API documentation.
  version: '3.0'
servers:
- url: https://rz3.aeb.de/demo1cai/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: CarrierDefinition
  description: Rest API for carrier definitions
paths:
  /carrier-definitions/{id}:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns a carrier definition with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getCarrierDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierDefinition'
              examples:
                Carrier definition entry:
                  description: Carrier definition entry
                  value:
                    identCode: UPS
                    carrierType: STANDARD
                    name: UPS
                    translations:
                    - language: EN
                    - language: DE
                    extendedInfo:
                      carrierUrl: https://www.ups.com/
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions:
    get:
      tags:
      - CarrierDefinition
      description: Returns all carrier definitions matching the given filter criteria. In case no carrier definition matches the given filter criteria an empty carrier definition collection is returned. All filter fields are case insensitive. If the filter field supports place holders ('*' or '%'), you get all carrier definitions back beginning with the value of the filter. Means a place holder at the end of the filter value is added automatically.
      operationId: searchCarrierDefinitions
      parameters:
      - name: is_disabled
        in: query
        description: If this filter is set to 'true', only carrier definitions which are disabled will be returned.
        schema:
          type: boolean
          default: false
        example: false
      - name: ident_code_like
        in: query
        description: Filters carrier defintions by identCode. In the example, all carrier definitions are returned whose identCode contains the segment 'ups'. This filter field is case insensitive and placeholders are supported.
        schema:
          type: string
        example: '*ups*'
      - name: name_like
        in: query
        description: Filters carrier defintions by name. In the example, all carrier definitions are returned whose name contains the segment 'dpd'. This filter field is case insensitive and placeholders are supported.
        schema:
          type: string
        example: '*dpd*'
      - name: offset
        in: query
        description: 'The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: 'The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>'
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 1000
        example: 200
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierDefinitionPage'
              examples:
                Carrier definition list:
                  description: Carrier definition list
                  value:
                    totalElements: 26
                    content:
                    - identCode: DHLEUROPAKET
                      carrierType: STANDARD
                      name: DHL Europaket
                      translations:
                      - language: DE
                      - language: EN
                      extendedInfo:
                        carrierUrl: https://www.dhl.de/de/geschaeftskunden/paket/leistungen-und-services/internationaler-versand/europaket.html
                    - identCode: DHLEXINT_NL
                      carrierType: STANDARD
                      name: DHL Express Netherlands
                      translations:
                      - language: DE
                      - language: EN
                      extendedInfo:
                        carrierUrl: https://www.dhl.nl/nl/express.html
  /carrier-definitions/{id}/additional-values:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns a list of all the additional values of a carrier definition with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getAdditionalValueDefinitions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalValueDefinitionDefinitionPage'
              examples:
                Enabled additional value definition list:
                  description: Enabled additional value definition list
                  value:
                    totalElements: 14
                    content:
                    - identCode: UPSINSURCHAR
                      dataType: DECIMAL2
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Versicherungskosten
                      - language: EN
                        name: Insurance costs
                    - identCode: UPSINVADDCOMMENT
                      dataType: STRING
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Invoice Additional Comments
                      - language: EN
                        name: Invoice Additional Comments
                    - identCode: UPSDISCOUNT
                      dataType: DECIMAL2
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Preisnachlass
                      - language: EN
                        name: Discount
                    - identCode: UPSELAUTHCODE
                      dataType: STRING
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Sicherheits-Code
                      - language: EN
                        name: Electronic authorization code
                    - identCode: UPSFREICHAR
                      dataType: DECIMAL2
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Frachtkosten
                      - language: EN
                        name: Freight costs
                    - identCode: UPSHAZTECHNAMEDE
                      dataType: STRING
                      businessObject: HAZITEM
                      translations:
                      - language: DE
                        name: Technischer Name (Deutsch)
                      - language: EN
                        name: Technical Name (in German)
                    - identCode: UPSADDIEMAIL
                      dataType: STRING
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Weitere E-Mail-Adresse
                      - language: EN
                        name: Additional mail address
                    - identCode: UPSAUDITREQ
                      dataType: STRING
                      businessObject: PACKAGE
                      translations:
                      - language: DE
                        name: Audit erforderlich
                      - language: EN
                        name: Audit required
                    - identCode: UPSPCKREF5
                      dataType: STRING
                      businessObject: PACKAGE
                      translations:
                      - language: DE
                        name: Packstückreferenz 5 (FA007)
                      - language: EN
                        name: Package reference 5 (FA007)
                    - identCode: UPSMRN
                      dataType: STRING
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: MRN
                      - language: EN
                        name: MRN
                    - identCode: UPSOTHERCHAR
                      dataType: DECIMAL2
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Andere Kosten
                      - language: EN
                        name: Other costs
                    - identCode: UPSPCKREF3
                      dataType: STRING
                      businessObject: PACKAGE
                      translations:
                      - language: DE
                        name: Packstückreferenz 3 (FA005)
                      - language: EN
                        name: Package reference 3 (FA005)
                    - identCode: UPSPCKREF4
                      dataType: STRING
                      businessObject: PACKAGE
                      translations:
                      - language: DE
                        name: Packstückreferenz 4 (FA006)
                      - language: EN
                        name: Package reference 4 (FA006)
                    - identCode: UPSINVDECLSTATE
                      dataType: STRING
                      businessObject: SHIPMENT
                      translations:
                      - language: DE
                        name: Invoice Declaration Statement
                      - language: EN
                        name: Invoice Declaration Statement
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions/{id}/carrier-info-texts:
    get:
      tags:
      - CarrierDefinition
      description: Returns a list of all the carrier info texts of a carrier definition with the requested ID.
      operationId: getCarrierInfoTextDefinitions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: show_disabled
        in: query
        description: If this filter is set to 'true', carrier info text definitions which are disabled will be returned additionally.
        schema:
          type: boolean
          default: false
        example: false
      responses:
        '200':
          description: Successful call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierInfoTextDefinitionPage'
              examples:
                Enabled carrier info text definition list:
                  description: Enabled carrier info text definition list
                  value:
                    totalElements: 5
                    content:
                    - identCode: TSR
                      carrierInfoTextType: GENERAL
                      carrierInfoTextParamHandling: STRUCTURED_DATA_OPTIONAL
                      carrierInfoTextStructuredData: SHIP_OR_PICK_ADDR_CONTACT_PHONE
                      maxTextLength: 10
                      translations:
                      - language: EN
                        description: 'Handling instruction:'
                      - language: DE
                        description: 'Transportanweisung:'
                    - identCode: TEST
                      carrierInfoTextType: GENERAL
                      translations:
                      - language: DE
                        description: Test Hinweistext
                      - language: EN
                        description: Test carrier info text
                    - identCode: TEST1
                      carrierInfoTextType: GENERAL
                      translations:
                      - language: DE
                        description: Test Hinweistext 1
                      - language: EN
                        description: Test carrier info text 1
                    - identCode: HID
                      carrierInfoTextType: GENERAL
                      translations:
                      - language: EN
                        description: 'Handling instructions (LTL/FTL) delivery:'
                      - language: DE
                        description: 'Transportanweisung (LTL/FTL) Zustellung:'
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions/{id}/despatch-countries:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns a list of all the despatch countries of a carrier definition with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getCarrierDespatchCountries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierDespatchCountryPage'
              examples:
                Despatch country list:
                  description: Despatch country list
                  value:
                    totalElements: 1
                    content:
                    - isoCode: DE
                      name: Deutschland
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions/{id}/logos:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns the logos of a carrier with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getCarrierDefinitionLogos
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierDefinitionLogos'
              examples:
                Base64 encoded logo list:
                  description: Base64 encoded logo list
                  value:
                    logo: iVBORw0KGgoAAAANSUhEUgAAADoAAAAuCAYAAAB5/AqlAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wgICiAey9w8tQAACpZJREFUaN7tmstzHNd1h79zb/c88BoABAcEJJGgSFEULYGSZTkSbUeyLEVx5EfJizhVeSxSWSX/Qf6LVFbJPuVNUnbJibRJYskpV2ylJNkKSYEP8E2CAInHYKZn+nHvOVkMrKgqyYZUeeIy76JX09Xz9bnnd8753ZYYo/EbsBy/IesB6APQX9OV3POdFonicRhYBEBVMRJMDWcGXsApYhAMxCJOIyIgIuA8iGBmCIapIXgQUDGQBBOHYjiMBP+rB1UgIoBhYjgDMdA4oMz75INdBsU2ZbWFFj1CUSBFjpUFKkZSq1NrtqjVJqk191GfbJE2JvHpBM7XMPU45xABg+FFGBGoRkQUYp+tzZt0NteoulsQdzDdxkmHxLZgcBc3yJC8IPQzQiwYxBIVwScpyASl34eMLdCYXWK6fYzW/HGmWgfBGogIIve3deVe62iIgbzYZuP6Ofq9dYQtpsaF1liDhlRYsUHINwiDNbR3m9jrEPOMapARykDUkkiFoWCOMjYoaVLqGJpM4KaOMNb+Iu1Dp5h96HMkjSbeJb/6iJb9XS5//BY1brA4P8Pk5AROHCEolAVOShwlaERjijCJmpGHQJ47qqJOXgn93CgDaNRhjltOUitw6YC7Fy+zffkDmkuv8cxXfh/fGAGoWh+n1zh0sCRJCxI3iUkd5woMI6pizhNospnl3L424PqNPmvrGWu3B2xuR3qZkfWMYiCUMRJMiSJo4kgTz2I75Q/eiKTVOCdPfQuoj0J1wVyJmeFlAqMFkuI8mC/JcseVi9usnL3ApQu3WFvbYWMrI+tDNoBBCUWZUhWeWBq5OgoVAkppSkTZCo6qFNKYIW5E5UX2BMnwoDVMm2Apve42V89fZfXMChdXzrF5d4esV9HrO8rCURRKVRhWOqw0YqVUJkSEuKfktqfkhuFM9tRWRlRHccNaCKhFMOHS6jXW166yuXaHbidSFJ6y8gyKAfkgEipPKIWyiOS5UgajjMJeNlMZmA0BRRymCmafPGdkoF4EJzAocj7+xYfkOUw0WvSSDlnWJevvMig6FFVOUSl5YeSF0C+EfqVUEaIJJUqBYoDDoXsRVBMMhm2C6ahaQMWpkO0GPvpwlWyn4KH5g2gR6e1m9Pp9+nmXPB9Q5EoxcGR9oVc4spgwUE+BUIhROKMUIeAw8TixYWLIsPI5HWFEhYhTz+rKFS6t7HLs+DQbt1bpbG6xu7tFc7LO/sV5Ypigu7nJ4Udm+MKBCZKG5+5WwbkLm5xd7dCrUkSM+TFYPtJifrrGYJBzfm1ANy9/qXrcrxrdh+oKqDHodUlcxSMPN8jzwJ2bG1RFh6++/ALzB6Z4+/s/ZefQBt/8xlNMTHTx0qEsBly7Nsvfv3Wb7719k0ajxp9+4xFeWhbqvkdRTXFmfZ5/eOc2ENHPYPa4Z1BzDrMAWmJaMtaMiJX0uhsMertMpJ7JppBEY3HfLAfmlKwXef/9LSanAscOwR++PsXN9ZzJ8SavfsmQvMfZy5EyN1r7G7TGwDlFxVDRUYnRsM/WGHEoXhTRyKCXUfT7iJU4ckQVoiFSsn7X+Ku/vUC9CX/55wd4eH6HF58dR6tIM73N6q1x/ubNHW7e8SyfMLJKUPHDB41OjIakGiMxFIhFsEA+6JP3e6gWmOaY6d4fFdQbm1Xg/dWMjy8HMOXgQaFW89SrcfY3jBOHxym88qMP73L1Vh9F9kTJRgRqmJhBGG5focSsoF9kDMr+sGnXQGVQoQiKU0CNPETu9AJBjPGxkos3+mx2p5lpKH/06gR/9sYCRw6Oo0FR0716OrI6GjON1USIYZirYYCGiqKCoIZogYsJkZIKwwiA4QRUItHbJ/Pe+2c79LOU135riv3Tm/zu52u0J/bxw3c28OYRTREbVWe0N2mrKhYiVH1CpeSFEqOBFkj0RKv2ZsmAWQSM1KCVNKHIKTNhpwff+9FtPr4+zuu/PcGpE12eOdzg1vVxEhT1MnQcRqK6eMQEH0ErI1ZdqBSKilAoocoIpRGrEu8SLFRoKBEnzE6P8fBcHSkrdraaJHtz5gcfF4hGHl+o0673aU8mJLY33I+svCiEENCo9DoloQxMjSnLj89xa61GzZXDyaRSSAMhZIh0ePqJMRbm2xxdCgw04fRqzlMn2jz3HFw8fZfHFmuMuQQNsNUz2iakXkaXo+IFVcN5x/Wr29y62uHwowmvvfwIeVWnXs8RdTgVLFSEvMf8dJe/+JMFaqJo2OG983X+5cNNnntunG9+uQYnZ2ikkTQpuHKnwaU7JUdPJNTSFCcjylEvTUjHqE151u52+cFbZ3npK/MsLraIEti+mXP54jrv/ewmL3yhhVWgRY+8V7JWGCur8P1/3ebn1/ukc12Ozjc43ApUZeTGVsI//keXrPQkTc/YzAI+qY8INGmQjB0gaabMtVv85L1tTq90mJz0VKZsdSIbGyXdXo2Ty2OUZeTKDeGv/26dldvGxk7FVmZU4vjJBxtcPO+ZnaiRomx1A9s95buvH6HEM/3QUcSNqNe1xDPbfobOlXf53PEpPjrd5cam4LYGVBboFUa/ACVQWY+qKMjDJCs3IufWI+bi0OtFiAo3usJaFnBRiSYcazd49tg+pNHmwOGnsfvcuvf8mlSF6bkTjLeWOfToAkePz7Dby+n1IQ+eGIe+tinESqhyQwN4EVJxpCrUiCSmiDrElCSWJBhTqefrLzzKVB0Wlp6lNbeE3GcTd893N9N0QupTzD32CjqxxCsvznPy8Rm6/UBnN1IOwCqPqEeDEEKCRh0aJqIgERMDIk4C4oSKBrV6yrde3MfTyzWS+UMsv/B7iKuN0mEA5x3tQyfp7LxGXdf4zrdTxloN3vvZOlsZlFahScGlzcB7K5Osbzv6YdgtRTzqPGqGqKdujqUDNb5+apEvH59EG4c48fwf09r/2PCYwsJoDOxhohoxBDQOuHbmn7ix8kN271zhwvku7/50g4/O7bBZehpNz5QEcMKdTKlwmHnMJUDF3HTCy59v89VnDjDZFOqzT/D489/lyFOnkCRFPMQQSXw6IlAgqhLUSLVg+/Z/cu70m9y6/O9UOz0unRvw4w/WOXMtozuoUDGq4VCHx9Oe8ZxanuP5p+Y4MFdHpMX84S/y5EtvMDW3hHcNnPOICFVVkSTJ6EDVlEoiDo9TJZS7XL74Y26d+Wfya2cpdnY5f3XAu2c3eX+1Q1bC4myd54+3eWF5H/OzjiodZ+bQl9jozdBoLbD02BLLTz5JmtRxbniCFkLAez86UGxvVpQhtNrQEYj9LdbOf8D6mXe4e/0XdAc9bqxl7PYDRw5OMdVwuNoc0w8/zdIzL9IpGvzgzbfx3vPEE0f52tdeZXp6P24PTlXvy/ZM7lvORBhWQ3DO4WxoWybN/Ty8/DssHnuetUsfcvXsv9GY+IhudpfGvnlmDj7NY0++wv6HjuMSx+DiJRYfWmB3N6PRaOGTJp/lVyT3FdH/+Yb/2wkwM4IZZg4jIjFn+/ZVtrc3mF1YZGp2ESfjOBEcFVGNc+cuUOQli4uLtNvtvfNR+Uwiel+gqvp/OEmf2tW/jLrZJycL9qmfyZ6h+L+F79NgMUbSdISq++uyHnyV8gD0AegD0P8X678Aa1gRUOGD6ZUAAAAASUVORK5CYII=
                    smallLogo: iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAYAAACTQC2+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wgICiIgOItDnAAAAu9JREFUSMe9lc1vVFUYxn/nnHun89kZytAShZpUarEFhIR2UVNLKqKRjQZiYty4dumfpIkbgzs0qUogsZJIBBX7YSmU0mmGDvPRzr1z78w9997jgsTd1Mws+m7fk/eX5z3Pk1cEncBwCGV1a9gJu+dhOtC9g3QUIYgI2h7ad9C6TthpYHwfoSR2Mo+VHCKRLWIlciBFf4qc/V067gZCV1GdMpHzN2H1Ee1qGc/30MZGyyL20SnyJy8xMnGFZLrQO6jTfEBGrJMqjBA6AeWdJuurDdZWqjwrtanVwG2XCdUy4+O3+fxLxcT0td5BcdzCTg5QrxqeLO/wy08rLD/cZHunxYu6wfUsnAh8E9OxmoRtp7/VSaEobe3S3Nc83aiwXarQ2AtwfYs9L8ANQwIEUr18L/p1XccNKG08I5eLUUozdXaSM6c8MrmIh/9UuLFY4cPZQbJJSd1X/dvbxDEmdLBlnQHpM31uHCtscO+PR1yZTnHy2BCjQ4abdzUyoYg5OI6ya8dEmNAnaO/TcutEkY8xmtv36myWmxTzoGJFJhNTczQmNv0piuOIuOOhfUXb99C6iRQBUkRYQvLnmsfqU/jsgwHKlQTif36pu6JY0Ky5FDMRk2M52q5DrBtcvZTh1ZE0xkpzZiyNpV8OkarPwKrMII+3G2xt7WGnbB5vBny0IGg2fb79ucXv65p330rx3d2QwrE0lwvF/kCZwdMcHz3NN18vUW64gM3CTIHv77RYfOARAF/dCpl4JcsXC+fIH5/sb3WDxdd5++qnzM2/xpF8Fi+AX/+KeNEEIyRSCi68McTHl99k7r3rFIqjB4JEtzNhMEBEae0Hfrt1g8WbS9xfa7Cx6zN2osDFqSO8MzvD1Mz7XJj/BGMAI3oHAUhLgjE4+yWeL9/h/tKPrK6vcP78RU6dneVJzSKbLzI3N49SFgdFqSsoiiOUUv/pi4yh7dRw98pkj54glc6z+7yCUorh4WGMMQdaXBzWhZUcUv0LVdxixFAEvIoAAAAASUVORK5CYII=
                    webLogo: iVBORw0KGgoAAAANSUhEUgAAAGwAAACCCAYAAACjKC0/AAAvX3pUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjarZxpslw3coX/YxW9BCAxLwdjhHfg5fs7qCIpSuqOtt2iyEfWcAcg8wyJxHXnv//run/84x/B91xcyrWVXornv9RTt8Ffmv/8N96fwaf35/uvrO974ffXXbPvG8ZLkZ/x889Wvq8fXucztr+vfw8UBq/nPxxoju8b8/c31vcE1r4n+L7+40QxfE7gvydw63ugaJ83Qvr8e39vr/RW/3gL53tF8XxfaZ/fTn+kVkI5JZXNz1Sy+RzLLaWmWkuoxitcYOp8Jtp5f9Mnqz6ZQlklluZKLrt287XEYCeGmD5DzKC+UQr75yD/9u9UmZqduYlo+p6L/n29fW4v6neIg5/p/ckp+Hfk7ym292d9E8Nk6Ox85zsUzo/vvTINvw3qj5//5L8/D4f7v4zH3w2H+wbfb8G1098H3c+//SnmRvLBfWPj91gpP3/+7esh/zW23Pc89sczj/HzzL+9Hpb13waq/SGO7t3t3vO5u5EKk1q+N/XjVt7f+NxkiOP7WuFX5Xfm7/X96s53/jH8IqK3X37ya4UeLER/Qwo7jHDDeT8XV+QtMQWVn8akxPdai9W6sxUVKUm/wrUae9xEjMXFfERetZ/XAly8X+udrHHiHfikBQ5GQNp/5te/PNC9ytAQfPuME2HBdZlynsvQzOlPPsWEuHC/g5rfAP/49ef/NK+RGcxvmBs3OPz8HGLm8FLkE1zxTXTkg5mfn4AMdX8PwBBx7szFhMgM+BJiDiX4alZDYBxbcJ3p8M1isskUhJxtc5GWYixMDvjJuflODY25HJbt8zKQzESQXbEyNT0Ox2SllImfmhoxNHLMKedccs0t9zzILVKykIxF2D5qJCtzLbXWVnsdLbbUciuu1dZab6Nbj2B/7qXX3nrvY3DSwZEH3x58YIxpM8408yyzzjb7HIvoWWnlVdyqq62+xrYdN0i1Sezddt/jhEMonXTyKaeedvoZl1C78aabb7n1ttvv+DVr4Zu2f/71789a+DFr9mZKH6w/Z41Xa/1xiCA4yZozZsxSYMaFXiEQ2Joz31xIyTRzmjPfjazIxkVmTc4OmjFmMJ1g+Yafc/dr5n7Om2M8/7/zZpo5p6n7T8yc09T9i5n767z9zaztocFeb8Y+aahB9ZHs40PD+jiHy8i9g4Bx9tgGUBVXvqNsMDCfO8gXf09Y3hkHXS1r9BY8UmocE5ThdjYH22tfW9weyuC2HS31w/Gs9tBXCTnNcOq2eao7m8G9c93g+eS53EM605e5dlzTYP61jfyEwPK6Wb99GSteIO3GXHfKXPgdjjnJod85IeFZIKjYQMadbhonLwYnN7/A0tFznpvx20zcuAxn3fnuVTrhc8zc2KmGnuO0c+uEBeoA6CVrFuOTdjqaosrlcRtEHwybGe5yueGwjh937hL7dW0DKL2eXWZhgOeaN3IXlcvuiQEI+8SxuM8JyAAjxF6NBeJn9G7UecI9NU8HVcSwJ/dlEEmbp/lT5iljVuI/bRupT4KH8+joVVfrbdWR07XTJ1M3RRiuzkzwp9r6XAl8hDIUMHwPdircSyBMwLq1fGh9nUQkI8oYQsYMpkqrMyhhuB0zEXuYIYKVoNkDOrLKcNY95iCk+TojEc8sRCmBPPYgZurtfVeuajIedXJra57DYE0Ga9xzbW8ymCEjrHPYCI4Wyxp9tjpqyL2G2vxk+pnqfbmItaJUlJuzLd33iUqNeUmpMEcuuqOg9JtxwOlG1J7VBEY3cEklpno4s795NkWB45Mgw+mkwD0z3Uj4Nz7AHDIDl2u7R3E3AJTRb5lZgMIE3D5jumNu/k0ourSO3uYkq8KHbRtCeZawLV4l8IwbCbKz9cXF1xkGHyPC5i18jGGunIiwdI3EO72TaWmXFDgaQ6gbK4yRkT4Q0Czl6ivTf47CkFUUDrna/eEGkw0Gm/Gpc53KBZSOzuNtgib0xg+mb/e+NOvGPJ3CMVEOmctPnI+cPry4J8EhOuL1mzk9oRfK7AiNCsUQmXa25765Wtgjm42WwZdliS8TL22vTNSddfvajsysKEwAFZzQuE4j/gkOjE5ubTAMRAtjFHupPcNRfGLWIdjdo65MOtaUtwvHtyq835xuRrRPuMAsIcb1cu9tnZAjf/qNpGWyQmYiM1E7ymwAF5lfWlccJQOZOFLc+BJGOOfdo2U+MXw/62yDP7opVEslwJqNlbj4nA+AuG55oe1S4/hEAGOZDkO+0yI99oRn6mCgoNs2QcspgpBxyH4pEABIXkOlMz0g+HHE5jpTk3ZbShNYqFzOYA7hlbAa2FEYTpAi5hXPgIaGJ+m4TUJ8jQET+tmiiy2Drnd3bu2AUXy43AaKMC4lXRzAzRsUPSAq5xM4ejK4coM3FTsHRjpnV3eN+x3ibSCGgSyMPul08Wn9G1JkQ0ncH7hd9w3AzZFRbD00YqhFgVN1gB5QkaHEkVqz4leq5TSSBgAukCNYIiy+s8JhEOApElZtcLNw72T82mTk4P4MptYF+OVBdI67gNyaJrO7b1zECvonzd4Re5E55FTxI26gkdPz9mALlE2up8iQDJi2Zh/LCY17h09A5nRlh0gBAkq5c9Dikwhm7NA0yWKG1AF5QMkhCYBYUOhY5/MAQ2Xy+2GwrofiEJ/7DMY9g8feymqbHG0kUIbb4LwMnfZxXYBquGASEFZk+MEATTG5AVv1AXFY5QaQPQQoAHXQVTGX1gCeRO6cMSdcsh1xvAgq3jRpXo1UF0Qm9JTAh7A3prWPTWT2YgQyCge6XGBcQTnfzpDchfED/UHiE8E6XI9xIj4JWa0wzhgCB1idkQOVQIjpG/l+hjFvXhoFc1OIX1eRE6iFk5BSiWANpoA/exqDZenqXioxDUIyd2cR09wzWH6kmLohqYBxoDaf1K02Pp6kgCDB8L6c00fAwLwM/tTVI0gYrbmqoQtuLSiSySx4IHsvx+cOwLFjhcuElq0SaggsxqTv0p4OmHfqJxIHdQAnxmNY5kgGIopAYeKVpIVHi0QhjMcdMxHoVVwl8Xh+nCWI1ZqyG+gUKecOO8Brn4NwjOrIq1xm+iiQ+vuZ60VLMWLoj4YqmNufBf701RgUEg+r4ysxFFBBLiB3DvdwMsFqsAewtSoKhIiKjCln9fZGLc2FJBhbwbUAbaCrSM5B+r5dUgQQJqDbJXgugwz+4/AQqCA2E4YQ4Ia4mhaRpdx9GdxNJxAq3MVFkcUTaezuMSQQ1MpFDcCyR90coXP6is1HcoFhRcYZxlYiinFbKRJfpBYQAUB0YZxjJgs6LhuXcbl8rgy4qgttxVwdYetS/gNVNSq4uXqwtCkWyefAeTGFwAjEMvyZCv1DgAgIGZgIVXAQ0hgxXmwvuPpoAjRkOJqAGiSw3tQ8EFhYCJmFVklHIcf+KLI3dwiBMgBM1IxUh15rnBE8A2Xn8bAIvoexMqjJEeKbeBX3lUl+lrNXF2WREVA1XCO9DpYwr1wZ+rSsnPEhCCCmj0/WkskWJ20SByFUNoppE2QINQ0ws4DbglpnyEv6PJLY0FLDQeiKoA7NCToYUDjDoSrGrb0f7g5bXVDsLa2JD4PSxvK5xiAMABw3VoxAr3wWWx6RXrsK15kD247kCOg7rjoeRcCE/KQTF3M4oJeFyQpBSS15XmHgBajiQSC1o7oJYIMNMye+8dI9jCOQi4pWwhEOl28TpGg1hC9Ii9SfgTvKKBy7OP5GfO7cFzgQ+3ayORx7gUU5QteSPwR2CQSM0It8Elz3hH1FpnSUr++qj+nNEfCnnMIy7oiYuMIUwOZARv028sLDVmTwkO+Z8VykAWodkgUdvdTTRQgrqzF6WNGbkvtEzOOIJmxB9iFLMVKXKBGe8skXW4VsIa0jlgtzDZ+iVBC2n3eDOcnX2yQpoTNoGbJASK2I2miaERAJi/his0l2eLDyvrh8kv1nZDqymav20A9SFjG6a9R0oscz04z0SwI9IGjJyHP/GpsItcHy1pAowCCjnx2yA8GhdM0QhF9dXoaBQ6JN0QIfJauFnIiGxaUywWnpjga6CklLtOA1F7wGh0h7hgMtcj1XRqHVwMcxtVWiVmMAexNLzAknk3w0pNQEfghSvAEEiUjNYooiY2mkAmRNJkkSIyfNAxYVvEKqM8mm7MBZIAgAaC4FS4ay2blVYITIwphm0AGgwolI3HluG6ukkmcSBQONg2whd+H6lDFyvE2+x+T7DIUsd/r3SKnlF3fL65R+bmZLJm0QR1uvMA1Nii9XycAHNtg06GjgGhvK2u3+aOw5Q0kwFQqIp+EVur/HnMKAs+VJ5gqbkEkp3x4Cw9xwRxLNADAKTsjRy5c3XuzggBr3tsgPzFvqIl5VFxCptmWlH9wNMtcRf8ciMubI8GNS8AzIbZB1vBtg2IlguPLE0lWPBhsysKpkOeQ22MzpznIJ2wAYcJHAxdi2EAwJCWjLg71HOMVROBqkqlLJSRFsBTpTR87DQ32J4xNehLHm/71VOwJpOvqrwKT4l4zQJr1Vj5UluhUNyicX4YBU4NP4lcMFeSSSU6kKV49r4szEDIlGfnLphUDg08AtWSQ8yVplsaC/Jy/wKG3jp8HPzNEcsnfG2r0KSqBnkTUnCuE0AXwpuKkLujK+cAOKzTpWiGjntA1SnqGpbLWmQ04OtCvjpJoBMgabwDtwP/Ye1Kptzu6XLoOwJFOZLpU6PoGpcmk2tERyk6FjHoJpgUCrGjDVRn54CYZFOiiv+GDlDYICTZuYz0i8QKcTsuWaJsTrxmZo0AaMl7h6MDawdletFcPy45owOMJNqLUm4Wd9Fl/QOl4KJEk/X/4u5P+3Ee/+Wch/Ih7bjBNipraql7+4/qigkoXbYbwy23HNIGso138O1v/6FeRperWKBGprPpUUkGxtocenO1v22CzQnDiR6KkgP5xqEcRG/Y8IYndwLjAPCCSYGKaC5zEvoMWJ5EhVvMfc+3VImkYeviPDNKixWl5tG54kcsDODe7gZE4XVHMNpFYbuHoJy8swqQR4gBGig0TQgodmWDULOJaLg+MY6QDHLGiI4bhxe+5HNUbJhUmQk046DSc6DnmDbYDdyWXgM0LnPm0iS9SNnIJekOMNYaeJkvhD++NVI+x9VAllgHlxOZyktyo2E8FxWWTDTVEp2kpYneHGLG3UFd7SJDi4rqllGawBwhmxIiUXHKjKyMiAPz0+JE7BasYXMyiHRhJMHx5W4IHRk9z6IDz6i72wP9B2HEYAIV8qHCdlwd3pjpkUjMsyVFhK4Uj7hY9umQuzyXyQ5Zipu/aGQH2ZDHZMR+K4Z1jDB1XpMAKaWukG0gRJhrBt8M5CkPaiGsA2LgLpW3GmR6SbHPxGkDN2hDDToFqzaBjmR0Mw/oPQQLyRn6psh0m05TSWqsEMUiMnm0x6dX3DOMzDKMxtHz0JohOKpgGdWGrFFVampY/KwcyQNj6XoFN2CeeeiaXjEFjcXd4D1YrBY2Aafo6BRuCaYK6DkkZcYEzSkJ0Fs5TQ2NdzAJA5oud7DmyEMcgJrhbFewNiTIOHnU2tLcCZlAIyOzqlvcoG1qZyzbiQiAyofJbZNLfXIiIZHgR/xqZH0LSB2XbfqlXnDxAZiXpJ5CbvnlS/ZYRxBaqqwzvbT8P4iY0j2BYwowtCwLrhpMcwBAKZxohgggpIxlxgWRBaxOuZBVUqGChagM+wSCmzc/e4NaaubzRpKeAhQqhfFAgAnWU7VfQNoNo+0A5SyxPCJQGBmF0Dzx2TkJPKPNJqXusJ7RBMCCMGGRApcj0xcITgI6EOjWA6R2CemTdsR+am6+4OI638k5uLJ7ayOqxkGjEmIPbEdWCxo4pEhMOQ0teLtYH6zGRlLHYm9h2UWRZxXWEVe8r+EA1HrvaL861x8xebiutCmkblJEFeUdNAOAIQjCnHZQ9JAYRHE+kBQC6wdqYaePyLVo7wFoeMfq/7PN9bCsQw5OJ44yfqd5kd2EpeEln3cd4IA9nyXwLmYpjbqDAv2Hu1UEDgVKcKDoc2+Cz+/vHDx98tISD3JYMNBPFVDAU/zVcYhxm27taiG3y+FkESoM83EualeCUVr0+ynnl6gJdhXjCBAVyhy19w3TsdyJivtg5CnuhBDuQxcDTkAjhv0BpSfen8KWqoFAozHG5o4fLlwBJf4R7eSEQVEBD5aM+mmh5IjfJjyh6PMVtMH5YP8MRVgGlIgMINn61aRxbDCsPPZuyd5gdua3D7nZg6MQV5qOU2lQZWES2JnwXm4BrXHMuQ3rmmt/EbIOtB1jzmzICdPtBEPRKMSfYYUJe6Ox/e7QFUuZKWfI/5gOpuQwdc7pvpf4f5wGdoqhIwnBeVJFeOFtaSF1eJa0ODAZgqmirBm1ppxFBgOAa6qjYy+yZV40lPqvAF4pbp8kSDdXDrCg+29NLCwhwtbGzTqmFG/pyC9VYdHwuBjiFzuEDEJkkEbvEXEgIE0IIJ2a1KEg4IJsZdjGoMI/DCDfdqg6kgy7371D/JuMT3MU+wkWx679BU18oY34cNI+q9GfYoCWTQYMQhIlYrYbiB2qPDoJaNv+asqFOTkNA1LVWMzrSd0Z0NMNT1NWilLdAtqp7IgQbufiC1G9zfwLuycgI0uip9SBpyyBPWgM85V7ZwbYX1VmETKgazsJUqLSPj8Jn1Ub07mF1Uj+oUMQhYwRHEEmzFrVsMXDGIgbvYxk1xsAteMjwkCg6KOOVEEf/pJvPHDOAfyxHjeUH73F1MTzLPNJPKorIjNpgW5JTujDgmHqAalZf3jsvFCHZmjIXElil3J5fV4+agE6MCUMaAa6iqBMB+UkaFiZPeiWS27MLc/jrGhKxtWizInB7IteNVDyS9L/BcBCgjZ0RUtdii7AIuA3hGEk5CWjVj9KDjN4ZGUgKefYI0xPokyw9UnT0d1OZDXT8jg7tQhhJtW/kEA+otJ1wEW4tWNMsU4qbju/wPUuf8M8RF5kod/cJc1MgHcv+itAlqVS0gjtA/wlmdLj+9JTYe0EGD5zpR7ec6EBSUStAW9JHqD7x9aBsRrq8YrpWxT/VN16csLTl+r+mqSqllMYIucBG7gW04tRWztDumk3dJEQEiSROQdahKcAyQ7w8kkMzk+c6wcwIh8emIyIUfQjVcmOk8hcy5Hvhh094ldbKevCnMmkdTHIKjSlTIaCwA+LobwFTp3qXI+IGhKgW9A0EagBTuVXmLl2AYBEEfrhkSXZAzt5AcIzGFs+A4VgNEBrtyA2jsi6MPZveD2fbW/DYePj9HrWnEoLzDuh8gu1Q6Fu0QkmDR/sAsVzJAfGCReZ5T6vQ0IgQlWld4w6FS7NZattZ/q1T5XyA2HeCkvsMbibOZ91evYtbg9nOz+IXTZuYLGPkwuGLAi62q2EpXVl8clfLeb418UhY+VuPPCPZELczrIuXaHMaYKVL9nn9x7dgqtTAUlD3pRu4BYz59blpgwhSY4uuutbWKfw8ZTtjhaclHtXBkAhgcyKrXM0Qqe0IQXuv0BDsxnoTNShvyXM12HqU3k1AiVysuecaV74zhZTOSgALy1dLo5poRwyi4E6tQn9zQMhHsJWE6ByNVNupwnDAdJgpJ7atopCFTuVo5pyFTXYgGjwTUAqRJVgMLMly9TgQdJhNcZyRHIeJdH+oAKQCYZ4YWcEvGaIzOIW1erQOAIzBRGwXjHrE86bW79JODzFh8jR1O1fQpJMaTnqMZQCTkp3OXGrcYRz5NCnnBG0IWY5OXcWdR5QkdC+lIQGpFWKUZog7sh3zGqDoyt0HEL6sGVPpIvIKYx16h8SaljS0deUDfQk5HYG1NOEoeZdlUCx6fsmx+dQSuiGMee6H3s44gpf57JcF9Sgnfeu2nlvB3lQTIpHyrsv2vmEVmu9G3GgvqB7B6GPLTDSa0l42fD3O8kT/Wk5BDmb+/KxmQ5C9YgREAbkn3fPGNmQ77IRCGnGMFNCWjQtBF2L596AFAbeowwP1K1y31RHDwwl0PYhvYfLqyEYBYWLVi/NSN4VXuwbIgl9jqKUtv+VfYUO3VpfmpSCNVlaRAKPcBUAQAhDdClnOXbvrc6AfLcKNqFlqB/7vWycYG/Pf9JSu/xiAjhQI3HgR2CB6P3y2IhAd1SbWJJRr4A9QNl3Wpqvh/6kT5QeFTtSjqXpg9lcNJ60AiR5BDgCbTfX7pycgrToIS6UokQKZYJuFcVk/WT5wrCJ/76tJk/UVScnlqUPi0F301oTnJuqXVfk6aH3dNjc2fke7hnHi4d/WqinAwRhWVgKRWtjg1+ZIEocXPEqOq1VqoQR9vBAjBK3WK5fLSGXF4tbZNr7UBrVNKOnHdnTEiYgGI9Vp6oKI1z9LyAcEZUaFBhHRVJXlGACwwxEXjZqBKTDZSvxQJJpT/OlKlsLgGDbJIRUs+ssNEBEcGmZeSqk2zWEJPatUB41SY3GpIkIy8Dtm9yWYGcU2+PIk5U9nLMxp7YaC5KRIf31MgLLixMpdegMkcikm8Wh1qcwJrgndmgWCt8LcsOsC3I9qaML8LJDWAtStx8Q6i+pB5BdgivlWVxjW4kpIBA/Z6+ZD7aMCmydFqD3eXa41My8pZyyc4HHXbjdlQ5WpGgXJxp0Ih92AI2iYvClYLPV81vAT3MEXjYJxQ6lvGCSIlHzFOyAmiiimVRENxMiXug1n/dr3/9PJHxNIlfyDL4Qxn+hzKf0SkvfxRQ5C1p4ERNuqUlWSQFVJ3UGqW8Ey75Fckxbw6VavhQmVoGgCQVDnE2176YSGeDTqM+f4WeiP+ALFdmrq2hhbvo+9TOturrSAicVVVC2rgSNI0JAR3O1HhaUcdfc2ZUqucdm3V8NVstGG1XFH73aWsBQOVAplgMgWb3zMqeqJBofN+wcyEXAqvwJOQ6AyAyBg618ro1sIRHtO1tlHISf0NyAXGFZG/zarqZlgpvA1joBayoR6wt7iPObxa8MCtw95d3aQabHUjyF3GBiPycQaa0MnCPuBWU7I1eFEFKZwGyYWkII9VN5QDTtwccepQC7mkLReVuNzGKUnVhbWD3XzcY6AGtbZu5FDgHYYwx4alInNjNpQHZB2YNZE0542veKJO0mpqOkCSbcLGPlw2Jf9NXAZr4d9QzvFboZBUxM6A2a3I47XXEJf/CJRRHgPNgB5+qm0UMnQ8Ibmf6Sc9yP77xDYI+dWLDAyOTYSE26v3+QUksCIpavwxGj7hfX1HZVhMHdG5tTIllvBwf5O6bUpUeT+CV3M0arf+aehCmwhRQFMGxHcrh/+QaHgtNQEZQaclDMQorgFkGXmoH/Y1Jo88USHqPQw4QDUVtsOYwRFNRQZUVBGeL6ARYiYNuq8EZMpIi4pM6eq7M0xGmCouoo5BAI6pOu5Wv0q4MQQ5I/VDMJQpAe65o1dChY6Ah6AWF9yJOiOMMxPeDIn64LQxRCsByrm3omtFqtDQ+SSBaWRJk9jNFRVLtIAuzUD+MGWATAB5ECl+PtEvniLVVT3fU+1POUsgQ8qwH1OxduFAQ0Qt/YPabWGqQq7GM4hzBzUxADkEcwEZIcZJgoY7H+wQQPHnGkl2UIO9KE9ykhE+Lq9KUYCsqF4/9QUe5Y4GO12/g2rVao3jLFnt+2iDdpyKd1r0HVkreaqgS6KnVRjVa8SCmtYI6Ch0ZISaOsNnKMQJPLq0ltG0pu7IKoYlayAQKCBZUdMp5N6YVAaTWEHAcC1y4xw+EMVRaDTxlJWARUklL30UtEJsDPwpaaqRKhM2WInQjckjXqxs/GOBJNG2WDsMJ6OufTuFm1Jv0+keXkMkNrUHcfEqlwa1WTNtO2kbz0JQMKqlr6IbVEFVXRsVtdjUdyZtBXYToo5LPDONT1m14yBUVGGa/qh1s/pxqk+INgwGXgnE66/z4fEUM3SnU2+ZRPtYmI4pJSwpBdGF65dWOFIbaxLgMD5Sj8AlYkmupUWWUCQW1VyaHL+XuvcBkSrky4xpr1INdmYspn1MaxR19wFsinKkkiqT4lxmL0V1aZTqZgJGVdsG17pGTipN/ZGIXOBgbElnddG/cqqa1JftdtWuow4poGfIXQcQEl3gwTU1O85PlsMZXBEa8wDhEDLwPDqGnty3IPFlfPTNaWCKw1AnvXueR6s/AJX6JzEIqRxR9VD3Kg4h9XYWxLi0o8swJ1FltJy1sKLauUDJotPSh3ZcTA6gVlcfVVSFjG31hKhAU0gJk+EMP8p8vPY7fmr2cW6XGXi+v0ETxNshMJvmtUhfiS6OwothnqoWaefYCekx0kJKoZXUz58VFB4DWY9ToZO8IfCr1mXxjnaQZjhBvB4pk4ZWJrVKQNpDqlriSJwywAwAD96Y/A46EMC6tOjEPJMUXltkGNy+3pISaQ8kv3ryHCPMjl7I+Onh1UrE8WbHoxBX4BGUCzcb0oJZrkhUbi6fw7CZVCZ0urrWeSyXlTDjWIwS95bPURhsoldFY4fvPHn2T7GjPX+lFaCvOfDQ10Eyqif9U+4ABESFzasLu6FLuB4k4HYMTyESuBj0RrHEzcmvaQ2tftYZlxGCiPFmWOXV54cskQvLCgAk/XpQtVrDWCmVPiXcilZIlzohsfCAIr5CdBCQX2JFKGaACUEbOghH6wzRW5us3hE/8XXxoOUhV1UWgzZT5E8TN0nJFBBI0NunmpgHULy0FgcKRnm3QcRmV+Ch16IaJXYB3l7VT6NNGcyBGs/uKEIAH5MW8LQtAZHN/2haMsRAOzB8OZXX1TyNgqmmXTFJaHiOkTlq0lM1Y0FvoKx6LbImUBu7ljplu/q5cFKjxtc4IHLm9kwNqoa833xenYw4SP1lENFNPRJa090CkUVe7Zl4D5DMT7k4YAy9ncvLB2lQdUMBNqOpGIigkQi4RJ32CSCWu9nx4m14sRy18avXbgY3A/HdlMW1qEqEikDNXzXog4NF4SAMUjCct/aEeFLrpQKZ2a5iUTUmIkYZYhhNcwiLJ118NGkelLBwM5IaWhIlyqMaxFPRvhowihfz1H5RuDCiIeGMpd4WtdYHL4IjkJCP85V4HwUkeIQLXteqZIVpmVGV+n5Q4MBT5m13AE5EOZw+5LG5nbHxcjgLVDi+UivY0sHMH/r+ak9Tlq+Kr7VaNZDjO/Ptitrn1VLKfe+NWFDXY5LKYpK0MDVV6X1d6UQb/i8WmF1Eg/RDCiwPcBLyLikzAfsS9VmEApgtYQvYjW/FWBJPN24YzHi4Gs8MekREx1ZktSGHcJzN5tVCyWz74EdrpI+oRu23yJj2VoI3r5H0yllUUMtYQijNXiIxlgNAdlgUg8emvaTCw/p1o/hctSRkF+gatY/jU+jF+3r4EA08u6r1piIfk5m2K2bM5GssBKsJftMWtsRxiJSrRonl76cEdQFnER4aJy+5TNWGs/Yzaxd0Vkcoug8Gbqqw45khzoQlWWgo0lxVA7l5udNWt9ZgUDmvBqG9EBlLyoRtBz9eNXHfCePA1HKmZJiHXCAVoHsxbDEFRCfWX+UJtMzmWkhZrb6cZRqu5obWVxb4eOHIqyQAln76BNJ9abvCeut6/Ze9wH4Av6qCfk2EY565F1zE+FGxV9GZkKq/is6mPSLzRKkD/6e3sqgYFewww+r26bdJx9bxdm53tQiqkNm15zapwUtdX11dfNocroYvawjajH9LmNfO9IMj2pDBt2C/TxsQg8WUqn4jMa+Ov6BNBY2RQ3wQwtgIRgmbHNXhsw6z7vbr/Mfi4cWApN49bpRkBWJBaIxKAdnRog0cU9/ZuGq0JdLaZ61b7hM4LLijwqjn1ZgnrmeqtfZgrrRzE4YgD8BWsc6dvvrnNdRbc0KeuKCTDkfCUF64n7BAEwQ8DmggMp9EPJmNj4Eao6krsx4QnHA2MkaFnNdb0qTBiP2wedHl7DHxHVtdDzwBDKhdQgtKjODkDpksbid5FWKSKjE4lJ1RM1urdSpBTxzedBmjNFN+y5UZRWRebWQojVm0LI6ahyhMcM6IddN2QG2DqbLbAkfktRo7lwsrYBphdHJjqliPCVEpCDXH8Kq6tDUN2t84mmkBUE2Tg3zeYZJBCEMEk013hE5T6xyw31W3Nk6enO2qlqhWOlW+wJJrmRc/arAOeAVGweeJdCxarMmTK9KDEbCralqTPwpJ0oX/d39GSY1Tb+k0DEatvOYNcgeTFLW0m7Wvz/pGaO2sllfSRbscuZYsZwSPq/Gxjk//A/rsTJMv02Ujus5ArZ5zMZIig3HcxePq9uCUWVV8FdFXGZYgk30Jw7hk5Mh69B6qKtWQgSzTxibERAJKwFD8mvZmqbBDSqUFUE5sZvQ/Ghj8/ZHwnlmM4D+hJAbbvkFAahnRnqrPRjg1HF4FB8J9Npj0I84mKuNqBaGpsy1qO9P4WaFt0rbqKVtAGC7WkVIRfvcEwXc56jmuVaRgKvQJA75lPe1HUrXVv0ZybNHCOgoVuDUi2P1EBvVkqmKu/TNEb9Fyk88wckF9Zwku2BU6GioAFY08hm/rUneqJTngZFb1ugNZ6iCRmMCsMTmmvgwlj3ZrMjCaQ233nCmqh127QM/bJA0R3+qGjHrSPle12+JoYV4twiuvr8oDCHhYkPtQxYy8xz7puRKrJSAjbMgdTFzYLK1+EWZaBIleXaJeq9JZywn4FQQcV4+17ln7LgeE7PEivK2qGXFXtBKHp3cR1YTyZYrC2yOmNT0MkMpr+20KV3/YIfmR+5GMRjyBFAEtemJ8qxDoGJjNQfBk6s1YcljZ5Aq4H+2SQvxrjXdBrCpN1Kxec+Zfj1nwBZ30+iyjWgaZDy1BQ2fQI3kvruVi2oN2sDD271/VIjKz1hjfxu6qjYNIv67tnHivEEtwRbV1H/FWKgsQpXCM7gece+Wcrbo6s6FaIPgYYVVGnrD1WkOGWl8/VDT3khv3h9rtUqR1DAvqssF0IoGQ/iSfVkFwwa3YaMCvjF/aCcbK2kKNcAVq+dxUJQ8IA4m0YixF2Bili8WFPTvjGrTogTZumMGsfcioyD4RYlLdE6Hpu0Mco5XVdKNwydqfEN92IeIq1Ko8hj661nzIP3Q7IB9NZlq1Iy2/A4XALQQJlb5QTNoopVnG9r6tZbCTDK8aAMH0rd9D8M4JQ9X+OfyqnJ6GrTlwCGCpcAJTLdpK2gi4iRSSTzshk8c3VQJtBi5EIkiPZtHGGnT/ZzGfkOhOSO+1qNSUDlpQI5Q3MNL80tn4tkXpg/RaIcnF9HbuwqMduY7KHfcwCQ6ff7T+e+yqpBUYR226lNHY8ldz40bVlLQfC2sJR62Ou4PtXRsPg1YxOdBNR9W5gfHrcGBLg2DCSLau9QdtmLRk2rWJTUbQRAJHTXlgvpaYubWm1uBDZOPPHhkk8mq8SFbjaCbg1vuH9dY8ag3fc9CP9lYmoi3QxndEO8pfJQZHXncmSKYFmeK1QSVpN3Ew3QqkxjQuy0RUJeeCtuJhJeBudc8Pado9CQFzxuCj3XZ/D1kxKE7dZKg/YmRpK49pV35u9rr6pK7w/TW+jg51PDdtrSWbwOyqVifCbWv5Faucpu9Rj03ARBE5gTk/i5zZ2m6+quI0TZTCAcinWrQCerg54Hd0bWiKSUWQZ8nRSvAyn0vawYEegi5Mm/tU12UI0Apeoj4TBwgpPnawokpa7dyD8t6mUptjas8Kg9+OpIkq+LVvSQTtV8AVIcm0GZArfi32XpucnXaAHUX9bCDceTOjDe7lI4uT2oW1oKltYFe7fCEZ0FmPHmradpbV4Tqjd+ouw+QEbrBBJ4TWWZCgV1dJ1mqLNg5rrUVnqIuoAxrGUDQuNaXHBn9xCw52amrCkPFl0PQ4HnBO1f6tVTo9DyQyIVl7NLTjqBClS5uxc8NmwSdZC7W5OHWV9Pt2sEb1iXNKAw+znCOhrRpt+RQc0VZTj6RAsgMob+dMVmftR3O7X+IbjMJ4kiF9D1Q7GFZFtMxnRTWG1BlMRCmKb6nHkqDPWmea3ENB1mhxujIaoqeoRzY09XMlhCh2Z2sH+0s7MLSgRaAcbhWne5Rl+MQRADJUAdwfEV8q/CLss1aXp5q9tGazivJgY31nIdS2nniCvSDWEvmvLZe7t8JnUVzxOK426PkieorELvB7sNY2H9BeUTWIIUOyGsoqWTfVpiLHFHkjPF2HF+z9Pd2DiUR85Ux6qj2zqJr1sE3FNFRIkGpuq+IZEMy5o/CDekXUuSAbeLpqxNvxBU9mMhlBz7xAKNnbAEoCHL4nWXjwhbo7PX+qakwIE1wlukNPm3qdSn6A2fXw1Rmn9uYSbp9uf3GKts1jFsnDinfvGOuhh3ZMRbA6FLXStvVsBy1mO+3ox2iYmjvU6TbVz1SgwomOCKjTwmAR1wCbf7u9gIwhs6kedu2gTKrnN3R2V30CXSKnD6RMBCEue3GHA4mq/XpoPW1RR4GCe8u4jK7F55teAV3dKF0PLqlq1tZGQ20VHWisrUUYVAdoDi1x8e1E9XUg8m7Uvg2UMdxIpnKkLKZEIU5XnjQkQFUO1oMJyLauaiSDr+3GdbxyAohnpM/FE+NqsA1HO+/ATYYcdRO804OnSFruYhFCUJKW+xdgVWrRIxUSoh1wJEUQzwiPiSdEKyTJtE3+2Fb53G8CcsmhrbS0IXKRtrn6wdD297i5JIf5HkhTNRZdu9kQpL1j/SfkrrIwmDhxkPmtbl1V2blSkpUI1LNH3srd1W4/cCAs1X0hbNzAQa2qY3HU15uiZaGyTNLvnKm+ZW2iOVpLWVrU6UWLH8NDiFgSLu9I8uCWEG3oNEgqKDjAuoVYnN0hPurb41LVu3IbehVo3biHSnyetziAu1KbJ+RCAPRXH+VOGTR187dCxB9z8PbR8jlAo20kCWCa2tag3jNVo4nQ9tQHcXvVvTJUnOQ6tALWtDAF9t6YHeh8RVxnR6ncBJ+kt21bC5ewGZZdDzqqE9OiXeEoddO+AQSi+DKET9PEwoqqNQV0VXrgQM+rdg1ZgEGUooG6tjynrlUKZOrZ6pLQdg9PtOmJC4oSe0IL826CoJ1wwitlPcgB82MKRoNcgDxmgfsRfmp5OTM48NQT6B7G0UA4cnrd10uxpIKvHm7QFu9YmLiVkpuM1ZITZu7xh1qshScldZ7MIAC1Yu0mqaNlIx8JG8a1ZgILGaUOD+WTfe1Z1p43MYf/+5/u1wsBEO/alK4HkoDOekzC7mtqz7hKBeE9cCfAV1EPwJGbA4C15ZbIzE4bbLDg2tTj19vK8h7DFLRYtbTlz79NdOhNlXIVk1Xb7RAYUT1ZAL12v9hyemiWZBAx27IWs1E4WbgxTmmqBUfQaZSguoaUCWQtQzHGNa1ZT23I7EkbmLQZS/gO1EwvJcL3t+pzuDwAwLSU2rUbBouMvhpv1cWSSgIqrpHnuH8CEsFiUGrSih/SV5OVtDSm59QAMUP7juJ7olTWwz5Ir2NQ3muXQ9aA6kNLud0dAQ2jjCFGfyUTwyKpkXf76p4LTqhIXxbtDtNOPVNJSs12cvzYUoTAaNklZNtB4XyErlos3nMYrC710euBWipY6LlJVWs7WQiiFpWO1cUHk01bi67b+UXg55ZV7K5R3+XKX10WoMHlEMtQ7T62Aey38V5jnTQ5QHvEQYPZZCZjhLp75dJb3xMz9BiDrfYMVaPVmK6OjYFpaE1rHdoaBLLCoFt7W02PUsJN6KmeS/JZY6nd2iqRoR4hg6rH71x1BCEu1vORxPdnl2E4kqlKshwU82SZYyb1SLSoxS+0YtUD/STDRR3j3VrFwyOPh5ZG3uOfUlWlcsOhfZ+F3lbXtSOR7ttPa2/WIW8960WPLlQnQEva0KYdTOiIjhbGpYzFYCLf9ZwztQcPCGxjakyPG9AK6n7bXVJXG3Vs/M2GmruQNBuo0sMniiaNGW96ZlPWw0urZliPQECxrYGAG+iKI6mVydGoVfCKhCLItRFRkmRqIVfd9HBObhGv1Ek0bVeT4ay7OW8imqGnCFXtaQ96qoo6NDO6D9kWVF3G08HNR89M6q/TFWG31acztfGiM97byeoMLYh45ATck7WrQBtL2ou1crd2fTDGSePYnx6eWvWuWc8oOmtv7WVOzhgvLEXm6NqooiYkFSr1+AougcnZ6nuykUKE0blJ6GvBmBG+Yro08Bi91zIMsGiLKYLn6hFkgUstwPuOWgM/mVDVIsSQHI7dslacSISbtd/7aoTfIyfct86VYk8/6iD3QpDufwBKFKVgoG7OfwAAAGZ6VFh0UmF3IHByb2ZpbGUgdHlwZSBpcHRjAAB42j1MQQ6AMAy69xU+oSvEbc9ZOg/ePPj/iIsRUmhKg53XnbYtcDc0BjunU/wRUdIDVetAwDUlppxL+0pT6YECYIAqeg1VD98JzR727Rdy8FltQgAAAYVpQ0NQSUNDIHByb2ZpbGUAAHicfZE9SMNAHMVf00r9qDjYQUQhQ3WyICqim1SxCBZKW6FVB5NLv6BJQ5Li4ii4Fhz8WKw6uDjr6uAqCIIfIG5uToouUuL/kkKLWA+O+/Hu3uPuHSDUSkw1feOAqllGIhoR05lV0f8KH7rQg2HMSszUY8nFFNqOr3t4+HoX5lntz/05epWsyQCPSDzHdMMi3iCe3rR0zvvEQVaQFOJz4jGDLkj8yHXZ5TfOeYcFnhk0Uol54iCxmG9huYVZwVCJp4hDiqpRvpB2WeG8xVktVVjjnvyFgay2kuQ6zSFEsYQY4hAho4IiSrAQplUjxUSC9iNt/IOOP04umVxFMHIsoAwVkuMH/4Pf3Zq5yQk3KRABOl5s+2ME8O8C9aptfx/bdv0E8D4DV1rTX64BM5+kV5ta6Ajo2wYurpuavAdc7gADT7pkSI7kpSnkcsD7GX1TBui/BbrX3N4a+zh9AFLU1fINcHAIjOYpe73Nuztbe/v3TKO/H58pcrmZhGKbAAAPVWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNC40LjAtRXhpdjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6aXB0Y0V4dD0iaHR0cDovL2lwdGMub3JnL3N0ZC9JcHRjNHhtcEV4dC8yMDA4LTAyLTI5LyIKICAgIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIgogICAgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIKICAgIHhtbG5zOnBsdXM9Imh0dHA6Ly9ucy51c2VwbHVzLm9yZy9sZGYveG1wLzEuMC8iCiAgICB4bWxuczpHSU1QPSJodHRwOi8vd3d3LmdpbXAub3JnL3htcC8iCiAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgIHhtcE1NOkRvY3VtZW50SUQ9ImdpbXA6ZG9jaWQ6Z2ltcDplZWM0MDI5ZC1iZmVmLTRjNzAtOGFiNy1lYTZlNTY0OTI3YWQiCiAgIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDBjZTdlMjktMjM3OS00MzljLWE5NDMtMTBjYzQzMzljN2QyIgogICB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZmRjYjVkZmEtNWZhZi00YzI2LTliMGQtYjNhN2Y1NzMyNzQzIgogICBHSU1QOkFQST0iMi4wIgogICBHSU1QOlBsYXRmb3JtPSJXaW5kb3dzIgogICBHSU1QOlRpbWVTdGFtcD0iMTYxNzk2ODkyODg3OTA0NiIKICAgR0lNUDpWZXJzaW9uPSIyLjEwLjE4IgogICBkYzpGb3JtYXQ9ImltYWdlL3BuZyIKICAgeG1wOkNyZWF0b3JUb29sPSJHSU1QIDIuMTAiPgogICA8aXB0Y0V4dDpMb2NhdGlvbkNyZWF0ZWQ+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpMb2NhdGlvbkNyZWF0ZWQ+CiAgIDxpcHRjRXh0OkxvY2F0aW9uU2hvd24+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpMb2NhdGlvblNob3duPgogICA8aXB0Y0V4dDpBcnR3b3JrT3JPYmplY3Q+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpBcnR3b3JrT3JPYmplY3Q+CiAgIDxpcHRjRXh0OlJlZ2lzdHJ5SWQ+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpSZWdpc3RyeUlkPgogICA8eG1wTU06SGlzdG9yeT4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGkKICAgICAgc3RFdnQ6YWN0aW9uPSJzYXZlZCIKICAgICAgc3RFdnQ6Y2hhbmdlZD0iLyIKICAgICAgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDphMDUzODc1Ni1iMmQyLTRiMjQtOTcxZS1iNmMyMjdjOTE5MmIiCiAgICAgIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkdpbXAgMi4xMCAoV2luZG93cykiCiAgICAgIHN0RXZ0OndoZW49IjIwMjEtMDQtMDlUMTM6NDg6NDgiLz4KICAgIDwvcmRmOlNlcT4KICAgPC94bXBNTTpIaXN0b3J5PgogICA8cGx1czpJbWFnZVN1cHBsaWVyPgogICAgPHJkZjpTZXEvPgogICA8L3BsdXM6SW1hZ2VTdXBwbGllcj4KICAgPHBsdXM6SW1hZ2VDcmVhdG9yPgogICAgPHJkZjpTZXEvPgogICA8L3BsdXM6SW1hZ2VDcmVhdG9yPgogICA8cGx1czpDb3B5cmlnaHRPd25lcj4KICAgIDxyZGY6U2VxLz4KICAgPC9wbHVzOkNvcHlyaWdodE93bmVyPgogICA8cGx1czpMaWNlbnNvcj4KICAgIDxyZGY6U2VxLz4KICAgPC9wbHVzOkxpY2Vuc29yPgogIDwvcmRmOkRlc2NyaXB0aW9uPgogPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSJ3Ij8+M4tACgAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAAAd0SU1FB+UECQswMPcfIGUAAAA0dEVYdENvbW1lbnQASGFuZG1hZGUgU29mdHdhcmUsIEluYy4gSW1hZ2UgQWxjaGVteSB2MS4xNArT62IXAAAgAElEQVR42tS9ebDl11Hn+ck853fvW2pXlWqRVVLJsiVr8b5LeANjwCsGmzGGxixDtFmme1iGgSEamg5moKejgwgYaAZMt9l6DBjTNt43CUuWLJUla7O20lKlWlR71au33fv7ncz545zfvb/76r2STDBMdClu6C333XffyZN5vvnNb+YRd+ef49/Vf/N+/fdf+y5/zo6nZO6lj+kd1UZ2Xr0pXvH4mXqw7qh+5Mmf5yWHvsCf/B9/clG9/8Clg122Y+7cYJPPybaLN+nmbbti2Hyx+o5LBlPrNtqmMM1sCGxQ056oq7gHcYjKMBlBFA1IqqESHBNpzMRMbbkZMp8W9Oz8Wc4dPcLy6bOmTx2iOX1KzoQdF5/YuC2cTU+dOfK8G/sHf/X5Z4799jv+nf/UxpPy+JFLrXnRYnzOE5+1g/o8rrvzRXb4xAE+fP0in3n379s/xzrKP5fBdr/pTfHIFVv5vre+O9z1Z3960Y5vfvbi/Y+xe9NFuufy56VtW/fotdPqO3dvteGW9Sxs3sKp527i2KWXcnZqGrRm43COXppnyobMDBeJsgS1MpMS4gl1Q1MiBkETVKkhBiEhBFFQp5aIUWG9Pkn7LDLNkmxmQOCsDeDQMdYfWGDLyWPMHD1H9fRxrZZMjxx/0h7Yv48TdfQnp2c3PDl/xQuOXvM/vO/0p77+iXTDo4GbPvuZ5r8Lgx2vXyWf/73D8stffpJfe/1PyJUvvkM++hcXyenhSRlu2sh0w+xtf3bXFT6V3rDzMq7bsZWdr72hObNzJ81VGzi8ZTv1xkXqaYc0pCcLeaGtIUpDTE6sDXWnh1MlIyYnSEIxxITgBiZEFyIOaqhBzxLqAIKiBBwXQ1yQ8vZVBBEHF8QBb9dFMKkwKpZ0iiWmmVtax3D5HEv7Ftlw5CDNbXurTU8esKeOHYrfrJb48qXXyRM3vGV5afnjP2S9b9vNa3/mb9l79gr76r/9pF/ysTt8fvZa/6/M/v9rsLd8+H8RWbw7PHLXq+TDP3ev/PXPPdT/u4efeE/vdHj1y64brnvz+53n9JnffREnd23k5KxS+zx9HxC1gTBEJRFMqDQRUk00JTZO1JqqceKwQcSo3IlJqJIRaJDGUXWiO+KCGgRAFII7fTPEQUQQhADgnr/Wvn93RHXyc7LhBAckfy2UryUlNBGveixOzTK31HDqeA+Zaxg8vqzDL/+Nh6/d2VsY7qq/9q49b/nr9/2bLYMfuf27eP/wT/yKnbemH/uxgf9/brDLb4a5u+ENd8zLJ37yr+UH7/m3HP2j7+KNj/+O33fJa3vfeOypNw6mT9/4Hd9jO65+sW+79jKeeuEeHtvcZ9HPICQQEIYEcaI6ypBIjbgQ3YgkquCEpiaaZM/Shqp2Yl2jCpU5IZG9jIQkQ8WJxTOCC2KOhux1EwZzIQp4a7BiC9xR1fHfas7os2yrYkxv16t8roCBK+IOKQFTLExt59iSM3fgLL2Hz9F7+AE5/omP+qFIuGVqs9/0xI2/WL/oudfK+/b9ONf8Jjz9oyf9X9+w3vX74Phr/okMVr39rDSXzumOX/yY/PSm03z0bb+3efnpk697ziwve/Er/ZUvuZ7Db3o5e7fMsBjOMSSgJIwhWifoCzE1hDAkSoVSE93oSUJIBGuoUqIKRhg4Kg2VC5FssMoSGpyqtnw2GVRSE5Ij7jnsjQxmSBAiJSTaSoN1Fl1au5QQOTJG622s+NzX/nziuY7UjkuknnouTzeJA1/dz84HD8f1e7/Crak3ffcWu/yWn/7r15+8+9Ge/cInfxrdtOjp16+zb9lgbwcWgC+NvvL99Hpb5fpL/252eXjslZdtl3e8+CX+ojfd4He/6lU8FZY40zvFvCkhCiagZrhEAgOUgErK51IcEqlQGqInetRI8a7YNZgalfnYYMkIwajqhNZQ4URNhORo60VICYuOBohAhUHjhK7BrBhY/hEGM0el+Fr349UMq6AWEAX3hrp2NGxgvvc89j96lOGXbuc5Dzwg9z5xgL/bVF1y59f6b1+oH/x9g58CtgK/8ewM9pXH/5Uc1Q3hl9I6XnfT58ODv37LztPD4c+8/g1+xXvfzdMvvYRHNipnzTAxhjSYCskMjTFHfRPEGwI1QcAlUeEEr+lpPmeiGxWJ6ImoRtU0EI24nAgkKiOHycapUkMYeZjk0OgNmhxRoWeMF9wcCY7i9ABdzWBdT5BsOfkn867xOQkZ0DiCWMrbwoEGUpzlrF7MsYPOyY98is23fEH39apr/6+feMfgyEd//nX2q3acy+Nee+5zD9qaBquqSr/jV14c/vW7tvhPfd/X3np5f+6dP/zjvuHGl/Dw5es4zBLLIZBkyMAC4pBCIhHJR7Tng9od9yYvPIAYlTjBhvQEosiEwSoxojUQjLBkREnFwxK9xolNTYgUgymVOWo1ahkw9M3/aQ220gCrGsifvXFXno3ueDAsgTSCTW3nxLk+x+89JfzhHzL39NKWj3/gt3/677/0zU/orb91rzVNk0YGe9EHXyqXH9+gV1e36Tc+ulvv5cD7v/ttzRvf9uYk3/Ua7o9zLMuQpRBpUg55jRgGJJSkDZYUguLJgZRjjQ5QhCo5IRhRjOANlSeiaj7DSASMKPkM0+CEpYaoEAuwmDBY0/Ewa3L4Ayr3suhk0EEOq0GE0DhRBHXJ3r4CVOQFFMK3YoALeeNKY66GTFsMo/kMxpyUHKlmWA67efgbR5n+zFfiuc/8rXzxfd//lr9cvOJOO3DzD9i/+O3fI9z45n8T0+Gl2S/fcfDdL33Lgd/8jf81rfsff9D3XzPNwd6AOjjJlUYCLmCew14qf7YLWMph0VLKu0cUxwiqeVHVUfGM6jyhKqhAcEPUEc95VlCQ2lAF9bzwwfKZqAKBvFDBPaNN8vNGCK41WgI0lQgCihAQpPy8rDQY0vG6Fd9a+fkqCz/53GIc6Xy/fO7uqEjnBQWshEwV8IZox9lx8RJb3/h6m7/hO+3Suw488iNf/Hvs4ut3Pfm2PYcaecP1W955xRVnPvjBH7Z9Vz+HU9MLmCgDYKgBxxmaM1CncadpAomGpEISwSSRpMGSI6FCEogrojURiDgqiSiJkIzKa2JUIkYvNQQxouYEuVIj1NmAvWQZmKSuhyWCZZQYrSG0i2E5GVakbAqBUGcPS1ChVAVYuBmac4wx6HA64Wr1cKh0AIZ7Noi3sN/bV8+OI8IENHBHzUGzgUQ6W8xytBofUWXjSaJx8HAJB49Hnvi/PxYve+i+i39ffv6D+tVf/xH76vQiEpRldwaWqCWwrAFLxhBhyBDTSI2QGsqLGR6cJnMI5L1sSGOAodGp3AkMCCL0miEShT41YokeEBV6NFR1IlaCLg9RM3puBIwqObFpiBFiY1QN9NyJnlB3JGlOnEWyMZycUFcJF2XKIXhOzC1k73Q3IKBJwQyLRrBAbzjEmoQ0hjYJS+BuJEu4OSklkiXScsOA7BFNa5hiBOn3mXJQjVQhEDCoQEMkihJCfohSNrwgMY5/3kGTkdRxCVSew5hNbefxX/4zfWHcMqNNb8GC5tNnFF8FoJxVkkgSaGgwURp1UuN4UAwjDRR6EZdBWURDYwYhXkw5+cICGsANcQPpRH2XiZ1JCyhS99CXFTFJRjsWN1DJO19zGLKkaN3Qr4d4avDFAcuLA5ZPL+KnFqhOLzI1vyQ2vxRkftF8fhmZH4guzRFOLUgwrDL3KiURd1FzD8W5KhASThIQ9xREdIx/rAnqaUMveG8a37IOqmlsKthwXY+0bibo+im3mSkfrIu2vHGWZt0sTEV0x05iMLYHwdUJywfZlY7bTEyNpRAIJIZlcV0DZR0xUt4JgHjARXBP+Tk47uDipKYGVUwMohIEghlWqB/DSJq5vry/2xiTcJFshGSI5l2PZGSFOhMxY0T25Z8RAUktN5jwpqE3bAjLA1hawo+cQY6eVU4v+ODxozrYf9g4dc5nFxu2qFPFbNRaHQiNiiMg0ohpY+J99eCWf9fol2vxBpcEjkrZhiLBy3Zy9+guvSapnl42YUg4fEoNkIgKIEmSiJbj1qS8KqkvMvz937Uvbz/GTiA1AqJIDR5FTATyvsjvyPMewV3yYpag6w7uhVQLiuOYWHlOiekAIZAshyzzHCoDCRu7bsfhDPOQvSRbv5zYMj5YmpX2ykZMtVDVS+jCEnJ2nurIWZk6dMIHDx2W+u7HJCwuh82WUgr4suAiwWatcRykBwOcYTm/xHAhYfkMc3HBA05j2ZVkjPTUWsu5eHk/7ZEo1tlTbZxwF0gkycaUNEqpRDzlTTemwFwHYtMaUDecAOq45HNSMubzDmlWDs+oZQGzFcxzmcLMQAOu+SzI8L7AU8pvbv8cdwih/BVS+Lfx7xuFS3E8SEaXjREULDlqingqrwmewJuG6uQCG06fJe47JsOHjnj/4SOSDj4VNA19ibJLgqgEmrmeSMBFUQ+pGS2kdsiOLnJc+bm2y2LSvg06NCRyvu/nZTDwspc9H1l4PtrdNad/sjqVkZdcS5gvKcTotSMhI5XMpeAYCTKQEMUsh0McZOhICNDLYMQJEBJeDcv5FxFq1Pq4pWywkshmCKtAjWvCPGFiJBylIbkgGNqvs2Es4Rg1ip05x46Tc2w8eIL6rqfk4scOxoXHD9nS/FCC1M2ZHIaaIAXCqxOcBjFIuHsO4+a4SKaU2gUPXdjuY2N5G7Y7YEBKAoy5GtByxmWPjnChAq6gGYO1ez6/QOjQmN4x/nijZO4h4CqUI6iDOOMqFkYCmRRk9Be5G81UpBYhkUhqmEGiYbwHFLcZTBtUcyJtNDgNQoPgNJIQGlwdJQFpxOUpRrIAvogcO8PW48tc/PDjzN53mN6dD8vpQ6ekikn39asmLA2j9qTJrEne0WLlLCl/tXh70rWw+3zPouMtyphbbGPBBOQHREUwH+e+K3I1WemBMvZSZy2vmvTQCz1nFYMVJqUABUxLcuc5jpNDVGqMFALuERcrpFQGG06Fp3oE2nI2n3Cpc94GiCe8cTw6DIxGHZ1bYMuRk2y/5yl2PnAoyK136uLJxXS6Z5zEterhFVgY1iKV1sGQ1hCCQ7AVta42lub3rmskvCsNOJkTMX797G4uqvksclNf5XVWzeVWJuGT59z4Z/NmCzR107h0wmG2vkRfadvOGYRhkmG9aT77E+AoHhWTNh6Egv3GiNs0ZULYsxeZG403eeHEMIzGh9iS0ztyiksfOcTV9+2XqS/co4vHTtixEOzUcCja91CZW+V48PL3SF4SkWySlkkYLXzXW0YFTB+dXRNe5qt4XCmITnqFjA0o45+9kFfIxMHGasnN2o4WlQY5/4yMJVC02behI/TmJJIoJorhuGUuLsWAqebQhmaD4AjjrF0FTGoageiJxDI+FAID6iknLNVMPfwUr7j/CS669SFdd/8+e3JpkdOu3tDEyjT1gnvwQhv5ikXu4Jvu11klROkKo7Q/r4VNVzvf07qPgpkLfVTQWt7xGSBnrlDWdKeWmrLO589U9/I1gmgs9H9+juCmedu641iB+IIS84vUy6RY4SjZZAEYlpDo5chrj/IMk8wGNAbRjObcgEu+8RgvufMh2XPHPk59c788PuUcXxoSDJ9y82iYRtNc1HVvz5dRuFFfdV266K+L8LTzaBcrSN4I6jIia8Un62Nd72uN1qKC7Gni2iaFbqMz7zyPk3HqOME5cz7K1JU2W/sMk1zyliKKaLeDM4boIzYhgegIbIxirOe0WDBMBhnX4hAS6fAxtj9xgBv2PsRVtz4ojz14RG/qY6ct+dSi6RRQOQSHUPJhXRE6RqHEpbOQPiJ9VcbhsP3DQ7voJYxpgdwrPYgV59X4bFz9jOtuilxOWvs5I0gmkwaV1SPmSudcaTBFyIqjUcxtt5b3kWS4CmYNbopFwRScBk8NppFGpvLPDpr855ohEvAQ4OhRtu77Jq/f+yBXfeoOfXLhVO8vhml5MZKmXZkJThQ81MUjpgnRyIxBu4jKSIfRHrktNBfNrH7XUCo+AddHnudk+YCu8D4tqbrlfSltiURz/qVrnTsj0kVcg/iEIdwFc/GVCLKTUnS9rv114i4OpijqvprBChfX5ePafSbjA5aguEn3p7Kndf9pzuGoHTk3ZP2jX+HN9+yT6z99Z3Xk9Bn70LKHeVxmDKaLwilIrkVp9xwqGXX716qPF3xklJJDScerRueZj8+u0P35Eqy7358Ioz55Dravuxp8Z5WkWVYm0CvLbmWjrQU6uon3mp4X3XF3GrUSzBrcwDSTSamUJCwKHhKpCTlfSvnMSt7gdczhcbmGPtgDd/Hme/fyyn94ODQPPmR/itVHxOP0VBzO1lAZohUhJjMFVcdXGmUUwtqv+dhQLUSXFcYcGafzs+3nQSX/rOdTWT2fP+3HMqqZnw/Rg5yfCvgqIasb5tTHRpKuAS4QOrsbZe08zEsOJfnQ9BFlFArm63heMNziOMURzaGxETwmwsEnuOzRO3jr5+6Pm+58YPrT0/3ZvSmdmG686UVqHda5XqZZ5hc91y/bna8uhKKCCt0F9xXeteJ8USaNFjrGCysNuwKErPQym4D3k/C9eyaFjuf5GrmXryl8WsVIXT5RZG0UGZ8xte5m0608wUcMuw8NDpylOvI13va1O/XVn75Vbt08veV3NQ1sfqHqO0mt4yFlQbUU+tTdVXFVJBSUOXquTC5uANeM7lylc245xM7HoWUX5HxIH8apgBRPdBnRoJJ5+JERZdLj/HyekTFokZag7VaafYXlpIP+Vm6EZ/UvjsiuUkBadW+UUNEIXjsWcxGTuT4cforn3f8l3vvJO+LiA9+c/u0FXXxSF872mjDoD/2suLfID9ViLCv/d7FsBA8horG78Iw9a/QIaoG8qFrCYmvcTO5Pfk1kZBRCGxRSofXUpbyuaCbkSwmpePCKpFisBfyraj46AOOZZZ5diULr3eYTgGXVnxJ3PJJpZCmZ1KS1FQ9aWAzFqh5eW4bvy3PI3bfwzq/u5TVf2tv/zLrFzZ90X1y6qIlxPiRN49DUnkGjMOXj70XveFzn3GghcGAcHscJ7wpYvgLSsyLsjbnKzut0X+sZaCpZwc7LGiSgrJEbtsFJVznzVgMsInIB0BF6BPGcm4Qu35LG7m0BHRpWDUEUPfQUO2+/je//9G26bt996/7PJV/3yNz6w95f6gWHiLlqQkpCpUBoIAYIAYlBPQZLmrKSNximAW09KuRwKKOQuBJ0dIyoZV93Da4h59ZKBhNqZElcN6zZCAR3ziy5wKKPk2nMdKUBZAWxtxog8TVEPaysEoqILA5Jmya5RBdBIlmPjmSJ8/gZ3bfT0IRItVAx3PcQL7rzFnn733wx3L0w2PCX/T2bls/te9ztDLIVtCmIz1p109ijokFQkZCrD0THi9fJSiDQek1rqGIgUfCRAsrH55ysAiq63r0abyhrEbCdxVRZUfeSUXl1wjC+hmddMCSu8bmXIqeu9jqRXEzq0ipeyimOICmR3GA4h91/F2/77C396z99u38i1ekLXp1q7MBuQ8biF8vawJDJ82y4SKgaLAhERYJNIrkJTxqHOdeM4F1FPGSQ4G2SLCuQ4XnQvhy83TDYXaBJ2krOJ2wLl+ctdeWlsniBPOtZNZ88i89zEqprgY6SpapMUk2esKSYBKqlmuq2z/PWv7xJNj/46Lo/nOvNPDEbj9q5uWTwjRFUbUhqaHQhmhNTPqPiNBoMU0ECLsEEDWWBuxBeVniW4QFcglqmlWwCBXbPrsn6lviEIbvIbjW6yVdJgL0DMlr9oLv8UxnqmRmptQzWssIuo7rRiJ9B4fgZNnzp03z3X32GdOpw7w/SxrmT26eC18MXBzl3p+WnuguqGXER3D1Y9rBI/n8YAQjpgg1pQUWrMQw+CcWVHGLDGsVHWINplxVM/or8qhv0ZQJmjZfXnw23txar8Sy/vgoB7M8A61M+vyQXmb1RpFG86aOn9/GcL36ab//LW6rHTx5Of1sxXJIzbktyzIOd9C1U6iO4TOhJE4fuVQvbBUJTEeu6DqpUFR7VcnKccK0IE3lZ1ygqFlFvv78WRTWBIFdh5fFxvjQByV3OS4ZJOfJJB6b7BdDds60atwk5nZD/rTf1dWF9wZ25MSA3qPnRR3neZ/4mvvwjX5UH0sL0F5SFtFCZ9bNkSNu2HSsLZKA1HlLxGCte1J5nlI8lFyJDl5XoAAtWeNPoe6sUKbsG0G73UJGadfKxETI4zxMngIVMeIKu4QXfaqhbrYzyrZL0nXqYZkgfCzQRhcP7ef7f/SnX/tmtfudU7XsH1TkTc9s8UF2Ipi6YaQpIyrJ5zyDBLIc/FWJwCeDBEwEkihNy00ZGiS5FPz8JDEbgwzqMvJ9fTR5ROaUzRVQI7hLcEJFyvjlanqpBwcxI45xszOAURZS5ZGpubOML99adnwi3flTqZ4oG15Tc8gmoXab+mV73PLO3sH4iXkTwr3yO1/z5neHm3lDuTTiDoRNBz2F5wRxVaWlla5FbbJxouVEhkOUasdBNXU/KZ5JPIsUub7iWFG0idHrxOC3fdxH1IIZoMneEBkwdFwle4YiNd6+vkQv5ChzyLYUvB7HS5a4eRNTcDFORUVeLT4j91niZ1bnEsUSg8yeIA43Snx7qcalMcRVLMS0xVCHIlLka1ld1Ky8cp3qqKUlc9mqqNqv7VVXVw4VoEAVi1o54cAkbYrQNTYMI9FyscugJ0gs5TxOxoODBpDScdZh5zTogJZhKUk0u603TzCVX8cTLXukP7nq+ze/uSbXRk6/fSLKaeOYc8fQ5iU8dZt1Nt8slTzzqO1IjQWBzjXqRdQr/iH9Bsjc3pdwgaNq+zRa+921y8NJr0ql1wTW49ppEPP6UT932Dd18+20+u1w7CV0nUpawnE/dYvDabH1x0ZS5PpGAJvBhalgWZLYnl81eNHz1817kt0FDqJB+oO71oVIRTVgNPh28OvPQ8GX33jX1V6Hfj8PhQvDCbAgaoni4+mV+1Q3foXvPnEjzqlBNefCsU0i9lIt3cSZVzRy9z3/B3vjY4yTNoS17mIoMnXWzm0Lzxnekva+7muOv2MXZjVOs9wUu0mSbMKJl0jIyRUx9QrrIgz6P+OM3+NNHznD4rn0++9mvs3Hv3barTuGi0lYgzwLFrThsFAe7aKs1P/rDdueLdxqXbEDSItuWz7EnNSiYaECuvpj6je9IS0tvY/HgCao7H/UTH/tyvPjcnE0l0Sie/II6txZ0yLgFJnOKY+WQzvSo6sZ55wv9uT/7PdxHRRRhiDMVAq6at0RK3phRfWS9zO7d69pbOq0j0JFFrOqu+vw9tf74a5jpH+dM8kLj5gAQJBBd3L3x3plTrL/1JoJ3tH0NbNj6fD/7ve/yT//kjTzJcfZUDeutYRNzhCD0NCtNMCESCAISU4FoNUmMqT2z6O6XM/Od17HwxVf4Ix/5Slr/wP3sNtj4DChgJWL0EJL+0I/4fe/5Ng76ca6RJfrLyyhZfCSZMc79BcOGUC+h5qRdPfTdL7Xem66yQ1+4V6Y/ehMb55dkfdF8S2ExVpcImOOaEDU0xdzZKBFJwXWmIdRuXlUwPUXQ3IakyWg0kASSCVIlmjogYRmbjcMq4VUs+VdUonqKAY0K9IxEhQUQYj78U8Iap+kbXjtiigbNCXQUCbJBt7zzvfbJn3qL79t0hqvjYa4IgSAR90TjWelVS0AtUrUaeW0wlLYKIJpTlmhGXVVUb7sOfeELSP/Pp3nq7/5BFxcXdJcGMHNPNqqn+4rSiLgI23fI8Df/VfOZK2a5Nh3ihaWZ0cwzmUlp7HAQL5X40quggKUBsj4y845XuFy9Ix3/3Y9z9tAJuTSPeTkv7RhxiV1axs3zrihCgwwCMsBImRfK+vcYMErTggSciKVQQqtbsKx3HMF3d9Ek3tbFnECThNQkUmqw0ivlRR/dWFZnuZdGymsul/n/6eW+vO0kVwokC2O4ZSvbUX3cguSd7Lut+rZyiAo8Kb5LaP7ld+M/9nY/vm5W9pu5m7mtFZ0c2Lxdl37r15tP7BFe0iyxYSTvk9FsjwKDSt1wEmS04g8X8DCg2X0RsnObLK7Nb3QyezHy2VcKQ5JwNcxRrR0JLqJaZKVZApdKIcZQkpD17xba0oBGFw+qxCDZy0qbq3pCLauuTJ06KrUKtTlJQ/YUiVmFZN42srjWDlVT5Pn5/VoqDVilFDHubcsaSdMs0RNT3ApjWHgsE8v92OK4Kzodkffc4PEnv78ZTgc9WFj+FZUmUUG0isj//vP1p55zjlcBU7HBXFvJ/AWT6dXDbSj0WuPPoOZo9eQ2ipfZGQuBl9mIfH6ojkWmOV0pXKjkDhYBk1D0jBAlECXTULFNkIuWXixLuS0FpBjF2sY/UfCIuuCuYwGQmGkIaOnLmiCqJTfK592ctxWeUZuPCNTM70vI8qvuf23m7DOKv/V6H7zzzfWgknjy/Gq7ExT90R/1m6/uc30ZmWRJR1TYP24kUc4hZeT/F3heabIY6w5Lg7eUnrBSbBRVKYtaTsUiEWhZZR91WeRdEJKPOMHRw/BQepFJIYejoip0VVzGUm8v7R7ijpjB9JQ0rUGC5HCsk3+idzWUNh600m5EK/zoqJNL2pJtZwOvm0Lf+1qG117VHG/bWcddEM66LTb/7pf4yZjYElcB4BNsiY8e3q3N+IrM+VvNJ6J7VqtVqaimBEJEVdFQo4meiC8lEl6Dxwpzw4LlLhYUS06TI50Irto0ScwkVIQQaTThARFtBBqwaKS+oJb1jlkCXUNSVHp4stxy1EOD4RKjqeaJJKqB8wYreG5kt2SEI6cI+0+w5ewS6xsjbJ6lvmwrC5dsYGA9Kgn59+UGZiY6EdWpd2wivvW13nv8sB+Zn5fLU5KmxET9wL/ky9WQFycneURpUE/YCP6Xuk7phebgMfzwPNXSEMvym/AAACAASURBVFm/DrZvIm2dIs1EqsZXyAqftaaj7OTkiEawPIJBioZccQ8ipcFMC0pq93SromjGMcryJghZEUVwyU3jiGtpMnDv51YkKd2HYuQuPsc6sjIpm1NGTW2d4S3j/sbxVj1+mv4vfIhrDhzSwWCZdYj1YlC27zS78TrqH3wdT+3Ych7F7x3lkgrwbc9j6aYrZOn2e1kA+oXGb1622ZM6M2MAkI+Hzgu4NdhTp+Bjt6L37Gfx1DmmLGnVU2HTZhtedZkOXvfSNLjmEuL0MmLh2ZmsfZ9RckXZQ+6uVg3tLnatTVRCo6GHekRV8lAVyQIC89IV6QHJTaGeYCoEqaOKxeDElEliDVhQlBpL05GGOjff2bg9NyNUy2djxl0iXsjBsr6NOZXldnkJWRZHkemZJfz0AsP5c3ZF2w82bEyeeEI4eECWDp626pfezf7tM9SeAdHEgpii3sD6GcJ3vtTX3f2AnGwSlwBs3CGDnT1XHdK4FIl7FxUWLzu+TPiTL4blux729cnkEssz36jNZeG4cvi4p1u+oc2bbuT0e15nZ7fCrDikTo1BEEnu5iuAbyj9aRTg0YZqKfJUTZJBleoo5Zeiv8+go+BlNAOIhSUPhEFwCypCoEgA2hRBg/d6kUE579p+6nz+6KivOUNhH3lWt83H6PRCd+Gxj/MkdzArSLO09UrC1v3DbWHTX9zCziT0vBNOJ3IdzeMwX3I5S8+/nFNtl+b27f507LHJdc2eOgD/5pNU33zCQmNss9zw0611uYM2Teh/9ma2/8of6WUHBnI6zJIyIhhPiCl5mK8slE30UeHgeepMbo53UXcV0QtCTZe8OCqGq1oWiLpoHoLT5nOiKnmOTtDC7CoEGcEZSvHUC5CQVpE7kmILXVnKZM3iQnAY92R4Q+p/8Xa27jvWaeJYjSN0ZOtG7LorfUsF+xHYtoGzsWZa/MJocP8J0jARmqKMW1XfKQl3ePpp6f/ifwzXP77Iod7MWCnuOPWQfpneMNlRgSOuhFQUSDKqf6hGNKQUCYE2KNnKiNuObLBiCAaiYME8KISRDMBFtGTO5qxQWJZ0QnIP2qh1M7UdPqU2byGjzEnxyeotPivzF/fcV33kCP27DrDjgpswo9F47WVY1bdGxLXvntwu6F0C0AuQEimu3i00ofMUdxmkxP/2O3LjU4doJM9qc8c9QSMrhCbeHrKjdtA0rsVMSs5IulZBwEdwgDJLSYoKKnSl0uRZhtI0hKVBHk5peRCkduXgZfxQZq/btqIWaHhhY/Q8/xCdVOnqWkVGUeI9T9IbDNZmFUro991bGGzfJslVdH5JpkQYdjsxV8uKn38p9VTQBp6VrtRxoWlEj5/mUhi3wOCr18XU84E90UhlFaQmIKIhiGnsjNZyHRtSG6SqCZpblrQxvFZir+RhNaY9QtUnBE2uTYMFg56gYYDoEhLrrF+TIW4BoQYbktpZu4UHNQNRI8ZssBAUNcE1Fi26lkqFrKn1AGBgku76pm5cTHhwTHX1JNWUeOkW2LHRm5S8OTFgq1Usljbiic6GLuh4wU78229Iy1UIx0WCSrgw3eSem02apBvySBlf3Sc6mr9CJozG12XjuKsj6pLHD7jnSWsFX4p5hv8tTPLClJfksZW5dcv/giOWcxdpzwLJiHA0BLmd+VHwkpRp13m3jQDjeQvsF+CBJnWH4nL8pGw4Psw4x2TNIqX0AunKS5iq4Pjp42wZDlmwjkCnJPfdOYgyHeE9r6D6nhvS05U2x9T9H1VrW5NL7IS0bDRHguZhVnkDmoaQF0t9pHAcV3/zfA0JbQhzNDkqmIa8JoXpyHjQEypNvgigTLtWE9QiQfKGUNXxoEpxJMqoujw6L8meNhH6TFqum3Ei0Em2So1WmgHp5FzOQW2FHrET3s2EsHs71ZRybO4o4Wgz/oGuxrf9O8qKhm2zrP/hG7z3E9/rT158EY+qkp7J056l+K00EhSWvhiMoGhQD07SIBbaaTahXaiilxBBXRFSGZ5S+q8cVMQ0D1ArZX+RII76EAnZy0IpyqnlOVYqTrDcO63lzWVBhpfkQTMoaTsXXIo3lvOwY7CVurHRNnfD1d2GS0jT0R36qLl8slS/eYak6krScNcBsMjSqEHDOzh83AQlpvhUj/XffRUX/9a/8OPveoPc3xM9JRckCy9srDZn0VGCMBpG0gr/i/LIQXVEvbRainGNIM99ktSWTlpVlBMKnzySsnnpxqdGtMlzgT2hmsYL3Xr5aO+Wb5W6Uh593kV/JYwnG3X5r6q18E4yIILMN0id807r5GNd8ALAhimSKP1akvyXD1c31hWPrIo4fDQvK69jjhxha59Lf/w1qf8ffrK5+4pLuV+QJZ5FH9haltU2DnsqFdJm1MUS+qLBhRB6qPepXIk4PTE0lEmhGCo9IpGYHK/UYypeEsb9FRJBa8MlEE3RGtSU4JEgAfUGkQS9bGHNlRLPE9tUXaaolKw3UPJ4v8yroSKEqDmUt2dM3iDSdgNhguTBIiYNZkuJIYKGZxg8Pt0veaypnTsj6z9+t2504Yw01J3QaIVTRDNpbOIQA9ErNDkbdm/iyt/8ETv7gbelvbN9f1pUlDjqxV41FTlv02X9eobKKZc+JDmqoUyrcW9DU7I8FMWTQJ0ISQgW8gBKbRCt0eB0xoBJ6HRO5tdyxFK+CKCnhBAIIV8q0DOlIhLdoCl8pmSWX93R1CApoaLnDeUazUdsy45jMOVr6m0F6hJGq2RljkaZ9diqPt0QUaxXoaYmNbX+l7/wVzxyisebWFKjPERNz+uqlFH1Q0OeBhbWw3O/52Vc+ovv84f2PMceqhoZfsugw8vgYg2EZKUX2CA52riri2pV0dOEkW9iyGdIwqUppf4GxfBGUJJo5cSeq+pEw4NjNUjKlHHKXk2y0QJmsJLHveaDDdHgKripKkovl/slE8WaIDSZKorabpNSXu+Mhjhfri2IzRJCF3HIxDQ7aStQMRAKh4O7+MKSVL/2x/Lio4kngFpyKTd1vEAmJncL1ngmiRtoeoneC3ex55e+109ceWV6IKg7wZ8ZkBRdYjaYZe/yHObafo0wkggEJGUFRpSs0wjq+SFOUCW4Z5kaYzpw1EHZaX9tE+AoZdy5Wh7DEHKRM/pkL1eHFGiT8hXNb2NgL26rD+E6r7joUAcWRyiZUqUYMyddAkFLxXQ0kuPo03HHr/ye7n56nkON5z23QuDorNgEnWTQQ6DaMcvun3srSy+4TO7BpFFdYTRZvXKtIiJa8rD2UcoqFrSMMQx4GfeqpZI8au/xXE7pjm1QLRnARJ+ylLJNHnwZzYllFpWSMvgoVGnbpUIHNGcnLPRVAQdSuhW1lA2z0leeUVKd500OSWX+byrVZ8Mwt9xq1QIIA4/q7XlYfpXpgUPs/unfCZd8/RCntaLxROoQzu5+gTlURtJIdfEsuz74dktXXsID+dQbAxFZZRJOO50l51XWyclyeixRPQY8qGaOMVnW1DdGSJZDGJoXXXIdAQNVlxXN5SIuLuYYnlMBz7mWNlZSu9yLBk6IZaE6o0JcHNGE5xnpiOcuGAk5PwvF+8XPV+yKr8y1gCmlaa+gsgazJo+59dwP157F0pSzs6vGtWLmhcWw59d+v9r6l7dz9nRuKrGUaKwZzV9dPZMXxC0P/9q1iV3veK0tz/Q4LHlGS7cPYFIikJvl8uGYygQzsxG0ldLwICHgFqhMiCKEmFFaiFJuK4IgRlUqj+0Um04/ce7KLF4axIjBqSoIlRBC6XcWJdh487TS6lYeDiF7t+s4lJ1HccoqHZVynlxNZpTkQnAZNWGIlbnyIjm9MEdSgw5rSbKKp9ZW142l7R/+uF757/5c5r9xRJaaTrlG2jG8F1DnaMJfvoctr3qh7Q/RpNv57qszHS5NHlnuMZXBx6VhYJAEM5fYowp5zKu44ZrzqCA1QYZlJqIStIdqaNTEzpuFES22KgkpVW0sL34g32gkalQi9L1Xfk8JiUEljygy3KyUgDz3TOMEL+PPRShyRiZrfz6hfhIVlU2bCJo9Hg/0JFJpoCdKL2guM6jjC/M0ErydC7pyb+S5VcbMQ0/q1b/xJ7rpQzdRnx5mZqN28Aa7IHshsD4y9fKr2FAhj/la9h3pElsljmWZgI9L/SMhTVCQgIoSgCopwQMhD6ClUqfSjNTaAcfC5ASbct457vnKjpBBS1Snkjx8Nkr2HEnWnollQnUpsyRFkxAt5N+fZDxnpB3+fz56X+XkdiH2aGTSBN5FDK2g5uwylQ10aRXufEX+7gySb/vUV/XSX/rzsO6Wg8z1pphPz9CtUnIfuWYn0xdvY/kCZbQRl5hpKc9zNGK+s8TVUBGJShCJJYMvSjpRKspVHOWqwpCbAwXxrN9b0YulJpZllUZc8chSVC8ayRyRRgNQXFwkICYoNuodCyKjiV65Q6LtIk1+oea7HDxUwsUVCyFHhjhBS7UdJgVGH50jOPRUVlaUVqsy4ZjHI0d863/4ULzsY3uFOMvJ9j2u1pXiAo3i6yLxhVdrI2uIScd3QOY8QkrzkmppJZIsd1Nx1dGQuzBq7snTZ4TKlEriKN8atSN12l+Lh5l4NlgWlspkG6xn2Xgu24wGmRS5YS69qmtn9kfeaI6UAWP5Qhwxu+CGdtx9asaWt1+UNe8ttTUxGKwFNYn6yaMsLZvtKvMQn1F82HLHjfjUhz4er/zkPWK6ntMFza5mjDxSQbGtM01U8TOrRgUZhfRRbzOWGfu2hDLqfCQPbQ4tKdu9YG3EG2YAsrJzv8gJM8oaGTSg5oQS2qIr0ct55rZqz3I7WiiWsKyd5Da4lBbdcVhcY5fmjb77Mr8zLnNxM+7qxMdj/NpjQeYX0CMnpDaTjTa5bs/YhZnbh0w/9DFedtw4Zfn8v9B5ppt6zAbl1IVDosIw3+IgSdA6ElSLGBMXl6aYjJDVoHjoamdzbmQYNiOe6izs1jKqSEOwEEKKQT1YckSpsBLefNSoEAoNb2XGfegqAUpBLVaB0Ha5S74XrJfKri1zfYOGcbO5nCf0dNfg4Tve6XcNF9nmUi6NyyXykfiHfIem7z9DPHhMNAYVKZhb5FnWtzxr9Ouh2ENnhNTOS16b7FWJRE9yrn3zK8d+T+xEL6DDxnA5AgGVkBrclZjKw3PeEzzTl5qEGKGZ6qGVE1TGBezOhICRVyTJYdQ7NXGJ+eYiz1Amdto0pJ2DZTaaFqquxJSDtJrme8pWueWFlRXnIGHwhoupxbPesD2b24Ks5xY/90B86gRTJxdMmmRNZih8AXGdnEv5zBLtc+eotGL5Qs8UwS3fdWbtFPxVYb2VCSYuhMqQKpc3TEQ0TGkPgi6ey5dXe0IKSxEwtDQmqAoaI7J1C4tJPBgTZ1g7kz73jaaCSLpjbLKYVEpCFFKD16mUfwRFXFN7D1kBHgYqmukoS1ghrydCYZL8QHBxkZ4Srnplun1bxW7RTHS3RhJGo94RR90YPvAkA2t01l28mlL5ifdw7/atOi8x6ehuv2esEAMbpPZEuFAxzEGGNZbwKTycN/U5hXZgVff+oXaVQ86NrEmiJuHEGZaomHLNV/ZKILQP1TLnUIhX7eTM1m0Et9AVw3QQY2FfAlnrUM4fkfHQZEL5WDryu/b4COW/kgK0qmJLlJHfEyLukXTRipAy9vXc//xe/0TPuIo05g1tXJAcUWBHjqHfeIyz5uzKFQ3jtS/l7K+9z46/+tp4thft2RQjxRG5qm+LZkyLX1ipdeocSwgXIU6vT9NtP2pbtXRU2CbnNQlCr8Jd6VktAimcPKeJwLRqJnrNqZJn5qMAhpCc6jmbGb7rzdZUoREp8gA8iLiIBgkJiUVmEpCR5iN6NkU0oeeZZK5GRG8776EFF/nWcy3njLrnPupy7oVWBGvSId9dmA1a/+AH7A+uirwr5t8zwX+UkEg5InXvI8SnT8kW8l1p7WBxufJier/83ubMz76fIzt2sNQLEvKE0CxZGEkBxEUEXv1GP3DVTjZ57ntb08bJ8KNzDM1lmyoabTRlIb+/JtcJowkpZBwdTfKdKlM9XIP2JaVll8Q/3Cbpg99FlCFRnYbx9YVqRVqggvf7TL//Rk72Zln+gz+XVw0WkOTWb1S27NjFg6/5Tv0EM801Lhnk0NXpCyEEvMlpRbk+UWiZf1V6LqPqsHq5oS+U81IMBpFozobK9VyD96WAy027OPizP9P8+RvX85oAW2rDxEe90yOVsRfJ+Nkh3PYI88tDvawwD+44IRJ9gM9C783Pd/u2PX7gobnQ/Nnfs/vhR9jstLdpiJpIeP/77bb33OAL9iRXxnDhs+74OfSp4wTzjHX77TDs1qANLs4wNsiiiKdSShFxfLoiBaRPDjk8+rA3Dz/FphesZ25iCnRp2wll5zQNtrHHhh96hcf33pA+d+gsiJB2zvhCv2Ijy3Zlr6YeOn3VsY67QIM8qMXGsLo7LCVZFkmboN6Mzh5EcyrSOGzpU//Br/LZh8+aHz2dL1Pdvd4Xr9/JVFjkHepMtRqQ1qu6wEOUnjncei/xvsekMmyme8NUaebQYSJh0Dc2XL8+pd/5KQ6eWeShM0PquQavIsMdG7CNDdsX97NjGModVrpGZVmQg6fQIwczBvWcyPa7jRpDJ9aNzkVb9rOpR0+H5dxyQoycRX2TpQzNpWb4pYdky9U3+mxaZmGcZ+TtF8rOr/JO9xllZiZx5eZ1nRDQ5Ct7CLnJ0nxcIrHc5ywioDGHt9zJ4oWHLdXkppyJTgiaF7AuPQA42o/IdufabRvRtJ6gIXd+spwlAqlMMm3LSSLjspGWsHTsDHz2Tpk/t6SXOt5eXaaab+Gzku/kImXum4vDU2yehs3TjmxLJTU5iS8z0sO0xOgq3BRhmGhufpT5gbEjIGhM4rG9Ji2nO0tDwlLtx/TsCY5Kn8VkhZ1PyMwMvm5TmmqHoJgQP3+Tzx+q2epKNKVSzfdSKoREntxmQkyS5yJa/rp2HyYEy8aI7vlC0SRUQFUJMeTbI86bztY0VMnQVOp1Al4+1zbZL2rhzFpkBJraNqX2uZ2KcKunHFWHzdFBg338a/Tue1x6jvfXAAfq44tHJ6bg5O64oukoTNla08xa7wog9+zD739YKoPNEkzCNBa9VNGz58vyMr6wzCF99GEZ6CYWREdj7cJ0j3rjJqJaqSgb4cCD1fJ/u1mmhzCtUJVuyozybJR8UoYcquQySvDOo3xN1UvrDKPJXVLQogYjSBrNRVfN56Q7RQSUryDUJl+q3RZA26HNbeIbPd80QbJyUWlusmtva6TlP0WJ6ugQ+Nxd9D5xK3Nmsvs8TZRCyEDAVgplvExCSBdgMs6rbRkeFT15lvpT9+v86XnZgYhZg23eJrZFR1UTzGFhCWmm4zHdf8AHto6FEeMQqPqB5T2XitJOunbREJren/5t/8QtR9nRNIgI0Qq3Zz7qZY6FyI05UtJy+lEKiiOjwvzI02/yI/eKRRcqmnKpgYuIiJQOdbWsBQnJRwVU6QAGKWV+LShUzQqJbEUEnc5bNnVHhqA33cvUX93E8pkl3aPB5DyDBaznY7ZiQl8/GvL6rPucVZRwZpnmI3douv8RNltiJm9M8Y3bOBsD053NYacXaZZO1CdVN2174tEn2GxGKH9w8AauvcwXU96lUfGqqRXmBuE3/6Mu3Po0O5eNvluG2RKK4TLMD6b54ySlG9PKCNlsqKAKbU7nQvRAOxRTH3yMqT/9KlcsLMhyqe5KmQ6gZuNHMZKWaXGZm8y8ZmZTbHwFsHXIaBJuTQY3jROWhqT/tpf4x58Mc08dlx0Bj8nOX3gVnAFxVEm2kZYTntmzJrlRJ51apPno14Sb9yrDxneO+kEEefl1vk/m2DQStIA8fZZqMbEvhOn+huuvWn7rlf3cCoRCaqiZYv2nvkSl0Fim9cUQaRbVb/56sHUX24adW/DZqqi5NIeuFvJL4QJCARciSMn6VB2xIW6ls78eYPsOMvsXN3PZf/okU3d9QxabIXssTxbl0kvwb7+ekz0t1Whr29lRC1ToaNR6vmzbSsqRSJYZXtVMdwUXKlGqxrDDJwn/+bPEv79ZhifmfLc7PZsk7sdeNNR45iybt8ywtGEGKRoQT1nSzQWqyu0dmq0CVp44iv/XW9W+9HUNy41fJiPtbM43f+ADvvei01wSchmLxuDz97BxIfDH8R3veM39Dz/0qdnvuYGzVucnhCFpzy7q6fWyaXDOhwIpX6HhPhRPvuD87odk4YvXyuy7X29brruUs9umWahiIXAlz/qF8RDEMtnERWF5gCwqcuQE/fv2sf4r98vGex/h7JkznMP80pDZf58QGHtWNtG5zLMj09ZyhdYYVDBReRj1Si8NGO4/QXX7/Ux/9i6WDx9nKuGXn6/UXpHYYva5r+vGWx7wTS/e4yded50vPu8Swmyf1IvPoIkXfLiMHZ0jfOVhwi33yeLx074tYZsYXV9WPDni12xi2Y/Ta3fBYIg9eYpwxfO//b746tdX5770VxzSKUSGXFTni0JlCs5e/0Lfes9tWhmoZQLUgrkkw6wmfmOvDe7ZK4uXv4BwxXbfvmcXU8/ZwtzGGWK/h1WKW4KmRhcbqjML+NHTVEdOsP7JI5w6cpyF03P4sKbGfbtAVJfMGomPSyJJBLFoTuMZTqtoCX+WwYsZnDmH3rWP6YvWsRx69MywpiEMG8LpBezAMfqPHoJHDzI4cYYqGRc5EswkPTPHJDTg88tw64Ny0e0PysZLtsry5TtscPl2Tzs2srBxHbHfz8VVT/jiAJ+vkf3HmHr86bCw/4gMTs7ZbGNcXCZqjop3IRDAef7L9FRviS2W1cS4wMkFOHeOe3/hA6+aj4t7Xy4Pf/3jd8y9z69bf4atqsTc4kHz4mvRu75KjBG11CpuvR1sMrrU8/EHhccf9jkLega3fqwkVRVSqWtjYEmT1WrJXBv3BvNzENar2SWCS8iwX0resfIqqXz1pufcbFTB7lw5NdIU1th/+gwzR4+xvVeFOmpyT1idxAaNRFykEYnuaaojBmhDoDyDjrN0YZVbMiAcOC7r9h+X6ZsfkKRqG3vCsB81AR4qlZSQwVDCsEmNILuSW9Vl+LuEvJu7u/r1L7DDdpZdqmgjEBNp39NUC0vyuYWZ9cRX/sB+/vOHN97xyIkzL3sJaMjoK/ky6TXXcOiPlF00Pl/KLVbCcVui8VyEykphrd2SBAYNMlx2DZKHB5lZFqRmQj7PQ6TRQjWFLrrqdPF4t46F5ZKHjy9kE7LaS9spPrnHVJY8+bblJvVMyqVzo+kS3l7OVt67rNbR80y6xs69UZZPbxNNpiwi1fL/W96VR0dZZfnffe+rqqSyQgj7vssSFo0NCIhiazeigNCuqLjQiKgottrd06jtuE67t4riaKsotm0jo6K2INg0ICgQIBBIwpawZt/IVlXfu3f++L6qFElAQHDGmXdOnRyKk1Nf3q333n33/hbDDgooaMgxvFMOF4v5uO0YBgRKrNFDJRvFOMcl6JMIsOMg/BzovSqp+05Su3ZM555Hhmd9u47idQLq3AuwNgaqRwfYg9MJtkSJIktD4xHuVcCwaMcfWSwioxWJIlZgoyQiXkJMTIbY1Y0QOgrOTA1nhQNlkvC1UyAiDHGcKixyoXbs4iJZHLQyC7QYMFhg2AF1GnGuB85nGoFisAiLkEBIxH01WUgnKHcirjR6Q4YiJEzCTCKGOGxOKYakgXp/rC1XodsALuvfAdBO8RvKhl1SA8rdh/Jebdrn+DdPZVXTrYoubnFBzT++RWG1QhUBXnJQUJ5AEULjxpg6FuUVF9kUDhKi1dqO9lQhadoPi1wC3TZK425wtO1gWHkt2lc5QkMyLqpKwkVgN+mIpPo4jimoHFOwsum9q5Hi9hkc4TqmGn8xsqt2YEgElq2g9haDD5Sq9eePn1TTMtACqtO+Q3bPTqNCMbs7/mVHpctBME7qHKpHaHQaSv0JHA8FL6hBVg8Orl5RWOPXLTcpDhthOyvFNlpso8UYzcKWsNESxdmKYCZdPlW0qAAbh00PKCJR7l0rvLLcspSL4yD3aqGt5pmOdJy70bECd6YD5SQbFitFTEqLHjMUeVLnKhUIEGKYdTvRMmTL/OJqhCywUZdMvQGj1w+DuWrg5iXroKkFChU5eEENWB4DNXMmVYt4FCkJYzCsCK4+StLcbSBbOJoIEYZbN1h1UPOT2bzdYBj115DGR1aVNNQHo/jGjW0C6Dj6Bz9aYI65rRpiIqhrZvKa2FL0sShizIrDpVA78pDX5VbZ/MR7d0rP6UMbvo1nja01X69A5v5KBJjhYYFmA11fiNoLB3FFbIodz8ZSQo5WjFCk06wkzFMOy+2JaDQxDI1SIWbHRVFEwYgScaVUxH1QUDRaimBsAQs8EaTU0T8tlwSvXJ42uwS+o74QLCQshAYgjZxwknFGAwYF7SNcno4iLkJrUtBiYIjBG/fCU1KHz9vlvmIfBTkAgMIyLV37nP/sZxutuGAiqt1OsBeA8gdQc9+v5ZBNxnK055ucXUdZRrky+A3qAY1lCkU5r0jBIhqO3lToxtjuuSiRLmzE78yF2VkuTA1G3MpLFKpeJCzuSOLsoUIn0N+XHyViBDVtpixNLEd3V0BUAOBwNbAqF/jZ4LjndnjbSJOA3fLzYZzzhzH2B594NlQJDiiNGFLwicBbVw4zZhACacPgdYrsSjOaaCJGwDGOxpRYrqoRCUQdhdBqsu0143BGUcwTJ85hqQkVrnuGM8SouqKi5lfJD3V2OFPJBnUfiJpL+6MuWIIk1xCYlA2zIRsqZ59aUHxBTXDCsBfRJGATBj3K+tLHgrXimf/eSnSx/agwIYdtIgQrWIi639+KvSpGxQgpzbCULZYyYpG7HTpiYgRFJJZWbLniYBqNHGPRyPFBSBo4yA3MUPc9cZg1BnBbJl64mkiOvCnChATlMd3UrwAAE7lJREFUYhUbZ3dykpN+xrdDRUKaHPTKfbPMp6YIgywHqwIlkENHQEu3kVfb1qv/eFSbhx76p2kSMADYFQrxndWziles9CzMD6LAJSd4heE11Qi11RK6dzYfsR3gS9hINNr2sMHtQRwX2UbBopO460SahA5kPopiFJV0HKXv6HZnG6Om0NTB6HgKDGd8KzQgGAJdN4O/61yPnroe2q1CwTD4y63wF5d4n7jv4idLbNvmJrC56NE/ZqYMnhD7/kuLYpORiEJmkDLQxkJcbRHMhHQpvmIy26LFR1osUWTZrJTNipi1EtZkRJEQtLPKjrL2daroTqFbwoRHEYKwhrASt5QScRIP37fYQMLWiAJoUfBAH01kYI6IrThuRUxiWDFLAyWEWdnMZEROOOE4bStOk1aKtNJa9LBf0IHpI3FQStHOCp+1BibnMPTKLKvg3Dk/e3/I/PubxzlGj+/u7Ysd/R+vK6nUDy/JQr3lhw2BRU5T0jqSj9CdU7gwfYQGW+IlNyhRGEQdIfA5W1j0Vqgb/i3NrDI67pU3zABt8LFscn04QbUL+h9I5QlKs9IeY3UZREfuv4bXVu5AuiuXDgVQ6RGY99fCW223uvuyitvqW2zB9wfstttC1K19e2o/rvOWl97RWfsZhbbASwYWCXwchAodRO1jM0KHe3YnYiFNBEtb4mFIRKaBhVxXcvI0MsEJgyIbpfyRumrY38vRgaKIlI1qSNEbULtRWySxKz/rlpyiiqvhzFBO1p/ytARKa2htsWYStOhE9c/+Rj735iHdCjuLCVAfQnDJFsRv2oN3uo2N2RTvLZB6tuR7A9a2bZAXTJpkFjyaFXz44buf/I+FqA8kYFeQ4LUBn1uzs1Aq9S/8xhxIG2xp8YjPsCeyshikWEixc7/SjahH0bb0Uam8oDEXOVJmcuXVWRpovI0v0Cxhm1wIR/squ13ckyIynMYAkmIS0SIg6thDal/4Hf+XtVvOIRuesFynMHhtDmKWbqRtU2+f8tiSv+8NjX3mHjNgYt33B6xhDEWrfl1NfssOv5u3jBI5CQfFhgWBjxleE4SyKlD5xKzAgeHp2iivHetgNlTYNtHd/kS5heLGLnxAM/6V0ox/VgRsGl5NDVABctG/4fdJIbpdL+Fa/wklb6f/Uux+X5RNPdOtsqfnyifxB2WoDsKK/LeBvSkP8uE3qFZpqbN+dVOiOcWHzMDYn98R0kvbHPhiQ5sHXv/Kig/GotgYeMmGYoYlBj5ViiP/fot94PKxUhUi5ROP8UbZ/GrXuE2Rq+AdndJHJyINkGXFhhUi1Q8CAkFLiQ02NoRDYHEY/45MgwGLcQuPru+JVqwszVpp0VqLVgrErJhZywnet5r94pzk0iSyWAsUDbvYc/Dpe4JLfbkYpRgxQtAUgq0F2F0AWrASsblof3N9db9DA/u/YX7Qt+pw28Pml/1v2fZ1hn7w4wySYBKq2EAbA0sEPjA8XIbgXZfL4QdncXlCgmVpzb5GVonRdUdqtDUeleq7b3AD9iUiYBa5GrAAbLuwNRe+5mp8RPQLj/Lj+v6M/fSfXUpRrN9H03/D3zx0XXAHtmGYhms9ohxiR3YB7DdWwl9c0n3a8PRzt1YU5pgfvA0cOnQIJY8FWc17Yu1LH/if+uhbiElEhYTggYGHAR/b0IEK2Bf1kYpXHwjlDxxIIVJWjEBZSolHQJpU5L7WnGMsSYSn56jDuecQMxGIISWVMIXlkMJymKJycHEVuLgSprgCoeIKhEoqYZdXwg5T3MRNPpiJmemEzqkGrehTyACVKG2JtmApUsrq2l+qXnwp+PfJnSQhmIO+llNCC2ubS/YhmDdXIH5dvp7R+/Mb1u2/eZgcOnToBOgwJ7DBH0w9iK9nzFC3dO6tk+a8NXLaZeUPXTsCtlWFdj5GCBYMCEHWYG1Bkxdq9Q6V/MzbKvVIHRstYBFiFmGXtiVoamsYfbapaIPSBB9qkuOpTPuNhwCwAdshFx7uVS63y7l3FFao4JF609e9c8nJJBRyiiuNSMhxIyFYPq1mzOJ/jevPFfZBpOmgQ68Kt5VDNuq37IfnvZWkNwRbzyybe+3qhQVFZnTsU9zhdx1OT8AWbQQuveF5dd5byXTl9s+9n7+yum/X+IInZ14sSLTR3hVUCYQv8cIIef2IKWF4F/9LtV70BeKMEVtYGVc4m6O2vWP6LZMrTRTGfETl6RSlZEnuVkGsQMooGMWGIHQSAZOoBOjkkkAFYiZWCmrMZLNn+uXYkliIblyFVtohdLk0fqAuAHtNFujDb1Xt4Xrfral/uCrLGj6Qv7pVyWcL7ubJZ+P0BKzJL3m9+pcXdEytz9v/8h1X27F9vEi1nMM0JEBIOVgNIxYU+eHdXQjvu19aqd9uhI+0wNgSRJSFVDNNxegibsT7WL6/oHuiVYrmZJxOOmBsidJKe/oMtgunX4/VA3xIsPPR3TiWjhGFWbagq46AF22Ef+kGZFaf1e3X+RklxWJXmZOe+1MJWFpaGhbPG2jNXNzNm/fWKzMuP7988lXDEYirRVsihCAw2gKMQVADNlsg44Evcw9885d42u/db8jxzWm2MKsa1TzoGFtW44Ql+vcZTQ2zjxssnNzZRQCQ3BX27TfLP4Z3Eh/vRy8VhGYCPAawNUQ5WBPZvBf60wzEr89TTydNu33+izfPC918TRd79+7d+FECBgBDl35Cn+3aghnzOtC+it8P7tbW+/Ck0fsTB6bA7w8izrZgFCNAGpAwUQiQgBf+77LJ8/pitC2sACwmNk5Ls/GERk9ixM6wmQCdyEo7FvLphFeUTYBWorQoWImCO+bIsos6iY3D6GbqEKdcLqvtaD2yBuRABWjFFsSv2EY7TFKXB+682Mrcs2GiPDf1UxyZnX1KE3/KAQuP1154mpI7fe77djHR3z/dedtlIw5c8athIkkKyR6GshwJCVsBIREncFrBW8nAuu1IemMJtaiohiImI8fuY8kxCoB0goCZH5xgKCil4tjcNps3jO6HgoQC9JUqJApgu042jnqODbsqCLU+F/h0M6xd3tavzL4i7TUd6mm0rgjd9h/v/6AJ/8EBY06g1+emUS//JZRtP2O9/rw3pV6VPj59gvQ4tzOQpNHCckCALIIgCUJsQSmDIDzw1gZBX21TqZ+soeRDBeykFo7lkRwjKMeb6e8N2IkEyoVvEYkmJoOWHSk0cQrnTE6XbbQfg1CLJHFkGsIKDKQEqLVhcg5ClqyHPyMfK6tSOt4/1epVXvrX37OV8jBe7rjdeDxl+B8NWJNvot+vp102TX238u30Di0DcyeMNAnp7eD1WYj3OFMfAsFmgS1wSBNKQWqDwBebVcsvvpGUojJ4DJPN3AR61uzSO15Z/hRXFgkppHQUe9x4yrx2rJ1r52GQqkAcdAPRTgxEEShkw84rAX2xCbFrsym3rkXC3G43jM5c+viKEJsaPp3ze9oDBgBle36vzz50rp5wxxTPsjJ9Ue9U89vxw40MaoPYGIFXU4Orn8tWZBcWY1UGgA05iHvrS9W2rLJJ0sDHCFh0cyYaXNMk8TiBgJG/BWj6Xfz1+d1R5y9GN7saSY5jmatsHZYoZJhdxVCrt8OzMguVwvoPyW3PWvnrud7gyAu3mratg3y65/aMBAxIA5CJ3B65+OtSixbfc1N8ee7O60a1Lpr6izQT3zsF4id4BGDX+c/BPBOYGUQWPFX1kIydiP1wDbXOOwhlSEEZaShiRFnFnEh6f8xuJRGRY5egWrRBzYzZvDa9Dep8heiMarSI6HOH6VsCMYzQgXLob7IRszIHZflo+UqPwf3+Nvz+l2rvuGoPtzs06cx11c5MwJzRCrlIrCrRj72+V+KsZeqZnRn+ffOzZo4dI1eM6SXeXq1gxbNjzuMKH0qYMEfkKG4fMTAZu5GwdDNSMndoT0N1p0kictxLshyzk0mq77kom3gZbx3ZWyqwG32lDn7tMt1Eux9kg20NOVQJ/e12eFZlojKnDu/ykMnzH5jiqx9YdA4/cVkbytgfa0om/UQDhnPOwfkLnqI1Jp+sHRfItrKeqv/WrXh08H96nr79z/ePO8+Mv6i/xPZMBidoaCFXeMxy4sc2AnC09BEicOYu+L/crFpuyJU421ZGwKK1KHbcnSHcvFaiUqTE9a4lAhk4MOi0UXT4ml9w5og+CFZmIk3bUC5aUQiA7RAI2UPQBeXgr7bCs3Y7Vews04sGXnfLM/39ne0/31QiD88jzH1pJD3+fp7c/8o9gg34iQasmRH/9Hi6tjZNJbZqR4cLnkvMmJ93XVpn+vVF/TjYpx08rWJgaYeJIhBwxBHP8YlUoRDsvCLoLzPQatUOFV9Tr4S0IWWU8DH+GEVQBAukjYaPzbmjZdctv0JGO6Cd5KETK4fArl2ei4TVu0Ow95dDrc6F/187KVBQol6UtMELJ6cPrynuUi/ZsZpX3/HqjzqBP3rA1j2bQnPPu1+PKJiM1I1LZUPlRzB7ipPXfpM1cXBnvnNUP7GGdgBaxkMbG0YI4uGIwKYlDlUVNoMLquBZu13HLFolrWtCMEYUExlyDG0BRUwsSiwFLR6h62dh3SXpXNiiFG1MKTqQARnAKA0PMYxQxDQVOwthrc2GtTpHVe4r8z3rHT/10ym9ehyp6xyUjt4+fGDLKzS6fZpM+e2LkQmcNPhJJPZbpfp+MJZS+u2Tgn23y4OVvQUAJvy8v/e8W/aYt795WxY+9LQMSvlOfhIBa270efBq1bJHb125udBX9eob1wzt7rlyWK/6LkN6oL5DDLTHA81h2BodnSCaEOzCavDmPJW0ZJ0k5RUpj0vpALGm9t1NxY3TKGNIR65JLEdbuwLtyCW2RVx/DJgVlAkgmFMMa1UWEjblIrssWS30DRv9N7tPSn3r+E6y/N7njpv1rb7pESyaeYE34YvZCUXLs29Ugbqfh2y0UF7UxCX51sT1GvWfl45pV5g94Dwzrc8M+ycbsOsOf6a27s5Xj9SmScs+ozxr1s7EX299d1JCfM3VI4ZwvxF9UN/FD+3zuTbAiADvObJ9MXAkgOCGfMSv3k6Jnh4ovOQ82TW8O6prsjHECjjnom1BWQwYhbDwoVTXgrOLgK8ykbg5FxuEPAumXd3rk4TL/ihxUiELU+tUh3315rWr7ms2YKMBzMdf8MyqbdRmwTudireUvEZAtteHhZ5OyXt7tDvLl5N5cFqwbt/lyQOG3ra95pKtH7/z+E83YPb1Nrrf9BICF16Br2sG0tin5stZv22l9j75N9XyT5+cE4gtu+dn/UIDR/UR06sVkBgDLQK24GrYR5x0nS5zbT10Yh/sDuajOzW6tHHYY8SAy6thMg/AtyIL1rZ8bBQ7/unC56/dFEjvZx794E9mzn3V1Mt+VJLLCOsuuw56b3Kzz3/3je+rKycU6uqvvlBfZH79ZqBF7Hd+kdX1pUc+YA+qyUaViRs4HVZ5Ry49MLf98BETHn5hTeUpFSbwv2BYCyzsu/BuFKIz+sVVyuFHrsK/LYuXcUu2G3x56cYpK0dOzTDdJjz+sW/RM5+T/+vtkOIqSCh8W6aj0MTaHws2eegeaao1xIzIBu8rRODjjbD+/VO0fOFzWrwrEDvuqcH/uKb9sw9uPP+RLDtm2UEz508HgNYVsrP9HVg/YNYxgwUAG9rFoLpcsIKWdq6WUIchQ38339M9WRlBRbsuw8YpQSbVb71+xPhrvtEaew5t+mbUKc8V/peOS1L+SfEZs6X+I6+d9LcK+Ev/uWfq9fc98uL84S9vzQlM7No1eGt6d049txtqu6ZAeR1YuRjluJiESYJkwOLoVdl7i+Bduwux6/You7CInydbL554X6uifdUJmHf+O1K0oS9mDx0pq+579KSetXBAtmofWo7CDAzyA8vzJ/XWR+boECt4iorXTQwZDIiJT/hrXjclIbaWU519FnDWEmDH/52A2SMfcM6LK9wXbjAAcO9zFcVPfHblX5Z9qN/9y6Ilv1i2pf7qszvaw8/rj6qebaHjfU5/VwGAgamsg8otBK3OQkpmPm0sqkj+YMKFv1zc/YH1wdmzckNHfegU50fpST7r3d5N/GLVROWR5YR4BFuv7xjkvnlW1VZ4PVWYbsVh+cWz7nlnS0UOB9m2/QTL+ZSOALoAWPPTD9jxRuCjnfznK1NDZQ+c/dnHGelLFt/1Ru8vMytmD+kkI0YNgG9wF4REgI358K3aRiarQNZ7fQkv97i51cYFt7UEqorMym1jTlud7y71Z7xS8EvZ337o1rJDGbdUDl/9or1GGwRMdWxqystVZaX3bPi6dN6o+u37D/jUqECAlzm/eeCnmXSc7JgzB7hiPTCSA8CzMzBoax/4arp4at/9Y5KdueuGli1kKgFUEpQPO3Xr8WbWnUNK26ROCy08sgEvzH8Iu1cA8QD+6zQ9z4X/BnTOngxTtddKqtm0sFr7l3RJpazDB2teaHf7nMvL33z2MTsI8iQMfCtUs/X5FgMuGv/Yaz1LgHn/PwLW3BizYZ8u61niSQ2VSMs7ZnrKgol05YS5tT9rdyt99dpd8puPHjZn8vNvvPFGfCZn0/XyWjezc/ubdYR/mZS0d1KuHXdgwLb9CeuWv3ezAiZJzNn3pFr3f/fH5Vee0vP8nwnYu8l5lKjXy1k1ZYRO+eg1IAV3dm2NTkOfpLdnfSxZVT3P+B9693v30kUFOd6l63e1UuU500PluAAep9TGMVgf0p5XD589NLdt2SbMnx84pS35vwFHWudKBc3BTAAAAABJRU5ErkJggg==
                Empty list:
                  description: Empty list
                  value:
                    logo: ''
                    smallLogo: ''
                    webLogo: ''
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions/{id}/services:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns a list of all the services of a carrier definition with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getServiceDefinitions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: show_disabled
        in: query
        description: If this filter is set to 'true', service definitions which are disabled will be returned additionally.
        schema:
          type: boolean
          default: false
        example: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDefinitionPage'
              examples:
                Enabled service definition list:
                  description: Enabled service definition list
                  value:
                    totalElements: 13
                    content:
                    - identCode: HERMESDE_STD
                      isDocumentService: false
                      isDomesticAllowed: true
                      isFixedDateService: false
                      isGoodsService: true
                      isInternationalAllowed: true
                      isPackageOriented: true
                      note: 'Transportversicherung: bis 500 EUR/Sendung inklusive'
                      translations:
                      - language: EN
                        name: Hermes standard parcel
                        description: Domestic and international goods dispatch
                      - language: DE
                        name: Hermes Standard Paket
                        description: Nationaler und internationaler Warenversand
                    - identCode: HERMESDE_EXPR
                      isDocumentService: false
                      isDomesticAllowed: true
                      isFixedDateService: false
                      isGoodsService: true
                      isInternationalAllowed: false
                      isPackageOriented: true
                      translations:
                      - language: EN
                        name: Express service
                        description: Domestic goods dispatch
                      - language: DE
                        name: EilService
                        description: Nationaler Warenversand
                    - identCode: HERMESDE_DELDATE
                      isDocumentService: false
                      isDomesticAllowed: true
                      isFixedDateService: true
                      isGoodsService: true
                      isInternationalAllowed: false
                      isPackageOriented: true
                      translations:
                      - language: EN
                        name: Delivery day
                        description: Domestic goods dispatch
                      - language: DE
                        name: WunschTag
                        description: Nationaler Warenversand
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
  /carrier-definitions/{id}/value-added-services:
    get:
      tags:
      - CarrierDefinition
      description: 'Returns a list of all the value added services of a carrier definition with the requested ID. If the ID does not exist, an error will be returned '
      operationId: getValueAddedServiceDefinitions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: show_disabled
        in: query
        description: If this filter is set to 'true', value added service definitions which are disabled will be returned additionally.
        schema:
          type: boolean
          default: false
        example: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueAddedServiceDefinitionPage'
              examples:
                Enabled value added service definition list:
                  description: Enabled value added service definition list
                  value:
                    totalElements: 8
                    content:
                    - identCode: NACHNAHME_L_SCHECK
                      valueAddedServiceType: COD
                      translations:
                      - language: DE
                        name: 'Nachnahme: landesüblicher Scheck'
                        description: 'Nachnahme: landesüblicher Scheck'
                      - language: EN
                        name: 'Cash on delivery: standard local check'
                        description: 'Cash on delivery: standard local check'
                    - identCode: HEBEBUEHNE
                      valueAddedServiceType: NONE
                      translations:
                      - language: EN
                        name: Hydraulic ramp delivery
                        description: Hydraulic ramp delivery
                      - language: DE
                        name: Hebebühne Zustellung
                        description: Hebebühne Zustellung
                    - identCode: SELBSTABHOLER
                      valueAddedServiceType: NONE
                      translations:
                      - language: EN
                        name: Self pickup
                        description: Self pickup
                      - language: DE
                        name: Selbstabholer
                        description: Selbstabholer
                    - identCode: PICKUPBOOKING
                      valueAddedServiceType: COLL_BOOK
                      translations:
                      - language: DE
                        name: Abholungsbeauftragung
                        description: Abholungsbeauftragung
                      - language: EN
                        name: Collection booking
                        description: Collection booking
                    - identCode: HEBEBUEHNE_COLLECT
                      valueAddedServiceType: NONE
                      translations:
                      - language: EN
                        name: Hydraulic ramp collection
                        description: Hydraulic ramp collection
                      - language: DE
                        name: Hebebühne Abholung
                        description: Hebebühne Abholung
                    - identCode: NACHNAHME_BAR
                      valueAddedServiceType: COD
                      translations:
                      - language: EN
                        name: 'Cash on delivery: cash'
                        description: 'Cash on delivery: cash'
                      - language: DE
                        name: 'Nachnahme: Bar'
                        description: 'Nachnahme: Bar'
                    - identCode: DOCUMENTUPLOAD
                      valueAddedServiceType: UPL_DOCS
                      translations:
                      - language: EN
                        name: Digital Documents
                        description: With Digital Documents by Dachser it is possible to transmit electronic files.
                      - language: DE
                        name: Digitale Dokumente
                        description: Mit Digitale Dokumente von Dachser können Sie Dokumente an Dachser elektronisch übermitteln.
                    - identCode: NACHNAHME_B_SCHECK
                      valueAddedServiceType: COD
                      translations:
                      - language: EN
                        name: 'Cash on delivery: confirmed check'
                        description: 'Cash on delivery: confirmed check'
                      - language: DE
                        name: 'Nachnahme: bankbestätigter Scheck'
                        description: 'Nachnahme: bankbestätigter Scheck'
        '404':
          description: Carrier definition with the requested ID is not found.
          content:
            application/json:
              examples:
                Carrier definition not found:
                  description: Carrier definition not found
                  value:
                    errorMessage: Keine Dienstleister-Definition mit der ID 'BASS' gefunden.
components:
  schemas:
    ServiceDefinitionPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of service definitions.
          items:
            $ref: '#/components/schemas/ServiceDefinition'
    CarrierDefinitionPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of carrier definitions.
          items:
            $ref: '#/components/schemas/CarrierDefinition'
    CarrierInfoTextDefinitionPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of carrier info text definitions.
          items:
            $ref: '#/components/schemas/CarrierInfoTextDefinition'
    AdditionalValueDefinitionTextTranslation:
      required:
      - language
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: 2-letter ISO code of the language.
          example: DE
        name:
          maxLength: 40
          minLength: 0
          type: string
          description: The name of the additional value.
      description: Name of the additional value in a certain language.
    ValueAddedServiceDefinitionPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of value added service definitions.
          items:
            $ref: '#/components/schemas/ValueAddedServiceDefinition'
    AdditionalValueDefinitionDefinitionPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of additional value definitions.
          items:
            $ref: '#/components/schemas/AdditionalValueDefinition'
    CarrierExtendedInfo:
      type: object
      properties:
        carrierUrl:
          maxLength: 150
          minLength: 0
          type: string
          description: The URL of the carrier from the carrier website.
        imprint:
          maxLength: 250
          minLength: 0
          type: string
          description: The official name of the carrier.
      description: Extended information of the carrier.
    ServiceDefinitionTextTranslation:
      required:
      - language
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: 2-letter ISO code of the language.
          example: DE
        name:
          maxLength: 250
          minLength: 0
          type: string
          description: The name of the service.
        description:
          maxLength: 250
          minLength: 0
          type: string
          description: The description of the service.
      description: Name and description of the service in a certain language.
    ValueAddedServiceDefinitionTextTranslation:
      required:
      - language
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: 2-letter ISO code of the language.
          example: DE
        name:
          maxLength: 250
          minLength: 0
          type: string
          description: The name of the value added service.
        description:
          maxLength: 250
          minLength: 0
          type: string
          description: The description of the value added service.
      description: Name and description of the value added service in a certain language.
    CarrierInfoTextDefinition:
      required:
      - carrierInfoTextParamHandling
      - carrierInfoTextType
      - identCode
      - translations
      type: object
      properties:
        identCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The identCode of the MO.
        carrierInfoTextType:
          type: string
          description: The type of the carrier info text.
          enum:
          - TYPE_DG_INFO_LITHIUM_BATTERY
          - TYPE_DELIVERY_INSTRUCTION
          - TYPE_FREE_TEXT
          - TYPE_GENERAL
        carrierInfoTextParamHandling:
          type: string
          description: The parameter handling type of the carrier info text.
          enum:
          - PARAMETER_NOT_REQUIRED
          - PARAMETER_REQUIRED
          - STRUCTURED_DATA_OPTIONAL
        carrierInfoTextStructuredData:
          type: string
          description: The structured data definition of the carrier info text, if applicable.
          enum:
          - CONSIGNEE_CONTACT_PHONE_OR_EMAIL
          - CONSIGNEE_CONTACT_EMAIL
          - CONSIGNEE_CONTACT_PHONE
          - IMPORTER_ADDRESS
          - PAYER_OF_CHARG_ACC_NO
          - PICKUPADDR_CONTACT_PHONE
          - PORT_OF_DISCHARGE_CODE
          - SHIPPER_EORI_NO
          - SHIP_OR_PICK_ADDR_CONTACT_PHONE
          - UNDEFINED
          - CUSTOM_REGISTRATION_NO
          - DELIVERY_INSTRUCTION
          - DELIVERY_NOTE_NUMBER_SHIP
          - END_CUSTOMER_REFERENCE
          - GENERAL_INSTRUCTION
          - INVOICE_NUMBER
          - PICKUP_INSTRUCTION
          - PURCHASE_ORDER_NUMBER_SHIP
          - RECEIVER_EORI_NUMBER
          - REFERENCENUMBER1
        maxTextLength:
          type: integer
          description: The maximum text length of the carrier info text, if applicable.
          format: int32
        translations:
          type: array
          description: The description of the carrier info text in multiple languages.
          items:
            $ref: '#/components/schemas/CarrierInfoTextDefinitionTextTranslation'
      description: Information about the additional info text the carrier offers.
    CarrierDefinitionTextTranslation:
      required:
      - language
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: 2-letter ISO code of the language.
          example: DE
        description:
          maxLength: 250
          minLength: 0
          type: string
          description: Name of the carrier.
      description: Name of the carrier in a certain language.
    CarrierDefinition:
      required:
      - carrierType
      - identCode
      - name
      - translations
      type: object
      properties:
        identCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The identCode of the MO.
        carrierType:
          type: string
          description: '<p>The carrier type assigns the carrier to a category that defines the support and  maintenance level. Possible values: <li> STANDARD the carrier is part of the standard portfolio. It is regularly maintained, supported and kept up to date. <li> PROJECT the carrier is only used by very few customers and thus is not part of the standard portfolio. <li> CLIENT the carrier is defined for a specific client only and thus is not part of the standard portfolio. </p> <br> PROJECT and CLIENT carrier are not maintained by default and may become outdated over time. Maintenance must be explicitly ordered.'
          enum:
          - STANDARD
          - PROJECT
          - CLIENT
        name:
          maxLength: 50
          minLength: 1
          type: string
          description: The name of the requested carrier.
        translations:
          type: array
          description: The name of the carrier in multiple languages.
          items:
            $ref: '#/components/schemas/CarrierDefinitionTextTranslation'
        extendedInfo:
          $ref: '#/components/schemas/CarrierExtendedInfo'
      description: The most important information of the carrier definition.
    ServiceDefinition:
      required:
      - identCode
      type: object
      properties:
        identCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The identCode of the MO.
        isDocumentService:
          type: boolean
          description: Returns true when service is used for the transport of documents.
        isDomesticAllowed:
          type: boolean
          description: Returns true when service is available for domestic transports.
        isFixedDateService:
          type: boolean
          description: Returns true when service allows a fixed date delivery.
        isGoodsService:
          type: boolean
          description: Returns true when service is used for the transport of goods.
        isInternationalAllowed:
          type: boolean
          description: Returns true when service is available for international transports.
        isPackageOriented:
          type: boolean
          description: Returns true when service is package oriented.
        note:
          type: string
          description: Comments for the service.
        translations:
          type: array
          description: The name and description of the service in multiple languages.
          items:
            $ref: '#/components/schemas/ServiceDefinitionTextTranslation'
      description: Information about the service the carrier offers.
    CarrierDespatchCountryPage:
      required:
      - content
      - totalElements
      type: object
      properties:
        totalElements:
          type: integer
          description: The total number of elements available to return.
          readOnly: true
          example: 100
        content:
          type: array
          description: List of all the despatch countries of the carrier. If the carrier operates globally, this list contains all countries.
          items:
            $ref: '#/components/schemas/CarrierDespatchCountry'
    AdditionalValueDefinition:
      required:
      - businessObject
      - dataType
      - identCode
      - translations
      type: object
      properties:
        identCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The identCode of the MO.
        dataType:
          type: string
          description: The data type of the additional value.
          enum:
          - BOOLEAN
          - CHOICE
          - CURRENCY
          - DATE
          - DATETIME
          - DECIMAL2
          - DECIMAL3
          - PACKAGE_TYPE
          - STRING
          - TIME
        businessObject:
          type: string
          description: The business object, which the additional value refers to.
          enum:
          - HAZITEM
          - ITEM
          - PACKAGE
          - SHIPMENT
        translations:
          type: array
          description: The name of the additional value in multiple languages.
          items:
            $ref: '#/components/schemas/AdditionalValueDefinitionTextTranslation'
      description: Information about the additional value the carrier offers.
    CarrierInfoTextDefinitionTextTranslation:
      required:
      - language
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: 2-letter ISO code of the language.
          example: DE
        description:
          maxLength: 250
          minLength: 0
          type: string
          description: The description of the carrier info text.
      description: Description of the carrier info text in a certain language.
    CarrierDespatchCountry:
      type: object
      properties:
        isoCode:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: The isoCode of the country.
        name:
          maxLength: 50
          minLength: 0
          type: string
          description: The name of the country.
      description: Information about the supported despatch country of the carrier.
    ValueAddedServiceDefinition:
      required:
      - identCode
      - translations
      - valueAddedServiceType
      type: object
      properties:
        identCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The identCode of the MO.
        valueAddedServiceType:
          type: string
          description: The type of the value added service.
          enum:
          - ADD_INS
          - BULK_CHILD
          - BULK_MASTER
          - COD
          - COLL_BOOK
          - DEL_CONF
          - IRR_PICKUP
          - MINIMUM_VALIDATION
          - NONE
          - NOTIFY
          - PALLET_EXCHANGE
          - REQ_DELDATE
          - RETURN_ENCL
          - RETURN_ENCL_ADV
          - RETURN_DEMAND
          - SAT_DEL
          - UPL_DOCS
        translations:
          type: array
          description: The name and the description of the value added service in multiple languages.
          items:
            $ref: '#/components/schemas/ValueAddedServiceDefinitionTextTranslation'
      description: Information about the value added service the carrier offers.
    CarrierDefinitionLogos:
      type: object
      properties:
        logo:
          type: string
          description: The logo of the requested carrier.
          format: byte
        smallLogo:
          type: string
          description: The small logo of the requested carrier.
          format: byte
        webLogo:
          type: string
          description: The web logo of the requested carrier.
          format: byte
      description: The logos of the carrier.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
