openapi: 3.2.0
info:
  title: Trade Compliance Management HTTP Risk Assessment Applications API
  description: Thank you for using our HTTP API documentation.
  version: '4.0'
servers:
- url: https://rz3.aeb.de/test4ce/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: Risk Assessment Applications
  description: Get URLs to various parts of the Risk Assessment application.
paths:
  /RiskAssessmentApplications/questionnaire:
    post:
      tags:
      - Risk Assessment Applications
      summary: Questionnaire
      description: Returns a URL that allows you to embed the questionnaire into another application.
      operationId: questionnaire
      requestBody:
        description: Request parameters for starting the "questionnaire" application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionnaireRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/QuestionnaireRequestDTO'
      responses:
        '200':
          description: OK. URL to embed the questionnaire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
  /RiskAssessmentApplications/searchQuestionnaires:
    post:
      tags:
      - Risk Assessment Applications
      summary: Questionnaire overview
      description: Returns an URL that allows you to embed the questionnaires overview into another application.
      operationId: searchQuestionnaires
      requestBody:
        description: Request parameters for starting the "search questionnaires" application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQuestionnairesRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/SearchQuestionnairesRequestDTO'
      responses:
        '200':
          description: OK. URL to embed the questionnaires overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationFacadeDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
components:
  schemas:
    AFExecuteProcessParmsDTO:
      type: object
      properties:
        executableFile:
          type: string
          description: The name of the executable (including path name,  or expected to be found within search path) This must not contain any parameters, and it must not be enclosed with quotes even if the string contains spaces.
        parameters:
          type: string
          description: Parameters to the executable. may be null. most processes expect parameters separated by spaces, and honor enclosing quotes for a parameter if it contains spaces.
        workDir:
          type: string
          description: The current directory to be set for the process created as given in executable may be null
      description: 'Parameters of UI API invocation when this is to be done via create process: The client has to invoke the process as specified by the properties of this object.'
    AFShellExecuteParmsDTO:
      type: object
      properties:
        fileName:
          type: string
          description: This is the name of the file that has to be created in some temporary directory and filled with what contents contains
        contents:
          type: string
          description: This is the contents that has to be written to the file
          format: byte
      description: 'Parameters of application UI API when this is to be done via shellexecute: The client has to create a file with the given name in a temporary directory, the contents of the file is given in the variable ''contents''. Then "shellExecute" has to be invoked which assumes that the file type as given by filename is registered on client''s machine'
    QuestionnaireRequestDTO:
      type: object
      properties:
        generalParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        questionnaireParms:
          $ref: '#/components/schemas/QuestionnaireParmsDTO'
      description: Request for the application open questionnaire.
    AbsoluteIntervalFilterDTO:
      type: object
      properties:
        from:
          type: string
          description: Start date of the interval in the format 'yyyy-MM-dd[ HH:mm:ss[z]]' (the time and zone is optional).<p>If no time zone is specified, the local zone of the server is used.<p>Use 'Z' for UTC/GMT or offsets like '+01', '-0600' or 'GMT+04:30'.
        to:
          type: string
          description: End date of the interval in the format 'yyyy-MM-dd[ HH:mm:ss[z]]' (the time and zone is optional).<p>If no time zone is specified, the local zone of the server is used.<p>Use 'Z' for UTC/GMT or offsets like '+01', '-0600' or 'GMT+04:30'.
      description: Initializes the filter with a fix interval between two dates.
    SearchQuestionnairesRequestDTO:
      type: object
      properties:
        generalParms:
          $ref: '#/components/schemas/ApplicationFacadeParmsDTO'
        filterParms:
          $ref: '#/components/schemas/QuestionnairesFilterParmsDTO'
      description: Request for the application search questionnaires.
    ErrorData:
      type: object
      properties:
        errorMessage:
          type: string
        errorCause:
          type: string
    ApplicationFacadeDTO:
      type: object
      properties:
        sessionid:
          type: string
          description: The session id of the UI API which may be used as a parameter to read results from the application facade. (Currently not supported.)
        httpUrl:
          type: string
          description: Used when the UI API is to be opened in a browser an http:// or https:// URL which is a web side to display the UI API.
        urlCloseToken:
          type: string
          description: URL token to check on the remote system (for example SAP) if the browser was closed.
        executeProcess:
          $ref: '#/components/schemas/AFExecuteProcessParmsDTO'
        shellExecute:
          $ref: '#/components/schemas/AFShellExecuteParmsDTO'
      description: A data transfer object which describes an UI API. There are various techniques possible how to "open" the "application" on the client; typically only one of the fields is filled, but when more than one possibility is not null the client may choose the type most suitable. Supported types include <ul><li>HTTP</li> - use when field 'httpUrl' is not null. Open a browser and navigate to the url given. When urlCloseToken is given, you can monitor the browsers pages and when you find that it navigates to an url equal to urlCloseToken, the browser can be closed by the application. <li>Start executable</li> - use when field 'executeProcess' is not null. Create a process as defined in the field 'executable', with the current directory as workDir (if specified). <li>Shell execute</li> - use when field 'shellExecute' is not null. Create a file in a temporary directory with name equal to that given in 'fileName', and fill it with the bytes given in 'contents', and then invoke "ShellExecute" to let the shell open the application corresponding to the file type. </ul>
      xml:
        name: ApplicationFacade
    IntervalFromNowFilterDTO:
      type: object
      properties:
        unit:
          type: string
          description: Defines the unit for the interval from 'now'.<p>Possible values are 'DAYS', 'WDAYS', 'WEEKS', 'MONTHS' and 'YEARS'.<p>This is a mandatory attribute.
        duration:
          type: integer
          description: Defines the duration for the interval from 'now'.<p>The duration can be negative for the past and positive for the future.<p>This is a mandatory attribute.
          format: int32
      description: Initializes the filter with a time interval relative to 'today'.
    QuestionnaireParmsDTO:
      required:
      - clientSystemId
      - questTemplId
      - referenceIdHost
      type: object
      properties:
        questTemplId:
          maxLength: 20
          type: string
          description: ID of the questionnaire template used for the questionnaire.
          example: '000005'
        clientSystemId:
          maxLength: 20
          type: string
          description: ID of the partner system the questionnaire was created by.
          example: API-TEST
        referenceIdHost:
          maxLength: 255
          type: string
          description: Unique reference key of the object in the partner system for which a questionnaire should be found.
          example: ref-121
        isReadOnly:
          type: boolean
          description: If <code>true</code>, the questionnaire is opened in read-only mode.
          example: false
          default: false
      description: Passing the parameters to identify the questionnaire.<br>The fields <code>questTemplId</code>, <code>clientSystemId</code>, and <code>referenceIdHost</code> are mandatory.
    QuestionnairesFilterParmsDTO:
      type: object
      properties:
        partnerName:
          maxLength: 20
          type: string
          description: Filter to find questionnaires with companies/persons of a specific name.
          example: Company XY
        partnerCountryIsoCode:
          maxLength: 2
          type: string
          description: Filter to find questionnaires with companies/persons in a specific country. Country is given as two-letter ISO code.
          example: DE
        companyName:
          maxLength: 20
          type: string
          description: Filter to find questionnaires of a specific company.
          example: AEB SE
        isCompleted:
          type: boolean
          description: Filter to find only completed or only incomplete questionnaires.
          example: true
        questionnaireId:
          type: string
          description: Filter to find questionnaires with a specific questionnaire ID.
          example: 00000048
        reference:
          maxLength: 250
          type: string
          description: Filter to find questionnaires with a specific reference. The reference is searched for in these fields:<ul><li>Reference</li><li>Order/document number</li><li>Project name/number</li><li>internal reference key from the partner system</li></ul>
          example: ref
        organisationUnitHost:
          type: string
          description: Filter to find questionnaires of a specific organizational unit. Valid inputs are free text or an ident code of an organizational unit from master data.
          example: OrgaUnit
        userName:
          maxLength: 254
          type: string
          description: Filter to find questionnaires from a specific user.
          example: user1
        questTypeIdentCode:
          maxLength: 50
          type: string
          description: Filter to find questionnaires of a specific type.
          example: CUSTOMER
        resultStatusIdentCode:
          maxLength: 50
          type: string
          description: Filter to find questionnaires with partial results of a specific result status (customer individual).
          example: MILITARY
        totalResultTypeIdentCode:
          type: string
          description: Filter to find questionnaires with a specific total result type.<br>The following result types are supported:<ul><li><code>OK</code></li><li><code>WARNING</code></li><li><code>STOP</code></li></ul>
          example: OK
        partnerRoleIdentCode:
          maxLength: 50
          type: string
          description: Filter to find questionnaires with companies/persons of a specific role.
          example: CONSIGNEE_STD
        creationDate:
          $ref: '#/components/schemas/DateTimeIntervalRangeFilterDTO'
      description: Passing the filters of the questionaires.
    DateTimeIntervalRangeFilterDTO:
      type: object
      properties:
        relativeInterval:
          $ref: '#/components/schemas/RelativeIntervalFilterDTO'
        absoluteInterval:
          $ref: '#/components/schemas/AbsoluteIntervalFilterDTO'
      description: 'Represents a possibility to pass a date time interval range filter. Use one of the given attributes to pass the filter. If more than one attribute is filledthe attributes will be used in the following order: relativeInterval, absoluteInterval'
    ApplicationFacadeParmsDTO:
      type: object
      properties:
        client:
          type: string
          description: The client of the new session. This should be a legal identCode of a client in the system.<br> If it is NOT a legal identCode of a client in the system, the user will see a login prompt before he is able to see the UI API. (See IFoundationBF.getAllClients()). <br>When the UI API web service call is authenticated, this value will be checked against the authentication data and the call is rejected if it does not match.
          example: APITEST
        user:
          type: string
          description: 'The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may get granted only have the role "I_EVERYONE" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the API will be trusted to have checked the users access rights. This enables a kind of "single sign on" between different e.g. XNSG servers.'
          example: API_TEST
        workstationId:
          type: string
          description: The unique workstation identifier of the new session.<br><br>The identifier of the workstation must be configured and unique within the same client.
        workstationSessionId:
          type: string
          description: The unique workstation agent session identifier of the new session.<br>It defines a concrete and already established session agent bound to the local workstation e.g. locally started service agent.<br>The workstation agent is used for accessing local peripheries (e.g. local printers).<p><b>The caller must ensure that the corresponding session has been established</b></p>
        language:
          type: string
          description: The two letter ISO code of the language of the new session.
          example: en
        displayFullWorkplace:
          type: boolean
          description: <code>true</code> to display the complete workspace (central, user and info panel). Use false or null to display only the single ac.
          example: true
        isACEmbedded:
          type: boolean
          description: <code>true</code> to display header and statusbar, false if ac should be embedded in another
          example: true
        displayStatusbar:
          type: boolean
          description: <code>true</code> to display statusbar, <code>false</code>
          example: true
        displayTitlebar:
          type: boolean
          description: <code>true</code> to display header, <code>false</code> if ac should not show header
          example: true
        stylevariant:
          type: string
          description: Deprecated.
          example: NEUTRAL
        acceptTechnology:
          type: string
          description: 'Specify which technology the clients wants to access the application; one token (or several, separated by semicolon) - the server may chose to ignore this possible tokens are specific for each server technology, XNSG-Servers currently honor strings from the GUIInvocationTechnology enum (e.g.: VAADIN) if <code>null</code> a default technology is chosen.'
          example: VAADIN
        productname:
          type: string
          description: Optional field, which may be set if productname differs from standard product name
        productShortName:
          type: string
          description: Optional field, which may be set if productShortName differs from standard product name
        preferredWidth:
          type: integer
          description: Optional field, which may be set if preferred width of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way
          format: int32
        preferredHeight:
          type: integer
          description: Optional field, which may be set if preferred height of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way
          format: int32
        openToTray:
          type: boolean
          description: 'Optional field, which may be set if application should be opened to tray (default: <code>false</code>) - currently not available for vaadin, will be ignored'
      description: A data transfer object to be the parameter of the method IFoundationBF.getNewApplicationFacade()
    RelativeIntervalFilterDTO:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/IntervalFromNowFilterDTO'
        to:
          $ref: '#/components/schemas/IntervalFromNowFilterDTO'
      description: Initializes the filter with a relative time range.<p>If only one attribute is filled, the interval is relative to 'today'.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
