openapi: 3.2.0
info:
  title: Customs Management HTTP International Customs BF Bean API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://rz3.aeb.de/test2ici/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: InternationalCustomsBFBean
  description: Interface overview for Customs Management
paths:
  /InternationalCustomsBFBean/acknowledgeGetChangedDeclarations:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Acknowledge call of get changed declarations
      description: 'Acknowledge, that the result of calling {@link #getChangedDeclarations(ICGetChangedDeclarationsRequestDTO)} was processed.'
      operationId: acknowledgeGetChangedDeclarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICAcknowledgeGetChangedDeclarationsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICAcknowledgeGetChangedDeclarationsResponseDTO'
  /InternationalCustomsBFBean/addDeclarationAttachments:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Add declaration attachments
      description: Add attachments (files) to declarations. The size of the files are limited to a configurable size (e.g. 20 MB)<br> This operation is deprecated, use createConsignment with attachments instead.
      operationId: addDeclarationAttachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICAddDeclarationAttachmentsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICAddDeclarationAttachmentsResponseDTO'
      deprecated: true
  /InternationalCustomsBFBean/cancelConsignment:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Cancel consignment
      description: 'Initiates a cancellation process for the requested consignment. <br> The consignment can be addressed via the consignment id from the client system (field ''consignmentIdClientSystem'') or via the businessObjectId which is the reference of the ICI system. If both fields are entered the businessObjectId will be used.<br> There are two possible outcomes: <ul> <li>Deletion of the consignment and all referenced declarations</li> <li>Invalidation of the consignment and all referenced declarations</li> </ul> If it is not possible to delete or invalidate nothing will be done.'
      operationId: cancelConsignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCancelConsignmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCancelConsignmentResponseDTO'
  /InternationalCustomsBFBean/cancelConsignmentManifest:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Cancel consignment manifest
      description: 'Initiates a cancellation process for the requested consignment manifest. <br> The consignment manifest can be addressed via the consignment id from the client system (field ''consignmentIdClientSystem'') or via the businessObjectId which is the reference of the ICI system. If both fields are entered the businessObjectId will be used.<br> There are two possible outcomes: <ul> <li>Deletion of the consignment manifest and all referenced declarations</li> <li>Invalidation of the consignment manifest and all referenced declarations</li> </ul> If it is not possible to delete or invalidate nothing will be done.'
      operationId: cancelConsignmentManifest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCancelConsignmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCancelConsignmentResponseDTO'
  /InternationalCustomsBFBean/cancelDeclaration:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Cancel declaration
      description: 'Initiates a cancellation process for the requested declaration. <br> There are two possible outcomes: <ul> <li>Deletion of the declaration</li> <li>Invalidation of the declaration</li> </ul> If it is not possible to delete or invalidate nothing will be done.'
      operationId: cancelDeclaration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCancelDeclarationRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCancelDeclarationResponseDTO'
  /InternationalCustomsBFBean/createConsignment:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Create a consignment
      description: Creates a new consignment. If any fields on consignment or delivery level are empty which are mandatory an error message will be created and the creation stopped. Only if the mandatory fields are filled the consignment will be created and imported.
      operationId: createConsignment
      requestBody:
        description: The consignment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCreateConsignmentRequestDTO'
            examples:
              Typical ERP example:
                description: Example with fields which are typically availabe in an ERP system.
                value:
                  clientSystemId: ERP-ID
                  clientIdentCode: APITEST
                  resultLanguageIsoCodes:
                  - en
                  consignment:
                    consignmentIdClientSystem: CONS-1000-ID
                    organizationUnitClientSystem: OrgUnit
                    consignmentNumber: CONS-1000
                    remark: Remark
                    profileCode: STD
                    personInCharge:
                      forename: Forename
                      surname: Surename1
                      email: email@company.com
                      phone: Phone
                      supplement: Supplement
                      initials: Initials
                    deliveries:
                    - deliveryIdClientSystem: DEL-1000-ID
                      organizationUnitClientSystem: OrgUnit
                      deliveryNumber: DEL-1000
                      remark: Remark
                      totalGrossMass:
                        value: '150'
                        unit: kg
                      totalNetMass:
                        value: '120'
                        unit: kg
                      dispatchCountryCode: NL
                      destinationCountryCode: US
                      decisiveDate:
                        dateInTimezone: '2020-05-05 12:00:00'
                        timezone: GMT+01:00
                      tradeTerms:
                        incotermCode: EXW
                        place: Place
                        info: Info
                      isContainerised: 'true'
                      parties:
                      - partyType: DECLARANT
                        customsProcess: EXPORT_NL
                        companyNumber: DECL-1000
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: NL
                        contact:
                          forename: Forname
                          surname: Surname
                          email: email@declarant.com
                          phone: Phone
                          supplement: Supplement
                          initials: Initials
                        customsIds:
                        - identificationType: EORI
                          identification: NL123456789
                      - partyType: EXPORTER
                        customsProcess: EXPORT_NL
                        companyNumber: DECL-1000
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: NL
                        customsIds:
                        - identificationType: EORI
                          identification: NL123456789
                      - partyType: CONSIGNEE
                        name: Consignee US
                        street: Street
                        city: City
                        postCode: '123456'
                        country: US
                      transportEquipments:
                      - equipmentType: CONTAINER
                        identification: CON-1000
                        seals:
                        - identification: SEAL-1000
                      customsOffices:
                      - officeType: EXPORT
                        sequenceNumber: '1'
                        officeCode: NL000074
                      transportMeans:
                      - meansType: BORDER
                        transportModeCode: '3'
                        transportMeansCode: '20'
                        identification: Identification
                        nationalityCode: NL
                      itinerary:
                      - sequenceNumber: '1'
                        countryCode: BE
                      invoices:
                      - invoiceIdClientSystem: INV-1000-ID
                        invoiceNumber: INV-1000
                        invoiceDate:
                          dateInTimezone: '2020-05-05 12:00:00'
                          timezone: GMT+01:00
                        invoicePrice:
                          value: '500'
                          currencyIso: USD
                      items:
                      - itemIdClientSystem: '1'
                        itemNumber: '1'
                        material:
                          materialId: M-1000
                        invoiceIdClientSystem: INV-1000-ID
                        grossMass:
                          value: '150'
                          unit: kg
                        netMass:
                          value: '120'
                          unit: kg
                        netPrice:
                          value: '500'
                          currencyIso: USD
                        originCountryCode: NL
                        preferentialOriginCountryCode: NL
                        isEligiblePreference: 'false'
                        statisticalValue:
                          value: '400'
                          currencyIso: EUR
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120030'
                        goodsDescription:
                        - languageISOCode: EN
                          text: Bicycles and accessories
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '10'
                            unit: St
                        additionalReferences:
                        - referenceType: EMCS_ARC_NUMBER
                          reference: Reference number
                        customsProcedures:
                        - customsProcedureType: EXPORTPROC
                          customsProcedureCode: '1000'
                      packages:
                      - packageIdClientSystem: PACK-1000-ID
                        quantity: '1'
                        typeUneceCode: PB
                        grossMass:
                          value: '150'
                          unit: kg
                        marksAndNumbers:
                          languageISOCode: EN
                          text: Marks
                        seals:
                        - identification: SEAL-1000
                        packedItems:
                        - itemIdClientSystem: '1'
                          packedQuantity: '10'
                      goodsDescription:
                      - languageISOCode: EN
                        text: Bicycles
                      additionalReferences:
                      - referenceType: EMCS_ARC_NUMBER
                        reference: Reference number
              Country specific example:
                description: Example with country specific fields which need to be passed as extension.
                value:
                  clientSystemId: ERP-ID
                  clientIdentCode: APITEST
                  resultLanguageIsoCodes:
                  - en
                  consignment:
                    consignmentIdClientSystem: CONS-1000-ID
                    consignmentNumber: CONS-1000
                    profileCode: STD
                    deliveries:
                    - deliveryIdClientSystem: DEL-1000-ID
                      deliveryNumber: DEL-1000
                      dispatchCountryCode: NL
                      destinationCountryCode: US
                      decisiveDate:
                        dateInTimezone: '2020-05-05 12:00:00'
                        timezone: CET
                      parties:
                      - partyType: CONSIGNEE
                        name: Consignee US
                        street: Main road 1
                        city: Atlanta
                        postCode: '123456'
                        country: US
                      transportMeans:
                      - meansType: BORDER
                        transportModeCode: '3'
                        transportMeansCode: '20'
                        identification: US 123
                        nationalityCode: US
                      extension:
                        exportNL:
                          expectedArrivalTime:
                            dateInTimezone: '2020-05-05 00:00:00'
                            timezone: CET
                          expectedDepartureTime:
                            dateInTimezone: '2020-05-15 00:00:00'
                            timezone: CET
                      items:
                      - itemIdClientSystem: '1'
                        itemNumber: '1'
                        material:
                          materialId: M-1000
                        netMass:
                          value: '120'
                          unit: kg
                        originCountryCode: BE
                        statisticalValue:
                          value: '400'
                          currencyIso: EUR
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120030'
                        goodsDescription:
                        - languageISOCode: EN
                          text: Bicycles and accessories
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '10'
                            unit: St
                        extension:
                          exportNL:
                            transactionNatureCode: '11'
                            producedDocuments:
                            - typeCode: Y902
                              reference: Document reference Y902
                              informationDate:
                                dateInTimezone: '2020-05-05 00:00:00'
                                timezone: CET
                          exportDE:
                            transactionNatureCode: '11'
                            producedDocuments:
                            - typeCode: Y901
                              reference: Document reference Y901
                              informationDate:
                                dateInTimezone: '2020-05-05 00:00:00'
                                timezone: CET
                            terminationCustomsWarehouse:
                              authorisationNumber: DECWP0000ZL000001
                              items:
                              - entryInATLAS: 'true'
                                customsRegistrationNumber: ATX0000000000000000001
                                itemNumber: '1'
                                commodityCode: '99001000'
                                removalQuantity:
                                  value: '5'
                                  unit: NAR
                              - entryInATLAS: 'false'
                                registrationNumber: X1234
                                itemNumber: '2'
                                commodityCode: '99001010'
                                removalQuantity:
                                  value: '3'
                                  unit: NAR
                      packages:
                      - packageIdClientSystem: PACK-1000-ID
                        quantity: '1'
                        typeUneceCode: PB
                        grossMass:
                          value: '150'
                          unit: kg
                        marksAndNumbers:
                          languageISOCode: EN
                          text: Marks
              Broker example:
                description: Example with broker specific fields which need to passed as free defined extra fields in an extension.
                value:
                  clientSystemId: ERP-ID
                  clientIdentCode: APITEST
                  resultLanguageIsoCodes:
                  - en
                  consignment:
                    consignmentIdClientSystem: CONS-1000-ID
                    consignmentNumber: CONS-1000
                    profileCode: STD
                    deliveries:
                    - deliveryIdClientSystem: DEL-1000-ID
                      deliveryNumber: DEL-1000
                      dispatchCountryCode: NL
                      destinationCountryCode: US
                      decisiveDate:
                        dateInTimezone: '2020-05-05 12:00:00'
                        timezone: CET
                      parties:
                      - partyType: CONSIGNEE
                        name: Consignee US
                        street: Main road 1
                        city: Atlanta
                        postCode: '123456'
                        country: US
                      transportMeans:
                      - meansType: BORDER
                        transportModeCode: '3'
                        transportMeansCode: '20'
                        identification: US 123
                        nationalityCode: US
                      extension:
                        exportBroker:
                          extraFields:
                          - identCode: FIELD_1
                            value: VALUE_1
                          - identCode: FIELD_2
                            value: VALUE_2
                      items:
                      - itemIdClientSystem: '1'
                        itemNumber: '1'
                        material:
                          materialId: M-1000
                        netMass:
                          value: '120'
                          unit: kg
                        originCountryCode: BE
                        statisticalValue:
                          value: '400'
                          currencyIso: EUR
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120030'
                        goodsDescription:
                        - languageISOCode: EN
                          text: Bicycles and accessories
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '10'
                            unit: St
                        extension:
                          exportBroker:
                            extraFields:
                            - identCode: FIELD_1
                              value: VALUE_1
                            - identCode: FIELD_2
                              value: VALUE_2
                            producedDocuments:
                            - typeCode: Y902
                              reference: Document reference Y902
                              informationDate:
                                dateInTimezone: '2020-05-05 00:00:00'
                                timezone: CET
                      packages:
                      - packageIdClientSystem: PACK-1000-ID
                        quantity: '1'
                        typeUneceCode: PB
                        grossMass:
                          value: '150'
                          unit: kg
                        marksAndNumbers:
                          languageISOCode: EN
                          text: Marks
              Export ATLAS DE:
                description: Example with fields filled for a customs declaration in German ATLAS system.
                value:
                  clientSystemId: HOSTSYSTEM
                  clientIdentCode: REPLACE_WITH_YOUR_CLIENT_IDENTODE
                  userName: REPLACE_WITH_YOUR_USER_NAME
                  resultLanguageIsoCodes:
                  - DE
                  consignment:
                    consignmentIdClientSystem: 4732_DE
                    consignmentNumber: 4732_DE
                    personInCharge:
                      forename: Forename
                      surname: Surename1
                      email: email@company.com
                      phone: Phone
                      supplement: Supplement
                      initials: Initials
                    profileCode: REPLACE_WITH_YOUR_EXPORT_DE_PROFILE
                    deliveries:
                    - deliveryIdClientSystem: DCTEST
                      deliveryNumber: DCTEST_001
                      isContainerised: 'true'
                      dispatchCountryCode: DE
                      destinationCountryCode: CH
                      decisiveDate:
                        dateInTimezone: '2024-01-10 10:12:10'
                        timezone: UTC
                      parties:
                      - partyType: DECLARANT
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: DE
                        contact:
                          forename: Forname
                          surname: Surname
                          email: email@declarant.com
                          phone: Phone
                          supplement: Supplement
                          initials: Initials
                        customsIds:
                        - identificationType: EORI
                          identification: DE123456789
                      - partyType: EXPORTER
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: DE
                        customsIds:
                        - identificationType: EORI
                          identification: DE123456789
                      - partyType: CONSIGNEE
                        name: Consignee CH
                        street: Street
                        city: City
                        postCode: '123456'
                        country: CH
                      transportEquipments:
                      - equipmentType: CONTAINER
                        identification: CON-1001
                        seals:
                        - identification: SEAL-1001
                      customsOffices:
                      - officeType: EXPORT
                        sequenceNumber: '1'
                        officeCode: DE002651
                      - officeType: EXIT
                        sequenceNumber: '1'
                        officeCode: DE004701
                      tradeTerms:
                        incotermCode: EXW
                        place: Place
                        country: DE
                      invoices:
                      - invoiceIdClientSystem: '100'
                        invoiceNumber: '100'
                        invoicePrice:
                          value: '400'
                          currencyIso: EUR
                      - invoiceIdClientSystem: '50'
                        invoiceNumber: '50'
                        invoicePrice:
                          value: '100'
                          currencyIso: EUR
                      items:
                      - itemIdClientSystem: '1'
                        itemNumber: '1'
                        invoiceIdClientSystem: '100'
                        netPrice:
                          value: '400'
                          currencyIso: EUR
                        originCountryCode: DE
                        preferentialOriginCountryCode: ''
                        dispatchCountryCode: ''
                        destinationCountryCode: ''
                        customsProcedures:
                        - customsProcedureType: EXPORTPROC
                          customsProcedureCode: '1000'
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120030'
                        goodsDescription:
                        - languageISOCode: DE
                          text: Fahrräder
                        netMass:
                          value: '20'
                          unit: KGM
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '1000'
                            unit: NAR
                        - quantityType: STATISTICAL
                          quantity:
                            value: '1000'
                            unit: NAR
                        statisticalValue:
                          value: '400'
                          currencyIso: EUR
                        extension:
                          exportDE:
                            originCountryRegionCode: '01'
                            transactionNatureCode: '11'
                            producedDocuments:
                            - documentType: ADDITIONAL_REFERENCE
                              typeCode: Y903
                            - documentType: ADDITIONAL_REFERENCE
                              typeCode: Y935
                      - itemIdClientSystem: '2'
                        itemNumber: '2'
                        material:
                          materialId: '4711'
                        invoiceIdClientSystem: '50'
                        originCountryCode: DE
                        customsProcedures:
                        - customsProcedureType: EXPORTPROC
                          customsProcedureCode: '1000'
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120070'
                        goodsDescription:
                        - languageISOCode: DE
                          text: Fahrräder
                        netMass:
                          value: '5'
                          unit: KGM
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '500'
                            unit: NAR
                        - quantityType: STATISTICAL
                          quantity:
                            value: '500'
                            unit: NAR
                        statisticalValue:
                          value: '100'
                          currencyIso: EUR
                        extension:
                          exportDE:
                            originCountryRegionCode: '01'
                            transactionNatureCode: '11'
                            producedDocuments:
                            - documentType: ADDITIONAL_REFERENCE
                              typeCode: Y903
                            - documentType: ADDITIONAL_REFERENCE
                              typeCode: Y935
                      packages:
                      - packageIdClientSystem: P1
                        quantity: '1'
                        typeCode: PK
                        typeUneceCode: PK
                        grossMass:
                          value: '50'
                          unit: KGM
                        marksAndNumbers:
                          languageISOCode: DE
                          text: Marks
                        packedItems:
                        - itemIdClientSystem: '1'
                          packedQuantity: '1000'
                          unit: NAR
                        - itemIdClientSystem: '2'
                          packedQuantity: '500'
                          unit: NAR
                      extension:
                        exportDE:
                          producedDocuments:
                          - documentType: TRANSPORT
                            typeCode: 9ZZZ
                            reference: '12345'
              Sumdec ATLAS DE:
                description: Example with fields filled for a summary declaration in German ATLAS system.
                value:
                  clientSystemId: HOSTSYSTEM
                  clientIdentCode: REPLACE_WITH_YOUR_CLIENT_IDENTODE
                  userName: REPLACE_WITH_YOUR_USER_NAME
                  resultLanguageIsoCodes:
                  - DE
                  consignment:
                    consignmentIdClientSystem: 4732_DE
                    consignmentNumber: 4732_DE
                    profileCode: REPLACE_WITH_YOUR_SUMDEC_DE_PROFILE
                    deliveries:
                    - deliveryIdClientSystem: HOSTSYSTEMID
                      deliveryNumber: '1'
                      parties:
                      - partyType: PRESENTOR
                        name: Presentor
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: DE
                        customsIds:
                        - identificationType: EORI
                          identification: DE123456789
                      - partyType: AGENT
                        name: Agent
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: DE
                        contact:
                          forename: Forname
                          surname: Surname
                          email: email@company.com
                          phone: Phone
                          professionalTitle: customs profi
                          initials: Initials
                        customsIds:
                        - identificationType: EORI
                          identification: DE123456789
                      customsOffices:
                      - officeType: DECLARATION
                        officeCode: DE001482
                      transportMeans:
                      - meansType: BORDER
                        transportMeansCode: '01'
                        identification: BZ 01
                      packages:
                      - quantity: '1'
                        typeUneceCode: 1A
                        packedItems:
                        - itemIdClientSystem: '1'
                          packedQuantity: '1000'
                          unit: NAR
                      items:
                      - itemNumber: '1'
                        itemIdClientSystem: '1'
                        goodsDescription:
                        - languageISOCode: DE
                          text: a pretty item
                        grossMass:
                          value: '2.0'
                          unit: kg
                        additionalReferences:
                        - referenceType: AWB_NUMBER
                          reference: awb123456
                        dispatchCountryCode: DE
                        parties:
                        - partyType: CUSTODIAN
                          customsIds:
                          - identificationType: EORI
                            identification: DE123456789
                      extension:
                        summaryDeclarationDE:
                          presentationDate:
                            dateInTimezone: '2025-12-31 10:12:10'
                            timezone: UTC
                          previousDocument:
                            type: '199'
              IMPORT ATLAS DE:
                description: Example with fields filled for an IMPORT declaration in German ATLAS system.
                value:
                  clientSystemId: HOSTSYSTEM
                  clientIdentCode: REPLACE_WITH_YOUR_CLIENT_IDENTODE
                  userName: REPLACE_WITH_YOUR_USER_NAME
                  resultLanguageIsoCodes:
                  - DE
                  consignment:
                    consignmentIdClientSystem: CLIENT_DE
                    consignmentNumber: 1357_DE
                    profileCode: REPLACE_WITH_YOUR_IMPOST_DE_PROFILE
                    deliveries:
                    - deliveryIdClientSystem: HOSTSYSTEMID
                      deliveryNumber: '1'
                      customsOffices:
                      - officeType: IMPORT
                        officeCode: DE001482
                      - officeType: ENTRY
                        officeCode: DE002705
                      invoices:
                      - invoiceNumber: '4711'
                        invoicePrice:
                          value: '200.0'
                          currencyIso: EUR
                      parties:
                      - partyType: DECLARANT
                        companyNumber: '906090'
                      - partyType: CONSIGNOR
                        companyNumber: '90210'
                      tradeTerms:
                        incotermCode: CFR
                        place: place
                      transportMeans:
                      - meansType: BORDER
                        transportModeCode: '3'
                        transportMeansCode: '01'
                        nationalityCode: DE
                      - meansType: ARRIVAL
                        identification: hello
                      dispatchCountryCode: FR
                      destinationCountryCode: DE
                      packages:
                      - packageIdClientSystem: packID1
                        quantity: '1'
                        typeCode: 1A
                      items:
                      - itemNumber: '1'
                        materialNumber: coolMaterial
                        grossMass:
                          value: '2.0'
                          unit: kg
                        netMass:
                          value: '1.0'
                          unit: kg
                        netPrice:
                          value: '99.0'
                          currencyIso: EUR
                        originCountryCode: DE
                        classifications:
                        - classificationType: COCOIMPORT
                          classificationValue: '01012100000'
                        goodsDescription:
                        - languageISOCode: DE
                          text: a pretty item
                        customsProcedures:
                        - customsProcedureType: IMPORTPROC
                          customsProcedureCode: '0100'
                        statisticalValue:
                          value: '5.0'
                          currencyIso: EUR
                        quantities:
                        - quantityType: STATISTICAL
                          quantity:
                            value: '10'
                            unit: NAR
                        extension:
                          importDE:
                            transactionNatureCode: '11'
                            articlePrice:
                              value: '123.45'
                              currencyIso: EUR
                            preferentialData:
                              preferenceType: '100'
                      extension:
                        importDE:
                          destinationCountryRegionCode: '01'
              IMPOST ATLAS DE:
                description: Example with fields filled for an IMPOST declaration in German ATLAS system.
                value:
                  clientSystemId: HOSTSYSTEM
                  clientIdentCode: REPLACE_WITH_YOUR_CLIENT_IDENTODE
                  userName: REPLACE_WITH_YOUR_USER_NAME
                  resultLanguageIsoCodes:
                  - DE
                  consignment:
                    consignmentIdClientSystem: 4732_DE
                    consignmentNumber: 4732_DE
                    profileCode: REPLACE_WITH_YOUR_IMPOST_DE_PROFILE
                    deliveries:
                    - deliveryIdClientSystem: HOSTSYSTEMID
                      deliveryNumber: '1'
                      customsOffices:
                      - officeType: IMPORT
                        officeCode: DE001482
                      invoices:
                      - invoicePrice:
                          value: '20.0'
                          currencyIso: EUR
                      parties:
                      - partyType: DECLARANT
                        companyNumber: '906090'
                      - partyType: IMPORTER
                        companyNumber: '906090'
                      - partyType: EXPORTER
                        companyNumber: '90210'
                      destinationCountryCode: DE
                      totalGrossMass:
                        value: 2.5
                        unit: kg
                      additionalReferences:
                      - referenceType: UCR
                        reference: UCR-2026-INV-0001
                      - referenceType: SUM_DEC_TERMINATION
                        reference: MRN SUMDEC
                        itemNumber: 1
                        quantity:
                          value: 1
                      packages:
                      - packageIdClientSystem: packID1
                        quantity: '1'
                        typeCode: 1A
                      items:
                      - itemNumber: '1'
                        netPrice:
                          value: '20.0'
                          currencyIso: EUR
                        additionalReferences:
                        - referenceType: UCR
                          reference: ITEM-UCR-2026-INV-0001
                        quantities:
                        - quantityType: CUSTOMS
                          quantity:
                            value: 3
                            unit: kg
                            uneceUnit: NAR
                        originCountryCode: DE
                        classifications:
                        - classificationType: COCOIMPORT
                          classificationValue: '01012100000'
                        goodsDescription:
                        - languageISOCode: DE
                          text: a pretty item
                        customsProcedures:
                        - customsProcedureType: IMPORTPROCNAT
                          customsProcedureCode: C08
                        costs:
                        - costType: TRANSPORT
                          value:
                            value: 3
                            currencyIso: EUR
                      extension:
                        importDE:
                          producedDocuments:
                          - typeCode: N380
                            reference: INV-2026-001
                            informationDate:
                              dateInTimezone: '2026-01-12 10:30:00'
                              timezone: UTC
                    - deliveryIdClientSystem: HOSTSYSTEMID
                      deliveryNumber: '2'
                      customsOffices:
                      - officeType: IMPORT
                        officeCode: DE001482
                      invoices:
                      - invoicePrice:
                          value: '25.0'
                          currencyIso: EUR
                      parties:
                      - partyType: DECLARANT
                        companyNumber: '906090'
                      - partyType: IMPORTER
                        companyNumber: '906090'
                      - partyType: EXPORTER
                        companyNumber: '90210'
                      destinationCountryCode: DE
                      totalGrossMass:
                        value: 2.6
                        unit: kg
                      additionalReferences:
                      - referenceType: UCR
                        reference: UCR-2026-INV-0001
                      - referenceType: SUM_DEC_TERMINATION
                        reference: MRN SUMDEC
                        itemNumber: 2
                        quantity:
                          value: 3
                      packages:
                      - packageIdClientSystem: packID1
                        quantity: '1'
                        typeCode: 1A
                      items:
                      - itemNumber: '1'
                        netPrice:
                          value: '25.0'
                          currencyIso: EUR
                        additionalReferences:
                        - referenceType: UCR
                          reference: ITEM-UCR-2026-INV-0001
                        quantities:
                        - quantityType: CUSTOMS
                          quantity:
                            value: 3
                            unit: kg
                            uneceUnit: NAR
                        originCountryCode: DE
                        classifications:
                        - classificationType: COCOIMPORT
                          classificationValue: '01012100000'
                        goodsDescription:
                        - languageISOCode: DE
                          text: another pretty item
                        customsProcedures:
                        - customsProcedureType: IMPORTPROCNAT
                          customsProcedureCode: C08
                        costs:
                        - costType: TRANSPORT
                          value:
                            value: 3
                            currencyIso: EUR
                      extension:
                        importDE:
                          producedDocuments:
                          - typeCode: N380
                            reference: INV-2026-002
                            informationDate:
                              dateInTimezone: '2026-01-12 10:30:00'
                              timezone: UTC
                    - deliveryIdClientSystem: HOSTSYSTEMID
                      deliveryNumber: '3'
                      customsOffices:
                      - officeType: IMPORT
                        officeCode: DE001482
                      invoices:
                      - invoicePrice:
                          value: '35.0'
                          currencyIso: EUR
                      parties:
                      - partyType: DECLARANT
                        companyNumber: '906090'
                      - partyType: IMPORTER
                        companyNumber: '906090'
                      - partyType: EXPORTER
                        companyNumber: '90210'
                      - partyType: SELLER
                        companyNumber: '90210'
                        customsIds:
                        - identificationType: IOSS_VAT
                          identification: FR5IM6789012345
                      destinationCountryCode: DE
                      totalGrossMass:
                        value: 2.6
                        unit: kg
                      additionalReferences:
                      - referenceType: UCR
                        reference: UCR-2026-INV-0003
                      - referenceType: SUM_DEC_TERMINATION
                        reference: MRN SUMDEC
                        itemNumber: 2
                        quantity:
                          value: 3
                      packages:
                      - packageIdClientSystem: packID1
                        quantity: '1'
                        typeCode: 1A
                      items:
                      - itemNumber: '1'
                        netPrice:
                          value: '35.0'
                          currencyIso: EUR
                        additionalReferences:
                        - referenceType: UCR
                          reference: ITEM-UCR-2026-INV-0003
                        originCountryCode: DE
                        classifications:
                        - classificationType: COCOIMPORT
                          classificationValue: '01012100000'
                        goodsDescription:
                        - languageISOCode: DE
                          text: Pretty item
                        customsProcedures:
                        - customsProcedureType: IMPORTPROCNAT
                          customsProcedureCode: F48
                        - customsProcedureType: IMPORTPROCNAT
                          customsProcedureCode: C07
                        costs:
                        - costType: TRANSPORT
                          value:
                            value: 3
                            currencyIso: EUR
                      extension:
                        importDE:
                          producedDocuments:
                          - typeCode: N380
                            reference: INV-2026-002
                            informationDate:
                              dateInTimezone: '2026-01-12 10:30:00'
                              timezone: UTC
              Full example:
                description: Example with all fields filled.
                value:
                  clientSystemId: ERP-ID
                  clientIdentCode: APITEST
                  resultLanguageIsoCodes:
                  - en
                  consignment:
                    consignmentIdClientSystem: CONS-1000-ID
                    organizationUnitClientSystem: OrgUnit
                    consignmentNumber: CONS-1000
                    remark: Remark
                    profileCode: STD
                    personInCharge:
                      forename: Forename
                      surname: Surename1
                      email: email@company.com
                      phone: Phone
                      supplement: Supplement
                      initials: Initials
                    deliveries:
                    - deliveryIdClientSystem: DEL-1000-ID
                      organizationUnitClientSystem: OrgUnit
                      deliveryNumber: DEL-1000
                      remark: Remark
                      totalGrossMass:
                        value: '150'
                        unit: kg
                      totalNetMass:
                        value: '120'
                        unit: kg
                      dispatchCountryCode: NL
                      destinationCountryCode: US
                      decisiveDate:
                        dateInTimezone: '2020-05-05 12:00:00'
                        timezone: GMT+01:00
                      tradeTerms:
                        incotermCode: EXW
                        place: Place
                        info: Info
                      isContainerised: 'true'
                      parties:
                      - partyType: DECLARANT
                        customsProcess: EXPORT_NL
                        companyNumber: DECL-1000
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: NL
                        contact:
                          forename: Forname
                          surname: Surname
                          email: email@declarant.com
                          phone: Phone
                          supplement: Supplement
                          initials: Initials
                        customsIds:
                        - identificationType: EORI
                          identification: NL123456789
                      - partyType: EXPORTER
                        customsProcess: EXPORT_NL
                        companyNumber: DECL-1000
                        name: Declarant NL
                        name2: Name2
                        street: Street
                        street2: Street 2
                        city: City
                        postCode: '123456'
                        district: District
                        country: NL
                        customsIds:
                        - identificationType: EORI
                          identification: NL123456789
                      - partyType: CONSIGNEE
                        name: Consignee US
                        street: Street
                        city: City
                        postCode: '123456'
                        country: US
                      locations:
                      - locationType: LOADING_PLACE
                        code: LOC-1000
                        name: Location name
                        street: Street
                        streetNumber: number
                        city: City
                        postCode: '123456'
                        country: NL
                        complement: Complement
                      transportEquipments:
                      - equipmentType: CONTAINER
                        identification: CON-1000
                        seals:
                        - identification: SEAL-1000
                      customsOffices:
                      - officeType: EXPORT
                        sequenceNumber: '1'
                        officeCode: NL000074
                      transportMeans:
                      - meansType: BORDER
                        transportModeCode: '3'
                        transportMeansCode: '20'
                        identification: Identification
                        nationalityCode: NL
                      itinerary:
                      - sequenceNumber: '1'
                        countryCode: BE
                      invoices:
                      - invoiceIdClientSystem: INV-1000-ID
                        invoiceNumber: INV-1000
                        invoiceDate:
                          dateInTimezone: '2020-05-05 12:00:00'
                          timezone: GMT+01:00
                        invoicePrice:
                          value: '500'
                          currencyIso: USD
                      items:
                      - itemIdClientSystem: '1'
                        itemNumber: '1'
                        material:
                          materialId: M-1000
                        invoiceIdClientSystem: INV-1000-ID
                        grossMass:
                          value: '150'
                          unit: kg
                        netMass:
                          value: '120'
                          unit: kg
                        netPrice:
                          value: '500'
                          currencyIso: USD
                        originCountryCode: NL
                        preferentialOriginCountryCode: NL
                        dispatchCountryCode: NL
                        destinationCountryCode: US
                        isEligiblePreference: 'false'
                        statisticalValue:
                          value: '400'
                          currencyIso: EUR
                        additionalAggregationKey: KEY-1
                        additionalSplitCriteria: CRITERIA-1
                        classifications:
                        - classificationType: COCOEXPORT
                          classificationValue: '87120030'
                        goodsDescription:
                        - languageISOCode: EN
                          text: Bicycles and accessories
                        parties:
                        - partyType: CONSIGNEE
                          name: Consignee US
                          street: Street
                          city: City
                          postCode: '123456'
                          country: US
                        costs:
                        - costType: TRANSPORT
                          costTypeQualifier: DUTY_COSTS
                          customsProcess: EXPORT_BE
                          value:
                            value: 50
                            currencyIso: USD
                        quantities:
                        - quantityType: ITEM
                          quantity:
                            value: '10'
                            unit: St
                        additionalReferences:
                        - referenceType: EMCS_ARC_NUMBER
                          reference: Reference number
                        customsProcedures:
                        - customsProcedureType: EXPORTPROC
                          customsProcedureCode: '1000'
                      packages:
                      - packageIdClientSystem: PACK-1000-ID
                        quantity: '1'
                        typeUneceCode: PB
                        grossMass:
                          value: '150'
                          unit: kg
                        marksAndNumbers:
                          languageISOCode: EN
                          text: Marks
                        seals:
                        - identification: SEAL-1000
                        packedItems:
                        - itemIdClientSystem: '1'
                          packedQuantity: '10'
                      goodsDescription:
                      - languageISOCode: EN
                        text: Bicycles
                      additionalReferences:
                      - referenceType: EMCS_ARC_NUMBER
                        reference: Reference number
                    costs:
                    - costType: INSURANCE
                      costTypeQualifier: DUTY_COSTS
                      customsProcess: EXPORT_BE
                      value:
                        value: '100'
                        currencyIso: USD
                    attachments:
                    - attachmentCode: example.txt
                      customsProcess: EXPORT_NL
                      data: SnVzdCBhbiBleGFtcGxlIGZpbGU=
                      description: Just an example file
        required: true
      responses:
        default:
          description: The created consignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCreateConsignmentResponseDTO'
  /InternationalCustomsBFBean/createConsignmentManifest:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Create a consignment manifest
      description: Creates a consignment manifest. If any fields are empty which are mandatory an error message will be created and the creation stopped. Only if the mandatory fields are filled the consignment manifest will be created and imported.
      operationId: createConsignmentManifest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCreateConsignmentManifestRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCreateConsignmentManifestResponseDTO'
  /InternationalCustomsBFBean/createDelivery:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Create a delivery
      description: Creates a delivery. If any fields are empty which are mandatory an error message will be created and the creation stopped. Only if the mandatory fields are filled the delivery will be created and imported.
      operationId: createDelivery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICCreateDeliveryRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICCreateDeliveryResponseDTO'
  /InternationalCustomsBFBean/getBrokerDeclarations:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get broker declarations
      description: Returns the broker declarations specified by the list of business object ids or consignmentIdClientSystem in the request. You may also specify the amount of broker declaration data returned by choosing from a set of scenarios.
      operationId: getBrokerDeclarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetBrokerDeclarationsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetBrokerDeclarationsResponseDTO'
  /InternationalCustomsBFBean/getChangedDeclarations:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get changed declarations
      description: 'Returns all changed (modified) declarations, which were not yet acknowledged.<br> Only declarations, for which the client system is subscribed, will be returned.<br> If the caller has processed the returned declarations, he should call {@link #acknowledgeGetChangedDeclarations(ICAcknowledgeGetChangedDeclarationsRequestDTO)} to acknowledge.'
      operationId: getChangedDeclarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetChangedDeclarationsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetChangedDeclarationsResponseDTO'
  /InternationalCustomsBFBean/getCodes:
    get:
      tags:
      - InternationalCustomsBFBean
      operationId: getCodes_1
      parameters:
      - name: clientIdentCode
        in: query
        description: Client identification code.
        schema:
          type: string
      - name: codeListCode
        in: query
        description: Ident code of the code list, identifies which code list will be returned. To retrieve a possible list of inputs use {@code CODELISTS} as input.
        schema:
          type: string
        example: CODELISTS
      - name: resultLanguageIsoCode
        in: query
        description: '2-letter ISO code of the language in which texts will be returned. '
        schema:
          type: string
        example: en
      - name: customsProcess
        in: query
        description: 'Specific customs process. '
        schema:
          type: string
        example: EXPORT_GB
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetCodesResponseDTO'
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get codes
      description: Returns a list of valid codes and its descriptions for the given request parameters. <br> Use the value "CODELISTS" for request parameter 'codeListCode' to get all possible values for this field.
      operationId: getCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetCodesRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetCodesResponseDTO'
  /InternationalCustomsBFBean/getConsignmentsOfManifest:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get consignments of manifest
      description: Retrieves a list of business object ids of all consignments collected in the manifest.
      operationId: getConsignmentsOfManifest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetConsignmentsOfManifestRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetConsignmentsOfManifestResponseDTO'
  /InternationalCustomsBFBean/getDeclarationAttachments:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get declaration attachments
      description: Gets one or more attachments from a declaration.
      operationId: getDeclarationAttachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetDeclarationAttachmentsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetDeclarationAttachmentsResponseDTO'
  /InternationalCustomsBFBean/getDeclarations:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Get declarations
      description: Returns the declarations specified by the list of business object ids in the request. You may also specify the amount of declaration data returned by choosing from a set of scenarios.
      operationId: getDeclarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICGetDeclarationsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICGetDeclarationsResponseDTO'
  /InternationalCustomsBFBean/sendDeclarations:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Send declarations
      description: Sends declaration messages for the specified declarations to the respective customs systems. If the declarations are not ready for sending, an email notification is sent out, if configured.
      operationId: sendDeclarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICSendDeclarationMessageRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICSendDeclarationMessageResponseDTO'
  /InternationalCustomsBFBean/setDeclarationAttachmentsStatus:
    post:
      tags:
      - InternationalCustomsBFBean
      summary: Set declaration attachment status
      description: Sets the status of one or more attachments.
      operationId: setDeclarationAttachmentsStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICSetDeclarationAttachmentsStatusRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICSetDeclarationAttachmentsStatusResponseDTO'
components:
  schemas:
    ICDeclarationItemTransitArrivalDTO:
      type: object
      properties:
        packages:
          type: array
          description: List of Packages.
          items:
            $ref: '#/components/schemas/ICDeclarationPackageDTO'
      description: Transit arrival specific extension data for a declaration item.
    ICDeclarationPackageDTO:
      type: object
      properties:
        sequenceNumber:
          maxLength: 5
          type: integer
          description: Sequence number of the item.
          format: int32
        numberOfPackages:
          maxLength: 8
          type: integer
          description: Number of packages
          format: int32
        typeCode:
          maxLength: 3
          type: string
          description: UN/ECE package type
        marks:
          maxLength: 512
          type: string
          description: Shipping marks
      description: DTO to hold data of a package for a declaration item.
    ICDeliveryExtensionDataDTO:
      type: object
      properties:
        exportBroker:
          $ref: '#/components/schemas/ICDeliveryBrokerDTO'
        importBroker:
          $ref: '#/components/schemas/ICDeliveryBrokerDTO'
        exportGB:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        importGB:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        transitGB:
          $ref: '#/components/schemas/ICDeliveryTransitEUDTO'
        ensXI:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        ensGB:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportNL:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        importNL:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        transitNL:
          $ref: '#/components/schemas/ICDeliveryTransitEUDTO'
        exportBE:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        importBE:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        transitBE:
          $ref: '#/components/schemas/ICDeliveryTransitEUDTO'
        ensBE:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportAT:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportDK:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportFR:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        ensFR:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportPL:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportSE:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        exportDE:
          $ref: '#/components/schemas/ICDeliveryExportDEDTO'
        importDE:
          $ref: '#/components/schemas/ICDeliveryImportDEDTO'
        transitDE:
          $ref: '#/components/schemas/ICDeliveryTransitEUDTO'
        exportUS:
          $ref: '#/components/schemas/ICDeliveryExportUSDTO'
        gvmsGB:
          $ref: '#/components/schemas/ICDeliveryGVMSGBDTO'
        ensIE:
          $ref: '#/components/schemas/ICDeliveryEUDTO'
        summaryDeclarationDE:
          $ref: '#/components/schemas/ICDeliverySummaryDeclarationDEDTO'
        exportCH:
          $ref: '#/components/schemas/ICDeliveryExportCHDTO'
        importCH:
          $ref: '#/components/schemas/ICDeliveryImportCHDTO'
        gmrCH:
          $ref: '#/components/schemas/ICDeliveryGMRCHDTO'
        transitCH:
          $ref: '#/components/schemas/ICDeliveryTransitEUDTO'
        consumerShipmentXI:
          $ref: '#/components/schemas/ICDeliveryConsumerShipmentXIDTO'
        ensSTI:
          $ref: '#/components/schemas/ICDeliverySTIDTO'
      description: DTO to hold delivery extension data for customs processes. Extension data is only required in some cases. Not all customs processes are supported.
    ICExtraFieldDTO:
      type: object
      properties:
        identCode:
          maxLength: 50
          type: string
          description: Code of the extra field.
        value:
          maxLength: 1000
          type: string
          description: Value of the extra field.
      description: Represents an extra field (or additional field). Extra fields must be configured in ICI and linked to the customs process.
    ICDeclarationExtensionDataDTO:
      type: object
      properties:
        exportCH:
          $ref: '#/components/schemas/ICDeclarationCHDTO'
        importCH:
          $ref: '#/components/schemas/ICDeclarationCHDTO'
        exportGB:
          $ref: '#/components/schemas/ICDeclarationGBDTO'
        importGB:
          $ref: '#/components/schemas/ICDeclarationGBDTO'
        exportBroker:
          $ref: '#/components/schemas/ICDeclarationBrokerDTO'
        importBroker:
          $ref: '#/components/schemas/ICDeclarationBrokerDTO'
        transitCH:
          $ref: '#/components/schemas/ICTransitDeclarationDTO'
        transitBE:
          $ref: '#/components/schemas/ICTransitDeclarationDTO'
        transitGB:
          $ref: '#/components/schemas/ICTransitDeclarationDTO'
        transitNL:
          $ref: '#/components/schemas/ICTransitDeclarationDTO'
        transitDE:
          $ref: '#/components/schemas/ICTransitDeclarationDTO'
      description: DTO to hold declaration extension data for customs processes. Not all customs processes are supported.
    ICCreateConsignmentResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        consignment:
          $ref: '#/components/schemas/ICConsignmentResultDTO'
      description: The response DTO after processing the request. Contains the resulting consignment DTO.
    ICDeliveryBrokerDTO:
      type: object
      properties:
        extraFields:
          type: array
          description: Extra fields for the delivery.
          items:
            $ref: '#/components/schemas/ICExtraFieldDTO'
      description: DTO to hold Broker extension data for a ICDeliveryDTO.
    ICAddDeclarationAttachmentsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Result data for the add-declaration-attachments operation.
    OutwardProcessingIdentificationMeansFieldDTO:
      type: object
      properties:
        type:
          maxLength: 1
          type: string
          description: Commodity code
        description:
          maxLength: 350
          type: string
          description: Description of identification means for type S
      description: Represents an identification means field for outward processing
    ICGetDeclarationsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        declarations:
          type: array
          description: Data of the requested declarations.
          items:
            $ref: '#/components/schemas/ICDeclarationDTO'
      description: Response containing requested declarations.
    ICTransportEquipmentDTO:
      type: object
      properties:
        equipmentType:
          maxLength: 35
          type: string
          description: Specific equimpment type. <ul> <li>'CONTAINER' - Container number</li> <li>'TRAILER' - Trailer ID</li> </ul>
        identification:
          maxLength: 17
          type: string
          description: The equipment identification number, e.g. container number or trailer id.
        seals:
          type: array
          description: List of seals which belong to the transport equipment.
          items:
            $ref: '#/components/schemas/ICSealDTO'
      description: DTO to hold data of transport equipment.
    ICDeferredPaymentDTO:
      type: object
      properties:
        categoryCode:
          maxLength: 1
          type: string
          description: Deferment category code.
        typeCode:
          maxLength: 1
          type: string
          description: Deferment type code.
        deferralAccountNumber:
          maxLength: 7
          type: string
          description: Number of the deferment account.
      description: DTO to hold data for deferred payments.
    ICAcknowledgeGetChangedDeclarationsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        declarationTypeCode:
          type: string
          description: 'Type of declarations to acknowledge. Possible values: EXPDECL, IMPDECL, TRANSDECL, ENSDECL and GOODSMOVERECORD'
        syncId:
          maxLength: 20
          type: string
          description: Synchronization ID for acknowledging. Use the value received with synchronization ID for delta-transmission of the changed declarations response with the last call to return all changed (modified) declarations, which were not yet acknowledged to acknowledge the processing of the declarations.
      description: Request parameter for IInternationalCustomsBF#acknowledgeGetChangedDeclarations
    ICDeliveryTransitEUDTO:
      type: object
      properties:
        producedDocuments:
          type: array
          description: List of transport documents, supporting documents and additional references
          items:
            $ref: '#/components/schemas/ICProducedDocumentEUDTO'
        previousDocuments:
          type: array
          description: List of previous documents
          items:
            $ref: '#/components/schemas/ICPreviousDocumentDTO'
        guarantees:
          type: array
          description: List of guarantees
          items:
            $ref: '#/components/schemas/ICGuaranteeDTO'
      description: Holds delivery data that is specific to the EU NCTS / transit processes.
    ICDeliveryGMRCHDTO:
      type: object
      properties:
        producedDocuments:
          type: array
          description: List of produced documents.
          items:
            $ref: '#/components/schemas/ICProducedDocumentEUDTO'
        additionalOperations:
          type: array
          description: List of additional operations.
          items:
            $ref: '#/components/schemas/ICAdditionalOperationCHDTO'
        otherRecipients:
          type: array
          description: List of other recipients identification numbers.
          items:
            type: string
            description: List of other recipients identification numbers.
        emptyJourney:
          type: boolean
          description: Indicates the goods movement is an empty journey.
        additionalInformation:
          type: string
          description: Additional information for the goods movement.
        direction:
          type: string
          description: Direction of movement. Valid values are ENTRY and EXIT.
        voyageId:
          maxLength: 79
          type: string
          description: Voyage ID for the goods movement.
        loadingUnitContainerType:
          maxLength: 35
          type: string
          description: Loading unit container type for the goods movement.
        loadingUnitType:
          maxLength: 35
          type: string
          description: Loading unit type for the goods movement.<ul><li>'CONTAINER' for container</li><li>'RAIL_CARRIAGE' for trains</li><li>'SEMI_TRAILER' for semi-trailer</li><li>'SWAP_BODY' for swap bodies</li><li>'TRUCK' for trucks</li><li>'UNIT_LOAD_DEVICE' for unit load devices</li><li>'VESSEL' for vessels</li></ul>
        loadingUnitId:
          maxLength: 35
          type: string
          description: Loading unit identification for the goods movement.
      description: CH specific extension data for a goods movement record.
    ICLicenseDataDTO:
      type: object
      properties:
        licenses:
          type: array
          description: License data.
          items:
            $ref: '#/components/schemas/ICLicenseDTO'
      description: DTO to hold a list of an licenses.
    ICDeliverySummaryDeclarationDEDTO:
      type: object
      properties:
        previousDocument:
          $ref: '#/components/schemas/ICPreviousDocumentDTO'
        arrivalDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        presentationDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        containerQuantity:
          type: integer
          description: Amount of containers
          format: int32
      description: DTO to hold Summary Declaration DE specific extension data for a ICDeliveryDTO.
    ICAttachmentDTO:
      type: object
      properties:
        attachmentCode:
          maxLength: 250
          type: string
          description: Code of the attachment.<br> When adding external attachments the attachmentCode must be filled a with filename.
        customsProcess:
          maxLength: 20
          type: string
          description: <p>Specific customs process. <ul><li>'EXPORT_BE' - Export process for Belgium</li> <li>'EXPORT_SE' - Export process for Sweden</li> <li>'EXPORT_NL' - Export process for Netherlands</li> <li>'TRANSIT_NL' - Transit process for Netherlands</li> <li>... for full list see /InternationalCustomsBFBean/getCodes with codeListCode=CUSTOMS_PROCESS_TYPE</li></ul></p>
          example: EXPORT_BE
        data:
          type: string
          description: Attachment data.
          format: byte
        statusCode:
          maxLength: 20
          type: string
          description: Attachment status.<br> Only used when attachments are returned by ICI.
        description:
          maxLength: 250
          type: string
          description: Description of the document.<br> Only used when attachments are returned by ICI.
        revisionCount:
          maxLength: 10
          type: integer
          description: Count of the documents revision.<br> Only used when attachments are returned by ICI.
          format: int32
        mediaType:
          maxLength: 255
          type: string
          description: Media Type of the attachment.
      description: DTO to hold attachment data.
    ICSetDeclarationAttachmentsStatusResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: The response DTO after setting an attachment status.
    ICAdditionDeductionDTO:
      type: object
      properties:
        adjustmentType:
          maxLength: 35
          type: string
          description: 'Specific adjustment type: <ul><li>BROKER_COMMISSIONS - Broker commissions</li><li>AIR_FREIGHT_COSTS - Air freight costs</li><li>TRANSPORT - Transport costs</li><li>INSURANCE - Insurance costs</li><li>''... for full list see /InternationalCustomsBFBean/getCodes with codeListCode=ADJUSTMENT_TYPE</li></ul>'
          example: BROKER_COMMISSIONS
        value:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        customsProcess:
          maxLength: 20
          type: string
          description: <p>Specific customs process. <ul><li>'EXPORT_BE' - Export process for Belgium</li><li>'EXPORT_SE' - Export process for Sweden</li><li>'EXPORT_NL' - Export process for Netherlands</li><li>'TRANSIT_NL' - Transit process for Netherlands</li><li>... for full list see /InternationalCustomsBFBean/getCodes with codeListCode=CUSTOMS_PROCESS_TYPE</li></ul></p>
          example: EXPORT_BE
      description: DTO to hold data for additions and deductions to a base value.
    ICGetConsignmentsOfManifestResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        consignmentInfos:
          type: array
          description: Ids of the consignments that are linked to the manifest requested.
          items:
            $ref: '#/components/schemas/ICConsignmentInfoDTO'
      description: Response containing consignments of a manifest
    ICDeliveryItemExportDEDTO:
      type: object
      properties:
        transactionNatureCode:
          maxLength: 2
          type: string
          description: Code specifying the nature of transaction.
        producedDocuments:
          type: array
          description: List of produced documents. The number of items per documentType must not exceed 99.
          items:
            $ref: '#/components/schemas/ICProducedDocumentEUDTO'
        previousDocuments:
          type: array
          description: List of previous documents
          items:
            $ref: '#/components/schemas/ICPreviousDocumentDTO'
        preferentialData:
          $ref: '#/components/schemas/ICPreferentialDataEUDTO'
        originCountryRegionCode:
          maxLength: 4
          type: string
          description: ISO code of country region where the goods of this item originate from.
        templateName:
          type: string
          description: Item template name in AES
        terminationCustomsWarehouse:
          $ref: '#/components/schemas/ICCustomsWarehouseTerminationDEDTO'
        additionalInfoForCustoms:
          maxLength: 512
          type: string
          description: Additional information  for customs
      description: DTO to hold Export DE specific extension data for a ICDeliveryItemDTO.
    ICDeliveryItemDTO:
      type: object
      properties:
        itemIdClientSystem:
          maxLength: 255
          type: string
          description: ID of the item in ERP system.
        itemNumber:
          maxLength: 20
          type: string
          description: No. of item
        material:
          $ref: '#/components/schemas/ICMaterialDTO'
        materialNumber:
          type: string
          description: 'DEPRECATED: Use ICDeliveryItemDTO.material instead. Typically for internal use and not needed for customs declaration.'
          deprecated: true
        invoiceIdClientSystem:
          maxLength: 255
          type: string
          description: References to the invoice for further processing
        grossMass:
          $ref: '#/components/schemas/QuantityDTO'
        netMass:
          $ref: '#/components/schemas/QuantityDTO'
        netPrice:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        originCountryCode:
          maxLength: 2
          type: string
          description: ISO code of country where the goods of this item originate from.
        preferentialOriginCountryCode:
          maxLength: 2
          type: string
          description: ISO code of the preferential origin country.
        dispatchCountryCode:
          maxLength: 2
          type: string
          description: ISO code of the country from which the goods are originally dispatched/exported without any commercial transaction taken place in intermediate countries.
        destinationCountryCode:
          maxLength: 2
          type: string
          description: ISO code of the country at which the goods are destined
        isEligiblePreference:
          type: boolean
          description: Indicates if the item is eligible for preference
        statisticalValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        additionalAggregationKey:
          maxLength: 100
          type: string
          description: Additional aggregation key considered during transmutation
        additionalSplitCriteria:
          maxLength: 100
          type: string
          description: Additional split criteria considered during transmutation
        extension:
          $ref: '#/components/schemas/ICDeliveryItemExtensionDataDTO'
        freeTemplateCriteria:
          type: array
          description: List of ICFreeTemplateCriterion, including a string for the criterion and the corresponding customs process.
          items:
            $ref: '#/components/schemas/ICFreeTemplateCriterionDTO'
        clientSpecificFields:
          $ref: '#/components/schemas/ClientSpecificFieldsDTO'
        classifications:
          type: array
          description: List of classifications (e.g. commodity codes)
          items:
            $ref: '#/components/schemas/ICClassificationDTO'
        goodsDescription:
          type: array
          description: Description of goods in different languages (if available)
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        parties:
          type: array
          description: List of parties, including their role within the consignment.
          items:
            $ref: '#/components/schemas/ICPartyDTO'
        costs:
          type: array
          description: A list of costs like freight cost, insurance or additonal cost for the delivery item
          items:
            $ref: '#/components/schemas/ICCostDTO'
        adjustments:
          type: array
          description: A list of additions and deductions to a base value for the delivery item
          items:
            $ref: '#/components/schemas/ICAdditionDeductionDTO'
        quantities:
          type: array
          description: A list of quantities, like item quantity, statisticalquantity...
          items:
            $ref: '#/components/schemas/ICQuantityDTO'
        additionalReferences:
          type: array
          description: List of additional references which belong to the delivery.
          items:
            $ref: '#/components/schemas/ICAdditionalReferenceDTO'
        customsProcedures:
          type: array
          description: List of customs procedure codes.
          items:
            $ref: '#/components/schemas/ICCustomsProcedureDTO'
        locations:
          type: array
          description: List of locations, including their role within the consignment.
          items:
            $ref: '#/components/schemas/ICLocationDTO'
        freeTemplateCriterion:
          maxLength: 50
          type: string
          description: 'DEPRECATED: Use freeTemplateCriteria.value instead. Free textual criterion which can be referenced in template selectors.'
        tradeTerms:
          $ref: '#/components/schemas/ICTradeTermsDTO'
        returns:
          $ref: '#/components/schemas/ICReturnsHandlingDTO'
        customsSpecialProcedures:
          $ref: '#/components/schemas/ICCustomsSpecialProceduresDTO'
        licenseData:
          $ref: '#/components/schemas/ICLicenseDataDTO'
      description: DTO to hold data of a delivery item.
    ICPackageDTO:
      type: object
      properties:
        packageIdClientSystem:
          maxLength: 255
          type: string
          description: ID of the package in the ERP system.
        quantity:
          maxLength: 8
          type: integer
          description: Number of packages
          format: int32
        typeCode:
          maxLength: 40
          type: string
          description: Client specific package type.
        typeUneceCode:
          maxLength: 3
          type: string
          description: Common valid UN/ECE package type.
        grossMass:
          $ref: '#/components/schemas/QuantityDTO'
        netMass:
          $ref: '#/components/schemas/QuantityDTO'
        marks:
          maxLength: 70
          type: string
          description: Shipping marks - deprecated use marksAndNumbers instead
        marksAndNumbers:
          $ref: '#/components/schemas/TextInLanguageDTO'
        seals:
          type: array
          description: List of seals which belong to the transport equipment.
          items:
            $ref: '#/components/schemas/ICSealDTO'
        packedItems:
          type: array
          description: Information about the items which are packed into this package.
          items:
            $ref: '#/components/schemas/ICPackedItemDTO'
      description: DTO to hold data of a package.
    ICManifestDeliveryExtensionGVMSBG:
      type: object
      properties:
        isUnaccompanied:
          type: boolean
          description: 'Indicates that the vehicle will not be accompanying the trailer(s) during the crossing. '
        plannedCrossingRouteId:
          maxLength: 200
          type: string
          description: ID of the crossing route.
        plannedCrossingDepartureDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
      description: GB specific extension data for a goods movement record.
    ICDeliveryItemSTIDTO:
      type: object
      properties:
        transactionNatureCode:
          maxLength: 2
          type: string
          description: Code specifying the nature of transaction.
        producedDocuments:
          type: array
          description: List of produced documents
          items:
            $ref: '#/components/schemas/ICProducedDocumentEUDTO'
        previousDocuments:
          type: array
          description: List of previous documents
          items:
            $ref: '#/components/schemas/ICPreviousDocumentDTO'
        preferentialData:
          $ref: '#/components/schemas/ICPreferentialDataEUDTO'
        originCountryRegionCode:
          maxLength: 4
          type: string
          description: ISO code of country region where the goods of this item originate from.
        postalValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
      description: DTO to hold STI specific extension data for a ICDeliveryItemDTO.
    ICCustomsIdentifcationDTO:
      type: object
      properties:
        identificationType:
          maxLength: 35
          type: string
          description: 'Specific identification type: <ul> <li>EORI - EORI number</li> <li>VAT - VAT number</li> <li>BRANCH - BRANCH number</li> <li>''... for full list see /InternationalCustomsBFBean/getCodes with codeListCode=CUSTOMS_IDENTIFICATION_TYPE</li> </ul>'
        identification:
          maxLength: 20
          type: string
          description: Customs id number.
      description: DTO to hold data for customs identification.
    ICDeliveryItemImportCHDTO:
      type: object
      description: DTO to hold CH specific extension data for a ICDeliveryItemDTO.
    ICWarehouseDTO:
      type: object
      properties:
        identification:
          maxLength: 35
          type: string
          description: Warehouse Identification.
        typeCode:
          maxLength: 1
          type: string
          description: Warehouse type.
        country:
          maxLength: 2
          type: string
          description: ' ISO code of the country at which warehouse is located.'
      description: DTO to hold data of customs warehouse.
    ICDeliveryItemExtensionDataDTO:
      type: object
      properties:
        exportAT:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportBE:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        importBE:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        transitBE:
          $ref: '#/components/schemas/ICDeliveryItemTransitEUDTO'
        ensBE:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportDK:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportFR:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        ensFR:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        ensXI:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        ensGB:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportGB:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        importGB:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        transitGB:
          $ref: '#/components/schemas/ICDeliveryItemTransitEUDTO'
        exportNL:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        importNL:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        transitNL:
          $ref: '#/components/schemas/ICDeliveryItemTransitEUDTO'
        exportPL:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportSE:
          $ref: '#/components/schemas/ICDeliveryItemEUDTO'
        exportBroker:
          $ref: '#/components/schemas/ICDeliveryItemBrokerDTO'
        importBroker:
          $ref: '#/components/schemas/ICDeliveryItemBrokerDTO'
        exportDE:
[...]
