openapi: 3.2.0
info:
  title: Carrier Connect HTTP Shipment Objectives API
  description: Thank you for using our HTTP API documentation.
  version: '3.0'
servers:
- url: https://rz3.aeb.de/demo1cai/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: ShipmentObjectives
  description: Rest API to get shipment objectives
paths:
  /shipment-objectives:
    post:
      tags:
      - ShipmentObjectives
      description: Returns objectives for the posted shipment data.
      operationId: getShipmentObjectives
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetShipmentObjectivesRequest'
      responses:
        '200':
          description: Successful call with objectives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentObjectivesResponse'
              examples:
                Shipment objectives:
                  description: Shipment objectives
                  value:
                    reachedBoStatus:
                      identCode: NEW
                      descriptions:
                      - languageISOCode: en
                        text: New
                    objectives:
                    - objectiveType: MUST_BE_FILLED
                      objectiveTexts:
                        languageISOCode: en
                        cause: ''
                        message: Enter Gross weight
                        solution: ''
                      element:
                        type: PACKAGE
                        id: PACK1
                      path: grossWeight.value
components:
  schemas:
    DLMustBeFilledDTO:
      type: object
      properties:
        possibleValues:
          type: array
          description: A possible value for the interface.
          items:
            $ref: '#/components/schemas/DLPossibleValuesDTO'
        maxTextLength:
          type: integer
          description: The maximum length of the text in the value that is to be changed.
          format: int32
      description: The data for fields that must be filled.
    DLShipmentCarrierInfoTextDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Carrier info text ident code.<br> <p>length=20</p>
        parameter:
          type: string
          description: An (optional) parameter for the info text.  <p> length=512 </p>
      description: DTO specifying a carrier's info text for a shipment.
    DLPackageCumulationRequestDataDTO:
      required:
      - numberOfPackages
      - packageTypeIdentCode
      type: object
      properties:
        numberOfPackages:
          type: integer
          description: The number of packages. <p> length=3 </p>
          format: int32
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        packageSpecificeContents:
          type: string
          description: The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>
        weight:
          $ref: '#/components/schemas/QuantityDTO'
        volume:
          $ref: '#/components/schemas/QuantityDTO'
        loadingMeters:
          type: number
          description: The loading meters needed for the packages. <p>length=10, scale=3</p>
        palletPlaces:
          type: number
          description: The pallet places needed for the packages. <p>length=10, scale=3</p>
      description: DTO for package cumulation data.
    DLShipmentObjectivePathSegmentDTO:
      type: object
      properties:
        id:
          type: string
          description: The id of previus path segment.
          example: packageTransactionId of the package
        segment:
          type: string
          description: One segment of the path.
      description: The path of the objective.
    DLPackageHazardousGoodsDataRequestDTO:
      required:
      - hazardousGoodsType
      type: object
      properties:
        hazardousGoodsType:
          type: string
          description: "Indicates the type of hazardous goods packaged in the package. Valid values are: <li>NONE\t\t(no hazardous goods) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>SPECIAL_SUBSTANCE\t(special substance) <li>ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"
        packagingTypeHandling:
          type: string
          description: "Indicates the hazardous goods material packaging type in the package. Valid values are: <li>NONE\t\t(no packaging type) <li>ALL_PACKED_IN_ONE \t(two or more hazardous goods items are all packed in the same package) <li>OVERPACK\t\t(enclosure to contain one or more packages and form one handling unit for convenience of handling and stowage)"
        hazardQValue:
          type: number
          description: The Q-value is calculated from a formula of the IATA-DGR. This determines the quantities of different hazardous goods that an outer packaging may contain. <p>length=2, scale=1</p>
      description: Holds hazardous goods data concerning the package.
    NamedGenericDataRecordDTO:
      type: object
      properties:
        name:
          type: string
          description: The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.
        record:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records.
      example:
      - name: child
        record:
          fields: []
          subrecords: []
    DLShipmentItemRequestDataDTO:
      required:
      - itemTransactionId
      type: object
      properties:
        itemNumber:
          type: integer
          description: The serial number of the item within the shipment. This number is mainly used to sort the items in lists or in business logic.<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=4 </p>
          format: int32
        itemTransactionId:
          type: string
          description: <p> The shipment wide unique id for the item. Is included in the response. </p> <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Item reference number. Is included in the response. <p> length=50 </p>
        referenceNumber2:
          type: string
          description: Second item reference number <p>length=50</p>
        customsTariffNumber:
          type: string
          description: The customs tariff number of the shipping item's contents. <p> length=11 </p>
        description:
          type: string
          description: The shipping item's description. <p> length=250 </p>
        exportLicense:
          type: string
          description: Export license. <p> length=50 </p>
        countryOfOriginsISOCode:
          type: string
          description: Country of origins. <p> length=2 </p>
        certificateOfOrigins:
          type: string
          description: Certificate of origins. <p> length=50 </p>
        quantity:
          $ref: '#/components/schemas/QuantityDTO'
        netWeight:
          $ref: '#/components/schemas/QuantityDTO'
        grossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        customsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        goodsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        despatchProcedureIdentCode:
          type: string
          description: '<p> The despatch procedure. Possible values are: <ul> <li>NONE</li> <li>T1</li> <li>T2</li> </ul> </p> <p> length=10 </p>'
        referencesTexts:
          type: array
          description: Further references texts for the item. Multiple references texts with same type are allowed.
          items:
            $ref: '#/components/schemas/DLShipmentItemReferenceTextDTO'
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
        hazardousGoodsItems:
          type: array
          description: Hazardous goods items.
          items:
            $ref: '#/components/schemas/DLHazardousGoodsItemRequestDataDTO'
      description: DTO for shipment item data in a request.
    AmountOfMoneyDTO:
      type: object
      properties:
        value:
          type: number
          description: The value of the amount of money. <p>length=15, scale=2</p>
        currencyIso:
          type: string
          description: The three letter ISO code of the currency of the amount of money. <p>length=3</p>
      description: An amount of money with a value and an currency ISO code.
    DLPossibleValuesDTO:
      type: object
      properties:
        value:
          type: string
          description: The type of the value that is to be changed.
      description: A possible value for the interface.
    DLTransportEquipmentReferenceDTO:
      required:
      - equipmentTransactionId
      type: object
      properties:
        identification:
          type: string
          description: The identification of the transport equipment. <p> length=50 </p>
        equipmentTransactionId:
          type: string
          description: The number of the client system uniquely referencing a transport equipment in a shipment. <p> length=50 </p>
      description: DTO for uniquely identifying a transport equipment within a shipment.
    GenericDataFieldDTO:
      type: object
      properties:
        name:
          type: string
          description: <p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>
        value:
          type: string
          description: <p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href="http://www.w3.org/TR/xmlschema-2/">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>
        type:
          type: string
          description: <p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>
      description: A field of a generic data record.
    ShipmentObjective:
      type: object
      properties:
        objectiveType:
          type: string
          description: Type of the objective.
          example: MUST_BE_FILLED
        objectiveTexts:
          $ref: '#/components/schemas/DLObjectiveTextsDTO'
        path:
          type: array
          description: The path of the objective.
          items:
            $ref: '#/components/schemas/DLShipmentObjectivePathSegmentDTO'
        invalidValue:
          $ref: '#/components/schemas/DLInvalidValueDTO'
        mustBeFilled:
          $ref: '#/components/schemas/DLMustBeFilledDTO'
      description: All accessible data of an Objective.
    DLPartyDTO:
      type: object
      properties:
        companyNumber:
          type: string
          description: Company Number <p>length=20</p>
        name:
          type: string
          description: Name of the company (first address line) <p>length=40</p>
        name2:
          type: string
          description: Address name line 2 <p>length=40</p>
        name3:
          type: string
          description: Address name line 3 <p>length=40</p>
        name4:
          type: string
          description: Address name line 4 <p>length=40</p>
        street:
          type: string
          description: Street (line 1) of the address. <p>length=40</p>
        street2:
          type: string
          description: Street (line 2) of the address. <p>length=40</p>
        postcode:
          type: string
          description: Postcode of the street address. <p>length=10</p>
        city:
          type: string
          description: City of the address. <p>length=40</p>
        district:
          type: string
          description: District (city line 2) of the address. <p>length=40</p>
        countryISOCode:
          type: string
          description: Country of address <p>length=2</p>
        county:
          type: string
          description: County of the address <p>length=40</p>
        poBox:
          type: string
          description: PO-Box. <p>length=10</p>
        postcodePOBox:
          type: string
          description: Postcode of the poBox address. <p>length=10</p>
        cityPOBox:
          type: string
          description: City of the po-box address. <p>length=40</p>
        emailAddress:
          type: string
          description: Email address of the address. <p>length=256</p>
        phone:
          type: string
          description: Phone number of reception <p>length=20</p>
        fax:
          type: string
          description: Fax number of reception <p>length=20</p>
        initFromCompanyMasterFileData:
          type: boolean
          description: Flag controlling how the party will be filled.<br> If true, the data of the party will be filled with company master data referenced by the 'name' field or (if filled) 'companyNumber' field. All other DTO fields will be ignored.<br> If false, the party will be filled with the address fields from this DTO. This is also the default when no value is supplied.<br>
      description: DLPartyDTO containing address data
    DLShipmentItemReferenceDTO:
      required:
      - shipmentReference
      type: object
      properties:
        packedItemTransactionId:
          type: string
          description: <p> The shipment wide unique id for the packed shipment item. </p> <p> length=50 </p>
        shipmentReference:
          $ref: '#/components/schemas/DLShipmentReferenceDTO'
        itemTransactionId:
          type: string
          description: The number of the client system uniquely referencing an item in a shipment. <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Another item reference number. May be used, when an item was not created by the client system and therefore has no <code>itemTransactionId</code>. If both fields are filled, they both must match the item. <p> length=50 </p>
        quantityValue:
          type: number
          description: It is not supported in case of deleting an item.<br> The quantity of the referenced item to be used. The value can be equal or less than the item's quantity and must be supplied in the item's quantity unit.
      description: DTO for uniquely identifying an item within a shipment.
    GetShipmentObjectivesRequest:
      required:
      - shipment
      type: object
      properties:
        desiredBoStatus:
          $ref: '#/components/schemas/ComboboxEntryDTO'
        shipment:
          $ref: '#/components/schemas/DLShipmentRequestDataDTO'
      description: Determine the objectives of a shipment.
    DLShipmentItemReferenceTextDTO:
      type: object
      properties:
        type:
          type: string
          description: '<p>

            The type of the reference number or text. Valid values are:

            <li>MERCHANT_PRODUCT_ID - Merchant product identifier.</li>

            <li>MFR_PRODUCT_ID_NONSTD - Non-standardised manufacturer product identifier.</li>

            <li>MFR_PRODUCT_ID_STD - Standardised manufacturer product identifier.</li>

            </p>

            <p>length=30</p>

            '
        value:
          type: string
          description: The value of the reference number or text. <p> length=500 </p>
      description: DTO for reference texts of shipment items.
    DLContainerDataDTO:
      type: object
      properties:
        verifiedGrossMass:
          $ref: '#/components/schemas/QuantityDTO'
        verificationMethod:
          type: string
          description: 'Method for verifying the gross mass of the container. Valid values are: <ul> <li>METHOD_1</li> <li>METHOD_2</li> </ul> <br> <p> length=8 </p>'
        verificationContactName:
          type: string
          description: Name of the person responsible for determining and passing on the VGM. <p> length = 35 </p>
      description: DTO containing data for container package types.
    DLValueAddedServiceReferenceDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Value added service ident code of the carrier.<br> <p>length=20</p>
      description: DTO to reference a value added service within a carrier.
    DLPackageRequestDataDTO:
      required:
      - grossWeight
      - packageTransactionId
      - packageTypeIdentCode
      type: object
      properties:
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        packageSpecificeContents:
          type: string
          description: The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>
        packageNumber:
          type: integer
          description: The serial number of the package within the shipment. This number is mainly used to sort the packages in lists or in business logic (e.g. to detect the "first" package as master package).<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=5 </p>
          format: int32
        packageTransactionId:
          type: string
          description: <p> The shipment wide unique id for the package. Is included in the response. </p> <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Package reference number. Is included in the response. <p> length=50 </p>
        referenceNumber2:
          type: string
          description: Second package reference number <p>length=50</p>
        extCarrierPackNum:
          type: string
          description: The external carrier tracking number of the package <p> length=50 </p>
        extCarrierPackNumBasic:
          type: string
          description: The basic external carrier tracking number of the package <p> length=50 </p>
        extCarrierPackNumReturn:
          type: string
          description: The external carrier return tracking number of the package <p> length=50 </p>
        extCarrierPackNumBasicReturn:
          type: string
          description: The basic external return carrier tracking number of the package <p> length=50 </p>
        grossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        dimensions:
          $ref: '#/components/schemas/DLCuboidDimensionsDTO'
        alternativeVolume:
          $ref: '#/components/schemas/QuantityDTO'
        codValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        insuranceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
        containedItems:
          type: array
          description: The items the package contains. Only item references are used here, the items themselves must already exist. An error will be returned, when one of the referenced items does not exist.<br> May be null in case when no items exist at all or when the carrier doesn't want information about the contents of the package.
          items:
            $ref: '#/components/schemas/DLShipmentItemReferenceDTO'
        hazardousGoodsData:
          $ref: '#/components/schemas/DLPackageHazardousGoodsDataRequestDTO'
        transportEquipment:
          $ref: '#/components/schemas/DLTransportEquipmentReferenceDTO'
        marks:
          type: string
          description: Marks and numbers for identification of a package. <p> length=50
        stackability:
          type: string
          description: 'The possibility to stack packages. Valid values are: <li>NOTSPECIFIED <li>STACKABLE <li>UNSTACKABLE </p> If no value is supplied, NOTSPECIFIED will be assumed as the default value'
        freightClass:
          type: string
          description: 'The freight class of the package according to the NMFC (National Motor Freight Classification) specification. Relevant for US carriers. Valid values are: <li>50</li> <li>55</li> <li>60</li> <li>65</li> <li>70</li> <li>77.5</li> <li>85</li> <li>92.5</li> <li>100</li> <li>110</li> <li>125</li> <li>150</li> <li>175</li> <li>200</li> <li>250</li> <li>300</li> <li>400</li> <li>500</li> <li>NONE</li>'
        nmfcCode:
          type: string
          description: The NMFC code of the package. Relevant for US carriers. <p> length=10 </p>
        nmfcSubCode:
          type: string
          description: The NMFC subcode of the package. Relevant for US carriers. <p> length=2 </p>
        loadingMeters:
          type: number
          description: The loading meters needed for the package. <p> length=10, scale=3 </p>
        palletPlaces:
          type: number
          description: The pallet places needed for the package. <p> length=10, scale=3</p>
      description: DTO for package data.
    DLReferenceTextDTO:
      type: object
      properties:
        type:
          type: string
          description: '<p> The type of the reference number or text. Valid values are: <li>DELNOTE_NUMBER - Delivery note number. <li>INVOICE_NUMBER - Invoice number. <li>PO_NUMBER - Purchase order number. <li>TRANSORDER_NUMBER - Transport order number. <li>CUSTOMS_REGISTRATION_NUMBER - Customs registration number. <li>PICKUP_INSTRUCTION - Pickup instruction/notice. <li>DELIVERY_INSTRUCTION - Delivery instruction/notice. <li>GENERAL_INSTRUCTION - General instruction/notice. <li>RECEIVER_EORI_NUMBER - Receiver EORI number. <li>IMPORTER_EORI_NUMBER - Importer EORI number. <li>CUSTOMS_AGENT_EORI_NUMBER - Customs agent EORI number.<li>RECEIVER_VAT_NUMBER - Receiver VAT number. <li>IMPORTER_VAT_NUMBER - Importer VAT number. <li>CUSTOMS_AGENT_VAT_NUMBER - Customs agent VAT number. <li>SHIPPER_IOSS_NUMBER - Shipper IOSS (Import OneStopShop) registration number. <li>SHIPPER_VOEC_NUMBER - Shipper VOEC (Norwegian VAT on eCommerce) registration number. <li>SHIPPER_PVA_NUMBER - Shipper PVA (British Postponed VAT Accounting) registration number. <li>SHIPPER_EMPLOYEE_IDENTIFICATION_NUMBER - Shipper Employee Identification Number. <li>ENDCUSTOMER_REFERENCE - End-customer reference. <li>CUSTOMS_AGENT_UKIMS_NUMBER - Customs agent UKIMS number. <li>RECEIVER_UKIMS_NUMBER - Receiver UKIMS number. <li>IMPORTER_UKIMS_NUMBER - Importer UKIMS number. <li>CUSTOMS_AGENT_DUTY_DEFERMENT_NUMBER - Customs agent DUTY DEFERMENT number. <li>RECEIVER_DUTY_DEFERMENT_NUMBER - Receiver DUTY DEFERMENT number. <li>IMPORTER_DUTY_DEFERMENT_NUMBER - Importer DUTY DEFERMENT number. <li>EKAER_NUMBER - EKAER number. <li>SENT_NUMBER - SENT number. <li>UIT_NUMBER - UIT number.  <li>RECEIVER_CPF_TAX_ID_NUMBER - Receiver CPF tax ID number for Brasil. <li>SHIPPER_CPF_TAX_ID_NUMBER - Shipper CPF tax ID number for Brasil. <li>RECEIVER_CNPJ_TAX_ID_NUMBER - Receiver CNPJ tax ID number for Brasil. <li>SHIPPER_CNPJ_TAX_ID_NUMBER - Shipper CNPJ tax ID number for Brasil. <li>IMPORTER_CNPJ_TAX_ID_NUMBER - Importer CNPJ tax ID number for Brasil. <li>CUSTOMS_AGENT_CNPJ_TAX_ID_NUMBER - Customs agent CNPJ tax ID number for Brasil. <li>SUPPLIER_REFERENCE - Supplier reference used to identify the shipment or delivery. <li>SPOT_CODE - Reference number for a specific spot quote that is used when booking the shipment, required for billing. <li>ACID_NUMBER - Advance Cargo Information Approval Number used to identify a pre-arrival cargo information filing within customs or governmental clearance processes. <li>ADDRESS_REFERENCE_CODE - Unique address reference code used to identify a delivery or pickup address. May be assigned by national postal or address management systems.</P> <p> length=15 </p>'
        value:
          type: string
          description: The value of the reference number or text. <p> length=500 </p>
      description: DTO for reference numbers and texts of a certain (predefined) type.
    GetShipmentObjectivesResponse:
      type: object
      properties:
        reachedBoStatus:
          $ref: '#/components/schemas/ComboboxEntryDTO'
        objectives:
          type: array
          description: The objectives of the shipment.
          items:
            $ref: '#/components/schemas/ShipmentObjective'
      description: The determined objectives of a shipment.
    DLShipmentTotalsRequestDataDTO:
      type: object
      properties:
        numberOfPackagesExpected:
          type: integer
          description: 'The expected number of packages. Used to print the total number of packages on the label when documents are printed before all packages are available.<br> Note: Should not be changed after the first label is printed. Otherwise the data on the label will be inconsistent. <p> length=5 </p>'
          format: int32
        grossWeightExpected:
          $ref: '#/components/schemas/QuantityDTO'
        loadingMeters:
          type: number
          description: The loading meters needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the loading meters are needed on shipment level. <p> length=10, scale=3 </p>
        palletPlaces:
          type: number
          description: The pallet places needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the pallet places are needed on shipment level. <p>length=10, scale=3</p>
      description: DTO for shipment totals in a request.
    DLTransportEquipmentDTO:
      required:
      - equipmentTransactionId
      - equipmentTypeIdentCode
      type: object
      properties:
        identification:
          type: string
          description: The identification of the transport equipment, e.g. the container number. <p> length=50 </p>
        equipmentTransactionId:
          type: string
          description: The shipment wide unique id for the transport equipment. Is included in the response. <p> length=50 </p>
        equipmentTypeIdentCode:
          type: string
          description: IdentCode of the equipment type (Container, pallet etc.). All entries in the client's package type master file data are allowed. So the valid values are depending on the configured entries there. <p> length=20 </p>
        grossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        dimensions:
          $ref: '#/components/schemas/DLCuboidDimensionsDTO'
        containerData:
          $ref: '#/components/schemas/DLContainerDataDTO'
        sealNumbers:
          type: array
          description: Seal (serial numbers and/or barcodes) of the transport equipment. <p> length = 35 </p>
          items:
            type: string
            description: Seal (serial numbers and/or barcodes) of the transport equipment. <p> length = 35 </p>
      description: DTO representing a specific transport equipment such as a containers or a pallets.
    DLInvalidValueDTO:
      type: object
      properties:
        possibleValues:
          type: array
          description: A possible value for the interface.
          items:
            $ref: '#/components/schemas/DLPossibleValuesDTO'
        invalidValue:
          type: string
          description: The invalid value that is to be changed.
        maxTextLength:
          type: integer
          description: The maximum length of the text in the value that is to be changed.
          format: int32
      description: The data for fields with invalid values.
    DLObjectiveTextsDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: Language of the texts.
          example: en
        cause:
          type: string
          description: Cause of the objective.
        message:
          type: string
          description: Message of the objective.
        solution:
          type: string
          description: Solution of the objective.
      description: Info texts of the objective.
    GenericDataRecordDTO:
      type: object
      properties:
        fields:
          type: array
          description: The fields of the record.
          items:
            $ref: '#/components/schemas/GenericDataFieldDTO'
        subrecords:
          type: array
          description: Subrecords of the record.
          example:
          - name: child
            record:
              fields: []
              subrecords: []
          items:
            $ref: '#/components/schemas/NamedGenericDataRecordDTO'
      description: A generic record of data.<br>Each field is qualified by name and type and has a value.
    QuantityDTO:
      type: object
      properties:
        value:
          multipleOf: 0.001
          maximum: 999999999999.999
          type: number
          description: The value of the quantity.
        unit:
          maxLength: 10
          type: string
          description: " \t\t\tIdentifier of the quantity unit. Use quantity units known from your AEB application or alternatively domain specific or legacy quantity codes, but not the UNECE code.\n \t\t\tFor UNECE unit codes use the 'uneceUnit' field, if supported.\n\n \t\t\tWeight unit codes:\n \t\t\t* kg - Kilogram\n         \t* gr - Gram\n         \t* t - Metric ton\n         \t* lb - Pound\n         \t* oz - Ounce\n\n         \tLength unit codes:\n         \t* m - Meter\n         \t* mm - Milimeter\n         \t* cm - Centimeter\n         \t* dm - Decimeter\n         \t* km - Kilometer\n         \t* ft - Foot\n         \t* in - Inch\n         \t* mi - Mile\n         \t* nm - Nanometer\n         \t* µm - Micrometer\n\n         \tVolume unit codes:\n         \t* ccm - Cubic centimeter\n         \t* cdm - Cubic decimeter\n         \t* m3 - Cubic meter\n         \t* ml - Milliliter\n         \t* cl - Centiliter\n         \t* hl - Hectoliter\n         \t* l - Liter\n         \t* cuin - Cubic inch\n         \t* cuft - Cubic foot\n\n         \tQuantity unit codes:\n         \t* St - Piece\n         \t* Paar - Pair\n\n         \tDensity unit codes:\n         \t* g/ccm - grams per cubic centimeter\n         \t* kg/m3 - kilogram per cubic meter\n\n         \tTime unit codes:\n         \t* h - Hour\n         \t* stu - Hour\n         \t* std - Hour\n         \t* oph - Operational hour\n         \t* s - Second\n         \t* min - Minute\n         \t* 15m - 15 mins\n         \t* d - Day\n         \t* tag - Day\n         \t* wch - Week\n         \t* mon - Month\n         \t* jhr - Year\n         \t* mis - Millisecond\n         \t* ms - Microsecond\n         \t* ns - Nanosecond\n         \t* ps - Picosecond\n\n         \tArea unit codes:\n \t\t\t* qm - Square meter\n         \t* qmm - Square millimeter\n         \t* qcm - Square centimeter\n         \t* qdm - Square decimeter\n"
          example: kg
        uneceUnit:
          maxLength: 3
          type: string
          description: " \t\t\tIdentifier of the quantity unit based on 'Recommendation No. 20 - Units of Measure used in International Trade'.<br/>\n \t\t\tThe #uneceUnit can be specified alternatively to #unit but is currently not supported by all AEB services. Please speak to your contact person at AEB if you are unsure whether #uneceUnit is supported or not.\n\n \t\t\tWeight unit codes:\n \t\t\t* `KGM` - Kilogram\n \t\t\t* `GRM` - Gram (10⁻³ kg)\n \t\t\t* `TNE` - Metric ton (10³ kg)\n \t\t\t* `LBR` - Pound (0,453 592 37 kg)\n \t\t\t* `ONZ` - Ounce (2,834 952 x 10⁻² kg)\n\n \t\t\tLength unit codes:\n \t\t\t* `MTR` - Meter\n \t\t\t* `CMT` - Centimeter (10⁻² m)\n \t\t\t* `MMT` - Millimeter (10⁻³ m)\n \t\t\t* `KMT` - Kilometer (10³ m)\n \t\t\t* `YRD` - Yard (0,914 4 m)\n \t\t\t* `FOT` - Foot (0,304 8 m)\n \t\t\t* `INH` - Inch (25,4 x 10⁻³ m)\n \t\t\t* `SMI` - Mile (statute mile) (1609,344 m)\n\n \t\t\tVolume unit codes:\n \t\t\t* `MTQ` - Cubic meter\n \t\t\t* `CMQ` - Cubic centimeter (10⁻⁶ m³)\n \t\t\t* `HLT` - Hectoliter (10⁻¹ m³)\n \t\t\t* `LTR` - Liter (10⁻³ m³)\n \t\t\t* `MLT` - Milliliter (10⁻⁶ m³)\n \t\t\t* `YDQ` - Cubic yard (0,764 555 m³)\n \t\t\t* `FTQ` - Cubic foot (2,831 685 x 10⁻² m³)\n \t\t\t* `INQ` - Cubic inch (16,387 064 x 10⁻⁶ m³)\n\n \t\t\tArea unit codes:\n \t\t\t* `MTK` - Square meter\n \t\t\t* `CMK` - Square centimeter (10⁻⁴ m²)\n \t\t\t* `MMK` - Square millimeter (10⁻⁶ m²)\n \t\t\t* `YDK` - Square yard (8.361 274 x 10⁻¹ m² )\n \t\t\t* `FTK` - Square foot (9,290 304 x 10⁻² m²)\n \t\t\t* `INK` - Square inch (6,451 6 x 10⁻⁴ m²)\n\n \t\t\tQuantity unit codes:\n \t\t\t* `NAR` - Number of articles\n \t\t\t* `NPR` - Number of pairs\n \t\t\t* `CEN` - A unit of count defining the number of units in multiples of 100\n \t\t\t* `MIL` - A unit of count defining the number of units in multiples of 1000\n"
          example: NAR
      description: A quantity with a value and a quantity unit. Quantity units are encoded by using AEB unit codes mainly based on the International System of Unit (e.g. 'Gram' is encoded by the code 'gr') or - if supported - UNECE unit codes (e.g. 'Gram' is encoded by the code 'GRM').<br>Recoding of the quantity unit code from capital letters to small letters (e.g. from 'LB' to 'lb') may be supported, depending on the AEB product.<br>The quantity unit type is specified by the usage context, i.e. if this quantity is a weight, a volume or similar.
    DLCuboidDimensionsDTO:
      required:
      - height
      - identCode
      - length
      - width
      type: object
      properties:
        length:
          type: number
          description: Represents the length of the dimensions. <p> length=15, scale=2 </p>
        width:
          type: number
          description: Represents the width of the dimensions. <p> length=15, scale=2 </p>
        height:
          type: number
          description: Represents the height of the dimensions. <p> length=15, scale=2 </p>
        identCode:
          type: string
          description: Identifier of the quantity unit (must be unique). Only "cm" is supported yet. <p> length=10 </p>
      description: DLCuboidDimensionsDTO with length, width, height and identCode.
    ComboboxEntryDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: For common use in BF methods which return combobox entries, e.g. for a list of master file data.
    DLShipmentReferenceDTO:
      type: object
      properties:
        transactionId:
          type: string
          description: ID of the corresponding transaction in the client system.<br> Usually sufficient for identifying a shipment. <p> length=250 </p>
        referenceNumber1:
          type: string
          description: Another client system system reference number for the shipment. <p> length=50 </p>
        shipmentNumber:
          type: string
          description: The shipment number internally generated by the carrier engine.<br> Usually sufficient for identifying a shipment. <p> length=20 </p>
      description: DTO for uniquely identifying a DLShipment within a specific client.
    DLPersonDTO:
      type: object
      properties:
        name:
          type: string
          description: 'Name of contact.

            > `length=80`'
        phone:
          type: string
          description: 'Phone number.

            > `length=20`'
        fax:
          type: string
          description: 'Fax number.

            > `length=20`'
        email:
          type: string
          description: 'Email address.

            > `length=256`'
      description: DLPersonDTO containing contact data.
    DLHazardousGoodsItemRequestDataDTO:
      required:
      - hazardRegulation
      type: object
      properties:
        transactionId:
          type: string
          description: <p> The shipment wide unique id for the hazardous goods item. </p> <p> length=50 </p>
        unNumber:
          type: string
          description: UN number <p> length=8 <p>
        hazardRegulation:
          type: string
          description: 'Hazardous regulation to be applied. Valid values are: <ul> <li>ADR</li> <li>ADG</li> <li>NZDG</li> <li>IATA</li> <li>IMDG</li> <li>TDG</li> <li>CFR</li> </ul> <p> length=10 <p>'
        technicalName:
          type: string
          description: Technical name <p> length=250 <p>
        hazardAdditionalDescription:
          type: string
          description: Additional description <p> length=250 <p>
        hazardousGoodsType:
          type: string
          description: "Indicates the type of hazardous goods packaged in the package. Valid values are: <li>UNDEFINED\t\t(not defined, the type is determined by the hazardous good's package) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>US_ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"
        hazardClass:
          type: string
          description: 'Hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>'
        subriskClass1:
          type: string
          description: 'Sub risk 1 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>'
        subriskClass2:
          type: string
          description: 'Sub risk 2 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>'
        classificationCode:
          type: string
          description: Classification code <p> length=4 <p>
        tunnelCode:
          type: string
          description: Tunnel restriction code <p> length=10 <p>
        packagingGroup:
          type: string
          description: 'Hazardous packaging group. Valid Values are: <ul> <li>NONE</li> <li>I</li> <li>II</li> <li>III</li> </ul> <p> length=10 <p>'
        packingInstruction:
          type: string
          description: 'IATA packing instruction. Consists of the instruction code (up to three digits with optional prefix Y) optionally followed by a section identification (up to two upper case characters). Instruction code and section must be separated by an underscore. The section identification is mandatory for lithium batteries otherwise the instruction code alone is sufficient. Example Values are: <ul> <li>203</li> <li>350</li> <li>Y203</li> <li>965_IA</li> <li>965_IB</li> <li>965_I</li> </ul> <p> length=10 </p>'
        specialProvision:
          type: string
          description: 'Special provisions for the carriage of hazardous goods. Consists of the provision code (up to three digits) or the chapter specification (up to three digits), optionally followed by sub-chapters (up to two digits or one digit and an upper case character). Chapter and subchapters must be separated by a dot. Also possible are 3 capital letters + hyphen, followed by further numbers or letters or 1 capital letter followed by numbers. Example Values are: <ul> <li>188</li> <li>2.2.9.1.7</li> <li>63.3A</li> <li>USG-...</li> <li>A213</li> </ul> <p> length=20 </p>'
        multiplicator:
          type: string
          description: 'Hazardous multiplicator. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>3</li> <li>50</li> <li>INFINITE</li> </ul> <p> length=10 <p>'
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        hazardWeight:
          $ref: '#/components/schemas/QuantityDTO'
        hazardNetQuantity:
          $ref: '#/components/schemas/QuantityDTO'
        netExplosiveWeight:
          $ref: '#/components/schemas/QuantityDTO'
        numberOfPackages:
          type: integer
          description: Number of packages <p> length=10 </p>
          format: int32
        hazardLabel:
          type: string
          description: Hazardous label <p> length=10 </p>
        transportCategory:
          type: string
          description: 'Transport category. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>2</li> <li>3</li> <li>4</li> </ul> <p> length=4 <p>'
        specialSubstanceType:
          type: string
          description: 'Special Substance type. Valid Values are: <ul> <li>NONE</li> <li>BIOLOGICAL_SUBSTANCE</li> <li>DRY_ICE</li> <li>GENETICALLY_MODIFIED_ORGANISM</li> <li>LITHIUM_BATTERY</li> <li>RADIOACTIVE_SUBSTANCE</li> </ul> <p> length=30 <p>'
        hazardPoints:
          type: integer
          description: Hazardous points <p> length=5 </p>
          format: int32
        flashPoint:
          type: string
          description: Flash point <p> length=20 </p>
        specialProvisionMarking:
          type: string
          description: 'Indicates if the special provision has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>'
        emergencyContact:
          $ref: '#/components/schemas/DLPersonDTO'
        transportAuthorization:
          type: string
          description: Transport authorization. Additional information that may be required by regulation about a hazardous material such as DOT-SP number (Special Permit), LAA number... <p> length=250 </p>
        packingInstructionMarking:
          type: string
          description: 'Indicates if the packing instruction has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>'
        marinePollutant:
          type: string
          description: 'Indicates if the substance is a marine pollutant according to IMDG or CFR. When no value is given, default is NO_POLLUTANT. Valid Values are: <ul> <li>NO_POLLUTANT</li> <li>POLLUTANT</li> <li>SEVERE_POLLUTANT</li> </ul> <p> length=20 <p>'
        controlTemperature:
          type: string
          description: The control temperature according to IMDG or CFR. <p> length=4 <p>
        emergencyTemperature:
          type: string
          description: The emergency temperature according to IMDG or CFR. <p> length=4 <p>
        isEnvironmentallyHazardous:
          type: boolean
          description: Indicates if the substance is environmentally hazardous according to ADR or IATA.
        isReportableQuantity:
          type: boolean
          description: Indicates if package contains hazardous materials in an amount that needs to be reported.
        isTransportByCargoAircraftOnly:
          type: boolean
          description: Indicates if the transportation is only allowed in the cargo aircraft.
        isNotRegulated:
          type: boolean
          description: Indicates if no hazardous goods exist in accordance with the regulations.
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: DTO for request information of a DLHazardousGoodsItem.
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    DLShipmentRequestDataDTO:
      required:
      - carrierIdentCode
      - consignee
      - contents
      - referenceNumber1
      - serviceCode
      - shippingDate
      - shippingPt
      - termsOfDeliveryCode
      - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: <p> ID uniquely referencing the corresponding business transaction in the client system. </p> <p> length=250 </p>
        transactionLabel:
          type: string
          description: <p> Human readable text which identifies a business transaction (not necessarily unique). </p> <p> length=250 </p>
        organizationUnitClientSystem:
          type: string
          description: Additional criteria two separate different organisational units within one Engine's client. <p> length=255 </p>
        masterShipmentTransactionId:
          type: string
          description: <p> ID uniquely referencing the corresponding master shipment in the client system if the shipment is part of a bulk shipment. </p>
        isDocumentShipment:
          type: boolean
          description: <p> Indicates whether the shipment is a document shipment or not. </p> <p> Note that this flag also defines which services can be used for the shipment. </p>
        templateName:
          type: string
          description: Name of the template that is used for initializing data from a shipment template. If a field is filled in the template and in the dto, the value from the dto will be used. <p> length=100 </p>
        referenceNumber1:
          type: string
          description: First reference number. <p> length=50 </p>
        referenceNumber2:
          type: string
          description: Second reference number. <p> length=50 </p>
        customsRegistrationNumber:
          type: string
          description: Registration number (MRN, etc.) of the customs declaration.  The number is assigned by the customs authorities. <p> length=35 </p>
          deprecated: true
        transportRegistrationNumber:
          type: string
          description: Transport registration number like EKAER (Hungary) or SENT (Poland). The number is assigned by the local authorities. <p> length=35 </p>
          deprecated: true
        consigneePalletExchangeRegNo:
          type: string
          description: The consignee pallet exchange registration number. The number is assigned by the carrier if pallet exchange is supported. <p> length=50 </p>
        numberOfExchangePallets:
          type: integer
          description: The number of exchange pallets. Used for the pallet exchange system if supported by carrier. <p> length=5 </p>
          format: int32
        shopId:
          type: string
          description: The ID of the shop to which the shipping order is sent. <p> length=35 </p>
          deprecated: true
        shipToServicePointID:
          type: string
          description: The ID of the service point at which the consignee can pick up his shipping order. <p> length=35 </p>
        shipFromServicePointID:
          type: string
          description: The ID of the service point at which the shipper can deliver the shipping order for the carrier to pick up. <p> length=35 </p>
        remark:
          type: string
          description: Optional textual remark. Used for internal purposes only. The information is not forwarded to any carrier. <p> length=1000 </p>
        shippingDate:
          type: string
          description: Shipping date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The shipping date is expected to be in the time zone of the shipping point. <p> length=10 </p>
        contents:
          type: string
          description: Additional content discription <p> length=250 </p>
        extCarrierShipNum:
          type: string
          description: The external carrier tracking number of the shipment. <p> length=50 </p>
        extCarrierShipNumBasic:
          type: string
          description: The basic external carrier tracking number of the shipment. <p> length=50 </p>
        extCarrierShipNumReturn:
          type: string
          description: The external carrier return tracking number of the shipment. <p> length=50 </p>
        extCarrierShipNumBasicReturn:
          type: string
          description: The basic external carrier return tracking number of the shipment. <p> length=50 </p>
        shippingPt:
          $ref: '#/components/schemas/DLPartyDTO'
        shippingPtContact:
          $ref: '#/components/schemas/DLPersonDTO'
        customsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        consignee:
          $ref: '#/components/schemas/DLPartyDTO'
        consigneeContact:
          $ref: '#/components/schemas/DLPersonDTO'
        altInvoiceRecipient:
          $ref: '#/components/schemas/DLPartyDTO'
        altInvoiceRecipientContact:
          $ref: '#/components/schemas/DLPersonDTO'
        carrierIdentCode:
          type: string
          description: Carrier of the shipment. <p> length=20 </p>
        serviceCode:
          type: string
          description: Service to apply on the shipment. Service must be available within the carrier identified by <code>carrierIdentCode</code>. <p> length=20 </p>
        termsOfDeliveryCode:
          type: string
          description: IdentCode of the terms of delivery. Valid values are depending on the client's terms of delivery in the master file data. <p> length=20 </p>
        incotermDestination:
          type: string
          description: The incoterm destination of the shipment. The incoterm is included within the terms of delivery. Depending on the incoterm, it makes sense to specify a incoterm destination. <p> length=50 </p>
        portOfLoadingCode:
          type: string
          description: The code of the port or airport where the goods are loaded. The field is only relevant for air or sea freight shipments. <p> length=5 </p>
        portOfLoading:
          type: string
          description: The name of the port or airport where the goods are loaded. The field is only relevant for air or sea freight shipments. <p> length=50 </p>
        portOfDischargeCode:
          type: string
          description: The code of the port or airport where the goods are unloaded. The field is only relevant for air or sea freight shipments. <p> length=5 </p>
        portOfDischarge:
          type: string
          description: The name of the port or airport where the goods are unloaded. The field is only relevant for air or sea freight shipments. <p> length=50 </p>
        securityStatus:
          type: string
          description: '<p> The security status of air freight for cargo/post or passenger aircraft transport. Valid values are: <li>NOTSPECIFIED <li>SECURE <li>UNSECURE </p> <br> <p> length=12 </p>'
        fixedDate:
          type: string
          description: Fixed delivery date of the shipment in the format 'yyyy-MM-dd HH:mm:ss' or 'yyyyMMddHHmm'. The date is expected to be in the time zone of the delivery point. <p> <b>Important:</b> Only the date portion is transmitted to the carrier interfaces. The time portion is ignored, so it does not matter which time is passed. </p> <p> length=19 </p>
        earliestCollectionBookingDate:
          type: string
          description: Earliest collection booking date of the shipment in the format 'yyyy-MM-dd HH:mm:ss' or 'yyyyMMddHHmm'. The date is expected to be in the time zone of the shipping point. <p> length=19 </p>
        latestCollectionBookingDate:
          type: string
          description: Latest collection booking date of the shipment in the format 'yyyy-MM-dd HH:mm:ss' or 'yyyyMMddHHmm'. The date is expected to be in the time zone of the shipping point. <p> length=19 </p>
        latestRequestedDeliveryDate:
          type: string
          description: Latest requested delivery date of the shipment in the format 'yyyy-MM-dd HH:mm:ss' or 'yyyyMMddHHmm'. The date is expected to be in the time zone of the delivery point. <p> length=19 </p>
        earliestRequestedDeliveryDate:
          type: string
          description: Earliest requested delivery date of the shipment in the format 'yyyy-MM-dd HH:mm:ss' or 'yyyyMMddHHmm'. The date is expected to be in the time zone of the delivery point. <p> length=19 </p>
        airline:
          type: string
          description: The name of the airline company. <p> length=35 </p>
        flightNumber:
          type: string
          description: The flight number specifies a specific flight of an airline. <p> length=20 </p>
        houseAirwaybillNumber:
          type: string
          description: The house airwaybill number identifies a single shipping order within the cargo of an aircraft. <p> length=35 </p>
        masterAirwaybillNumber:
          type: string
          description: The master airwaybill number identifies the cargo of a complete aircraft. <p> length=35 </p>
        pickupAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        pickupAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        altReturnAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        altReturnAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        notifyAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        notifyAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        coverAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        coverAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        customsAgent:
          $ref: '#/components/schemas/DLPartyDTO'
        customsAgentContact:
          $ref: '#/components/schemas/DLPersonDTO'
        alternativeCarrierAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        alternativeCarrierAddrContact:
          $ref: '#/components/schemas/DLPersonDTO'
        importerAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        importerAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        exporterAddress:
          $ref: '#/components/schemas/DLPartyDTO'
        exporterAddressContact:
          $ref: '#/components/schemas/DLPersonDTO'
        payerOfChargRole:
          type: string
          description: '<p> The payer of charges. Valid values are: <li>SHIPPER <li>RECEIVER <li>THIRDPARTY </p> <br> <p> length=10 </p>'
        payerOfCharg:
          $ref: '#/components/schemas/DLPartyDTO'
        payerOfChargContact:
          $ref: '#/components/schemas/DLPersonDTO'
        payerOfChargAccountNo:
          type: string
          description: The payer of charges account number. Only used, when initPayerOfChargAccNoFromCompanyMasterData = false. <p> length=50 </p>
        initPayerOfChargAccNoFromCompanyMasterData:
          type: boolean
          description: Flag controlling how the 'payerOfChargAccountNo' field will be filled.<br> If true, the account number will be filled with the appropriate number in the company master data referenced by the 'payerOfCharg.name' field or (if filled) 'payerOfCharg.companyNumber' field.<br> If false, the party will be filled with the 'payerOfChargAccountNo' field.<br> This is also the default when no value is supplied.
        payerOfDutRole:
          type: string
          description: '<p> The payer of duties and taxes. Valid values are: <li>SHIPPER <li>RECEIVER <li>THIRDPARTY </p> <br> <p> length=10 </p>'
        payerOfDut:
          $ref: '#/components/schemas/DLPartyDTO'
        payerOfDutContact:
          $ref: '#/components/schemas/DLPersonDTO'
        payerOfDutAccountNo:
          type: string
          description: The payer of duties and taxes account number. Only used, when initPayerOfDutAccNoFromCompanyMasterData = false. <p> length=50 </p>
        initPayerOfDutAccNoFromCompanyMasterData:
          type: boolean
          description: Flag controlling how the 'payerOfDutAccountNo' field will be filled.<br> If true, the account number will be filled with the appropriate number in the company master data referenced by the 'payerOfDut.name' field or (if filled) the 'payerOfDut.companyNumber' field.<br> If false, the party will be filled with the 'payerOfDutAccountNo' field.<br> This is also the default when no value is supplied.
        altPayerOfTaxRole:
          type: string
          description: '<p> The alternative payer of taxes. Valid values are: <li>SHIPPER <li>RECEIVER <li>THIRDPARTY </p> <br> <p> length=10 </p>'
        altPayerOfTax:
          $ref: '#/components/schemas/DLPartyDTO'
        altPayerOfTaxContact:
          $ref: '#/components/schemas/DLPersonDTO'
        altPayerOfTaxAccountNo:
          type: string
          description: The alternative payer of taxes account number. Only used, when initAltPayerOfTaxAccNoFromCompanyMasterData = false. <p> length=50 </p>
        initAltPayerOfTaxAccNoFromCompanyMasterData:
          type: boolean
          description: Flag controlling how the 'altPayerOfTaxAccountNo' field will be filled.<br> If true, the account number will be filled with the appropriate number in the company master data referenced by the 'altPayerOfTax.name' field or (if filled) the 'altPayerOfTax.companyNumber' field.<br> If false, the party will be filled with the 'altPayerOfTaxAccountNo' field.<br> This is also the default when no value is supplied.
        codValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        insuranceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        goodsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        invoiceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        shipmentTotals:
          $ref: '#/components/schemas/DLShipmentTotalsRequestDataDTO'
        loadingMeters:
          type: number
          description: The loading meters needed for the shipment. If a value is given, it overwrites the loading meters in 'packageCumulations'. <p> length=10, scale=3 </p>
        palletPlaces:
          type: number
          description: The pallet places needed for the shipment. If a value is given, it overwrites the pallet places in 'packageCumulations'. <p>length=10, scale=3</p>
        packages:
          type: array
          description: Packages of the shipment.
          items:
            $ref: '#/components/schemas/DLPackageRequestDataDTO'
        packageCumulations:
          type: array
          description: Packages cumulations of the shipment.
          items:
            $ref: '#/components/schemas/DLPackageCumulationRequestDataDTO'
        items:
          type: array
          description: Shipment items.
          items:
            $ref: '#/components/schemas/DLShipmentItemRequestDataDTO'
        referencesTexts:
          type: array
          description: Further references and texts for the shipment. Multiple references or texts with same type are allowed (e.g. to specify all different delivery note numbers contained in the shipment).
          items:
            $ref: '#/components/schemas/DLReferenceTextDTO'
        transportEquipments:
          type: array
          description: The transport equipments used for the shipment.
          items:
            $ref: '#/components/schemas/DLTransportEquipmentDTO'
        valueAddedServices:
          type: array
          description: Value added services for the shipment.
          items:
            $ref: '#/components/schemas/DLValueAddedServiceReferenceDTO'
        carrierInfoTexts:
          type: array
          description: Carrier info texts for the shipment.
          items:
            $ref: '#/components/schemas/DLShipmentCarrierInfoTextDTO'
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: DTO for shipment data in a request.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
