openapi: 3.2.0
info:
  title: Aeb Remote Admin BF Bean API
  version: '1.0'
  description: 'Operations tagged RemoteAdminBFBean across 9 of this provider''s published API definitions: aeb-bsm-openapi.json, aeb-carrier-connect-openapi.json, aeb-carrier-event-service-openapi.json, aeb-customs-broker-portal-openapi.json, aeb-customs-inventory-management-openapi.json, aeb-customs-management-openapi.json, aeb-document-service-openapi.json, aeb-product-classification-openapi.json, aeb-trade-compliance-management-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
- url: https://rz3.aeb.de/demo1cai/rest
- url: https://xnsg.dc.aeb.com/demo1ces/rest
- url: https://rz3.aeb.de/test2broker/rest
- url: https://rz3.aeb.de/test2cim/rest
- url: https://rz3.aeb.de/test2ici/rest
- url: https://rz3.aeb.de/demo1docs/rest
- url: https://rz3.aeb.de/test2cl/rest
- url: https://rz3.aeb.de/test4ce/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: RemoteAdminBFBean
  description: ' Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR).'
paths:
  /RemoteAdminBFBean/clientRoles/{clientId}:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    get:
      tags:
      - RemoteAdminBFBean
      summary: getRoles
      description: Returns a list of roles
      operationId: getRolesForClient
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The roles of the specified client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesOfClientDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/RolesOfClientDTO'
        '404':
          description: returned when client with given ident code is not found
  /RemoteAdminBFBean/roles:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    get:
      tags:
      - RemoteAdminBFBean
      summary: getRoles
      description: Returns a list of roles
      operationId: getRolesGET
      parameters:
      - name: scope
        in: query
        description: the dataset to return
        schema:
          type: string
      - name: clientIdentCodes
        in: query
        description: includeClientIdentCodes
        schema:
          type: string
      - name: resultLanguageIsoCodes
        in: query
        description: resultLanguageIsoCodes
        schema:
          type: string
      responses:
        '200':
          description: The operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRolesResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetRolesResponseDTO'
components:
  schemas:
    RoleDTO:
      type: object
      properties:
        identCode:
          type: string
          description: the role ident code - this value is unique in the system
        localizedTexts:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RoleTextDTO'
          description: localized data of the role - key is language, value is RoleTextDTO with 'name' and 'description'
        impliedRoles:
          type: array
          description: the implied roles - a user having this role also has all the roles that appear in this list
          items:
            type: string
            description: the implied roles - a user having this role also has all the roles that appear in this list
        apiPredefined:
          type: boolean
          description: true if role is predefined by code, and not manually created by an administrator
        systemRole:
          type: boolean
          description: true if this is a role which is referenced in code and implies various effects
        clientDefined:
          type: boolean
          description: true if this role is defined specifically for the current client
      description: data about a role
    GetRolesResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        rolesInfos:
          type: array
          description: List of role information DTO's that are client independant.
          items:
            $ref: '#/components/schemas/RoleInfoDTO'
        clientRoles:
          type: array
          description: List of role information DTO's that are client dependant.
          items:
            $ref: '#/components/schemas/ClientRolesDTO'
      description: DTO for GetRoles response
      xml:
        name: getRolesResponseDTO
    RoleTextDTO:
      type: object
      properties:
        name:
          type: string
          description: the name of the role, a short word describing the role
        description:
          type: string
          description: a longer description that explains what this role is for
      description: language dependent values of a role
    RolesOfClientDTO:
      type: object
      properties:
        clientIdentCode:
          type: string
          description: the ident code of the client for which the roles are returned
        roles:
          type: array
          description: list of roles which are defined for the specified client
          items:
            $ref: '#/components/schemas/RoleDTO'
      description: Response DTO for listing roles assignable to users of a client.
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    RoleInfoDTO:
      type: object
      properties:
        identCode:
          type: string
          description: the role ident code
        assignableByClientAdmin:
          type: boolean
          description: true if assignable by client
        name:
          type: string
          description: the role name
        description:
          type: string
          description: the role description
        licenseRole:
          type: boolean
          description: true if license role
        apiPredefined:
          type: boolean
          description: true if predefined
        systemRole:
          type: boolean
          description: true if system role
        clientIdentCode:
          type: string
          description: client ident code or null if general role
        impliedRoles:
          type: array
          description: the implied roles
          items:
            type: string
            description: the implied roles
      description: dto for roles
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
    ClientRolesDTO:
      type: object
      properties:
        client:
          type: string
          description: Client identCode
        roleInfos:
          type: array
          description: The role informations.
          items:
            $ref: '#/components/schemas/RoleInfoDTO'
      description: Response DTO for listing client specific roles in GetRolesResponseDTO.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-refined-from:
- aeb-bsm-openapi.json
- aeb-carrier-connect-openapi.json
- aeb-carrier-event-service-openapi.json
- aeb-customs-broker-portal-openapi.json
- aeb-customs-inventory-management-openapi.json
- aeb-customs-management-openapi.json
- aeb-document-service-openapi.json
- aeb-product-classification-openapi.json
- aeb-trade-compliance-management-openapi.json
x-proxy-enabled: false
