openapi: 3.2.0
info:
  title: Trade Compliance Management HTTP Compliance Foundation API
  description: Thank you for using our HTTP API documentation.
  version: '4.0'
servers:
- url: https://rz3.aeb.de/test4ce/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: Compliance Foundation
  description: API for the compliance foundation.
paths:
  /ComplianceFoundation/getMasterdataIdentifiers:
    post:
      tags:
      - Compliance Foundation
      summary: Returns the identifiers of master data for a client.
      description: 'Returns the identifiers of master data for a client. The available types of master data are the following:<ul><li>Partner roles: <code>PARTNER_ROLE_IDENTIFIERS</code></li><li>Goods attributes: <code>GOODS_ATTRIBUTE_IDENTIFIERS</code></li><li>Transaction types: <code>TRANSACTION_TYPE_IDENTIFIERS</code></li><li>Jurisdictions: <code>JURISDICTION_IDENTIFIERS</code></li><li>All value lists and their entries: The <code>identCode</code> of the requested value list</li></ul> The result will include all client independent identifiers plus the identifiers of the specified client.'
      operationId: getMasterdataIdentifiers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMasterdataIdentifiersRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/GetMasterdataIdentifiersRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMasterdataIdentifiersResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetMasterdataIdentifiersResponseDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
components:
  schemas:
    MasterdataIdentifierDTO:
      type: object
      properties:
        identCode:
          maxLength: 50
          type: string
          description: The unique identifier of the master data identified by this DTO.
          example: BUYER_STD
        descriptions:
          type: array
          description: A textual description of the master data in the requested languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: Represents a master data identifier.
    ErrorData:
      type: object
      properties:
        errorMessage:
          type: string
        errorCause:
          type: string
    GetMasterdataIdentifiersRequestDTO:
      required:
      - masterdataType
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        masterdataType:
          type: string
          description: 'The type of master data identifiers to request. Use one of the following keys:<ul><li>Partner roles: <code>PARTNER_ROLE_IDENTIFIERS</code></li><li>Goods attributes: <code>GOODS_ATTRIBUTE_IDENTIFIERS</code></li><li>Transaction types: <code>TRANSACTION_TYPE_IDENTIFIERS</code></li><li>Jurisdictions: <code>JURISDICTION_IDENTIFIERS</code></li><li>All value lists and their entries: The <code>identCode</code> of the requested value list</li></ul>'
          example: PARTNER_ROLE_IDENTIFIERS
      description: Request object for <code>/ComplianceFoundation/getMasterdataIdentifiers</code>
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    GetMasterdataIdentifiersResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        identifiers:
          type: array
          description: The identifiers with localized texts in the requested languages.
          items:
            $ref: '#/components/schemas/MasterdataIdentifierDTO'
      description: Response object for <code>/ComplianceFoundation/getMasterdataIdentifiers</code>
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
