openapi: 3.2.0
info:
  title: Aeb Export Control API
  version: '1.0'
  description: 'Operations tagged Export Control across 2 of this provider''s published API definitions: aeb-bsm-openapi.json, aeb-trade-compliance-management-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
- url: https://rz3.aeb.de/test4ce/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: Export Control
  description: API for export control
paths:
  /ExportControl/v2/acknowledgeGetChangedTransactions:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Acknowledge changed results of EC check transactions.
      description: Acknowledge the changed results of EC check transactions. If calling *getChangedTransactions* returns false in *GetChangedTransactionsResponseDTO.isComplete*, there are more changed results available. To get those results, the already retrieved results need to be acknowledged with the *GetChangedTransactionsResponseDTO.syncId* from the *getChangedTransactions* call.
      operationId: acknowledgeGetChangedTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/checkTransaction:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Check a transaction in Export Controls.
      description: Check a transaction in Export Controls. This call does not imply any approval management in the host system. Instead, if required, for each checked transaction from host system a check transaction is created in Export Controls with the data of the transmitted transaction. This is necessary, for example, due to critical results in the export control check. Further export control checks for the corresponding transaction are done using the associated check transaction in Export Controls. Based on this, approvals for a transaction must be managed directly using the corresponding check transaction in Export Controls. The existing approvals for the associated check transaction are automatically taken into account during check of transaction from host system in Export Controls.
      operationId: checkTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckTransactionRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/CheckTransactionRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTransactionResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CheckTransactionResponseDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/createQuestionnaireForTransaction:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Create a new questionnaire for a transaction in Export Controls
      description: Explicitly create a new questionnaire for a transaction in Export Controls. In case other questionnaires already exist for the given transaction, they are marked as invalid and the newly created questionnaire becomes the active one for that transaction.
      operationId: createQuestionnaireForTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireForTransactionRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireForTransactionRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuestionnaireForTransactionResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateQuestionnaireForTransactionResponseDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/deleteTransaction:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: To be invoked when a transaction in the partner system is deleted.
      description: Method to be invoked when a transaction in the partner system is deleted. Deletes the corresponding check transaction in Export Controls if existing.
      operationId: deleteTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTransactionRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteTransactionRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTransactionResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeleteTransactionResponseDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/finalizeClearing:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Finalize a clearing.
      description: Method to be invoked when a clearing should be finalized. Finalizes the clearing for the corresponding check transaction in Export Controls if existing.
      operationId: finalizeApproval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeApprovalRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/FinalizeApprovalRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizeApprovalResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/FinalizeApprovalResponseDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/getChangedTransactions:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Get the changed results of EC check transactions.
      description: Get the changed results of EC check transactions. Returns the changed results of EC check transactions, that were created for EC check transaction created with the *checkTransaction* call. The result of an EC check transaction might change if e.g. an approval was made or revoked on any of the items within Trade Compliance Management. Only changes relating to EC check transactions created by the transmitted in *GetChangedTransactionsRequestDTO.clientSystemId* are considered.<br>A partner system subscription needs to be configured in Trade Compliance Management.
      operationId: getChangedTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChangedTransactionsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/GetChangedTransactionsRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChangedTransactionsRequestDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetChangedTransactionsRequestDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/getTransactionCheckResult:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Gets the check result for a certain EC check transaction.
      description: Gets the check result for a certain EC check transaction. The check result is returned without a new EC check being performed. If a check is desired, call *checkTransaction* instead.
      operationId: getTransactionCheckResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTransactionCheckResultRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/GetTransactionCheckResultRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionCheckResultResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetTransactionCheckResultResponseDTO'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Other errors, like a malformed request or internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/updateCustomsInfo:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Export Control
      summary: Update customs info.
      description: Method to be invoked when customs info is to be updated. Updates the customs info for the corresponding check transaction in Export Controls if existing.
      operationId: updateCustomsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomsInfoRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCustomsInfoRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomsInfoResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateCustomsInfoResponseDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
      security:
      - BASIC_AUTH: []
  /ExportControl/v2/finalizeApproval:
    servers:
    - url: https://rz3.aeb.de/test4ce/rest
    post:
      tags:
      - Export Control
      summary: Finalize an approval.
      description: Method to be invoked when an approval should be finalized. Finalizes the approval for the corresponding check transaction in Export Controls if existing.
      operationId: finalizeApproval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeApprovalRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/FinalizeApprovalRequestDTO'
      responses:
        '200':
          description: OK. The operation response. See response schema documentation for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizeApprovalResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/FinalizeApprovalResponseDTO'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized. Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '405':
          description: Method not allowed. Use POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '406':
          description: Not Acceptable. This resource produces application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '415':
          description: Unsupported Media Type. This resource accepts application/json or application/xml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error. See errorMessage for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorData'
components:
  schemas:
    ECAmountDTO:
      type: object
      properties:
        value:
          maxLength: 15
          type: number
          description: 'The value of the amount of money.<br><br>Decimal digits: <code>2</code>'
          format: double
          example: 1000.0
        currencyIso:
          maxLength: 3
          type: string
          description: The three-letter ISO code of the currency of the amount of money.
          example: EUR
      description: A pair of a value with a currency.
    CreateQuestionnaireForTransactionResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: The response to a request to explicitly create a questionnaire. Empty on success.
    DeleteTransactionRequestDTO:
      required:
      - transactionIdHost
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transactionIdHost:
          type: string
          description: A human-readable form of the unique id for the transaction.
          example: Mandant = 001; Auftragsnr. = 80004989
      description: Represents a request to delete a check transaction in Export Controls.<br><code>clientIdentCode</code> and <code>clientSystemId</code> are mandatory fields.<br>Client system ID <code>"COMPLIANCE SERVER"</code> is reserved for internal usage and therefore it is not allowed to use it as <code>clientSystemId</code> in a request.
    CreateQuestionnaireForTransactionRequestDTO:
      required:
      - profileIdentCode
      - templateId
      - transaction
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        profileIdentCode:
          type: string
          description: ID of the compliance profile to take settings from.
          example: DEFAULT
        transaction:
          $ref: '#/components/schemas/ECTransactionDTO'
        templateId:
          type: string
          description: Unique technical ID of the questionnaire template to create the questionnaire with.
          example: '000001'
        questionnaireData:
          $ref: '#/components/schemas/CreateRAQuestionnaireDataDTO'
      description: A request to explicitly create a questionnaire for an EC check transaction.
    CheckTransactionRequestDTO:
      required:
      - profileIdentCode
      - transaction
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transaction:
          $ref: '#/components/schemas/ECTransactionDTO'
        profileIdentCode:
          type: string
          description: ID of the compliance profile to take settings for export control check from.
          example: DEFAULT
        organisationUnitHost:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Ident code of the organizational unit. May be <code>null</code>.
          example: Sales Unit 0711
        isAutoCreateClearings:
          type: boolean
          description: Defines that the transaction can be automatically approved, if an applicable license is found. If the transaction can be approved automatically, an approval is automatically created per jurisdiction and the transaction is no longer blocked.<br>An automatic approval of the transaction is only performed if exactly one suitable license is found with exactly one matching item for one transaction per jurisdiction. Furthermore, a transaction can be approved automatically only if there are no applicable general licenses from the AEB data service.
          example: false
          default: false
        riskAssessmentParms:
          $ref: '#/components/schemas/CheckTransactionRAParmsDTO'
      description: Represents a request to check a transaction in Export Controls.<br><code>clientIdentCode</code> and <code>clientSystemId</code> are mandatory fields.<br>Client system ID <code>"COMPLIANCE SERVER"</code> is reserved for internal usage and therefore it is not allowed to use it as <code>clientSystemId</code> in a request.
    UpdateCustomsInfoResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response of <code>/ExportControl/v2/updateCustomsInfo</code>.
    ECCompletionStatusDTO:
      type: object
      properties:
        pluginIdentCode:
          type: string
          description: 'The pluginIdentCode. Possible values: <ul><li><code>DE-EU-Plugin</code><li><li><code>US-EAR-Plugin</code></li></ul>'
          example: DE-EU-Plugin
        isProductDataComplete:
          type: boolean
          description: <code>true</code> if the <code>ECClearingDataDTO#productClassifications</code> that are relevant for the jurisdiction, are correctly and completely filled. The classification types are described in <code>ECClassificationDTO</code>.
          example: true
      description: The completion status of the product data for a specific jurisdiction.
    AcknowledgeGetChangedTransactionsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response for <code>/ExportControl/v2/acknowledgeGetChangedTransactions</code>.
    ECClassificationDTO:
      type: object
      properties:
        classificationIdentCode:
          type: string
          description: Identcode of the classification the <code>classificationNumber</code> belongs to.<br>There are some predefined attributes and others may be configured.<br>The following predefined attributes are supported:<ul><li><code>ClassificationMaterialNumbers</code> for material numbers</li><li><code>ClassificationAusfuhrliste</code> for EU export control numbers</li><li><code>CLASSIFICATION_US_EAR_CCL</code> for US export control numbers, i.e., a specific ECCN or <code>EAR99</code></li><li><code>CLASSIFICATION_US_EAR_ACTRELEVANT</code> for the EAR99 property (only supported for clients using version 1 for goods attribute handling)</li><li><code>ClassificationStatisticalNumbers</code> for commodity codes</li><li><code>ClassificationSelfDefined</code> for self defined numbers</li></ul>
          example: CLASSIFICATION_US_EAR_CCL
        classificationNumber:
          type: string
          description: 'The value of the attribute, e.g. a export control number, material number, commodity code and other relevant numbers for export control checks and license matching.<br>There are some attributes that only allow some fixed, predefined values.The following predefined values are supported:<ul><li>For all attributes: <code>NOT_LISTED</code> indicating that an item is not listed on the goods list describing the classification</li><li>For ECCNs: <code>EAR99</code> indicating that the item is an EAR99 product.</li></ul>'
          example: 0A002
      description: An attribute with a value for a transaction item.
    NamedGenericDataRecordDTO:
      type: object
      properties:
        name:
          type: string
          description: The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.
        record:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records.
      example:
      - name: child
        record:
          fields: []
          subrecords: []
    UpdateCustomsInfoRequestDTO:
      required:
      - itemIdHost
      - jurisdiction
      - transactionIdHost
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transactionIdHost:
          type: string
          description: A human-readable form of the unique id for the transaction.
          example: Mandant = 001; Auftragsnr. = 80004989
        itemIdHost:
          type: string
          description: Unique id for the item within the transaction.
          example: '4711'
        jurisdiction:
          type: string
          description: ID of the jurisdiction to which the result belongs.<br>Possible values are:<ul><li><code>DE-EU-Plugin</code></li><li><code>US-EAR-Plugin</code></li><li><code>Custom-Plugin</code></li><li><code>Risk-Assessment-Plugin</code></li></ul>Additionally, further jurisdictions may be configured. The IDs of all available jurisdictions of a client can be queried using <code>/ComplianceFoundation/getMasterdataIdentifiers</code>.
          example: DE-EU-Plugin
        customsAcceptanceDate:
          type: string
          description: Date on which customs office accepts export declaration.
          format: date
          example: '2015-01-01'
        customsOffice:
          type: string
          description: Code of customs office that decrements the license.
          example: DE12345
        mrn:
          type: string
          description: Movement reference number (MRN) of export declaration.
          example: 20DE1234567890123
        dateOfExport:
          type: string
          description: Date of export.
          format: date
          example: '2015-01-01'
        customsClientTransactionRef:
          type: string
          description: Number of transaction/document from which the export declaration was created.
          example: '80004989'
      description: Represents a request to update customs information in Export Controls.<br><code>clientIdentCode</code> is a mandatory field.
    CreateRAQuestionnaireDataDTO:
      type: object
      properties:
        userName:
          type: string
          description: Name of the user who fills in the questionnaire. In most cases it is not the user who triggered the creation.
          example: User
        department:
          type: string
          description: Department of the user who fills in the questionnaire. Can also be filled out by the user himself.
          example: Compliance
        emailAddress:
          type: string
          description: The e-mail address(es) of the user who fill in the questionnaire.<br>The e-mail address is used to send an e-mail with the information that a questionnaire was created and should be filled out.<br>Multiple e-mail addresses can be provided, separated by ; (semicolon).
          example: user@mail.com;user2@mail.com
        organisationUnitHost:
          type: string
          description: The user's organisational unit who is supposed to fill in the questionnaire. Cannot be filled by the user himself. This can be used for data driven access.
          example: Unit
        additionalInfo:
          type: string
          description: Additional information about the transaction.<br><br>This field can be used to transmit additional information about the transaction, such as order value or currency, which will be displayed in the questionnaire.
          example: Example questionnaire
      description: Initial data for a new questionnaire.
    ECPluginCheckResultDTO:
      type: object
      properties:
        pluginIdentCode:
          type: string
          description: ID of the jurisdiction to which the result belongs.<br>Possible values are:<ul><li><code>DE-EU-Plugin</code></li><li><code>US-EAR-Plugin</code></li><li><code>Custom-Plugin</code></li><li><code>Risk-Assessment-Plugin</code></li></ul>Additionally, further jurisdictions may be configured. The IDs of all available jurisdictions of a client can be queried using <code>/ComplianceFoundation/getMasterdataIdentifiers</code>.
          example: DE-EU-Plugin
        resultType:
          type: string
          description: Represents the accumulated result type of the item in the specified jurisdiction (<code>pluginIdentCode</code>)<br>Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>
          example: OK
        approvals:
          type: array
          description: Approvals for this item which are used to release this item from a restriction or a required license.
          items:
            $ref: '#/components/schemas/ECApprovalInfoDTO'
      description: The export control result of a jurisdiction checked for a transaction item.
    FinalizeApprovalRequestDTO:
      required:
      - itemIdHost
      - jurisdiction
      - transactionIdHost
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transactionIdHost:
          type: string
          description: A human-readable form of the unique id for the transaction.
          example: Mandant = 001; Auftragsnr. = 80004989
        itemIdHost:
          type: string
          description: Unique id for the item within the transaction.
          example: '4711'
        jurisdiction:
          type: string
          description: ID of the jurisdiction to which the result belongs.<br>Possible values are:<ul><li><code>DE-EU-Plugin</code></li><li><code>US-EAR-Plugin</code></li><li><code>Custom-Plugin</code></li><li><code>Risk-Assessment-Plugin</code></li></ul>Additionally, further jurisdictions may be configured. The IDs of all available jurisdictions of a client can be queried using <code>/ComplianceFoundation/getMasterdataIdentifiers</code>.
          example: DE-EU-Plugin
      description: Represents a request to finalize an approval in Export Controls.<br><code>clientIdentCode</code> is a mandatory field.
    ECLocalizedTextDTO:
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          type: string
          description: The language of the text. Possible values:<ul><li><code>de</code></li><li><code>en</code></li></ul>
          example: de
        text:
          type: string
          description: The text in the language.
          example: text in the language
      description: Encapsulates a text in one language.
    GenericDataFieldDTO:
      type: object
      properties:
        name:
          type: string
          description: <p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>
        value:
          type: string
          description: <p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href="http://www.w3.org/TR/xmlschema-2/">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>
        type:
          type: string
          description: <p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>
      description: A field of a generic data record.
    GetChangedTransactionsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Request to get the changed results of EC check transactions.
    GetTransactionCheckResultResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        status:
          type: string
          description: 'The functional status of the response. It is only filled, if the response indicates a valid request from a functional point of view. Otherwise (, e.g., if there are errors) it is left empty.<br>Possible values are:<ul><li><code>TRANSACTION_NOT_FOUND</code>: Indicates that the check transaction of the specified transaction ID is not found. This might happen, if the previous EC checks for the checked transaction from host system did not result in a restriction (, i.e., no necessity to release an item). In those cases no check transaction was created. It is suggested to do another EC check (via <code>/ExportControl/v2/checkTransaction</code>) to get the current check result. Another reason for a check transaction not being found could be that it has been deleted in Trade Compliance Management.<br>If this status is returned, the <code>checkResult</code> should not be evaluated, as it will be undefined.</li><li><code>TRANSACTION_FOUND</code>: Indicates that the check transaction of the specified transaction ID exists.</li></ul>'
        checkResult:
          $ref: '#/components/schemas/ECTransactionCheckResultV2DTO'
      description: Response when getting the check result of a certain EC check transaction.
    ECTransactionCheckResultV2DTO:
      type: object
      properties:
        transactionIdHost:
          type: string
          description: The unique ID of the EC check transaction.
        isDeleted:
          type: boolean
          description: Indicates whether the EC check transaction has been deleted.<br>This is only relevant for the <code>/ExportControl/v2/getChangedTransactions</code> call.
          default: false
        totalResultType:
          type: string
          description: Represents the accumulated result type of the whole transaction.Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>The result type will be <code>null</code>, if <code>isDeleted<code> is set to <code>true</code>
          example: OK
        itemResults:
          type: array
          description: The result of the every item of the transaction.
          items:
            $ref: '#/components/schemas/ECItemCheckResultV2DTO'
      description: The export control result for a whole transaction. Note that this DTO is inspired by *ECTotalCheckResultDTO* and *CheckTransactionResponseDTO*. There is no explicit previous version called *ECTransactionCheckResultDTO*.
    ECApprovalInfoV2DTO:
      type: object
      properties:
        uniqueApprovalId:
          type: string
          description: The unique ID of the approval.
        licenseReference:
          $ref: '#/components/schemas/ECLicenseReferenceDTO'
        licenseNumber:
          maxLength: 100
          type: string
          description: The license number of the used license. No license number is provided, if the approval is based on a license, that does not exist in Trade Compliance Management.
        licenseItemNumber:
          maxLength: 100
          type: string
          description: The item number of the used license (if it supports items).
        licenseStatement:
          type: string
          description: Text that should be printed on shipping documents.
        lmLicenseType:
          type: string
          description: The type of license applied. Contains the identifier of the License Management license type of the license applied. The LM license type is only available for licenses from License Management.
      description: DTO representing an approval used to release a restriction or a required license in a jurisdiction for a transaction item.
    ECApprovalInfoDTO:
      type: object
      properties:
        licenseReference:
          $ref: '#/components/schemas/ECLicenseReferenceDTO'
        licenseNumber:
          type: string
          description: The license number of the used license.
          example: '121'
        positionNumber:
          maxLength: 100
          type: string
          description: The item number of the used license (if it supports items).
          example: '1'
        licenseDescription:
          type: array
          description: A human-readable description of the license.
          items:
            $ref: '#/components/schemas/ECLocalizedTextDTO'
        licenseStatement:
          type: string
          description: Text that should be printed on shipping documents.
          example: license statement
        lmLicenseType:
          maxLength: 20
          type: string
          description: The type of license applied. Contains the identifier of the License Management license type of the license applied. The LM license type is only available for licenses from License Management.
          example: EAG
        uniqueApprovalId:
          type: string
          description: A unique id for this approval.
          example: '12021'
      description: DTO representing an approval used in the current item to release a restriction or a required license.
    ECItemCheckResultDTO:
      type: object
      properties:
        itemIdHost:
          type: string
          description: The itemIdHost of the item as passed with <code>ECItemDTO</code>.
          example: item-1
        bomItemResults:
          type: array
          description: The results for BOM items belonging to this item.<br>The results of these BOM items will <em>not</em> be accumulated into this item result.
          items:
            $ref: '#/components/schemas/ECItemCheckResultDTO'
        resultType:
          type: string
          description: Represents the accumulated result type of the whole item.<br>Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>
          example: OK
        pluginResults:
          type: array
          description: Contains one result for each used jurisdiction.
          items:
            $ref: '#/components/schemas/ECPluginCheckResultDTO'
      description: The export control result for one item of the transaction.
    CheckTransactionRAParmsDTO:
      type: object
      properties:
        templateId:
          type: string
          description: "Unique technical ID number of the questionnaire template. This field is mandatory, if\t<code>isRiskAssessmentRequested</code> is <code>true</code>.<br>\t<br>\tTemplate ID, client, partner system ID and transaction ID are used to find the appropriate\tquestionnaire for the export control check. If the questionnaire for the reference data\tdoes not exist yet, then it will be created. If the questionnaire exists, then it will\tbe checked, if the questionnaire still suits to the data in the export control\ttransaction (only partner data is considered)."
          example: '0001'
        isRiskAssessmentRequested:
          type: boolean
          description: Indicates that Risk Assessment rules should be evaluated in an export control check.<br><br>If set and enabled in the profile, questionnaires for Risk Assessment are evaluated as part of the export control check. This involves possibly the creation of a questionnaire and may cause restrictions in the Risk Assessment jurisdiction, depending on status and outcome of the questionnaire.
          example: true
          default: false
        isDataForRAComplete:
          type: boolean
          description: Indicates that Risk Assessment should be considered in the export control check, but not allrelevant data is available yet.<br><br>If this flag is set to <code>false</code>, no questionnaire will be created. This will cause a restriction in the Risk Assessment jurisdiction if Risk Assessment functionality is requested (due to <code>isRiskAssessmentRequested</code> and due to configuration in the profile the Risk Assessment integration is relevant for the transaction.<br>
          example: true
          default: true
        questionnaireData:
          $ref: '#/components/schemas/CreateRAQuestionnaireDataDTO'
      description: Parameters to integrate Risk Assessment in an export control check.
    DeleteTransactionResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response of <code>/ExportControl/v2/deleteTransaction</code>.
    GetTransactionCheckResultRequestDTO:
      required:
      - transactionIdHost
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        transactionIdHost:
          type: string
          description: The unique ID of the transaction to get the result for.
          example: MANDANT=001/BELNO=80004989
      description: Request to get the check result of a certain EC check transaction.
    ECTransactionDTO:
      required:
      - items
      - transactionIdHost
      type: object
      properties:
        transactionIdHost:
          type: string
          description: A unique id for the transaction.
          example: MANDANT=001/BELNO=80004989
        transactionLabelHost:
          type: string
          description: A human-readable form of the unique id for the transaction.
          example: Mandant = 001; Auftragsnr. = 80004989
        partners:
          type: array
          description: The partners involved in this transaction. All partners defined with a particular role here will be applied to all items of this transaction that do not have partners with that role defined on their own.<br>If there is at least one partner defined in the array, all other partners that can be defined with the deprecated partners fields in <code>ECItemDTO</code>  (like e.g. <code>recipient</code>), etc. will be ignored.<br>More information about partners is found on item level; see <code>ECItemDTO.partners</code>.
          items:
            $ref: '#/components/schemas/ECPartnerDTO'
        items:
          type: array
          description: The items of the transaction. Only fill normal transaction items into this array. BOM sub items should be filled into <code>bomItems</code>.
          items:
            $ref: '#/components/schemas/ECItemDTO'
        transactionType:
          type: string
          description: The ident code of the transaction type. The transaction type will implicitly (through configuration in Trade Compliance Management) determine the behavior of decrementing quantities or values from the license.<br> The field defaults to a standard transaction type for outbound transactions.
          example: OUTBOUND_STD
        customData:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: Data about the transaction.
    ErrorData:
      type: object
      properties:
        errorMessage:
          type: string
        errorCause:
          type: string
    CheckTransactionResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        totalResultType:
          type: string
          description: Represents the accumulated result type of the whole transaction. It is filled whenever there are no errors that prevent a check of the transaction.Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>
          example: OK
        itemResults:
          type: array
          description: The results of every item of the transaction. It is filled if at least one item was checked.
          items:
            $ref: '#/components/schemas/ECItemCheckResultDTO'
      description: Represents a response of checking a transaction in Export Controls.
    FinalizeApprovalResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response of <code>/ExportControl/v2/finalizeApproval</code>.
    GenericDataRecordDTO:
      type: object
      properties:
        fields:
          type: array
          description: The fields of the record.
          items:
            $ref: '#/components/schemas/GenericDataFieldDTO'
        subrecords:
          type: array
          description: Subrecords of the record.
          example:
          - name: child
            record:
              fields: []
              subrecords: []
          items:
            $ref: '#/components/schemas/NamedGenericDataRecordDTO'
      description: A generic record of data.<br>Each field is qualified by name and type and has a value.
    ECItemCheckResultV2DTO:
      type: object
      properties:
        itemIdHost:
          type: string
          description: Unique id for the item within the transaction.
        resultType:
          type: string
          description: Represents the accumulated result type of the whole item.<br>Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>
          example: OK
        pluginResults:
          type: array
          description: The result of every checked jurisdiction of the item.
          items:
            $ref: '#/components/schemas/ECPluginCheckResultV2DTO'
        bomItemResults:
          type: array
          description: The results for BOM items belonging to this item.<br>The results of these BOM items will *not* be accumulated into this item result.
          items:
            $ref: '#/components/schemas/ECItemCheckResultV2DTO'
      description: The export control result for one item of the transaction.
    ECLicenseReferenceDTO:
      type: object
      properties:
        licenseId:
          type: string
          description: The license id of the used license. The field is filled, depending on the origin of the license:<br>In case of<ul><li>a license from License Management, the internal id of the license is passed, e.g. <code>00000000000000231543</code>.</li><li>a license from Export Controls, the license number of the license with leading prefix "EC_" is passed, e.g. <code>EC_EU001</code>, <code>EC_AGG09</code>.</li><li>no license is required, <code>NLR</code> is passed.</li><li>referencing a license that does not exist in Trade Compliance Management, the field is empty (<code>null</code>).</li></ul>
          example: '00000000000000231543'
        licenseItemId:
          type: string
          description: The id of the license item from a license that has items. For licenses without items, this will be empty.
          example: '1'
      description: DTO used for referencing a real license and license item.
    ECItemDTO:
      required:
      - decisiveDate
      - itemIdHost
      type: object
      properties:
        itemIdHost:
          type: string
          description: Unique id for the item within the transaction.
          example: '4711'
        itemLabelHost:
          type: string
          description: Human-readable label for the item.
          example: Positionsnr. = 4711
        mainApprovalItemTransIdHost:
          maxLength: 255
          type: string
          description: Unique id of the transaction which includes the item that contains the main approvals. Has to be specified along with the <code>mainApprovalItemIdHost</code>.
        mainApprovalItemIdHost:
          maxLength: 255
          type: string
          description: Unique id of the transaction item that contains the main approvals within the transaction of the specified mainApprovalItemTransIdHost (has to be specified along with it).<br><br>The item of the main approvals is especially used for automatic creation of partial approvals. If such an item is specified and there is not yet an approval for a certain jurisdiction, the approval will be created as partial approval based on the main approval of the appropriate jurisdiction.<br><br>If the parent item does not exist, an error occurs.<br><br>Used by <code>/checkTransaction</code> to replace the necessity to specify the main approvals directly using <code>uniqueParentClearingIds</code>.
        bomItems:
          type: array
          description: The BOM (=bill of materials) sub items belonging to this item.<br/>Note that only two-level item hierarchies are allowed, i.e. the bomItems may only contain items that have no bomItems themselves
          example:
          - itemIdHost: '4711_1'
            itemLabelHost: Positionsnr. = 4711-1
          items:
            $ref: '#/components/schemas/ECItemDTO'
        partners:
          type: array
          description: 'Partners involved in this transaction item.<br>This array may be used to define partners of the predefined standard roles or partners with other, configured roles.<br>If there is at least one partner defined in the array, all other partners that can be defined with the deprecated partners fields in this DTO (like *recipient*, etc. will be ignored<br>Partners of a certain role defined here will replace partners with the same role defined on transaction level. To minimize network traffic, fill the partners on item level only if they differ from the partners on transaction level.<br>

            This field will be ignored for BOM items.<br>The partners of following partner roles are mandatory:<ul><li><code>CONSIGNOR_STD</code></li><li><code>SELLER_STD</code></li><li><code>CONSIGNEE_STD</code></li></ul>For mandatory partners at least the *ECPartnerDTO.countryIso* must be filled.'
          items:
            $ref: '#/components/schemas/ECPartnerDTO'
        ctryProductOrigin:
          maxLength: 2
          type: string
          description: Two-letter ISO code of the country of origin of the goods.
          example: DE
        decisiveDate:
          type: string
          description: The decisive date of the transaction. This date will be used to determine country groups and currency rates (which may be both date dependent).
          format: date
          example: '2015-01-01'
        productClassifications:
          type: array
          description: The attributes of the transaction item, e.g. export control numbers, material number, commodity code and other relevant numbers for export control checks and license matching.
          items:
            $ref: '#/components/schemas/ECClassificationDTO'
        productDataCompletionStatus:
          type: array
          description: Only relevant when using version 1 for the handling of goods attributes. The completion status indicates whether the product data for DE/EU plug-in and US-EAR plug-in is complete.<br>Is not supported by <code>/ExportControl/v2/checkTransaction</code>.<br><br>When using version 2 for the handling of goods attributes, the completion status can be specified directly via the goods attribute. For not-maintained goods attributes, no classification should be transmitted. To indicate that an item has been classified but is not listed, <code>NOT_LISTED</code> should be transmitted.
          items:
            $ref: '#/components/schemas/ECCompletionStatusDTO'
        identitiesOfGoods:
          type: array
          description: The identities of goods for this transaction item, e.g. serial numbers, lot numbers, etc.<br>To ensure to use the same license for the same physical goods between different transactions (inbound, outbound, etc.), these identities may be  used for license matching in addition to the product classifications.
          items:
            $ref: '#/components/schemas/ECIdentityOfGoodsDTO'
        descriptionOfGoods1:
          maxLength: 40
          type: string
          description: 'First line of description of commodity.

            Maximum length: 40'
          example: Description 1
        descriptionOfGoods2:
          maxLength: 40
          type: string
          description: 'Second line of description of commodity.

            Maximum length: 40'
          example: Description 2
        descriptionOfGoods3:
          maxLength: 40
          type: string
          description: 'Third line of description of commodity.

            Maximum length: 40'
          example: Description 3
        descriptionOfGoods4:
          maxLength: 40
          type: string
          description: 'Fourth line of description of commodity.

            Maximum length: 40'
          example: Description 4
        finalUsages:
          type: string
          description: Indicates the end-uses of the goods. Use <code>FINAL_USAGE_NONE</code> or <code>FINAL_USAGE_ALL</code> to indicates that there is no special end-use or all end-uses are possible. Other special end-uses depend on the plug-ins installed and may be separated by ';' if more than one applies.<br>Possible values are:<ul><li><code>FINAL_USAGE_NONE</code></li><li><code>FINAL_USAGE_ALL</code></li><li><code>DE-EU-ABC-Nuclear-Weapons</code></li><li><code>DE-EU-Nuclearplants</code></li><li><code>DE-EU-Conventional-Weapons</code></li><li><code>DE-EU-IllegalExportedWeapons</code></li><li><code>DE-EU-Military-Consignee</code></li><li><code>DE-EU-Free-Trade-Zone</code></li><li><code>DE-EU-CyberSurveillance-HumanRights</code></li></ul>This field will be ignored for BOM items.
          example: FINAL_USAGE_NONE
          default: FINAL_USAGE_NONE
        valueOfGoods:
          type: array
          description: The value of the goods, denoted in different currencies. This is either the invoice price or (if no invoice price is known) the statistical value. When checking for the jurisdiction EU, at least the value in EUR should occur in the array, so value limits of general licenses ("Wertfreigrenzen") can be considered. When checking for the jurisdiction US, at least the value in USD should occur in the array, so value limits of license exceptions can be considered.
          items:
            $ref: '#/components/schemas/ECAmountDTO'
        orderNumber:
          maxLength: 20
          type: string
          description: Number of the order (contract) or internal file reference that links to the product/check item.<br>This field is optional.
          example: order-121
        quantity:
          maxLength: 15
          type: number
          description: 'The quantity in which the product is exported.<br><br>Decimal digits: <code>3</code>'
          format: double
          example: 12.0
        quantityUnit:
          maxLength: 10
          type: string
          description: The unit of the quantity. Units must be maintained in the master data of Trade Compliance Management. The unit must contain the ident code of the entry in the master data table. This field is usually optional but becomes mandatory if a quantity is given.
          example: ST
        jurisdictionFilter:
          $ref: '#/components/schemas/ECJurisdictionFilterDTO'
        customData:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: One item of a transaction to be checked for export control restrictions.
    ECIdentityOfGoodsDTO:
      type: object
      properties:
        typeOfIdentity:
          type: string
          description: The type of the identity of goods, e.g. serial number, lot number, etc.<br> Each specified type must be maintained in the master data of Trade Compliance Management.
          example: SERIAL_NUMBER
        value:
          type: string
          description: The value of the identity of goods.
          example: A12
      description: Specifies the identity of goods.
    ECJurisdictionFilterDTO:
      required:
      - filterMode
      type: object
      properties:
        filterMode:
          type: string
          description: The filter mode to apply. Possible values:<ul><li><code>LIMITING</code></li><li><code>EXCLUDING</code></li></ul>
          example: LIMITING
        jurisdictions:
          type: array
          description: The jurisdictions to filter for depending on the specified <code>filterMode</code>. Specify at least one jurisdiction to have a valid filter. Additionally, it should not contain jurisdictions that are unknown in Export Controls.<br><br>You may use <code>/ComplianceFoundation/getMasterdataIdentifiers</code> to get the possible jurisdictions.
          example:
          - DE-EU-Plugin
          items:
            type: string
            description: The jurisdictions to filter for depending on the specified <code>filterMode</code>. Specify at least one jurisdiction to have a valid filter. Additionally, it should not contain jurisdictions that are unknown in Export Controls.<br><br>You may use <code>/ComplianceFoundation/getMasterdataIdentifiers</code> to get the possible jurisdictions.
            example: '["DE-EU-Plugin"]'
      description: 'Allows to filter (, i.e., restrict) the jurisdictions to consider in export control checks. This is possible in the following ways:<ul><li>Limiting filter mode (value <code>LIMITING</code>): only the intersection of the enabled jurisdictions (according to the used profile) and the specified jurisdictions is checked, i.e., an enabled jurisdiction is only checked if it is part of the specified jurisdictions of  this filter.</li><li>Excluding filter mode (value <code>EXCLUDING</code>): the specified jurisdictions are not checked although they are enabled (according to the used profile).</li></ul>'
    ECPartnerDTO:
      required:
      - roleIdentCode
      type: object
      properties:
        roleIdentCode:
          type: string
          description: The ident code of the role of the partner in the transaction. There are some predefined identCode's and others may be configured.<br>The following predefined role identCodes are supported:<ul><li><code>CONSIGNOR_STD</code></li><li><code>SELLER_STD</code></li><li><code>BUYER_STD</code></li><li><code>CONSIGNEE_STD</code></li><li><code>ENDUSER_STD</code></li></ul>
          example: SELLER_STD
        name1:
          maxLength: 40
          type: string
          description: Field 1 for full name of the company/person.
          example: Paul
        name2:
          maxLength: 40
          type: string
          description: Field 2 for full name of the company/person.
          example: Eugene
        name3:
          maxLength: 40
          type: string
          description: Field 3 for full name of the company/person.
          example: Carl
        name4:
          maxLength: 40
          type: string
          description: Field 4 for full name of the company/person.
          example: Miller
        street:
          maxLength: 50
          type: string
          description: Address - street and number.
          example: Main street 10
        street2:
          maxLength: 50
          type: string
          description: Address - street 2 and number.
          example: Second level
        district:
          maxLength: 50
          type: string
          description: Address - district.
          example: District of Main
        city:
          maxLength: 50
          type: string
          description: Address - city.
          example: Main City
        postalCode:
          maxLength: 20
          type: string
          description: Address - postal code of the street address (not postal code of P.O. box).
          example: '12100'
        countryIso:
          maxLength: 2
          type: string
          description: Address - country as two-letter ISO code.
          example: DE
        poBox:
          maxLength: 50
          type: string
          description: P.O. box.
          example: '121200'
        postalCodePoBox:
          maxLength: 20
          type: string
          description: Postal code of the P.O. box.
          example: '21010'
        cityPobox:
          maxLength: 50
          type: string
          description: City of the P.O. box.
          example: PO City
        customsNumber:
          maxLength: 7
          type: string
          description: German customs number of the company.
          example: '1234567'
        eoriNumber:
          maxLength: 17
          type: string
          description: The internationally unique identification number of the company assigned by customs. (EORI number - Economic Operators' Registration and Identification).
          example: DE012345678912345
        establishmentNumber:
          maxLength: 4
          type: string
          description: The number of the respective national office of a company. The EORI number and this identification number will replace the existing customs number.
          example: '0000'
        companyReference:
          maxLength: 20
          type: string
          description: Internal company number.
          example: '12'
        isMilitary:
          type: boolean
          description: Indicates that the company is associated with the armed forces of EC member country. Relevant for the reports about utilized general licenses (AG) that are sent to the BAFA about twice per year
          example: false
      description: DTO for a partner (typically a company) related to this export process. A partner can be the seller, the buyer, the receiver the final user, ...
    ECPluginCheckResultV2DTO:
      type: object
      properties:
        jurisdiction:
          type: string
          description: ID of the jurisdiction to which the result belongs.<br>Possible values are:<ul><li><code>DE-EU-Plugin</code></li><li><code>US-EAR-Plugin</code></li><li><code>Custom-Plugin</code></li><li><code>Risk-Assessment-Plugin</code></li></ul>Additionally, further jurisdictions may be configured. The IDs of all available jurisdictions of a client can be queried using <code>/ComplianceFoundation/getMasterdataIdentifiers</code>.
          example: DE-EU-Plugin
        resultType:
          type: string
          description: Represents the accumulated result type of the item in the specified jurisdiction <br>Possible values are:<ul><li><code>OK</code></li><li><code>INFO</code></li><li><code>CLEARED</code></li><li><code>CHECK</code></li><li><code>REQUIRE</code></li><li><code>CUSTOM_RESTRICTION</code></li><li><code>RESTRICTION</code></li><li><code>ERROR</code></li></ul>
          example: OK
        approval:
          $ref: '#/components/schemas/ECApprovalInfoV2DTO'
      description: The export control result of a jurisdiction checked for a transaction item.
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    AcknowledgeGetChangedTransactionsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        syncId:
          type: string
          description: Synchronization ID for acknowledging.<br>Use the <code>GetChangedTransactionsResponseDTO.syncId</code> value received with the last call to <code>/ExportControl/v2/getChangedTransactions</code> to acknowledge the processing of the changed results of EC check transactions.
          example: '1234'
      description: Request to acknowledge changed results of EC check transactions.
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-refined-from:
- aeb-bsm-openapi.json
- aeb-trade-compliance-management-openapi.json
x-proxy-enabled: false
