openapi: 3.2.0
info:
  title: BSM (TEST2) HTTP BSM Sync API
  description: Thank you for using our HTTP API documentation.
  version: '1.0'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: BSM Sync
  description: API for synchronizing data asynchronous from an engine to a client system
paths:
  /BSMSyncBFBean/acknowledgeEvents:
    post:
      tags:
      - BSM Sync
      summary: acknowledgeEvents
      description: Acknowledge events
      operationId: acknowledgeEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMAcknowledgeEventsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMAcknowledgeEventsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcknowledgeEventsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/AcknowledgeEventsResponseDTO'
      security:
      - BASIC_AUTH: []
  /BSMSyncBFBean/getNotAcknowledgedEvents:
    post:
      tags:
      - BSM Sync
      summary: getNotAcknowledgedEvents
      description: Poll any not acknowledged events for the client system
      operationId: getNotAcknowledgedEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMSyncEventsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMSyncEventsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEventsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/SyncEventsResponseDTO'
      security:
      - BASIC_AUTH: []
  /BSMSyncBFBean/getPartnerSystemSubscriptions:
    post:
      tags:
      - BSM Sync
      summary: getPartnerSystemSubscriptions
      description: Fetch a list of registered partner system subscriptions
      operationId: getPartnerSystemSubscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMGetPartnerSystemSubscriptionsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMGetPartnerSystemSubscriptionsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO'
      security:
      - BASIC_AUTH: []
  /BSMSyncBFBean/subscribePartnerSystem:
    post:
      tags:
      - BSM Sync
      summary: subscribePartnerSystem
      description: Subscribe a partner system to receive events for the specified business object type
      operationId: subscribePartnerSystem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMSubscribePartnerSystemRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMSubscribePartnerSystemRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribePartnerSystemResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscribePartnerSystemResponseDTO'
      security:
      - BASIC_AUTH: []
  /BSMSyncBFBean/synchronizeEvents:
    post:
      tags:
      - BSM Sync
      summary: synchronizeEvents
      description: Poll the next events for the client system
      operationId: synchronizeEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMSyncEventsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMSyncEventsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEventsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/SyncEventsResponseDTO'
      security:
      - BASIC_AUTH: []
  /BSMSyncBFBean/unsubscribePartnerSystem:
    post:
      tags:
      - BSM Sync
      summary: unsubscribePartnerSystem
      description: Unsubscribe a partner system from receiving events for the specified business object type
      operationId: unsubscribePartnerSystem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BSMUnsubscribePartnerSystemRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/BSMUnsubscribePartnerSystemRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscribePartnerSystemResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/UnsubscribePartnerSystemResponseDTO'
      security:
      - BASIC_AUTH: []
components:
  schemas:
    AcknowledgeEventsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response DTO for acknowledging events.
    BSMGetPartnerSystemSubscriptionsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        businessObjectType:
          maxLength: 20
          type: string
          description: Optional. Filter for code which identifies the subscribed business object type.
        partnerServer:
          type: string
          description: The partner server to which the call is redirected.
      description: Request parameter to fetch all or filtered partner system subscriptions to sync events.
    BSMSubscribePartnerSystemRequestDTO:
      required:
      - businessObjectType
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        businessObjectType:
          maxLength: 20
          type: string
          description: Code which identifies the subscribed business object type.
        description:
          maxLength: 250
          type: string
          description: Optional description of the subscription.
        partnerServer:
          type: string
          description: The partner server to which the call is redirected.
      description: Request parameter to subscribe a partner system to sync events.
    DateAndZoneDTO:
      type: object
      properties:
        dateInTimezone:
          type: string
          description: '<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>'
        timezone:
          type: string
          description: '<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: "GMT+01:00" or "GMT-02:00".</p> <p>Maximum length: 50</p>'
      description: Date and timezone.
    GetPartnerSystemSubscriptionsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        syncPartnerSystems:
          type: array
          description: All or filtered registered partner system subscriptions.
          items:
            $ref: '#/components/schemas/SyncPartnerSystemDTO'
      description: Response parameter with fetched partner system subscriptions to sync events.
    SyncPartnerSystemDTO:
      required:
      - businessObjectType
      - clientSystemId
      type: object
      properties:
        clientSystemId:
          maxLength: 20
          type: string
          description: Id of the sending client system (e.g. Installation ID of the sending host or ERP system).
        businessObjectType:
          maxLength: 20
          type: string
          description: Code which identifies the subscribed business object type.
        description:
          maxLength: 250
          type: string
          description: Description of the subscription (optional).
      description: Identification and other data of a single partner system subscription.
    SyncEventDTO:
      type: object
      properties:
        businessObjectType:
          maxLength: 20
          type: string
          description: Code which identifies the business object type the event belongs to.
        businessObjectQualifier:
          maxLength: 35
          type: string
          description: Optional qualifier which can be used to specify the object in a more detailed way.
        businessObjectId:
          maxLength: 36
          type: string
          description: Unique ID of the business object. <p> This ID is usually needed for subsequent calls, e.g. getBusinessObject(...) </p>
        eventType:
          maxLength: 20
          type: string
          description: Type of the event (e.g. CREATE, UPDATE or DELETE). <p> Depending on the business object type and its configuration, additional event types are possible. </p>
        eventDate:
          $ref: '#/components/schemas/DateAndZoneDTO'
        syncId:
          maxLength: 20
          type: number
          description: Monotonously increasing event identifier.
        parameter:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: DTO to hold data of one synchronized event.
    GenericDataFieldDTO:
      type: object
      properties:
        name:
          type: string
          description: <p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>
        value:
          type: string
          description: <p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href="http://www.w3.org/TR/xmlschema-2/">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>
        type:
          type: string
          description: <p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>
      description: A field of a generic data record.
    UnsubscribePartnerSystemResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        syncPartnerSystem:
          $ref: '#/components/schemas/SyncPartnerSystemDTO'
      description: Response parameter of a partner system unsubscription from sync events.
    SubscribePartnerSystemResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        syncPartnerSystem:
          $ref: '#/components/schemas/SyncPartnerSystemDTO'
      description: Response parameter of a partner system subscription to sync events.
    NamedGenericDataRecordDTO:
      type: object
      properties:
        name:
          type: string
          description: The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.
        record:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records.
      example:
      - name: child
        record:
          fields: []
          subrecords: []
    TextInLanguageDTO:
      type: object
      properties:
        languageISOCode:
          type: string
          description: <p>2-letter ISO code of the language.</p><p>length=2</p>
          example: en
        text:
          type: string
          description: The translated text.
          example: Some free-form text
      description: A translated text in one of the specified languages.
    BSMAcknowledgeEventsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        syncId:
          type: string
          description: Synchronization ID for acknowledge. <p> Pass this field with the value returned in syncId with the last call to SyncBFBean/getNotAcknowledgedEvents. </p> <p> length=20 </p>
        businessObjectType:
          type: string
          description: Should be the same value, which was passed with businessObjectType with the last call to SyncBFBean/getNotAcknowledgedEvents. length=20
        partnerServer:
          type: string
          description: The partner server to which the call is redirected.
      description: Request DTO for acknowledging events.
    SyncEventsResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        syncId:
          type: string
          description: Synchronization ID for delta-transmission. <p> Use this syncId in subsequent calls to SyncBFBean/synchronizeEvents to enable delta-transmission of changes. </p> <p> However, this syncId may be null if no events are found and the field events is an empty array. In this case use the last NOT NULL syncId returned in this field for subsequent calls to SyncBFBean/synchronizeEvents. </p> <p> length=20 </p>
        isComplete:
          type: boolean
          description: True, if the synchronization is complete and currently no further events are available. False if not. <p> Because a maximum of 100 events are returned with one call of SyncBFBean/synchronizeEvents, the result may be incomplete. </p>
        totalCount:
          type: integer
          description: The total number of events that are available, regardless of the fetched block size. Filled only if returnTotalCount was set in request.
        events:
          type: array
          description: The resulting events, matching the requested parameters. <p> A maximum number of 100 events are transmitted per call. </p> <p> To get ALL events make repeated calls of SyncBFBean/synchronizeEvents, always passing the last returned syncId in the next call with syncId. </p>
          items:
            $ref: '#/components/schemas/SyncEventDTO'
      description: Response DTO for synchronizing events.
    GenericDataRecordDTO:
      type: object
      properties:
        fields:
          type: array
          description: The fields of the record.
          items:
            $ref: '#/components/schemas/GenericDataFieldDTO'
        subrecords:
          type: array
          description: Subrecords of the record.
          example:
          - name: child
            record:
              fields: []
              subrecords: []
          items:
            $ref: '#/components/schemas/NamedGenericDataRecordDTO'
      description: A generic record of data.<br>Each field is qualified by name and type and has a value.
    BSMSyncEventsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        syncId:
          type: string
          description: Synchronization ID for delta-transmission. <p> In calls to SyncBFBean/synchronizeEvents:<br> Pass this field with the value returned in syncId with the last call to SyncBFBean/synchronizeEvents.<br> For initializing of delta-transmissions pass simply null. </p> <p> </p> In calls to SyncBFBean/getNotAcknowledgedEvents this field is not used.<br><p> length=20 </p>
        businessObjectType:
          type: string
          description: Optional parameter to resctrict the events to be polled to that business object type. May be null to get all subscribed events of all business object types.<br> Since XNSG 4.0, Nov. FP, 2017<br> length=20
        ageInDays:
          type: integer
          description: Only for the initializing of delta-transmissions (if syncId == null)<p> Start the initializing of delta transmission with with this age. Older events will not be synchronized. </p>
          format: int32
        blockSize:
          type: integer
          description: For defining the block size. Can be null. If empty the default block size of 100 is used.
          format: int32
        returnTotalCount:
          type: boolean
          description: If set, the total number of available events is returned in the response.<p>Note that requiring the total number of events may lead to substantial performance penalties in the service.</p>
        partnerServer:
          type: string
          description: The partner server to which the call is redirected.
      description: Request DTO for synchronizing events.
    BSMUnsubscribePartnerSystemRequestDTO:
      required:
      - businessObjectType
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        businessObjectType:
          maxLength: 20
          type: string
          description: Code which identifies the subscribed business object type.
        partnerServer:
          type: string
          description: The partner server to which the call is redirected.
      description: Request parameter to unsubscribe a partner system from sync events.
    ResponseMessageDTO:
      type: object
      properties:
        messageType:
          type: string
          description: '<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>'
          example: WARNING
        messageIdentCode:
          type: string
          description: '<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>'
          example: '5627'
        messageTexts:
          type: array
          description: <p>Detailed message texts in the requested languages.</p>
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        indentationLevel:
          type: integer
          description: <p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>
          format: int32
          example: 0
      description: Result messages like errors or warnings.
  securitySchemes:
    SWAGGER_AUTH_KEY:
      type: apiKey
      name: X-XNSG_WEB_TOKEN
      in: header
    BASIC_AUTH:
      type: http
      scheme: basic
x-proxy-enabled: false
