{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Carrier Select HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/demo1routing/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "FoundationAFBean",
    "description" : "Business facade for the XNSGFoundation UI API"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "ExternalTelemetryBFBean",
    "description" : "API for sending telemetry data from a third party system."
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  }, {
    "name" : "Carrier",
    "description" : "Rest API for carriers"
  }, {
    "name" : "Routing",
    "description" : "API for the handling of routing tasks"
  } ],
  "paths" : {
    "/FoundationAFBean/releaseApplicationFacade" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Release a UI API which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the UI API session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the UI API by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId" : "releaseApplicationFacade",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "query",
          "description" : "sessionid The sessionid returned by any UI API method, e.g. workplace @throws RemoteException",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/workplace" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Creates an UI API to be able to display the workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId" : "workplace",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMIdentificationRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/status" : {
      "get" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatusByParams",
        "parameters" : [ {
          "name" : "externalSystemId",
          "in" : "query",
          "description" : "externalSystemId, the id of the calling system, mandatory",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reportClientIdentCode",
          "in" : "query",
          "description" : "reportClientIdentCode, the identCode of the client to call the status for",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/telemetryReport" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.",
        "operationId" : "sendTelemetryReport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMReportRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "description" : "Returns the company with the requested ID (company number). In some cases the ID (company number) is <b>not unique</b>. In this case an error is returned.",
        "operationId" : "getCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID (company number).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 12345
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "examples" : {
                  "Successful call" : {
                    "description" : "Successful call",
                    "value" : {
                      "companyNumber" : "12345",
                      "name" : "AEB SE",
                      "name2" : "Name 2",
                      "name3" : "Name 3",
                      "name4" : "Name 4",
                      "street" : "Sigmaringerstr. 109",
                      "street2" : "Street 2",
                      "postcode" : "70567",
                      "city" : "Stuttgart",
                      "district" : "Möhringen",
                      "countryIsoCode" : "DE",
                      "county" : "BW",
                      "poBox" : "12345",
                      "postcodePoBox" : "70567",
                      "cityPoBox" : "Stuttgart",
                      "emailAddress" : "max.mustermann@aeb.com",
                      "phoneNumber" : "0711 12345",
                      "faxNumber" : "0711 12345",
                      "vatNumber" : "DE123456789",
                      "isEnabled" : true,
                      "homepage" : "www.aeb.com",
                      "remark" : "Logistics company",
                      "roles" : [ {
                        "identCode" : "DLSHIPPT",
                        "description" : "Versandstelle"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Either the requested company number is not unique or something went wrong during the validation.",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Company number is not unique" : {
                    "description" : "Company number is not unique",
                    "value" : {
                      "type" : "company/company-number-not-unique",
                      "status" : 400,
                      "title" : "Company not unique",
                      "detail" : "Es gibt mehrere Firmen mit der gleichen Firmennummer",
                      "timestamp" : "2024-04-24T13:34:01.051128600Z",
                      "errors" : [ ],
                      "companyNumber" : "12345"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested company not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Requested company not found" : {
                    "description" : "Requested company not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "description" : "Create or update a company with the specified ID (company number). If the company with the given ID does not exist, a new company is created. If the company exist, the existing company is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an already existing company. It is therefore recommended to use the GET/companies to check whether a company with a specific ID exists or not BEFORE you use PUT/companies/{id}.",
        "operationId" : "createOrUpdateCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID (company number).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 12345
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "examples" : {
                  "Successful call" : {
                    "description" : "Successful call",
                    "value" : {
                      "companyNumber" : "12345",
                      "name" : "AEB SE",
                      "name2" : "Name 2",
                      "name3" : "Name 3",
                      "name4" : "Name 4",
                      "street" : "Sigmaringerstr. 109",
                      "street2" : "Street 2",
                      "postcode" : "70567",
                      "city" : "Stuttgart",
                      "district" : "Möhringen",
                      "countryIsoCode" : "DE",
                      "county" : "BW",
                      "poBox" : "12345",
                      "postcodePoBox" : "70567",
                      "cityPoBox" : "Stuttgart",
                      "emailAddress" : "max.mustermann@aeb.com",
                      "phoneNumber" : "0711 12345",
                      "faxNumber" : "0711 12345",
                      "vatNumber" : "DE123456789",
                      "isEnabled" : true,
                      "homepage" : "www.aeb.com",
                      "remark" : "Logistics company",
                      "roles" : [ {
                        "identCode" : "DLSHIPPT",
                        "description" : "Versandstelle"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Either the requested company number is not unique or something went wrong during the validation.",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Company number is not unique" : {
                    "description" : "Company number is not unique",
                    "value" : {
                      "type" : "company/company-number-not-unique",
                      "status" : 400,
                      "title" : "Company not unique",
                      "detail" : "Es gibt mehrere Firmen mit der gleichen Firmennummer",
                      "timestamp" : "2024-04-24T13:34:01.051128600Z",
                      "errors" : [ ],
                      "companyNumber" : "12345"
                    }
                  },
                  "Validation error" : {
                    "description" : "Validation error",
                    "value" : {
                      "type" : "about:blank",
                      "status" : 400,
                      "title" : "Invalid data",
                      "timestamp" : "2024-04-24T13:35:11.511687Z",
                      "errors" : [ {
                        "code" : "INVALID_VALUE",
                        "message" : "darf nicht leer sein",
                        "field" : "name",
                        "value" : ""
                      }, {
                        "code" : "INVALID_VALUE",
                        "message" : "Größe muss zwischen 1 und 40 sein",
                        "field" : "name",
                        "value" : ""
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested company not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Requested company not found" : {
                    "description" : "Requested company not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Locking error",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Requested company cannot be locked" : {
                    "description" : "Requested company cannot be locked",
                    "value" : {
                      "type" : "about:blank",
                      "status" : 409,
                      "title" : "Locked",
                      "detail" : "Locking für Firma - [AEB SE] fehlgeschlagen.",
                      "timestamp" : "2024-04-24T13:43:17.602220800Z",
                      "errors" : [ ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "description" : "Delete the company with the specified ID (company number). The ID is in some AEB services <b>not unique</b>, in this case a conflict (409) is returned.",
        "operationId" : "deleteCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID (company number).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 12345
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "examples" : {
                  "Successful call" : {
                    "description" : "Successful call",
                    "value" : {
                      "companyNumber" : "12345",
                      "name" : "AEB SE",
                      "name2" : "Name 2",
                      "name3" : "Name 3",
                      "name4" : "Name 4",
                      "street" : "Sigmaringerstr. 109",
                      "street2" : "Street 2",
                      "postcode" : "70567",
                      "city" : "Stuttgart",
                      "district" : "Möhringen",
                      "countryIsoCode" : "DE",
                      "county" : "BW",
                      "poBox" : "12345",
                      "postcodePoBox" : "70567",
                      "cityPoBox" : "Stuttgart",
                      "emailAddress" : "max.mustermann@aeb.com",
                      "phoneNumber" : "0711 12345",
                      "faxNumber" : "0711 12345",
                      "vatNumber" : "DE123456789",
                      "isEnabled" : true,
                      "homepage" : "www.aeb.com",
                      "remark" : "Logistics company",
                      "roles" : [ {
                        "identCode" : "DLSHIPPT",
                        "description" : "Versandstelle"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Either the requested company number is not unique or something went wrong during the validation.",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Company number is not unique" : {
                    "description" : "Company number is not unique",
                    "value" : {
                      "type" : "company/company-number-not-unique",
                      "status" : 400,
                      "title" : "Company not unique",
                      "detail" : "Es gibt mehrere Firmen mit der gleichen Firmennummer",
                      "timestamp" : "2024-04-24T13:34:01.051128600Z",
                      "errors" : [ ],
                      "companyNumber" : "12345"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Requested company not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Requested company not found" : {
                    "description" : "Requested company not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Locking error",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Requested company cannot be locked" : {
                    "description" : "Requested company cannot be locked",
                    "value" : {
                      "type" : "about:blank",
                      "status" : 409,
                      "title" : "Locked",
                      "detail" : "Locking für Firma - [AEB SE] fehlgeschlagen.",
                      "timestamp" : "2024-04-24T13:43:17.602220800Z",
                      "errors" : [ ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies" : {
      "get" : {
        "tags" : [ "Companies" ],
        "description" : "Returns all companies matching the given filter criteria. In case no company matches the given filter criteria an empty companies collection is returned. All filter fields are case insensitive. If the filter field supports place holders ('*' or '%'), you get all companies back beginning with the value of the filter. Means a place holder at the end of the filter value is added automatically.",
        "operationId" : "searchCompanies",
        "parameters" : [ {
          "name" : "is_enabled",
          "in" : "query",
          "description" : "Use this filter field with value 'true' if you want to get enabled companies only.",
          "schema" : {
            "type" : "boolean"
          },
          "example" : false
        }, {
          "name" : "roles",
          "in" : "query",
          "description" : "Filters companies by company roles. Use the API method GET/company-roles to retrieve all company roles. When searching for more than one role, all companies including one of the given roles are returned.<br>This filter field is case insensitive.<br>Place holders are not supported.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "company_number_like",
          "in" : "query",
          "description" : "Filters companies by company number.<br>In the example, all companies whose company number begins with '123' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.<br>The company number is in some AEB services <b>not unique</b>, so the result may return more than one company with the same company number.",
          "schema" : {
            "type" : "string"
          },
          "example" : 123
        }, {
          "name" : "name_like",
          "in" : "query",
          "description" : "Filters companies by name.<br>In the example, all companies whose name begins with 'AEB' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AEB"
        }, {
          "name" : "city_like",
          "in" : "query",
          "description" : "Filters companies by city.<br>In the example, all companies whose city includes 'ttgart' are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
          "schema" : {
            "type" : "string"
          },
          "example" : "*ttgart*"
        }, {
          "name" : "postcode_like",
          "in" : "query",
          "description" : "Filters companies by postcode.<br>In the example, all companies whose postcode starts with '70' are returned.<br>This filter field is case insensitive (relevant for alphanumeric postcodes, like in GB).<br>Place holders are supported.",
          "schema" : {
            "type" : "string"
          },
          "example" : "70*"
        }, {
          "name" : "country_iso_code",
          "in" : "query",
          "description" : "Filters companies by the 2 digit country ISO code according to ISO 3166. Examples for valid codes: 'US' for USA, 'DE' for Germany, 'IT' for Italy, etc.<br>In the example, all German companies are returned.<br>This filter field is case insensitive.<br>Place holders are not supported.",
          "schema" : {
            "maxLength" : 2,
            "minLength" : 2,
            "type" : "string"
          },
          "example" : "DE"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          },
          "example" : 200
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyPage"
                },
                "examples" : {
                  "List with two companies" : {
                    "description" : "List with two companies",
                    "value" : {
                      "totalElements" : 42,
                      "content" : [ {
                        "companyNumber" : "1111",
                        "name" : "AEB GmbH",
                        "name2" : "Advanced Global Trade Solutions",
                        "street" : "Julius-Hölder-Straße 39",
                        "postcode" : "70597",
                        "city" : "Stuttgart",
                        "countryIsoCode" : "DE",
                        "emailAddress" : "info@aeb.de",
                        "phoneNumber" : "+49/711/7 28 42-300",
                        "faxNumber" : "+49/711/7 28 42-333",
                        "vatNumber" : "12345",
                        "isEnabled" : true,
                        "homepage" : "http://www.aeb.de",
                        "roles" : [ {
                          "identCode" : "DLSHIPPT",
                          "description" : "Versandstelle"
                        } ]
                      }, {
                        "companyNumber" : "2222",
                        "name" : "AEB SE",
                        "name2" : "Name 2",
                        "name3" : "Name 3",
                        "name4" : "Name 4",
                        "street" : "Sigmaringerstr. 109",
                        "street2" : "Street 2",
                        "postcode" : "70567",
                        "city" : "Stuttgart",
                        "district" : "Möhringen",
                        "countryIsoCode" : "DE",
                        "county" : "BW",
                        "poBox" : "12345",
                        "postcodePoBox" : "70567",
                        "cityPoBox" : "Stuttgart",
                        "emailAddress" : "max.mustermann@aeb.com",
                        "phoneNumber" : "0711 12345",
                        "faxNumber" : "0711 12345",
                        "vatNumber" : "DE123456789",
                        "isEnabled" : true,
                        "homepage" : "www.aeb.com",
                        "remark" : "Logistics company",
                        "roles" : [ ]
                      } ]
                    }
                  },
                  "Empty list" : {
                    "description" : "Empty list",
                    "value" : {
                      "totalElements" : 42,
                      "content" : [ ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Either the requested company role is unknown or something went wrong during the validation.",
            "content" : {
              "application/problem+json" : {
                "examples" : {
                  "Unknown company role" : {
                    "description" : "Filtered company role does not exist",
                    "value" : {
                      "type" : "about:blank",
                      "status" : 400,
                      "title" : "Invalid data",
                      "timestamp" : "2024-04-24T13:01:32.275722800Z",
                      "errors" : [ {
                        "code" : "INVALID_DATA",
                        "message" : "Unbekannte Firmenrolle",
                        "field" : "company_roles",
                        "value" : "TEST"
                      } ]
                    }
                  },
                  "Validation error" : {
                    "description" : "Invalid value for param limit",
                    "value" : {
                      "type" : "about:blank",
                      "status" : 400,
                      "title" : "Invalid data",
                      "timestamp" : "2024-04-24T13:16:04.903767200Z",
                      "errors" : [ {
                        "code" : "INVALID_VALUE",
                        "message" : "muss größer-gleich 1 sein",
                        "field" : "limit",
                        "value" : "0"
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company-roles" : {
      "get" : {
        "tags" : [ "Companies" ],
        "description" : "Returns all company roles of this AEB service. Company roles are domain specific characteristics and can differ between the different AEB services.",
        "operationId" : "getCompanyRoles",
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyRoleList"
                },
                "examples" : {
                  "All companies roles for this specific AEB service" : {
                    "description" : "All companies roles for this specific AEB service",
                    "value" : {
                      "roles" : [ {
                        "identCode" : "DLSHIPPT",
                        "description" : "Shipping point"
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wssagent/connect" : {
      "get" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Checks if workstation agent exists for given id, creates one if not exists and returns corresponding launch request. Returns response object.",
        "operationId" : "connect",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkstationSessionInfoDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        },
        "deprecated" : true
      },
      "delete" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Ends existing workstation agent. Noop if there is no agent for the id.",
        "operationId" : "disconnect0",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        },
        "deprecated" : true
      }
    },
    "/wssagent/connection/{id}" : {
      "get" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Returns response object with information about given workstation service agent.",
        "operationId" : "status0",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "details",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkstationSessionInfoDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Unknown connection id."
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        }
      },
      "post" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Checks if workstation agent exists for given id, creates one if not exists and returns corresponding launch request. Returns response object.",
        "operationId" : "connect0",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userActivityTimeoutMS",
          "in" : "query",
          "description" : "User activity timeout (in ms). The time is counted from the last 'status' request. Not recommended to use values shorter than the typical print session duration.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "examples" : {
            "empty" : {
              "description" : "empty"
            },
            "default" : {
              "description" : "default",
              "value" : 7200000
            }
          }
        }, {
          "name" : "registerTimeoutMS",
          "in" : "query",
          "description" : "Timeout (in ms) for the workstation agent launch request. The time is counted from the connection 'create' request that resulted with a launch request. Note that the agent launcher may require to download and install updates before making a connection.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "examples" : {
            "empty" : {
              "description" : "empty"
            },
            "default" : {
              "description" : "default",
              "value" : 1800000
            }
          }
        }, {
          "name" : "processingTimeoutMS",
          "in" : "query",
          "description" : "Timeout (in ms) for the agent request server side processing. Should not be less than the client long polling interval (30s).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "examples" : {
            "empty" : {
              "description" : "empty"
            },
            "default" : {
              "description" : "default",
              "value" : 300000
            }
          }
        }, {
          "name" : "nextPollingRequestTimeoutMS",
          "in" : "query",
          "description" : "Timeout (in ms) for the agent to send the next long polling request. Values smaller than 30-60 seconds may result in premature disconnection of sessions under unstable network conditions.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "examples" : {
            "empty" : {
              "description" : "empty"
            },
            "default" : {
              "description" : "default",
              "value" : 60000
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkstationSessionInfoDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        }
      },
      "delete" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Ends existing workstation agent. Noop if there is no agent for the id.",
        "operationId" : "disconnect1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        }
      }
    },
    "/wssagent/status" : {
      "get" : {
        "tags" : [ "WorkstationServiceAgent" ],
        "description" : "Returns response object with information about given workstation service agent.",
        "operationId" : "status",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "details",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkstationSessionInfoDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication is missing."
          }
        },
        "deprecated" : true
      }
    },
    "/carriers/{id}" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns the carrier with the requested ID.",
        "operationId" : "getCarrier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Carrier"
                },
                "examples" : {
                  "Carrier entry" : {
                    "description" : "Carrier entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT",
                      "name" : "DHL Paket international",
                      "isCarrierValidationSupported" : true,
                      "isBillingAdapterSupported" : true
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier with the given ID not Found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Carrier not found " : {
                    "description" : "Carrier not found ",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update the carrier with the specified ID. If the carrier with the given ID does not exist, a new carrier is created. If the carrier exists, the existing carrier is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing carrier. It is therefore recommended to use GET/carriers to check whether a carrier with an ID already exists BEFORE you use PUT/carriers/{id}.",
        "operationId" : "createOrUpdateCarrier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Creates a new carrier with the ID 'DHLPAKETINT', if the carrier does not exist. Otherwise fully updates the carrier 'DHLPAKETINT' according to the filled data fields in the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Carrier"
              },
              "examples" : {
                "Carrier entry" : {
                  "description" : "Carrier entry",
                  "value" : {
                    "identCode" : "DHLPAKETINT",
                    "name" : "DHL Paket international",
                    "isCarrierValidationSupported" : true,
                    "isBillingAdapterSupported" : true
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Carrier"
                },
                "examples" : {
                  "Carrier entry" : {
                    "description" : "Carrier entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT",
                      "name" : "DHL Paket international",
                      "isCarrierValidationSupported" : true,
                      "isBillingAdapterSupported" : true
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Carrier" ],
        "description" : "Delete the carrier with the specified ID.",
        "operationId" : "deleteCarrier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Carrier"
                },
                "examples" : {
                  "Carrier entry" : {
                    "description" : "Carrier entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT",
                      "name" : "DHL Paket international",
                      "isCarrierValidationSupported" : true,
                      "isBillingAdapterSupported" : true
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier with the given Id not Found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Carrier not found " : {
                    "description" : "Carrier not found ",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns all carriers matching the given filter criteria. In case no carrier matches the given filter criteria, an empty collection is returned. If the filter field supports place holders ('*' or '%'), you get all carriers back beginning with the value of the filter. I.e. a place holder at the end of the filter value is added automatically.",
        "operationId" : "searchCarriers",
        "parameters" : [ {
          "name" : "ident_code_like",
          "in" : "query",
          "description" : "Filter carriers by ident code.<br>In the example, all carriers which include 'DHL' are returned.<br>This filter field is case insensitive.<br>Place holders are supported. The ident code is unique.",
          "schema" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string"
          },
          "example" : "*DHL*"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The starting point from which to return elements of the ordered list.<br><i>Minimum : 0</i>",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of elements to be returned from the ordered list.<br><i>Minimum : 1</i><br><i>Maximum : 1000</i>",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          },
          "example" : 200
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierPage"
                },
                "examples" : {
                  "Carrier list" : {
                    "description" : "Carrier list",
                    "value" : {
                      "totalElements" : "2",
                      "content" : [ {
                        "identCode" : "UPS",
                        "name" : "UPS EMEA",
                        "isCarrierValidationSupported" : true,
                        "isBillingAdapterSupported" : true
                      }, {
                        "identCode" : "DHLPAKETINT",
                        "name" : "DHL Paket international",
                        "isCarrierValidationSupported" : true,
                        "isBillingAdapterSupported" : true
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/info-texts" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns all info texts of a carrier.",
        "operationId" : "getInfoTexts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierInfoText"
                },
                "examples" : {
                  "Info text list" : {
                    "description" : "Info text list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DNF",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "Nicht einfrieren"
                        }, {
                          "language" : "EN",
                          "description" : "Do no freeze"
                        } ]
                      }, {
                        "identCode" : "DNS",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "Nicht schütteln"
                        }, {
                          "language" : "EN",
                          "description" : "Do no shake"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update all info texts of the specified carrier. If the info text with the given ID does not exist, a new info text is created. If the info text exists, the existing info text is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing info text. It is therefore recommended to use GET/carriers/{id}/info-texts to check whether an info text with an ID already exists BEFORE you use PUT/carriers/{id}/info-texts.",
        "operationId" : "createOrUpdateAllInfoTexts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierInfoTextList"
              },
              "examples" : {
                "Info text list request" : {
                  "description" : "Info text list request",
                  "value" : {
                    "content" : [ {
                      "identCode" : "DNF",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "Nicht einfrieren"
                      }, {
                        "language" : "EN",
                        "description" : "Do no freeze"
                      } ]
                    }, {
                      "identCode" : "DNS",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "Nicht schütteln"
                      }, {
                        "language" : "EN",
                        "description" : "Do no shake"
                      } ]
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierInfoTextList"
                },
                "examples" : {
                  "Info text list" : {
                    "description" : "Info text list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DNF",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "Nicht einfrieren"
                        }, {
                          "language" : "EN",
                          "description" : "Do no freeze"
                        } ]
                      }, {
                        "identCode" : "DNS",
                        "translations" : [ {
                          "language" : "DE",
                          "description" : "Nicht schütteln"
                        }, {
                          "language" : "EN",
                          "description" : "Do no shake"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/info-texts/{info-text-id}" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns the info text of a carrier with the requested ID.",
        "operationId" : "getInfoText",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "info-text-id",
          "in" : "path",
          "description" : "The requested carrier info text ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DNF"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierInfoText"
                },
                "examples" : {
                  "Info text entry" : {
                    "description" : "Info text entry",
                    "value" : {
                      "identCode" : "DNF",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "Nicht einfrieren"
                      }, {
                        "language" : "EN",
                        "description" : "Do no freeze"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier info text for the given ID and carrier not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Info text not found" : {
                    "description" : "Info text not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update an info text with the specified ID. If the info text with the given ID does not exist, a new info text is created. If the info text exists, the existing info text is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing info text. It is therefore recommended to use GET/carriers/{id}/info-texts to check whether an info text with an ID already exists BEFORE you use PUT/carriers/{id}/info-texts/{id}",
        "operationId" : "createOrUpdateInfoText",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "info-text-id",
          "in" : "path",
          "description" : "The requested carrier info text ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DNF"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierInfoText"
              },
              "examples" : {
                "Infotext request" : {
                  "description" : "Infotext request",
                  "value" : {
                    "identCode" : "DNF",
                    "translations" : [ {
                      "language" : "DE",
                      "description" : "Nicht einfrieren"
                    }, {
                      "language" : "EN",
                      "description" : "Do no freeze"
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierInfoText"
                },
                "examples" : {
                  "Info text entry" : {
                    "description" : "Info text entry",
                    "value" : {
                      "identCode" : "DNF",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "Nicht einfrieren"
                      }, {
                        "language" : "EN",
                        "description" : "Do no freeze"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Carrier" ],
        "description" : "Deletes the info text of a carrier with the requested ID.",
        "operationId" : "deleteInfoText",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "info-text-id",
          "in" : "path",
          "description" : "The requested carrier info text ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DNF"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierInfoText"
                },
                "examples" : {
                  "Info text entry " : {
                    "description" : "Info text entry ",
                    "value" : {
                      "identCode" : "DNF",
                      "translations" : [ {
                        "language" : "DE",
                        "description" : "Nicht einfrieren"
                      }, {
                        "language" : "EN",
                        "description" : "Do no freeze"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier info text for the given ID and carrier not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Info text not found" : {
                    "description" : "Info text not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/services" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns all services of a carrier.",
        "operationId" : "getServices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierService"
                },
                "examples" : {
                  "Service list" : {
                    "description" : "Service list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DHLPAKETINT",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "DHL Paket int."
                        }, {
                          "language" : "EN",
                          "name" : "DHL Paket int."
                        } ]
                      }, {
                        "identCode" : "DHLPAKETINT_PREM",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "DHL Paket int. Premium"
                        }, {
                          "language" : "EN",
                          "name" : "DHL Paket int. Premium"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update all services of specified carrier. If a service with a given ID does not exist, a new service is created. If the service exists, the existing service is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing service. It is therefore recommended to use GET/carriers/{id}/services to check whether a service with a id already exists BEFORE you use PUT/carriers/{id}/services.",
        "operationId" : "createOrUpdateAllServices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierServiceList"
              },
              "examples" : {
                "Service list request" : {
                  "description" : "Service list request",
                  "value" : {
                    "content" : [ {
                      "identCode" : "DHLPAKETINT",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "DHL Paket int."
                      }, {
                        "language" : "EN",
                        "name" : "DHL Paket int."
                      } ]
                    }, {
                      "identCode" : "DHLPAKETINT_PREM",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "DHL Paket int. Premium"
                      }, {
                        "language" : "EN",
                        "name" : "DHL Paket int. Premium"
                      } ]
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierServiceList"
                },
                "examples" : {
                  "Service list" : {
                    "description" : "Service list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DHLPAKETINT",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "DHL Paket int."
                        }, {
                          "language" : "EN",
                          "name" : "DHL Paket int."
                        } ]
                      }, {
                        "identCode" : "DHLPAKETINT_PREM",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "DHL Paket int. Premium"
                        }, {
                          "language" : "EN",
                          "name" : "DHL Paket int. Premium"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/services/{service-id}" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns the service of the carrier with the requested ID.",
        "operationId" : "getService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of a service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT_PREM"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierService"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT_PREM",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "DHL Paket int. Premium"
                      }, {
                        "language" : "EN",
                        "name" : "DHL Paket int. Premium"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier service for he given ID and carrier not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Service not found" : {
                    "description" : "Service not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update a service with the specified ID. If the service with the given id does not exist, a new service is created. If the service exist, the existing service is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing service. It is therefore recommended to use the GET/carriers/{id}/services to check whether a service with a ID already exists BEFORE you use  PUT/carriers/{id}/services/{id}",
        "operationId" : "createOrUpdateService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of a service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT_PREM"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierService"
              },
              "examples" : {
                "Service request" : {
                  "description" : "Service request",
                  "value" : {
                    "identCode" : "DHLPAKETINT_PREM",
                    "translations" : [ {
                      "language" : "DE",
                      "name" : "DHL Paket int. Premium"
                    }, {
                      "language" : "EN",
                      "name" : "DHL Paket int. Premium"
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierService"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT_PREM",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "DHL Paket int. Premium"
                      }, {
                        "language" : "EN",
                        "name" : "DHL Paket int. Premium"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Carrier" ],
        "description" : "Deletes the service of the carrier with the requested ID.",
        "operationId" : "deleteService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "service-id",
          "in" : "path",
          "description" : "The requested ID of a service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT_PREM"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierService"
                },
                "examples" : {
                  "Service entry" : {
                    "description" : "Service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINT_PREM",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "DHL Paket int. Premium"
                      }, {
                        "language" : "EN",
                        "name" : "DHL Paket int. Premium"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Service for the given ID and carrier not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Service not found" : {
                    "description" : "Service not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/value-added-services" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns all value added services of a carrier.",
        "operationId" : "getValueAddedServices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierValueAddedServiceList"
                },
                "examples" : {
                  "Value added service list" : {
                    "description" : "Value added service list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DHLPAKETINTCDP",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "Closest Droppoint"
                        }, {
                          "language" : "EN",
                          "name" : "Closest Droppoint"
                        } ]
                      }, {
                        "identCode" : "DHLPAKETINTBULKY",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "Sperrgut"
                        }, {
                          "language" : "EN",
                          "name" : "Bulky goods"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update all value added services of a carrier with the requested ID. If a value added service with a given ID does not exist, a new value added service is created. If the value added service exists, the value added service carrier is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing carrier. It is therefore recommended to use GET/carriers/{id}/value-added-services to check whether a carrier with an ID already exists BEFORE you use PUT /carriers/{id}/value-added-services/{id}.",
        "operationId" : "createOrUpdateAllValueAddedServices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierValueAddedServiceList"
              },
              "examples" : {
                "Value added Service list request" : {
                  "description" : "Value added Service list request",
                  "value" : {
                    "content" : [ {
                      "identCode" : "DHLPAKETINTCDP",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "Closest Droppoint"
                      }, {
                        "language" : "EN",
                        "name" : "Closest Droppoint"
                      } ]
                    }, {
                      "identCode" : "DHLPAKETINTBULKY",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "Sperrgut"
                      }, {
                        "language" : "EN",
                        "name" : "Bulky goods"
                      } ]
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierValueAddedServiceList"
                },
                "examples" : {
                  " Value added service list" : {
                    "description" : " Value added service list",
                    "value" : {
                      "content" : [ {
                        "identCode" : "DHLPAKETINTCDP",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "Closest Droppoint"
                        }, {
                          "language" : "EN",
                          "name" : "Closest Droppoint"
                        } ]
                      }, {
                        "identCode" : "DHLPAKETINTBULKY",
                        "translations" : [ {
                          "language" : "DE",
                          "name" : "Sperrgut"
                        }, {
                          "language" : "EN",
                          "name" : "Bulky goods"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{id}/value-added-services/{value-added-service-id}" : {
      "get" : {
        "tags" : [ "Carrier" ],
        "description" : "Returns a value added service of a carrier with the requested ID.",
        "operationId" : "getValueAddedService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "value-added-service-id",
          "in" : "path",
          "description" : "The requested ID of the value added service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINTCDP"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierValueAddedService"
                },
                "examples" : {
                  "Value added Service entry" : {
                    "description" : "Value added Service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINTCDP",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "Closest Droppoint"
                      }, {
                        "language" : "EN",
                        "name" : "Closest Droppoint"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier value added service for the given ID and carrier not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Value added service not found" : {
                    "description" : "Value added service not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Carrier" ],
        "description" : "Create or update a value added service of a carrier with the requested ID. If the value added service with the given ID does not exist, a new value added service is created. If the value added service exists, the existing value added service is fully updated. Not filled fields in the request are treated thereby as empty data fields and lead to empty fields in an existing value added service. It is therefore recommended to use GET/carriers/{id}/value-added-services to check whether a value added service with an ID already exists BEFORE you use PUT /carriers/{id}/value-added-services/{id}.",
        "operationId" : "createOrUpdateValueAddedService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "value-added-service-id",
          "in" : "path",
          "description" : "The requested ID of the value added service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINTCDP"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CarrierValueAddedService"
              },
              "examples" : {
                "Value added Service request" : {
                  "description" : "Value added Service request",
                  "value" : {
                    "identCode" : "DHLPAKETINTCDP",
                    "translations" : [ {
                      "language" : "DE",
                      "name" : "Closest Droppoint"
                    }, {
                      "language" : "EN",
                      "name" : "Closest Droppoint"
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierValueAddedService"
                },
                "examples" : {
                  "Value added service entry" : {
                    "description" : "Value added service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINTCDP",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "Closest Droppoint"
                      }, {
                        "language" : "EN",
                        "name" : "Closest Droppoint"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Something went wrong during the call",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AebProblem"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Carrier" ],
        "description" : "Deletes a value added service of a carrier with the requested ID.",
        "operationId" : "deleteValueAddedService",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The requested ID of a carrier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINT"
        }, {
          "name" : "value-added-service-id",
          "in" : "path",
          "description" : "The requested ID of the value added service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DHLPAKETINTCDP"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierValueAddedService"
                },
                "examples" : {
                  "Value added service entry" : {
                    "description" : "Value added service entry",
                    "value" : {
                      "identCode" : "DHLPAKETINTCDP",
                      "translations" : [ {
                        "language" : "DE",
                        "name" : "Closest Droppoint"
                      }, {
                        "language" : "EN",
                        "name" : "Closest Droppoint"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Carrier value added service for the given ID and carrier no found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Value added service not found" : {
                    "description" : "Value added service not found",
                    "value" : {
                      "errorMessage" : "HTTP 404 Not Found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/RoutingBFBean/createRoutingTask" : {
      "post" : {
        "tags" : [ "Routing" ],
        "summary" : "createRoutingTask",
        "description" : "Creates a new routing task and returns a unique task id.<br> <br> In case of successful creation, the response will contain the unique taskId of the created routing task. The respective routing task can be found by this task id. Proposal calculation starts in an asynchronous process. The current state of calculation can be requested by handing over the provided task id via the call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO) or waitForRoutingTaskResult(WaitForRoutingTaskResultRequestDTO).<br>",
        "operationId" : "createRoutingTask",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoutingTaskRequestDTO"
              },
              "examples" : {
                "Basic data" : {
                  "description" : "Basic data",
                  "value" : {
                    "clientSystemId" : "MY_SYSTEM",
                    "clientIdentCode" : "MY_CLIENT",
                    "userName" : "MY_USERNAME",
                    "resultLanguageIsoCodes" : [ "de" ],
                    "routingTask" : {
                      "referenceNumber" : "REF_NO",
                      "handlingUnits" : [ {
                        "numberOfHandlingUnits" : 1,
                        "singleGrossWeight" : {
                          "value" : 5,
                          "unit" : "kg"
                        },
                        "singleDimensions" : {
                          "length" : 10,
                          "width" : 20,
                          "height" : 30,
                          "quantityUnit" : "cm"
                        },
                        "handlingUnitType" : "PALLET",
                        "dangerousGoodsCode" : {
                          "handlingCode" : "NONE"
                        }
                      } ],
                      "startLocation" : {
                        "address" : {
                          "referenceCode" : "AEB",
                          "name" : "AEB HQ",
                          "street" : "Sigmaringer Straße 109",
                          "postcode" : "70567",
                          "city" : "Stuttgart",
                          "countryISOCode" : "DE",
                          "stateRegion" : "BW"
                        }
                      },
                      "endLocation" : {
                        "address" : {
                          "referenceCode" : "AEB MZ",
                          "name" : "AEB Mainz",
                          "street" : "Dekan-Laist-Str. 13",
                          "postcode" : "55129",
                          "city" : "Mainz",
                          "countryISOCode" : "DE",
                          "stateRegion" : "RLP"
                        }
                      },
                      "decisiveDate" : "2020-12-31"
                    }
                  }
                },
                "Complete data" : {
                  "description" : "Complete data",
                  "value" : {
                    "clientSystemId" : "MY_SYSTEM",
                    "clientIdentCode" : "MY_CLIENT",
                    "userName" : "MY_USERNAME",
                    "resultLanguageIsoCodes" : [ "de" ],
                    "routingTask" : {
                      "referenceNumber" : "REF_NO",
                      "routingParms" : {
                        "ratingProfile" : "DEFAULT"
                      },
                      "handlingUnits" : [ {
                        "numberOfHandlingUnits" : 1,
                        "singleGrossWeight" : {
                          "value" : 5.0,
                          "unit" : "kg"
                        },
                        "singleDimensions" : {
                          "length" : 10.0,
                          "width" : 20.0,
                          "height" : 30.0,
                          "quantityUnit" : "cm"
                        },
                        "handlingUnitType" : "PALLET",
                        "dangerousGoodsCode" : {
                          "handlingCode" : "NONE"
                        }
                      } ],
                      "parties" : [ {
                        "address" : {
                          "referenceCode" : "AEB",
                          "name" : "AEB SE",
                          "street" : "Sigmaringer Straße 109",
                          "postcode" : "70567",
                          "city" : "Stuttgart",
                          "countryISOCode" : "DE",
                          "stateRegion" : "BW"
                        },
                        "partyRole" : "SHIPPER"
                      } ],
                      "startLocation" : {
                        "address" : {
                          "referenceCode" : "AEB",
                          "name" : "AEB SE",
                          "street" : "Sigmaringer Straße 109",
                          "postcode" : "70567",
                          "city" : "Stuttgart",
                          "countryISOCode" : "DE",
                          "stateRegion" : "BW"
                        }
                      },
                      "endLocation" : {
                        "hopRef" : {
                          "identCode" : "FRA"
                        }
                      },
                      "decisiveDate" : "2020-12-31",
                      "readyForShippingDate" : {
                        "dateInTimezone" : "2020-12-24 12:00:00",
                        "timezone" : "GMT+01:00"
                      },
                      "confirmedDeliveryDate" : {
                        "dateInTimezone" : "2020-12-31 18:00:00",
                        "timezone" : "GMT+01:00"
                      },
                      "termsOfDeliveryCode" : "DDP",
                      "requirements" : [ {
                        "requirementType" : "SERVICE_LEVEL",
                        "requirementCode" : "EXPRESS"
                      } ],
                      "isDocumentShipment" : false,
                      "loadingMeters" : 5,
                      "palletPlaces" : 2,
                      "addFreightCalculationData" : {
                        "modeOfTransportIdentCode" : "AIR",
                        "distance" : {
                          "value" : 100.0,
                          "unit" : "km"
                        },
                        "goodsValue" : {
                          "value" : 1000.0,
                          "currencyIso" : "EUR"
                        },
                        "customsValue" : {
                          "value" : 500.0,
                          "currencyIso" : "EUR"
                        },
                        "numberOfDeliveryNotes" : 1,
                        "numberOfInvoices" : 2
                      }
                    }
                  }
                }
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoutingTaskRequestDTO"
              },
              "examples" : {
                "Basic data" : {
                  "description" : "Basic data",
                  "value" : {
                    "clientSystemId" : "MY_SYSTEM",
                    "clientIdentCode" : "MY_CLIENT",
                    "userName" : "MY_USERNAME",
                    "resultLanguageIsoCodes" : [ "de" ],
                    "routingTask" : {
                      "referenceNumber" : "REF_NO",
                      "handlingUnits" : [ {
                        "numberOfHandlingUnits" : 1,
                        "singleGrossWeight" : {
                          "value" : 5,
                          "unit" : "kg"
                        },
                        "singleDimensions" : {
                          "length" : 10,
                          "width" : 20,
                          "height" : 30,
                          "quantityUnit" : "cm"
                        },
                        "handlingUnitType" : "PALLET",
                        "dangerousGoodsCode" : {
                          "handlingCode" : "NONE"
                        }
                      } ],
                      "startLocation" : {
                        "address" : {
                          "referenceCode" : "AEB",
                          "name" : "AEB HQ",
                          "street" : "Sigmaringer Straße 109",
                          "postcode" : "70567",
[...]
