openapi: 3.2.0
info:
  title: Aeb Shipping API
  version: '1.0'
  description: 'Operations tagged Shipping across 2 of this provider''s published API definitions: aeb-bsm-openapi.json, aeb-carrier-connect-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rz3.aeb.de/test2bsm/rest
- url: https://rz3.aeb.de/demo1cai/rest
security:
- SWAGGER_AUTH_KEY: []
- BASIC_AUTH: []
tags:
- name: Shipping
  description: API for the CarrierEngine service
paths:
  /DLCarrierBFBean/addShipmentAttachments:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: addShipmentAttachments
      description: Adds attachments to a shipment (e.g. invoices, origin documents, etc.).
      operationId: addShipmentAttachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLAddShipmentAttachmentsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLAddShipmentAttachmentsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLAddShipmentAttachmentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLAddShipmentAttachmentsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/cancelShipment:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: cancelShipment
      description: Cancels a shipment.
      operationId: cancelShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLCancelShipmentRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLCancelShipmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLCancelShipmentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLCancelShipmentResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/createPickup:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: createPickup
      description: Creates a new pickup for the shipments specified in the request.<br> Depending on the request, an error may be returned when the shipments can't form a single pickup, e.g. when they have different carriers.<br> Optionally the new pickup can be manifested. That means that the EDI is sent to the carrier if necessary and the pickup will be closed.<br> When specified in request, the manifest documents are printed.
      operationId: createPickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLCreatePickupRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLCreatePickupRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLCreatePickupResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLCreatePickupResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/createShipment:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: createShipment
      description: Creates a shipment with the data specified in the shipment request.<br> An error will be returned when the shipment exists already.<br> Optionally various operations like label preparation and label output can be applied on the shipment. A complete processing including the pickup assignment is also possible.<br> The operations are handled asynchronously, so operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.
      operationId: createShipment_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLCreateShipmentRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLCreateShipmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLCreateShipmentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLCreateShipmentResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/deleteItem:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: deleteItem
      description: Deletes an existing item. Packages containing items remain in the shipment and can be packed again with processShipment. Deleting a item is not always possible. It mainly depends on the status of the package containing the item and the shipment.
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLDeleteItemRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLDeleteItemRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLDeleteItemResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLDeleteItemResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/deletePackage:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: deletePackage
      description: Deletes an existing package. Packed items remain unpacked in the shipment and can be packaged again with processShipment. Deleting a package is not always possible. It mainly depends on the status of the package and the shipment.
      operationId: deletePackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLDeletePackageRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLDeletePackageRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLDeletePackageResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLDeletePackageResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/deletePickup:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: deletePickup
      description: 'Cancels an existing pickup. All shipments are removed from the pickup and must be assigned to a new pickup by another <code>createPickup</code> call.<br> Warning: EDI data for the existing pickup might have already been sent to the carrier. So check with the carrier that it''s fine to cancel the pickup and create a new (differing) one.'
      operationId: deletePickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLDeletePickupRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLDeletePickupRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLDeletePickupResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLDeletePickupResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getAllCarriers:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getAllCarriers
      description: Returns a list of all carrier available for the requested client.
      operationId: getAllCarriers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetAllCarriersRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetAllCarriersRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetAllCarriersResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetAllCarriersResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getCarrierPortfolioNames:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getCarrierPortfolioNames
      description: Returns a list of the names of all supported carriers.
      operationId: getCarrierPortfolioDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getCarrierPortfolioDetails:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getCarrierPortfolioDetails
      description: Returns detailed information about the requested carriers.
      operationId: getCarrierPortfolioNames
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getCarrierProperties:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getCarrierProperties
      description: Returns the properties of the requested carrier.
      operationId: getCarrierProperties
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPropertiesRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetCarrierPropertiesRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPropertiesResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetCarrierPropertiesResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getPickups:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getPickups
      description: Returns detail information about specific pickups.
      operationId: getPickups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetPickupsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetPickupsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetPickupsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetPickupsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/getShipments:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: getShipments
      description: Returns detail information about specific shipments.
      operationId: getShipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLGetShipmentsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLGetShipmentsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLGetShipmentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLGetShipmentsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/processPackage:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: processPackage
      description: Allows to perform various operations on an existing package. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a further <code>processPackage</code> call, a <code>syncShipments</code> or <code>getShipments</code> call.
      operationId: processPackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLProcessPackageRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLProcessPackageRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLProcessPackageResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLProcessPackageResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/processPackageReturnEnclosedLabel:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: processPackageReturnEnclosedLabel
      description: Returns a return enclosed label in case of a return shipment.
      operationId: processPackageReturnEnclosedLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/processPickup:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: processPickup
      description: Prints or reprints the manifest documents for the pickup. Mainly to be used, when manifest documents were not printed with the <code>createPickup</code> call or if a reprint of the documents is necessary.
      operationId: processPickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLProcessPickupRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLProcessPickupRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLProcessPickupResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLProcessPickupResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/processShipment:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: processShipment
      description: Allows to add packages or perform various operations on an existing shipment. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.
      operationId: processShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLProcessShipmentRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLProcessShipmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLProcessShipmentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLProcessShipmentResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/syncPickups:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: syncPickups
      description: Allows the synchronization of client system transactions with the engine pickups. By the use of a syncId it is possible to return only pickups that have changed between two syncPickups calls.
      operationId: syncPickups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLSyncPickupsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLSyncPickupsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLSyncPickupsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLSyncPickupsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/syncShipments:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: syncShipments
      description: Allows the synchronization of client system transactions with the engine shipments. By the use of a syncId it is possible to return only shipments that have changed between two syncShipments calls.
      operationId: syncShipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLSyncShipmentsRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLSyncShipmentsRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLSyncShipmentsResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLSyncShipmentsResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/updateCustomsData:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: updateCustomsData
      description: Updates customs data for one existing shipment. Updates data on shipment and item level. Updates customs relevant data only.
      operationId: updateCustomsData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLUpdateCustomsDataRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLUpdateCustomsDataRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLUpdateCustomsDataResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLUpdateCustomsDataResponseDTO'
      security:
      - BASIC_AUTH: []
  /DLCarrierBFBean/validateShipment:
    servers:
    - url: https://rz3.aeb.de/test2bsm/rest
    post:
      tags:
      - Shipping
      summary: validateShipment
      description: Validates a shipment with the data specified in the shipment request.<br> Various validation operations can be applied on the shipment to determine, whether the shipment can be processed.
      operationId: validateShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DLValidateShipmentRequestDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/DLValidateShipmentRequestDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLValidateShipmentResponseDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/DLValidateShipmentResponseDTO'
      security:
      - BASIC_AUTH: []
components:
  schemas:
    DLShipmentCarrierInfoTextDTO:
      required:
      - identCode
      type: object
      properties:
        identCode:
          type: string
          description: Carrier info text ident code.<br> <p>length=20</p>
        parameter:
          type: string
          description: An (optional) parameter for the info text.  <p> length=512 </p>
      description: DTO specifying a carrier's info text for a shipment.
    DLGetAllCarriersRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
      description: Request DTO to retrieve the codes and names of all available carriers for a client.
      xml:
        name: getAllCarriersRequestDTO
    DLPackageCumulationRequestDataDTO:
      required:
      - numberOfPackages
      - packageTypeIdentCode
      type: object
      properties:
        numberOfPackages:
          type: integer
          description: The number of packages. <p> length=3 </p>
          format: int32
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        packageSpecificeContents:
          type: string
          description: The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>
        weight:
          $ref: '#/components/schemas/QuantityDTO'
        volume:
          $ref: '#/components/schemas/QuantityDTO'
        loadingMeters:
          type: number
          description: The loading meters needed for the packages. <p>length=10, scale=3</p>
        palletPlaces:
          type: number
          description: The pallet places needed for the packages. <p>length=10, scale=3</p>
      description: DTO for package cumulation data.
    DLAddShipmentAttachmentsRequestDTO:
      required:
      - shipmentReference
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        shipmentReference:
          $ref: '#/components/schemas/DLShipmentReferenceDTO'
        mode:
          type: string
          description: 'Manages how the system should react if an attachment already exists. If empty mode ''ADD'' will be used. The filter criteria for an existing attachment is the file name and an existing content.<p> Possible values: <ul> <li> ADD</li> <li> UPDATE</li> <li> SKIP</li> </ul> </p>'
        attachments:
          type: array
          description: List of attachments to add.
          items:
            $ref: '#/components/schemas/DLAttachmentDTO'
      description: Request DTO for the addShipmentAttachments business facade method
      xml:
        name: addShipmentAttachmentsRequestDTO
    DLShipmentPickupEDIDTO:
      type: object
      properties:
        ediNumber:
          type: string
          description: <p>Unique number of EDI message.</p> <p>length = 25</p>
        ediDescription:
          type: string
          description: <p>Description of the EDI message (and of the EDI setup).</p> <p>length = 500</p>
        carrierEDINumber:
          type: string
          description: <p>Number uniquely identifying the EDI message for carrier.</p> <p>length = 50</p>
        isManifested:
          type: boolean
          description: <p>Indicates that the EDI message has been transmitted to the carrier.</p>
        isManifestedWithErrors:
          type: boolean
          description: <p>Indicates that an error occurred while transmitting the EDI message.</p>
        isManifestedWithWarnings:
          type: boolean
          description: <p>Indicates that warnings occurred while transmitting the EDI message. However, the EDI message has been accepted by the carrier. The reasons for the warnings should be corrected during the next transmissions.</p>
        unconfirmedErrorCode:
          type: string
          description: <p>If an error occurred while transmitting the EDI message and an error code was available, it is return in this field.</p> <p>length = 10</p>
        unconfirmedMessage:
          type: string
          description: <p>If an error occurred while transmitting the EDI message, its message is returned in this field.</p> <p>length = 999</p>
        ediSetupIdentCode:
          type: string
          description: <p>Unique identifier of the EDI definition.</p> <p>length = 20</p>
        boStatus:
          $ref: '#/components/schemas/ComboboxEntryDTO'
        numberOfShipmentsInEDI:
          type: integer
          description: <p>The number of shipping orders contained in the EDI message.</p>
          format: int32
        shipmentReferences:
          type: array
          description: <p>The shipments included in the EDI message.</p>
          items:
            $ref: '#/components/schemas/DLShipmentReferenceDTO'
      description: Response-DTO for an EDI message for a pickup.
    DLShipmentItemReferenceTextUCDDTO:
      type: object
      properties:
        type:
          type: string
          description: '<p>

            The type of the reference number or text. Valid values are:

            <li>MERCHANT_PRODUCT_ID - Merchant product identifier.</li>

            <li>MFR_PRODUCT_ID_NONSTD - Non-standardised manufacturer product identifier.</li>

            <li>MFR_PRODUCT_ID_STD - Standardised manufacturer product identifier.</li>

            </p>

            <p>length=30</p>

            '
        value:
          type: string
          description: The value of the reference number or text. <p> length=500 </p>
      description: DTO for reference numbers and texts of a certain (predefined) type. This is the same DTO like DLShipmentItemReferenceTextDTO, but supports fewer types.
    DLShipmentCreationParmsDTO:
      required:
      - creationMode
      type: object
      properties:
        creationMode:
          type: string
          description: '<p> Controls the creation of the shipment and/or it''s packages as a transaction in the carrier engine. This is necessary for further processing like label printing or EDI generation. Valid values are: <li>VALIDATION_OK The shipment/packages is/are only created, when the shipment could be validated. Otherwise validation warnings will be returned in the response. <li>ALWAYS The shipment/packages is/are created even if validation fails and validation warnings are returned. Those warnings can either be corrected manually using the GUI or the shipment has to be cancelled via a <code>cancelShipment</code> call and retransmitted with a <code>createShipment</code> call. The cancel step is necessary because a direct retransmission of existing shipments and packages is not allowed. </p> Mandatory field.<br> <p> length=15 </p>'
      description: Creation parameters for a shipment. Specifies when and how to create a shipment or it's packages.
    DLAttachmentDTO:
      type: object
      properties:
        filename:
          type: string
          description: File name including a file extension <p>lenght = 250 </p>.
        mimeType:
          type: string
          description: 'The MIME type of the document. Possible values: <ol> <li>"application/pdf" document is in PDF format <li>"printer/raw" document is in printer language (e.g. ZPL or EPL) and can be directly sent to a printer <li>"image/<code>format</code>" document is a printable image. <code>format</code> can be "png", "jpeg", etc. </ol> <p> length = 30 </p>'
        data:
          type: string
          description: Attachment data/content.
          format: byte
        contentType:
          type: string
          description: 'Attachment type.<br> Indicates the business content of the document towards the carrier. If empty, the carrier''s default is used. <p> Possible values: <ul> <li> COMMERCIAL_INVOICE</li> <li> PRO_FORMA_INVOICE</li> <li> CERTIFICATE_OF_ORIGIN</li> <li> NAFTA_CERTIFICATE_OF_ORIGIN</li> <li> EXPORT_ACCOMPANYING_DOCUMENT</li><li> PACKING_LIST</li><li> WEIGHT_DECLARATION</li><li> SHIPPERS_DECLARATION</li><li> DELIVERY_NOTE</li><li> MOVEMENT_CERTIFICATE_ATR</li><li> MOVEMENT_CERTIFICATE_EUR1</li><li> LETTER_OF_CREDIT</li><li> CERTIFICATE_OF_COMPLIANCE</li><li> CERTIFICATE_OF_MANUFACTURER</li><li> CERTIFICATE_OF_WARRANTY</li><li> CERTIFICATE_OF_WEIGHTANDQUANTITY</li><li> NONWOOD_PACKING_DECLARATION</li><li> OTHER</li> </ul> </p> <p> length=30 </p>'
      description: DTO to hold attachment data.
    DLValidateShipmentRequestDTO:
      required:
      - shipment
      - validationParms
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        shipment:
          $ref: '#/components/schemas/DLShipmentRequestDataDTO'
        validationParms:
          $ref: '#/components/schemas/DLShipmentValidationParmsDTO'
      description: DTO class for shipment validation request data.
      xml:
        name: validateShipmentRequestDTO
    DLCancelShipmentRequestDTO:
      required:
      - processParms
      - shipmentReference
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        shipmentReference:
          $ref: '#/components/schemas/DLShipmentReferenceDTO'
        processParms:
          $ref: '#/components/schemas/DLShipmentCancelParmsDTO'
      description: Request DTO for the cancelShipment business facade method
      xml:
        name: cancelShipmentRequestDTO
    DLContainerDataDTO:
      type: object
      properties:
        verifiedGrossMass:
          $ref: '#/components/schemas/QuantityDTO'
        verificationMethod:
          type: string
          description: 'Method for verifying the gross mass of the container. Valid values are: <ul> <li>METHOD_1</li> <li>METHOD_2</li> </ul> <br> <p> length=8 </p>'
        verificationContactName:
          type: string
          description: Name of the person responsible for determining and passing on the VGM. <p> length = 35 </p>
      description: DTO containing data for container package types.
    DLProcessPackageRequestDTO:
      required:
      - packageReference
      - processParms
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        packageReference:
          $ref: '#/components/schemas/DLPackageReferenceDTO'
        processParms:
          $ref: '#/components/schemas/DLPackageProcessParmsDTO'
        targetShipmentReference:
          $ref: '#/components/schemas/DLShipmentReferenceDTO'
        masterPackageReference:
          $ref: '#/components/schemas/DLMasterPackageReferenceDTO'
        items:
          type: array
          description: The items to be added to the package or to be modified. The field may be empty when only processing is required.
          items:
            $ref: '#/components/schemas/DLShipmentItemReferenceDTO'
        updateData:
          $ref: '#/components/schemas/DLProcessPackageUpdateRequestDataDTO'
      description: Request DTO for the getPackageDocuments business facade method.
      xml:
        name: processPackageRequestDTO
    DLPickupReferenceDTO:
      type: object
      properties:
        transactionId:
          type: string
          description: The transaction id of the pickup given by the client system.<br> May be null, when the referenced pickup was not initially created by the client system. <p> length=250 </p>
        referenceNumber1:
          type: string
          description: Another client system system reference number for the pickup. <p> length=50 </p>
        pickupNumber:
          type: string
          description: The number of the pickup given by the carrier engine.<br> May be null, when the referenced pickup was not initially created by the carrier engine. <p> length=20 </p>
      description: DTO for uniquely identifying a shipment pickup within a client.
    DLPackageOperationModeDTO:
      required:
      - mode
      type: object
      properties:
        mode:
          type: string
          description: '<p> The operation mode for the operation to be performed on the package. Valid values are: <li>MOVE_PACKAGE - The package will be moved to the target shipment referenced in the DTO. </P> <p> length=15 </p>'
      description: 'Holds a special operation ID to be performed on the package. NOTE: this function has BETA status.'
    DLPackageRequestDataDTO:
      required:
      - grossWeight
      - packageTransactionId
      - packageTypeIdentCode
      type: object
      properties:
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        packageSpecificeContents:
          type: string
          description: The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>
        packageNumber:
          type: integer
          description: The serial number of the package within the shipment. This number is mainly used to sort the packages in lists or in business logic (e.g. to detect the "first" package as master package).<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=5 </p>
          format: int32
        packageTransactionId:
          type: string
          description: <p> The shipment wide unique id for the package. Is included in the response. </p> <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Package reference number. Is included in the response. <p> length=50 </p>
        referenceNumber2:
          type: string
          description: Second package reference number <p>length=50</p>
        extCarrierPackNum:
          type: string
          description: The external carrier tracking number of the package <p> length=50 </p>
        extCarrierPackNumBasic:
          type: string
          description: The basic external carrier tracking number of the package <p> length=50 </p>
        extCarrierPackNumReturn:
          type: string
          description: The external carrier return tracking number of the package <p> length=50 </p>
        extCarrierPackNumBasicReturn:
          type: string
          description: The basic external return carrier tracking number of the package <p> length=50 </p>
        grossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        dimensions:
          $ref: '#/components/schemas/DLCuboidDimensionsDTO'
        alternativeVolume:
          $ref: '#/components/schemas/QuantityDTO'
        codValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        insuranceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
        containedItems:
          type: array
          description: The items the package contains. Only item references are used here, the items themselves must already exist. An error will be returned, when one of the referenced items does not exist.<br> May be null in case when no items exist at all or when the carrier doesn't want information about the contents of the package.
          items:
            $ref: '#/components/schemas/DLShipmentItemReferenceDTO'
        hazardousGoodsData:
          $ref: '#/components/schemas/DLPackageHazardousGoodsDataRequestDTO'
        transportEquipment:
          $ref: '#/components/schemas/DLTransportEquipmentReferenceDTO'
        marks:
          type: string
          description: Marks and numbers for identification of a package. <p> length=50
        stackability:
          type: string
          description: 'The possibility to stack packages. Valid values are: <li>NOTSPECIFIED <li>STACKABLE <li>UNSTACKABLE </p> If no value is supplied, NOTSPECIFIED will be assumed as the default value'
        freightClass:
          type: string
          description: 'The freight class of the package according to the NMFC (National Motor Freight Classification) specification. Relevant for US carriers. Valid values are: <li>50</li> <li>55</li> <li>60</li> <li>65</li> <li>70</li> <li>77.5</li> <li>85</li> <li>92.5</li> <li>100</li> <li>110</li> <li>125</li> <li>150</li> <li>175</li> <li>200</li> <li>250</li> <li>300</li> <li>400</li> <li>500</li> <li>NONE</li>'
        nmfcCode:
          type: string
          description: The NMFC code of the package. Relevant for US carriers. <p> length=10 </p>
        nmfcSubCode:
          type: string
          description: The NMFC subcode of the package. Relevant for US carriers. <p> length=2 </p>
        loadingMeters:
          type: number
          description: The loading meters needed for the package. <p> length=10, scale=3 </p>
        palletPlaces:
          type: number
          description: The pallet places needed for the package. <p> length=10, scale=3</p>
      description: DTO for package data.
    DLCancelShipmentResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response DTO for the cancelShipment business facade method
      xml:
        name: cancelShipmentResponseDTO
    DLCarrierListItemDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        carrierType:
          type: string
          description: '<p>The carrier type assigns the carrier to a category that defines the support and  maintenance level. Possible values: <li> STANDARD the carrier is part of the standard portfolio. It is regularly maintained, supported and kept up to date. <li> PROJECT the carrier is only used by very few customers and thus is not part of the standard portfolio. <li> CLIENT the carrier is defined for a specific client only and thus is not part of the standard portfolio. </p> <br> PROJECT and CLIENT carrier are not maintained by default and may become outdated over time. Maintenance must be explicitly ordered.<br> <p>length=20</p>'
        imprint:
          type: string
          description: The official company name (corporate name) of the carrier according to homepage.
        name:
          type: string
          description: Name of carrier.
      description: Minimum carrier info to use in lists.
    DLSyncShipmentsRequestDTO:
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        ageInDays:
          type: integer
          description: <p> Initializes the delta transmission of shipments (syncId must be null). Only shipments with this age or younger will be synchronized. Relevant date is the shipping date. </p> <p> If this field is 0, synchronization starts with all shipments. </p> <p> length=10 </p>
          format: int32
        syncId:
          type: string
          description: <p> For delta-transmissions after initialization (ageInDays must be null). </p> <p> Fill this field with the <code>DLSyncShipmentsResponseDTO.syncId</code> returned in the last call of <code>syncShipments</code>. As initial value use 0 or 1. </p> <p> length=20 </p>
        includeDocuments:
          type: boolean
          description: Controls, if the (label) documents should be included in the response. Default is 'false'.
      description: Request DTO for shipment synchronization.
      xml:
        name: syncShipmentsRequestDTO
    DLReferenceTextDTO:
      type: object
      properties:
        type:
          type: string
          description: '<p> The type of the reference number or text. Valid values are: <li>DELNOTE_NUMBER - Delivery note number. <li>INVOICE_NUMBER - Invoice number. <li>PO_NUMBER - Purchase order number. <li>TRANSORDER_NUMBER - Transport order number. <li>CUSTOMS_REGISTRATION_NUMBER - Customs registration number. <li>PICKUP_INSTRUCTION - Pickup instruction/notice. <li>DELIVERY_INSTRUCTION - Delivery instruction/notice. <li>GENERAL_INSTRUCTION - General instruction/notice. <li>RECEIVER_EORI_NUMBER - Receiver EORI number. <li>IMPORTER_EORI_NUMBER - Importer EORI number. <li>CUSTOMS_AGENT_EORI_NUMBER - Customs agent EORI number.<li>RECEIVER_VAT_NUMBER - Receiver VAT number. <li>IMPORTER_VAT_NUMBER - Importer VAT number. <li>CUSTOMS_AGENT_VAT_NUMBER - Customs agent VAT number. <li>SHIPPER_IOSS_NUMBER - Shipper IOSS (Import OneStopShop) registration number. <li>SHIPPER_VOEC_NUMBER - Shipper VOEC (Norwegian VAT on eCommerce) registration number. <li>SHIPPER_PVA_NUMBER - Shipper PVA (British Postponed VAT Accounting) registration number. <li>SHIPPER_EMPLOYEE_IDENTIFICATION_NUMBER - Shipper Employee Identification Number. <li>ENDCUSTOMER_REFERENCE - End-customer reference. <li>CUSTOMS_AGENT_UKIMS_NUMBER - Customs agent UKIMS number. <li>RECEIVER_UKIMS_NUMBER - Receiver UKIMS number. <li>IMPORTER_UKIMS_NUMBER - Importer UKIMS number. <li>CUSTOMS_AGENT_DUTY_DEFERMENT_NUMBER - Customs agent DUTY DEFERMENT number. <li>RECEIVER_DUTY_DEFERMENT_NUMBER - Receiver DUTY DEFERMENT number. <li>IMPORTER_DUTY_DEFERMENT_NUMBER - Importer DUTY DEFERMENT number. <li>EKAER_NUMBER - EKAER number. <li>SENT_NUMBER - SENT number. <li>UIT_NUMBER - UIT number.  <li>RECEIVER_CPF_TAX_ID_NUMBER - Receiver CPF tax ID number for Brasil. <li>SHIPPER_CPF_TAX_ID_NUMBER - Shipper CPF tax ID number for Brasil. <li>RECEIVER_CNPJ_TAX_ID_NUMBER - Receiver CNPJ tax ID number for Brasil. <li>SHIPPER_CNPJ_TAX_ID_NUMBER - Shipper CNPJ tax ID number for Brasil. <li>IMPORTER_CNPJ_TAX_ID_NUMBER - Importer CNPJ tax ID number for Brasil. <li>CUSTOMS_AGENT_CNPJ_TAX_ID_NUMBER - Customs agent CNPJ tax ID number for Brasil. <li>SUPPLIER_REFERENCE - Supplier reference used to identify the shipment or delivery. <li>SPOT_CODE - Reference number for a specific spot quote that is used when booking the shipment, required for billing. <li>ACID_NUMBER - Advance Cargo Information Approval Number used to identify a pre-arrival cargo information filing within customs or governmental clearance processes. <li>ADDRESS_REFERENCE_CODE - Unique address reference code used to identify a delivery or pickup address. May be assigned by national postal or address management systems.</P> <p> length=15 </p>'
        value:
          type: string
          description: The value of the reference number or text. <p> length=500 </p>
      description: DTO for reference numbers and texts of a certain (predefined) type.
    DLSignatureDTO:
      type: object
      properties:
        text:
          type: string
          description: Driver's signature text. <p> length=50 </p>
        image:
          type: string
          description: Driver's signature image.
          format: byte
        mimetype:
          type: string
          description: The mimetype of the drivers signature image e.g. image/jpeg or image/png. <p> length=250 </p>
      description: DLSignatureDTO containing driver's signature data
    DLShipmentTotalsRequestDataDTO:
      type: object
      properties:
        numberOfPackagesExpected:
          type: integer
          description: 'The expected number of packages. Used to print the total number of packages on the label when documents are printed before all packages are available.<br> Note: Should not be changed after the first label is printed. Otherwise the data on the label will be inconsistent. <p> length=5 </p>'
          format: int32
        grossWeightExpected:
          $ref: '#/components/schemas/QuantityDTO'
        loadingMeters:
          type: number
          description: The loading meters needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the loading meters are needed on shipment level. <p> length=10, scale=3 </p>
        palletPlaces:
          type: number
          description: The pallet places needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the pallet places are needed on shipment level. <p>length=10, scale=3</p>
      description: DTO for shipment totals in a request.
    DLGetCarrierPropertiesRequestDTO:
      required:
      - carrierIdentCode
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        carrierIdentCode:
          type: string
          description: Code uniquely referencing the requested carrier. <p> length=20 </p>
      description: Request DTO to retrieve various properties for a specific carrier.
      xml:
        name: getCarrierPropertiesRequestDTO
    DLDocumentOutputModeDTO:
      required:
      - mode
      type: object
      properties:
        mode:
          type: string
          description: '<p> The output mode for the documents. Valid values are: <li>PRINT The documents will be automatically printed on the client system. A print job agent has to be installed and activated there. <li>RETURN The print data of the documents will be returned to the client system to be printed there. This is also the default when mode is left empty. <li>NONE No documents will be returned or printed. </P> <br> <p> length=15 </p>'
        includeDocumentId:
          type: boolean
          description: <p> Only relevant for mode RETURN. Controls, if the document ID (field DLDocumentDTO#documentId) should be filled. Defaults to "false". </p>
        includeContent:
          type: boolean
          description: <p> Only relevant for mode RETURN. Controls, if the document content (field DLDocumentDTO#content) should be filled. Use this setting if you only need reference data of the documents but not the actual content. Defaults to "true". </p>
      description: DTO specifying the output mode for documents.
    DLAdditionalValueDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        businessObjectClass:
          type: string
          description: '<p> The business object class the additional value belongs to. Possible values are: <li>SHIPMENT <li>PACKAGE <li>ITEM </p> <br> <p> length=10 </p>'
        dataType:
          type: string
          description: '<p> The data type of the field. Possible values are: <li>string </p> <br> <p> length=10 </p>'
      description: Information about an additional value defined for a carrier.
    DLProcessModeDTO:
      required:
      - mode
      type: object
      properties:
        mode:
          type: string
          description: '<p> The mode in which the operation is processed. Valid values are: <li>BASIC the operation is processed in an asynchronous job. <li>EXTENDED the operation is executed directly within the webservice request transaction and no response is returned until the process is finished. </p> <br> <p> length=10 </p>'
      description: DTO specifying the mode in which an operation is processed.
    DLPackageProcessingResultDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: True, if there are any error messages. If an error has occured the messages contain more details about the errors.
        hasWarnings:
          type: boolean
          description: True, if there are any warning messages.
        messages:
          type: array
          description: Messages for the whole request, e.g. for errors or warnings.<br>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        packageTransactionId:
          type: string
          description: <p> The shipment wide unique id for the package (as specified in the request) the result is for. </p> <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Another package reference number (as specified in the request) the result is for. <p> length=50 </p>
        carrierPackageNumber:
          type: string
          description: The package number given by the carrier. Usually the tracking number. <p> length=50 </p>
        carrierPackageNumberReturn:
          type: string
          description: The additional return tracking number given by the carrier, if the data for the possible return shipment are to be generated with the initial shipping data.  <p> length=50 </p>
        carrierTrackingURL:
          type: string
          description: The tracking URL of the package.<p> length=512 </p>
        carrierTrackingURLReturn:
          type: string
          description: The additional return tracking URL of the package.<p> length=512 </p>
        carrierPackageIdentBarcode:
          type: string
          description: 'The content of the barcode identifying the package as defined by the carrier. The carrierPackageNumber is most likely part of the carrierPackageIdentBarcode and for same carrier it is identical. However, this depends solely on the carriers'' specification. NOTE: this is currently in BETA phase and only supported for a very small number of carriers. <p> length=50 </p>'
        documents:
          type: array
          description: The documents for the package. Only filled when asked for in request (documentOutputMode).
          items:
            $ref: '#/components/schemas/DLDocumentDTO'
      description: DTO holding result information of a package processing.<br> The package is created and basic validation checks are performed synchronously.<br> The carrier data preparation for EDI and label generation will be performed asynchronously, so the preparation results (e.g. labels and tracking number) are not part of the response. This information can be retrieved with a <code>syncShipments</code> call.
    DLShipmentProcessParmsDTO:
      required:
      - doCompletion
      - documentOutputMode
      - documentOutputScope
      - documentPrepareScope
      - processMode
      - workstationId
      type: object
      properties:
        processMode:
          $ref: '#/components/schemas/DLProcessModeDTO'
        documentPrepareScope:
          $ref: '#/components/schemas/DLDocumentScopeDTO'
        workstationId:
          type: string
          description: <p> The workstation used to detect the printer for which the documents should be prepared, printed or returned.<br> An error will be returned when the package documents (labels) are already prepared (invoked by a previous call) and are now be be printed with a different workstationId containing an incompatible printer. </p> <p> length=50 </p>
        documentOutputScope:
          $ref: '#/components/schemas/DLDocumentScopeDTO'
        documentOutputMode:
          $ref: '#/components/schemas/DLDocumentOutputModeDTO'
        doCompletion:
          type: boolean
          description: <p> 'true' or '1' = The shipment is set in status "Complete". In this status the shipment is sealed, it cannot be changed, no packages can be added anymore. The shipment is automatically assigned to a pickup or can be manually assigned, depending on the customizing.<br> It is required, that the documents for each package are prepared. When they are not prepared yet, the field <code>documentPrepareScope</code> must be set accordingly, otherwise an error is returned.<br> Not printed documents (labels) can be printed after completion with the <code>processShipment</code> call. </p> <p> 'false' or '0' = The shipment is left open, further packages can be added with the <code>processShipment</code> call. If the shipment has already been completed, nothing is done. </p>
      description: Process parameters for a shipment. Specifies which operations have to be performed after a shipment has been created.
    DLGetCarrierPortfolioNamesResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        carrierNames:
          type: array
          description: Codes and names of all available carriers.
          items:
            $ref: '#/components/schemas/DLCarrierPortfolioNameDTO'
      description: Response DTO containing the codes and names of all available carriers.
      xml:
        name: getCarrierPortfolioNamesResponseDTO
    DLCreatePickupRequestDTO:
      required:
      - creationParms
      - pickup
      - processParms
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        creationParms:
          $ref: '#/components/schemas/DLPickupCreationParmsDTO'
        pickup:
          $ref: '#/components/schemas/DLPickupRequestDataDTO'
        processParms:
          $ref: '#/components/schemas/DLPickupProcessParmsDTO'
      description: Request DTO for the processPickup business facade method
      xml:
        name: createPickupRequestDTO
    ComboboxEntryDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: For common use in BF methods which return combobox entries, e.g. for a list of master file data.
    DLDeletePickupResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response DTO for the cancelPickup business facade method
      xml:
        name: deletePickupResponseDTO
    DLUpdateCustomsDataResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
      description: Response DTO for the updateCustomsData business facade method
      xml:
        name: updateCustomsDataResponseDTO
    DLPackageResponseDataDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: True, if there are any error messages. If an error has occured the messages contain more details about the errors.
        hasWarnings:
          type: boolean
          description: True, if there are any warning messages.
        messages:
          type: array
          description: Messages for the whole request, e.g. for errors or warnings.<br>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        packageNumber:
          type: integer
          description: The unique package number of the package generated by the carrier engine. <p> length=4 </p>
          format: int32
        packageTransactionId:
          type: string
          description: The unique transaction id of the package maintained by the client system. <p> length=50 </p>
        referenceNumber1:
          type: string
          description: The first reference number of the package. <p> length=50 </p>
        referenceNumber2:
          type: string
          description: The second reference number of the package. <p> length=50 </p>
        carrierPackageNumber:
          type: string
          description: The package number given by the carrier. Usually the tracking number. <p> length=50 </p>
        carrierPackageIdentBarcode:
          type: string
          description: 'The content of the barcode identifying the package as defined by the carrier. The carrierPackageNumber is most likely part of the carrierPackageIdentBarcode and for same carrier it is identical. However, this depends solely on the carriers'' specification. NOTE: this is currently in BETA phase and only supported for a very small number of carriers. <p> length=50 </p>'
        carrierPackageNumberReturn:
          type: string
          description: The additional return tracking number given by the carrier, if the data for the possible return shipment are to be generated with the initial shipping data.  <p> length=50 </p>
        carrierTrackingURL:
          type: string
          description: The tracking URL of the package.<p> length=512 </p>
        carrierTrackingURLReturn:
          type: string
          description: The additional return tracking URL of the package.<p> length=512 </p>
        packageTypeIdentCode:
          type: string
          description: IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>
        contents:
          type: string
          description: The description of the contents (goods) the package contains.  <p> length=250 </p>
        dimensions:
          $ref: '#/components/schemas/DLCuboidDimensionsDTO'
        grossWeight:
          $ref: '#/components/schemas/QuantityDTO'
        codValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        insuranceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        boStatus:
          $ref: '#/components/schemas/ComboboxEntryDTO'
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
        documents:
          type: array
          description: The documents for the package. Only filled when asked for in request.
          items:
            $ref: '#/components/schemas/DLDocumentDTO'
        hazardousGoodsData:
          $ref: '#/components/schemas/DLPackageHazardousGoodsDataResponseDTO'
        marks:
          type: string
          description: Marks and numbers for identification of a package. <p> length=50
        stackability:
          type: string
          description: 'The possibility to stack this package. If there is no such information, the value will be empty. Otherwise the possible values are: <li>STACKABLE <li>UNSTACKABLE </p>'
        freightClass:
          type: string
          description: 'The freight class of the package according to the NMFC (National Motor Freight Classification) specification. Relevant for US carriers. Valid values are: <li>50</li> <li>55</li> <li>60</li> <li>65</li> <li>70</li> <li>77.5</li> <li>85</li> <li>92.5</li> <li>100</li> <li>110</li> <li>125</li> <li>150</li> <li>175</li> <li>200</li> <li>250</li> <li>300</li> <li>400</li> <li>500</li> <li>NONE</li>'
        nmfcCode:
          type: string
          description: The NMFC code of the package. Relevant for US carriers. <p> length=10 </p>
        nmfcSubCode:
          type: string
          description: The NMFC subcode of the package. Relevant for US carriers. <p> length=2 </p>
      description: DTO for response information of a DLPackage.<br> Contains also errors that occurred during carrier data preparation (performed asynchronously by a job). These are returned as warnings.<br> Validation errors may also occur. For possible codes see DLPackageProcessingResultDTO
    DLCarrierDespatchCountryDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
        isoCode:
          type: string
          description: 'The isoCode of the Country. <p>length=2 </p> '
        name:
          type: string
          description: 'The name of the Country. <p>length=50 </p> '
      description: Response information about the supported countries from a carrier
    DLShipmentFilterDTO:
      type: object
      properties:
        carrierIdentCode:
          type: string
          description: The unique code of the carrier. <p> length=50 </p>
        shippingPtNameOrNumber:
          type: string
          description: Considers the company number and the name of the shipping point address. <p> length=50 </p>
        consigneeName:
          type: string
          description: Considers the company number and the name of the consignee's address.. <p> length=50 </p>
        shippingDateFrom:
          type: string
          description: Shipping date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The shipping date is expected to be in time zone 'UTC'. <p> length=10 </p>
          format: date-time
        shippingDateTo:
          type: string
          description: Shipping date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The shipping date is expected to be in time zone 'UTC'. <p> length=10 </p>
          format: date-time
        isNotCompleted:
          type: boolean
          description: Controls, if only completed respectively not completed shipments should be considered.
        boStatusIdentCode:
          type: string
          description: '<p> The shipment''s current status. Possible values are: <li>NEW This status is reached as soon as the shipment is created. <li>READY This status is reached as soon as all required fields for  printing labels are entered. <li>RDYFORCOMPLETE This status is reached as soon as all required  fields of all packages are entered. <li>COMPLETE This status is reached as soon as the labels are printed  and the shipment can be disposed to a pickup. <li>RDYFORDISPOSE This status is reached as soon as the shipment can  be disposed to a pickup. <li>DISPOSED This status is reached as soon as the shipment has been  disposed to a pickup. <li>RDYFORSHIPPING This status is reached as soon as the shipment is  fully prepared for shipping and all necessary preconditions are met. <li>SHIPPED This status is reached as  soon as the pickup of the  shipment has been manifested. <li>DELETED This reached status is reached as soon as the shipment  is canceled. </p>'
        shipmentNumber:
          type: string
          description: Considers the shipment number. <p> length=7 </p>
        referenceNumber:
          type: string
          description: Considers shipment reference number 1 and reference number 2. <p> length=50 </p>
        carrierNumber:
          type: string
          description: Considers the carrier tracking number of the shipment or the package. <p> length=50 </p>
        maxShipments:
          type: integer
          description: The maximum number of shipments to be returned. If no value is specified, a default of 100 is assumed. <p> length=4 </p>
          format: int32
      description: DTO to set a filter for a shipment query.
    DLReferenceTextUCDDTO:
      type: object
      properties:
        type:
          type: string
          description: '<p> The type of the reference number or text. Valid values are: <li>INVOICE_NUMBER - Invoice number. <li>CUSTOMS_REGISTRATION_NUMBER - Customs registration number. <li>RECEIVER_EORI_NUMBER - Receiver EORI number. <li>IMPORTER_EORI_NUMBER - Importer EORI number. <li>CUSTOMS_AGENT_EORI_NUMBER - Customs agent EORI number.<li>RECEIVER_VAT_NUMBER - Receiver VAT number. <li>IMPORTER_VAT_NUMBER - Importer VAT number. <li>CUSTOMS_AGENT_VAT_NUMBER - Customs agent VAT number. <li>SHIPPER_IOSS_NUMBER - Shipper IOSS (Import OneStopShop) registration number. <li>SHIPPER_VOEC_NUMBER - Shipper VOEC (Norwegian VAT on eCommerce) registration number. <li>SHIPPER_PVA_NUMBER - Shipper PVA (British Postponed VAT Accounting) registration number. <li>CUSTOMS_AGENT_UKIMS_NUMBER - Customs agent UKIMS number. <li>RECEIVER_UKIMS_NUMBER - Receiver UKIMS number. <li>IMPORTER_UKIMS_NUMBER - Importer UKIMS number. <li>CUSTOMS_AGENT_DUTY_DEFERMENT_NUMBER - Customs agent duty deferment number. <li>RECEIVER_DUTY_DEFERMENT_NUMBER - Receiver duty deferment number. <li>IMPORTER_DUTY_DEFERMENT_NUMBER - Importer duty deferment number. <li>SENT_NUMBER - SENT number. <li>UIT_NUMBER - UIT number. <li>EKAER_NUMBER - EKAER number. <li>ACID_NUMBER - Advance Cargo Information Approval Number used to identify a pre-arrival cargo information filing within customs or governmental clearance processes. </P> <p> length=15 </p>'
        value:
          type: string
          description: The value of the reference number or text. <p> length=500 </p>
      description: DTO for reference numbers and texts of a certain (predefined) type.
    DLShipmentUpdateRequestDataDTO:
      type: object
      properties:
        shippingDate:
          type: string
          description: The new shipping date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The shipping date is expected to be in timezone 'UTC'.<br> The field may be empty, the shipping date of the shipment remains unchanged.<br> If the field is filled, it is used as the new shipping date for the shipment. The change of the shipping date has no influence on already prepared documents (labels) or other prepared data (e.g. routing data).<br> The changed shipping date will be printed on new labels and will have effect on pickup and EDI handling. <p> length=10 </p>
        fixedDate:
          type: string
          description: The new fixed date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The fixed date is expected to be in timezone 'UTC'.<br> The field may be empty, the fixed date of the shipment remains unchanged.<br> If the field is filled, it is used as the new fixed date for the shipment. The change of the fixed date has no influence on already prepared documents (labels) or other prepared data (e.g. routing data).<br> The changed fixed date will be printed on new labels and will have effect on pickup and EDI handling. <p> length=10 </p>
        codValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        insuranceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        goodsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        customsValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        invoiceValue:
          $ref: '#/components/schemas/AmountOfMoneyDTO'
        customsRegistrationNumber:
          type: string
          description: Update registration number (MRN, etc.) of the customs declaration.
          deprecated: true
        transportRegistrationNumber:
          type: string
          description: Update transport registration number like EKAER (Hungary) or SENT (Poland).
          deprecated: true
        shopId:
          type: string
          description: Update the ID of the shop to which the shipping order is sent.
          deprecated: true
        shipToServicePointID:
          type: string
          description: Update the ID of the service point at which the consignee can pick up his shipping order.
        shipFromServicePointID:
          type: string
          description: Update the ID of the service point at which the shipper can deliver the shipping order for the carrier to pick up.
        remark:
          type: string
          description: Update internal remark of the shipment.
        airline:
          type: string
          description: Update the airline company of the shipment.
        flightNumber:
          type: string
          description: Update the airline flight number of the shipment.
        masterAirwaybillNumber:
          type: string
          description: Update the master airwaybill number of the shipment.
        houseAirwaybillNumber:
          type: string
          description: Update the house airwaybill number of the shipment.
        portOfLoadingCode:
          type: string
          description: The code of the port or airport where the goods are loaded.
        portOfLoading:
          type: string
          description: The name of the port or airport where the goods are loaded.
        portOfDischargeCode:
          type: string
          description: The code of the port or airport where the goods are unloaded.
        portOfDischarge:
          type: string
          description: Update the name of the port or airport where the goods are unloaded.
        additionalValues:
          $ref: '#/components/schemas/GenericDataRecordDTO'
        extCarrierShipNum:
          type: string
          description: Update the external carrier tracking number of the shipment.
        bulkMasterReferenceNumber1:
          type: string
          description: Update the referenceNumber1 if the shipment is a bulk master.
      description: DTO for shipment fields which can be updated after the initial creation of the shipment
    DLCreateShipmentRequestDTO:
      required:
      - creationParms
      - processParms
      - shipment
      type: object
      properties:
        clientSystemId:
          type: string
          description: '<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>'
          example: TEST_ID
        clientIdentCode:
          type: string
          description: '<p>Client identification code.</p><p>Maximum length: 10</p>'
          example: APITEST
        userName:
          type: string
          description: <p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>
          example: API_TEST
        resultLanguageIsoCodes:
          type: array
          description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
          example:
          - en
          - de
          items:
            type: string
            description: <p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>
            example: '["en","de"]'
        creationParms:
          $ref: '#/components/schemas/DLShipmentCreationParmsDTO'
        shipment:
          $ref: '#/components/schemas/DLShipmentRequestDataDTO'
        processParms:
          $ref: '#/components/schemas/DLShipmentProcessParmsDTO'
      description: Request DTO for the createShipment business facade method
      xml:
        name: createShipmentRequestDTO
    DLDocumentScopeDTO:
      required:
      - scope
      type: object
      properties:
        scope:
          type: string
          description: '<p> The scope of documents to be processed (prepared or printed). Valid values are: <li>NONE No documents. This is also the default, when scope is left empty. <li>ALL All documents including the already processed ones. <li>REMAINING Only the remaining, not yet processed documents. <li>REQUEST Only documents for the packages included in the request. <li>SHIPMENTONLY No documents are processed. The shipment is prepared for document processing.  </p> <br> <p> length=20 </p>'
      description: DTO specifying the scope of documents to be processed.
    DLCarrierBusinessDivisionDTO:
      type: object
      properties:
        identCode:
          type: string
          description: The identCode of the entry. <p>length=50</p>
        descriptions:
          type: array
          description: The description of the entry in the requested result languages.
          items:
            $ref: '#/components/schemas/TextInLanguageDTO'
      description: Response information about the supported business Divisions from a carrier
    DLShipmentItemReferenceUCDDTO:
      type: object
      properties:
        itemTransactionId:
          type: string
          description: The number of the client system uniquely referencing an item in a shipment. <p> length=50 </p>
        referenceNumber1:
          type: string
          description: Another item reference number. May be used, when an item was not created by the client system and therefore has no <code>itemTransactionId</code>. If both fields are filled, they both must match the item. <p> length=50 </p>
      description: DTO for uniquely identifying an item within a shipment.
    NamedGenericDataRecordDTO:
      type: object
      properties:
        name:
          type: string
          description: The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.
        record:
          $ref: '#/components/schemas/GenericDataRecordDTO'
      description: A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records.
      example:
      - name: child
        record:
          fields: []
          subrecords: []
    AmountOfMoneyDTO:
      type: object
      properties:
        value:
          type: number
          description: The value of the amount of money. <p>length=15, scale=2</p>
        currencyIso:
          type: string
          description: The three letter ISO code of the currency of the amount of money. <p>length=3</p>
      description: An amount of money with a value and an currency ISO code.
    DLPickupCreationParmsDTO:
      required:
      - creationMode
      type: object
      properties:
        creationMode:
          type: string
          description: '<p> Controls the creation of the pickup (if a new pickup is to create) and the handling of the shipments that should be assigned to it.<br> The basic requirement for a pickup to be created is that the header data (like carrier, shipping date etc.) is filled correctly. The creationMode controls how to deal with the pickup''s shipments. Valid values are: <li>ONLY_VALID_SHIPMENTS The pickup is only created or updated, when all of the shipment references are correct and the referenced shipments are suitable for the pickup. <li>INVALID_SHIPMENTS_ALLOWED The pickup is created or updated even if some shipments can''t be found (incorrect references), they do not match the pickup ( different carrier etc.) or their status doesn''t allow pickup assignment. For each incorrect shipment a warning is returned and the shipment is not assigned to the pickup. To correct the pickup, the GUI or an application facade has to be used or the shipment has to be retransmitted after correction via a <code>processPickup</code> call. </p> Mandatory field.<br> <p> length=30 </p>'
      description: Creation parameters for a shipment. Specifies when and how to create a pickup and the shipment it contains.
    DLProcessPickupResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
            $ref: '#/components/schemas/ResponseMessageDTO'
        documents:
          type: array
          description: The documents (manifests) of the pickup. Only filled, when specified in <code>documentOutputMode</code> of request.
          items:
            $ref: '#/components/schemas/DLDocumentDTO'
      description: Response DTO for the printDocumentsForPickup business facade method
      xml:
        name: processPickupResponseDTO
    DLPickupProcessParmsDTO:
      required:
      - doManifest
      - documentOutputMode
      - workstationId
      type: object
      properties:
        doManifest:
          type: boolean
          description: <p> 'true' or '1' = The shipment pickup is manifested. That means, that EDI data is sent to the carrier and the pickup is sealed, it cannot be changed, no shipments can be added or removed anymore. </p> <p> 'false' or '0' = The shipment pickup is left open, no EDI data is sent to the carrier yet, shipments can be added or removed using the GUI. If the pickup has already been manifested, nothing is done. </p>
        documentOutputMode:
          $ref: '#/components/schemas/DLDocumentOutputModeDTO'
        workstationId:
          type: string
          description: The workstation where the documents should be printed out in the case of direct printing. <p> length=50 </p>
      description: Process parameters for a pickup. Especially controls the handling of the manifest documents.
    DLProcessPackageReturnEnclosedLabelResponseDTO:
      type: object
      properties:
        hasErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>
          example: false
        hasOnlyRetryableErrors:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        hasWarnings:
          type: boolean
          description: <p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>
          example: true
        messages:
          type: array
          description: <p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>
          items:
[...]
