{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Trade Compliance Management HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "4.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/test4ce/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "Compliance Foundation",
    "description" : "API for the compliance foundation."
  }, {
    "name" : "CoreBFBean",
    "description" : "API for the XNSGFoundation"
  }, {
    "name" : "Export Control Applications",
    "description" : "Get URLs to various parts of the Export Controls application."
  }, {
    "name" : "Export Control Internal",
    "description" : "Internal API for export control"
  }, {
    "name" : "Export Control",
    "description" : "API for export control"
  }, {
    "name" : "FoundationAFBean",
    "description" : "Business facade for the XNSGFoundation UI API"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "ExternalTelemetryBFBean",
    "description" : "API for sending telemetry data from a third party system."
  }, {
    "name" : "FoundationBFBean",
    "description" : "REST endpoint for FoundationBF"
  }, {
    "name" : "RemoteAdminBFBean",
    "description" : " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
  }, {
    "name" : "SyncBFBean",
    "description" : "API for synchronizing data asynchronous from an engine to a client system."
  }, {
    "name" : "License Management",
    "description" : "API for License Management"
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "Compliance Screening Applications",
    "description" : "Get URLs to various parts of the Compliance Screening application."
  }, {
    "name" : "Compliance Screening Internal",
    "description" : "Internal API for compliance screening"
  }, {
    "name" : "Compliance Screening",
    "description" : "API for restricted party list screening"
  }, {
    "name" : "Risk Assessment Applications",
    "description" : "Get URLs to various parts of the Risk Assessment application."
  }, {
    "name" : "Risk Assessment",
    "description" : "API for Risk Assessment"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  }, {
    "name" : "GenericAFBean",
    "description" : "API to open views that support this generic interface."
  }, {
    "name" : "TariffContent20BFBean",
    "description" : "API for the tariff content solution (version 2.0)."
  }, {
    "name" : "CustomsContentServiceBF",
    "description" : "API providing services around customs content (nomenclatures, export control lists)."
  } ],
  "paths" : {
    "/ComplianceFoundation/getMasterdataIdentifiers" : {
      "post" : {
        "tags" : [ "Compliance Foundation" ],
        "summary" : "Returns the identifiers of master data for a client.",
        "description" : "Returns the identifiers of master data for a client. The available types of master data are the following:<ul><li>Partner roles: <code>PARTNER_ROLE_IDENTIFIERS</code></li><li>Goods attributes: <code>GOODS_ATTRIBUTE_IDENTIFIERS</code></li><li>Transaction types: <code>TRANSACTION_TYPE_IDENTIFIERS</code></li><li>Jurisdictions: <code>JURISDICTION_IDENTIFIERS</code></li><li>All value lists and their entries: The <code>identCode</code> of the requested value list</li></ul> The result will include all client independent identifiers plus the identifiers of the specified client.",
        "operationId" : "getMasterdataIdentifiers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetMasterdataIdentifiersRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetMasterdataIdentifiersRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetMasterdataIdentifiersResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetMasterdataIdentifiersResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/checkBFFunctionExists" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Can be called to know if a BF function exist.",
        "operationId" : "checkBFFunctionExists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BFFunctionDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BFFunctionExistsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echo" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value.",
        "operationId" : "echo",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echoUpperCase" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value in uppercase.",
        "operationId" : "echoUpperCase",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getAllMonitoringValues" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns all available monitoring values of the server.",
        "operationId" : "getAllMonitoringValues",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getBuildForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".",
        "operationId" : "getBuildForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getMonitoringValue" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the current monitoring value for the given group and name.",
        "operationId" : "getMonitoringValue",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getProductInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".",
        "operationId" : "getProductInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".",
        "operationId" : "getRuntimeInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeState" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".",
        "operationId" : "getRuntimeState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RuntimeStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getThreadDump" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Generate Thread-Dump.",
        "operationId" : "getThreadDump",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getVersionForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".",
        "operationId" : "getVersionForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".",
        "operationId" : "restartRFCServer",
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/ExportControlApplications/commerceControlList" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for the Commerce Control List.",
        "description" : "Returns an URL for an application, which displays the Commerce Control List appliaction.",
        "operationId" : "getCommerceControlList",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommerceControlListRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommerceControlListRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to the Commerce Control List.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlApplications/ecTransaction" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for displaying an export control transaction.",
        "description" : "Returns an URL for an application, which displays an export control transaction. Since 2022/11.",
        "operationId" : "getECTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ECTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ECTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to displaying a transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlApplications/euExportControlList" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for the EU export control list.",
        "description" : "Returns an URL for an application, which displays the EU export control list.",
        "operationId" : "getEUExportControlList",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EUExportControlListRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/EUExportControlListRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to the EU export control list application.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlApplications/expCtrlLogs" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for the overview of Export Controls log entries.",
        "description" : "Returns an URL for an application, which displays the overview of Export Controls log entries.",
        "operationId" : "getExpCtrlLogs",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpCtrlLogsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpCtrlLogsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to an overview of Export Controls log entries.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlApplications/goodsAttributeValuesList" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for the list of all known values of the specified goods attribute.",
        "description" : "Returns an URL for an application, which displays the list of all known values of the specified goods attribute.",
        "operationId" : "getGoodsAttributeValuesList",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GoodsAttributeValuesListRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GoodsAttributeValuesListRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to a list of all known values of the specified goods attribute.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlApplications/quickCheck" : {
      "post" : {
        "tags" : [ "Export Control Applications" ],
        "summary" : "Get application for a Quick check.",
        "description" : "Returns an URL for an application, which displays the Quick check.",
        "operationId" : "getQuickCheck",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QuickCheckRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/QuickCheckRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. URL to the Quick check application.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControlInternal/setFinalTransactionLabelHost" : {
      "post" : {
        "tags" : [ "Export Control Internal" ],
        "summary" : "Update existing transaction labels.",
        "description" : "Update the transaction label for existing export control transaction protocols, clearings and clearing protocols after they were created. This method should only be called by the SAP plugin, which always provides a transaction label containing \"[SAP has not assigned a no. yet]\" in the first check of a check transaction. This placeholder is supposed to be replaced with the help of this method (although the whole label must be passed).",
        "operationId" : "setFinalTransactionLabelHost",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetFinalLabelRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetFinalLabelRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetFinalLabelRequestDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetFinalLabelRequestDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/acknowledgeGetChangedTransactions" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Acknowledge changed results of EC check transactions.",
        "description" : "A call to this endpoint acknowledges that your partner system has processed the changed transaction results retrieved by calling *getChangedTransactions*. Acknowledged events will not be available for retrieval again. Acknowledge the changed results of EC check transactions. If calling *getChangedTransactions* returns false in *GetChangedTransactionsResponseDTO.isComplete*, there are more changed results available. To get those results, the already retrieved results need to be acknowledged with the *GetChangedTransactionsResponseDTO.syncId* from the *getChangedTransactions* call.",
        "operationId" : "acknowledgeGetChangedTransactions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/checkTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Check a transaction in Export Controls.",
        "description" : "Check a transaction in Export Controls. This call does not imply any approval management in the host system. Instead, if required, for each checked transaction from host system a check transaction is created in Export Controls with the data of the transmitted transaction. This is necessary, for example, due to critical results in the export control check. Further export control checks for the corresponding transaction are done using the associated check transaction in Export Controls. Based on this, approvals for a transaction must be managed directly using the corresponding check transaction in Export Controls. The existing approvals for the associated check transaction are automatically taken into account during check of transaction from host system in Export Controls.",
        "operationId" : "checkTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckTransactionResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/createQuestionnaireForTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Create a new questionnaire for a transaction in Export Controls",
        "description" : "Explicitly create a new questionnaire for a transaction in Export Controls. In case other questionnaires already exist for the given transaction, they are marked as invalid and the newly created questionnaire becomes the active one for that transaction.",
        "operationId" : "createQuestionnaireForTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/deleteTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "To be invoked when a transaction in the partner system is deleted.",
        "description" : "Method to be invoked when a transaction in the partner system is deleted. Deletes the corresponding check transaction in Export Controls if existing.",
        "operationId" : "deleteTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteTransactionResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/finalizeApproval" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Finalize an approval.",
        "description" : "Method to be invoked when an approval should be finalized. Finalizes the approval for the corresponding check transaction in Export Controls if existing.",
        "operationId" : "finalizeApproval",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizeApprovalRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizeApprovalRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FinalizeApprovalResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FinalizeApprovalResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/getChangedTransactions" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Get the changed results of EC check transactions.",
        "description" : "Get the changed results of EC check transactions. Returns the changed results of EC check transactions, that were created for EC check transaction created with the *checkTransaction* call. The result of an EC check transaction might change if e.g. an approval was made or revoked on any of the items within Trade Compliance Management. Only changes relating to EC check transactions created by the transmitted in *GetChangedTransactionsRequestDTO.clientSystemId* are considered.<br>A partner system subscription needs to be configured in Trade Compliance Management.",
        "operationId" : "getChangedTransactions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/getTransactionCheckResult" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Gets the check result for a certain EC check transaction.",
        "description" : "Gets the check result for a certain EC check transaction. The check result is returned without a new EC check being performed. If a check is desired, call *checkTransaction* instead.",
        "operationId" : "getTransactionCheckResult",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetTransactionCheckResultRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetTransactionCheckResultRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTransactionCheckResultResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTransactionCheckResultResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/ExportControl/v2/updateCustomsInfo" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Update customs info.",
        "description" : "Method to be invoked when customs info is to be updated. Updates the customs info for the corresponding check transaction in Export Controls if existing.",
        "operationId" : "updateCustomsInfo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCustomsInfoRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCustomsInfoRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCustomsInfoResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCustomsInfoResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationAFBean/releaseApplicationFacade" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Release a UI API which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the UI API session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the UI API by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId" : "releaseApplicationFacade",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "query",
          "description" : "sessionid The sessionid returned by any UI API method, e.g. workplace @throws RemoteException",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/workplace" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Creates an UI API to be able to display the workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId" : "workplace",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMIdentificationRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/status" : {
      "get" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatusByParams",
        "parameters" : [ {
          "name" : "externalSystemId",
          "in" : "query",
          "description" : "externalSystemId, the id of the calling system, mandatory",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reportClientIdentCode",
          "in" : "query",
          "description" : "reportClientIdentCode, the identCode of the client to call the status for",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/telemetryReport" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.",
        "operationId" : "sendTelemetryReport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMReportRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/acknowledgeFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Acknowledges a file download.",
        "operationId" : "acknowledgeFile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeFileRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/announceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Announces a stop of the installation.",
        "operationId" : "announceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/cancelAnnounceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Revokes an already announced stop.",
        "operationId" : "cancelAnnounceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancelAnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancelAnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/changeAdminPassword" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Changes the admin password.",
        "operationId" : "changeAdminPassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeAdminPasswordParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChangeAdminPasswordResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/client" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all clients from this engine, or one client identified by values in query parameter",
        "operationId" : "queryClients",
        "parameters" : [ {
          "name" : "identCode",
          "in" : "query",
          "description" : "Filter for client ident code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "debtorNumber",
          "in" : "query",
          "description" : "Filter for debtor number",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the client infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Create a client.",
        "operationId" : "createClient",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateClientRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateClientResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/downloadFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves a file for download.",
        "operationId" : "downloadFile",
[...]
