{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Customs Management HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/test2ici/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "FinanceDataCHBFBean",
    "description" : "Interface overview for Finance data API for Switzerland"
  }, {
    "name" : "CoreBFBean",
    "description" : "API for the XNSGFoundation"
  }, {
    "name" : "FoundationAFBean",
    "description" : "Business facade for the XNSGFoundation UI API"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "ExternalTelemetryBFBean",
    "description" : "API for sending telemetry data from a third party system."
  }, {
    "name" : "FoundationBFBean",
    "description" : "REST endpoint for FoundationBF"
  }, {
    "name" : "RemoteAdminBFBean",
    "description" : " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
  }, {
    "name" : "SyncBFBean",
    "description" : "API for synchronizing data asynchronous from an engine to a client system."
  }, {
    "name" : "InternationalCustomsAFBean",
    "description" : "Application facades for Customs Management"
  }, {
    "name" : "Consignment profiles",
    "description" : "Consignment profiles API"
  }, {
    "name" : "CustomsTransitBFBean",
    "description" : "Business facade for transit processes"
  }, {
    "name" : "Document extractions",
    "description" : "Document extractions API"
  }, {
    "name" : "InternationalCustomsBFBean",
    "description" : "Interface overview for Customs Management"
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  }, {
    "name" : "GenericAFBean",
    "description" : "API to open views that support this generic interface."
  }, {
    "name" : "TariffContentFeeCalculationBFBean",
    "description" : "API for fee calculation using the tariff content solution"
  }, {
    "name" : "TariffContent20BFBean",
    "description" : "API for the tariff content solution (version 2.0)."
  }, {
    "name" : "CustomsContentServiceBF",
    "description" : "API providing services around customs content (nomenclatures, export control lists)."
  } ],
  "paths" : {
    "/FinanceDataCHBFBean/getSummary" : {
      "post" : {
        "tags" : [ "FinanceDataCHBFBean" ],
        "summary" : "Gets the data of the specified summary.",
        "description" : "Gets the data of the specified summary. The summary is identified by the business object id.",
        "operationId" : "getSummary",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetSummaryRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The requested summary data"
          }
        }
      }
    },
    "/FinanceDataCHBFBean/listSummaries" : {
      "post" : {
        "tags" : [ "FinanceDataCHBFBean" ],
        "summary" : "Queries for available summaries.",
        "description" : "Queries for available summaries. The summaries can be filtered by additional criteria.",
        "operationId" : "listSummaries",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListSummariesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A list of available summaries"
          }
        }
      }
    },
    "/CoreBFBean/checkBFFunctionExists" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Can be called to know if a BF function exist.",
        "operationId" : "checkBFFunctionExists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BFFunctionDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BFFunctionExistsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echo" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value.",
        "operationId" : "echo",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echoUpperCase" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value in uppercase.",
        "operationId" : "echoUpperCase",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getAllMonitoringValues" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns all available monitoring values of the server.",
        "operationId" : "getAllMonitoringValues",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getBuildForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".",
        "operationId" : "getBuildForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getMonitoringValue" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the current monitoring value for the given group and name.",
        "operationId" : "getMonitoringValue",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getProductInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".",
        "operationId" : "getProductInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".",
        "operationId" : "getRuntimeInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeState" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".",
        "operationId" : "getRuntimeState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RuntimeStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getThreadDump" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Generate Thread-Dump.",
        "operationId" : "getThreadDump",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getVersionForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".",
        "operationId" : "getVersionForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".",
        "operationId" : "restartRFCServer",
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/releaseApplicationFacade" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Release a UI API which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the UI API session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the UI API by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId" : "releaseApplicationFacade",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "query",
          "description" : "sessionid The sessionid returned by any UI API method, e.g. workplace @throws RemoteException",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/workplace" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Creates an UI API to be able to display the workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId" : "workplace",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMIdentificationRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/status" : {
      "get" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatusByParams",
        "parameters" : [ {
          "name" : "externalSystemId",
          "in" : "query",
          "description" : "externalSystemId, the id of the calling system, mandatory",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reportClientIdentCode",
          "in" : "query",
          "description" : "reportClientIdentCode, the identCode of the client to call the status for",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/telemetryReport" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.",
        "operationId" : "sendTelemetryReport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMReportRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/acknowledgeFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Acknowledges a file download.",
        "operationId" : "acknowledgeFile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeFileRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/announceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Announces a stop of the installation.",
        "operationId" : "announceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/cancelAnnounceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Revokes an already announced stop.",
        "operationId" : "cancelAnnounceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancelAnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancelAnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/changeAdminPassword" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Changes the admin password.",
        "operationId" : "changeAdminPassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeAdminPasswordParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChangeAdminPasswordResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/client" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all clients from this engine, or one client identified by values in query parameter",
        "operationId" : "queryClients",
        "parameters" : [ {
          "name" : "identCode",
          "in" : "query",
          "description" : "Filter for client ident code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "debtorNumber",
          "in" : "query",
          "description" : "Filter for debtor number",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the client infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Create a client.",
        "operationId" : "createClient",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateClientRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateClientResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/downloadFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves a file for download.",
        "operationId" : "downloadFile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DownloadFileRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DownloadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/generateClientIdentCode" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Generates a client ident code.",
        "operationId" : "generateClientIdentCode",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GenerateClientIdentCodeRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The client ident code."
          }
        }
      }
    },
    "/FoundationBFBean/client/active" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all active clients from this engine.",
        "operationId" : "getAllActiveClients",
        "responses" : {
          "200" : {
            "description" : "Contains the client infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all monitoring values from this engine.",
        "operationId" : "getAllMonitoringValues_1",
        "responses" : {
          "200" : {
            "description" : "Contains all monitoring values.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/build" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the build info for a solution from this engine.",
        "operationId" : "getBuildForSolution_1",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Name of solution.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the build info."
          }
        }
      }
    },
    "/FoundationBFBean/downloadableFileRefs" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves refs for download.",
        "operationId" : "getDownloadableFilesRefs",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLFilesRefsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The download refs.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLFilesRefsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue/{groupName}/{valueName}" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests a specific monitoring value from this engine.",
        "operationId" : "getMonitoringValue_1",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "description" : "group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "path",
          "description" : "value name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The monitoring value."
          }
        }
      }
    },
    "/FoundationBFBean/numberOfClients" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Returns the number of clients.",
        "operationId" : "getNumberOfClients",
        "responses" : {
          "200" : {
            "description" : "The client count."
          }
        }
      }
    },
    "/FoundationBFBean/productInfo" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the product info from this engine.",
        "operationId" : "getProductInfo_1",
        "responses" : {
          "200" : {
            "description" : "Contains the product info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/runtimeInfo" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the runtime info from this engine.",
        "operationId" : "getRuntimeInfo_1",
        "responses" : {
          "200" : {
            "description" : "Contains the runtime info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/scriptExecutionState" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "gets a script execution state",
        "operationId" : "getScriptExecutionState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScriptExecutionStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScriptExecutionStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/tableUpdateState" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieve the status of the table update.",
        "operationId" : "getTableUpdateState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TableUpdateStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The table update status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/uploadSettings" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves the upload settings.",
        "operationId" : "getUploadSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadSettingsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The upload settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadSettingsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/version" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the version info for a solution from this engine.",
        "operationId" : "getVersionForSolution_1",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Name of solution.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the version info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/workplaceURL" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the workplace url from this engine.",
        "operationId" : "getWorkplaceURL",
        "responses" : {
          "200" : {
            "description" : "The workspace url."
          }
        }
      }
    },
    "/FoundationBFBean/checkDebtorNumber" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Checks if debtor number is known.",
        "operationId" : "isDebtorNumberKnown",
        "parameters" : [ {
          "name" : "debtorNumber",
          "in" : "query",
          "description" : "the debtor number to check",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "True if known."
          }
        }
      }
    },
    "/FoundationBFBean/publishUserMessage" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "creates a user message, in several languages if required",
        "operationId" : "publishUserMessage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublishMessageRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublishMessageResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the current engine to report all its roles",
        "operationId" : "requestReport",
        "responses" : {
          "200" : {
            "description" : "Contains all roles and clients.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles/{clientIdentCode}" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the current engine to report all roles for a specific client",
        "operationId" : "requestReport_1",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "path",
          "description" : "Client ident code for retrieving its roles.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the roles of a specific client from the queried engine.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Client ident code is invalid."
          },
          "404" : {
            "description" : "No client with that ident code exists."
          }
        }
      }
    },
    "/FoundationBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \"/AEB/XNSG_IF_RSTRFCSRV\"",
        "operationId" : "restartRFCServer_1",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationBFBean/sendMail" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Sends a mail.",
        "operationId" : "sendMail",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendMailResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startScriptExecution" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Starts a script execution",
        "operationId" : "startScriptExecution",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartScriptExecutionParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StartScriptExecutionResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startTableUpdate" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Starts the table update.",
        "operationId" : "startTableUpdate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartTableUpdateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/systemSearch/{language}" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Performs a system search in this engine.",
        "operationId" : "systemSearch",
        "parameters" : [ {
          "name" : "language",
          "in" : "path",
          "description" : "the langauge",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SystemSearchParameterDTO"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SystemSearchResultDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/uploadFileMultiPart" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Uploads a file using multipart.",
        "operationId" : "uploadFileMultiPart",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "Attach file to upload",
                    "format" : "binary"
                  },
                  "metaInfo" : {
                    "$ref" : "#/components/schemas/UploadFileMultiPartRequestDTO"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/RemoteAdminBFBean/clientRoles/{clientId}" : {
      "get" : {
        "tags" : [ "RemoteAdminBFBean" ],
        "summary" : "getRoles",
        "description" : "Returns a list of roles",
        "operationId" : "getRolesForClient",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The roles of the specified client.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolesOfClientDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolesOfClientDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "returned when client with given ident code is not found"
          }
        }
      }
    },
    "/RemoteAdminBFBean/roles" : {
      "get" : {
        "tags" : [ "RemoteAdminBFBean" ],
        "summary" : "getRoles",
        "description" : "Returns a list of roles",
        "operationId" : "getRolesGET",
        "parameters" : [ {
          "name" : "scope",
          "in" : "query",
          "description" : "the dataset to return",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCodes",
          "in" : "query",
          "description" : "includeClientIdentCodes",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resultLanguageIsoCodes",
          "in" : "query",
          "description" : "resultLanguageIsoCodes",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRolesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRolesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/acknowledgeEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId" : "acknowledgeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getNotAcknowledgedEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId" : "getNotAcknowledgedEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getPartnerSystemSubscriptions" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Fetch a list of registered subscriptions (either all or filtered by the business object type).<br>Only subscription belonging to the provided <code>clientSystemId</code> are returned (mandatory field)<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "getPartnerSystemSubscriptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/subscribePartnerSystem" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Subscribe a partner system to be able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "subscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/synchronizeEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.",
        "operationId" : "synchronizeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/unsubscribePartnerSystem" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Unsubscribe a partner system from being able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "unsubscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UnsubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnsubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsAFBean/openConsignmentFolder" : {
      "post" : {
        "tags" : [ "InternationalCustomsAFBean" ],
        "summary" : "Open consignment folder",
        "description" : "Opens a consignment for the given parameters. A consignment is identified by a businessObjectId or a consignmentIdClientSystem.",
        "operationId" : "openConsignmentFolder",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpenConsignmentFolderArgumentDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsAFBean/openDeclarationAttachment" : {
      "post" : {
        "tags" : [ "InternationalCustomsAFBean" ],
        "summary" : "Open declaration attachment",
        "description" : "Opens an attachment of a declaration for the given parameters. A declaration is identified by a businessObjectId.",
        "operationId" : "openDeclarationAttachment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpenDeclarationAttachmentArgumentDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsAFBean/openDeclarationFolder" : {
      "post" : {
        "tags" : [ "InternationalCustomsAFBean" ],
        "summary" : "Open declaration folder",
        "description" : "Opens a declaration for the given parameters. A declaration is identified by a businessObjectId.",
        "operationId" : "openDeclarationFolder",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpenDeclarationFolderArgumentDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsAFBean/openDeclarationSearch" : {
      "post" : {
        "tags" : [ "InternationalCustomsAFBean" ],
        "summary" : "Open declaration search",
        "description" : "Opens a declaration search for the given parameters.",
        "operationId" : "openDeclarationSearch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpenDeclarationSearchArgumentDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/consignment-profiles/{code}" : {
      "get" : {
        "tags" : [ "Consignment profiles" ],
        "summary" : "Returns a consignment profile of the given client",
        "operationId" : "getConsignmentProfile",
        "parameters" : [ {
          "name" : "client_ident_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "result_language_iso_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "code",
          "in" : "path",
          "description" : "Consignment profile code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DEFAULT_PROFILE"
        } ],
        "responses" : {
          "200" : {
            "description" : "Call was successfull",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICGetConsignmentProfilesResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Request contained invalid data",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Consignment profile not found",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error occurred",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/consignment-profiles" : {
      "get" : {
        "tags" : [ "Consignment profiles" ],
        "summary" : "Returns a list of consignment profiles of the given client",
        "operationId" : "getConsignmentProfiles",
        "parameters" : [ {
          "name" : "client_ident_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "result_language_iso_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "profile_code",
          "in" : "query",
          "description" : "Filter consignment profiles by code",
          "schema" : {
            "type" : "string"
          },
          "example" : "DEFAULT_PROFILE"
        } ],
        "responses" : {
          "200" : {
            "description" : "Call was successfull",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICGetConsignmentProfilesResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Request contained invalid data",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error occurred",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/consignment-profiles/transitions" : {
      "get" : {
        "tags" : [ "Consignment profiles" ],
        "summary" : "Returns a list of consignment profile transitions of the given client",
        "operationId" : "getConsignmentProfilesTransitions",
        "parameters" : [ {
          "name" : "client_ident_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "result_language_iso_code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valid_at",
          "in" : "query",
          "description" : "Filter transitions by the validity",
          "schema" : {
            "type" : "string"
          },
          "example" : "2024-03-15"
        }, {
          "name" : "dispatch_country_code",
          "in" : "query",
          "description" : "Filter transitions by dispatch country ISO code",
          "schema" : {
            "type" : "string"
          },
          "example" : "DE"
        }, {
          "name" : "destination_country_code",
          "in" : "query",
          "description" : "Filter transitions by destination country ISO code",
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        } ],
        "responses" : {
          "200" : {
            "description" : "Call was successfull",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICGetTransitionsResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Request contained invalid data",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error occurred",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CustomsTransitBFBean/sendConformUnloadingRemarks" : {
      "post" : {
        "tags" : [ "CustomsTransitBFBean" ],
        "summary" : "Send conform unloading remarks",
        "description" : "Sends conform unloading remarks for the specified transit arrivals to the respective customs systems. If the transit arrivals are not ready for sending unloading remarks, an email notification is sent out, if configured.",
        "operationId" : "sendConformUnloadingRemarks",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICSendConformUnloadingRemarksRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICSendConformUnloadingRemarksResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/document-extractions" : {
      "post" : {
        "tags" : [ "Document extractions" ],
        "summary" : "Creates a list of document extractions for the given documents",
        "operationId" : "create-document-extractions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICCreateDocumentExtractionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Document extractions successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICCreateDocumentExtractionResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Request contained invalid data",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error occurred",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsBFBean/acknowledgeGetChangedDeclarations" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Acknowledge call of get changed declarations",
        "description" : "Acknowledge, that the result of calling {@link #getChangedDeclarations(ICGetChangedDeclarationsRequestDTO)} was processed.",
        "operationId" : "acknowledgeGetChangedDeclarations",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICAcknowledgeGetChangedDeclarationsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICAcknowledgeGetChangedDeclarationsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsBFBean/addDeclarationAttachments" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Add declaration attachments",
        "description" : "Add attachments (files) to declarations. The size of the files are limited to a configurable size (e.g. 20 MB)<br> This operation is deprecated, use createConsignment with attachments instead.",
        "operationId" : "addDeclarationAttachments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICAddDeclarationAttachmentsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICAddDeclarationAttachmentsResponseDTO"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/InternationalCustomsBFBean/cancelConsignment" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Cancel consignment",
        "description" : "Initiates a cancellation process for the requested consignment. <br> The consignment can be addressed via the consignment id from the client system (field 'consignmentIdClientSystem') or via the businessObjectId which is the reference of the ICI system. If both fields are entered the businessObjectId will be used.<br> There are two possible outcomes: <ul> <li>Deletion of the consignment and all referenced declarations</li> <li>Invalidation of the consignment and all referenced declarations</li> </ul> If it is not possible to delete or invalidate nothing will be done.",
        "operationId" : "cancelConsignment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICCancelConsignmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICCancelConsignmentResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsBFBean/cancelConsignmentManifest" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Cancel consignment manifest",
        "description" : "Initiates a cancellation process for the requested consignment manifest. <br> The consignment manifest can be addressed via the consignment id from the client system (field 'consignmentIdClientSystem') or via the businessObjectId which is the reference of the ICI system. If both fields are entered the businessObjectId will be used.<br> There are two possible outcomes: <ul> <li>Deletion of the consignment manifest and all referenced declarations</li> <li>Invalidation of the consignment manifest and all referenced declarations</li> </ul> If it is not possible to delete or invalidate nothing will be done.",
        "operationId" : "cancelConsignmentManifest",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICCancelConsignmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICCancelConsignmentResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsBFBean/cancelDeclaration" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Cancel declaration",
        "description" : "Initiates a cancellation process for the requested declaration. <br> There are two possible outcomes: <ul> <li>Deletion of the declaration</li> <li>Invalidation of the declaration</li> </ul> If it is not possible to delete or invalidate nothing will be done.",
        "operationId" : "cancelDeclaration",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICCancelDeclarationRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ICCancelDeclarationResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternationalCustomsBFBean/createConsignment" : {
      "post" : {
        "tags" : [ "InternationalCustomsBFBean" ],
        "summary" : "Create a consignment",
        "description" : "Creates a new consignment. If any fields on consignment or delivery level are empty which are mandatory an error message will be created and the creation stopped. Only if the mandatory fields are filled the consignment will be created and imported.",
        "operationId" : "createConsignment",
        "requestBody" : {
          "description" : "The consignment data",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ICCreateConsignmentRequestDTO"
              },
              "examples" : {
                "Typical ERP example" : {
                  "description" : "Example with fields which are typically availabe in an ERP system.",
                  "value" : {
                    "clientSystemId" : "ERP-ID",
                    "clientIdentCode" : "APITEST",
                    "resultLanguageIsoCodes" : [ "en" ],
                    "consignment" : {
                      "consignmentIdClientSystem" : "CONS-1000-ID",
                      "organizationUnitClientSystem" : "OrgUnit",
                      "consignmentNumber" : "CONS-1000",
                      "remark" : "Remark",
                      "profileCode" : "STD",
                      "personInCharge" : {
                        "forename" : "Forename",
                        "surname" : "Surename1",
                        "email" : "email@company.com",
                        "phone" : "Phone",
                        "supplement" : "Supplement",
                        "initials" : "Initials"
                      },
                      "deliveries" : [ {
                        "deliveryIdClientSystem" : "DEL-1000-ID",
                        "organizationUnitClientSystem" : "OrgUnit",
                        "deliveryNumber" : "DEL-1000",
                        "remark" : "Remark",
                        "totalGrossMass" : {
                          "value" : "150",
                          "unit" : "kg"
                        },
                        "totalNetMass" : {
                          "value" : "120",
                          "unit" : "kg"
                        },
                        "dispatchCountryCode" : "NL",
                        "destinationCountryCode" : "US",
                        "decisiveDate" : {
                          "dateInTimezone" : "2020-05-05 12:00:00",
                          "timezone" : "GMT+01:00"
                        },
                        "tradeTerms" : {
                          "incotermCode" : "EXW",
                          "place" : "Place",
                          "info" : "Info"
                        },
                        "isContainerised" : "true",
                        "parties" : [ {
                          "partyType" : "DECLARANT",
                          "customsProcess" : "EXPORT_NL",
                          "companyNumber" : "DECL-1000",
                          "name" : "Declarant NL",
                          "name2" : "Name2",
                          "street" : "Street",
                          "street2" : "Street 2",
                          "city" : "City",
                          "postCode" : "123456",
                          "district" : "District",
                          "country" : "NL",
                          "contact" : {
                            "forename" : "Forname",
                            "surname" : "Surname",
                            "email" : "email@declarant.com",
                            "phone" : "Phone",
                            "supplement" : "Supplement",
                            "initials" : "Initials"
                          },
                          "customsIds" : [ {
                            "identificationType" : "EORI",
                            "identification" : "NL123456789"
                          } ]
                        }, {
                          "partyType" : "EXPORTER",
                          "customsProcess" : "EXPORT_NL",
                          "companyNumber" : "DECL-1000",
                          "name" : "Declarant NL",
                          "name2" : "Name2",
                          "street" : "Street",
                          "street2" : "Street 2",
                          "city" : "City",
                          "postCode" : "123456",
                          "district" : "District",
                          "country" : "NL",
                          "customsIds" : [ {
                            "identificationType" : "EORI",
                            "identification" : "NL123456789"
                          } ]
                        }, {
                          "partyType" : "CONSIGNEE",
                          "name" : "Consignee US",
                          "street" : "Street",
                          "city" : "City",
                          "postCode" : "123456",
                          "country" : "US"
                        } ],
                        "transportEquipments" : [ {
                          "equipmentType" : "CONTAINER",
                          "identification" : "CON-1000",
                          "seals" : [ {
                            "identification" : "SEAL-1000"
                          } ]
                        } ],
                        "customsOffices" : [ {
                          "officeType" : "EXPORT",
                          "sequenceNumber" : "1",
                          "officeCode" : "NL000074"
                        } ],
                        "transportMeans" : [ {
                          "meansType" : "BORDER",
                          "transportModeCode" : "3",
                          "transportMeansCode" : "20",
                          "identification" : "Identification",
                          "nationalityCode" : "NL"
                        } ],
                        "itinerary" : [ {
                          "sequenceNumber" : "1",
                          "countryCode" : "BE"
                        } ],
                        "invoices" : [ {
                          "invoiceIdClientSystem" : "INV-1000-ID",
                          "invoiceNumber" : "INV-1000",
                          "invoiceDate" : {
                            "dateInTimezone" : "2020-05-05 12:00:00",
                            "timezone" : "GMT+01:00"
                          },
                          "invoicePrice" : {
                            "value" : "500",
                            "currencyIso" : "USD"
                          }
                        } ],
                        "items" : [ {
                          "itemIdClientSystem" : "1",
                          "itemNumber" : "1",
                          "material" : {
                            "materialId" : "M-1000"
                          },
                          "invoiceIdClientSystem" : "INV-1000-ID",
                          "grossMass" : {
                            "value" : "150",
                            "unit" : "kg"
                          },
                          "netMass" : {
                            "value" : "120",
                            "unit" : "kg"
                          },
                          "netPrice" : {
                            "value" : "500",
                            "currencyIso" : "USD"
                          },
                          "originCountryCode" : "NL",
                          "preferentialOriginCountryCode" : "NL",
                          "isEligiblePreference" : "false",
                          "statisticalValue" : {
                            "value" : "400",
                            "currencyIso" : "EUR"
                          },
                          "classifications" : [ {
                            "classificationType" : "COCOEXPORT",
                            "classificationValue" : "87120030"
                          } ],
                          "goodsDescription" : [ {
                            "languageISOCode" : "EN",
                            "text" : "Bicycles and accessories"
                          } ],
                          "quantities" : [ {
                            "quantityType" : "ITEM",
                            "quantity" : {
                              "value" : "10",
                              "unit" : "St"
                            }
                          } ],
                          "additionalReferences" : [ {
                            "referenceType" : "EMCS_ARC_NUMBER",
                            "reference" : "Reference number"
                          } ],
                          "customsProcedures" : [ {
                            "customsProcedureType" : "EXPORTPROC",
                            "customsProcedureCode" : "1000"
                          } ]
                        } ],
                        "packages" : [ {
                          "packageIdClientSystem" : "PACK-1000-ID",
                          "quantity" : "1",
                          "typeUneceCode" : "PB",
                          "grossMass" : {
                            "value" : "150",
                            "unit" : "kg"
                          },
                          "marksAndNumbers" : {
                            "languageISOCode" : "EN",
                            "text" : "Marks"
                          },
                          "seals" : [ {
                            "identification" : "SEAL-1000"
                          } ],
                          "packedItems" : [ {
                            "itemIdClientSystem" : "1",
                            "packedQuantity" : "10"
                          } ]
                        } ],
                        "goodsDescription" : [ {
                          "languageISOCode" : "EN",
                          "text" : "Bicycles"
                        } ],
                        "additionalReferences" : [ {
                          "referenceType" : "EMCS_ARC_NUMBER",
                          "reference" : "Reference number"
                        } ]
                      } ]
                    }
                  }
                },
                "Country specific example" : {
                  "description" : "Example with country specific fields which need to be passed as extension.",
                  "value" : {
                    "clientSystemId" : "ERP-ID",
                    "clientIdentCode" : "APITEST",
                    "resultLanguageIsoCodes" : [ "en" ],
                    "consignment" : {
                      "consignmentIdClientSystem" : "CONS-1000-ID",
                      "consignmentNumber" : "CONS-1000",
                      "profileCode" : "STD",
                      "deliveries" : [ {
                        "deliveryIdClientSystem" : "DEL-1000-ID",
                        "deliveryNumber" : "DEL-1000",
                        "dispatchCountryCode" : "NL",
                        "destinationCountryCode" : "US",
                        "decisiveDate" : {
                          "dateInTimezone" : "2020-05-05 12:00:00",
                          "timezone" : "CET"
                        },
                        "parties" : [ {
                          "partyType" : "CONSIGNEE",
                          "name" : "Consignee US",
                          "street" : "Main road 1",
                          "city" : "Atlanta",
                          "postCode" : "123456",
                          "country" : "US"
                        } ],
                        "transportMeans" : [ {
                          "meansType" : "BORDER",
                          "transportModeCode" : "3",
                          "transportMeansCode" : "20",
                          "identification" : "US 123",
                          "nationalityCode" : "US"
                        } ],
                        "extension" : {
                          "exportNL" : {
                            "expectedArrivalTime" : {
                              "dateInTimezone" : "2020-05-05 00:00:00",
                              "timezone" : "CET"
                            },
                            "expectedDepartureTime" : {
                              "dateInTimezone" : "2020-05-15 00:00:00",
                              "timezone" : "CET"
                            }
                          }
                        },
                        "items" : [ {
                          "itemIdClientSystem" : "1",
                          "itemNumber" : "1",
                          "material" : {
                            "materialId" : "M-1000"
                          },
                          "netMass" : {
                            "value" : "120",
                            "unit" : "kg"
                          },
                          "originCountryCode" : "BE",
                          "statisticalValue" : {
                            "value" : "400",
                            "currencyIso" : "EUR"
                          },
                          "classifications" : [ {
                            "classificationType" : "COCOEXPORT",
                            "classificationValue" : "87120030"
                          } ],
                          "goodsDescription" : [ {
                            "languageISOCode" : "EN",
                            "text" : "Bicycles and accessories"
                          } ],
                          "quantities" : [ {
                            "quantityType" : "ITEM",
                            "quantity" : {
                              "value" : "10",
                              "unit" : "St"
                            }
                          } ],
                          "extension" : {
                            "exportNL" : {
                              "transactionNatureCode" : "11",
                              "producedDocuments" : [ {
                                "typeCode" : "Y902",
                                "reference" : "Document reference Y902",
                                "informationDate" : {
                                  "dateInTimezone" : "2020-05-05 00:00:00",
                                  "timezone" : "CET"
                                }
                              } ]
                            },
                            "exportDE" : {
                              "transactionNatureCode" : "11",
                              "producedDocuments" : [ {
                                "typeCode" : "Y901",
                                "reference" : "Document reference Y901",
                                "informationDate" : {
                                  "dateInTimezone" : "2020-05-05 00:00:00",
                                  "timezone" : "CET"
                                }
                              } ],
                              "terminationCustomsWarehouse" : {
                                "authorisationNumber" : "DECWP0000ZL000001",
                                "items" : [ {
                                  "entryInATLAS" : "true",
                                  "customsRegistrationNumber" : "ATX0000000000000000001",
                                  "itemNumber" : "1",
                                  "commodityCode" : "99001000",
                                  "removalQuantity" : {
                                    "value" : "5",
                                    "unit" : "NAR"
                                  }
                                }, {
                                  "entryInATLAS" : "false",
                                  "registrationNumber" : "X1234",
                                  "itemNumber" : "2",
                                  "commodityCode" : "99001010",
                                  "removalQuantity" : {
                                    "value" : "3",
                                    "unit" : "NAR"
                                  }
                                } ]
                              }
                            }
                          }
                        } ],
                        "packages" : [ {
                          "packageIdClientSystem" : "PACK-1000-ID",
                          "quantity" : "1",
                          "typeUneceCode" : "PB",
                          "grossMass" : {
                            "value" : "150",
                            "unit" : "kg"
                          },
                          "marksAndNumbers" : {
                            "languageISOCode" : "EN",
                            "text" : "Marks"
                          }
                        } ]
                      } ]
                    }
                  }
                },
                "Broker example" : {
                  "description" : "Example with broker specific fields which need to passed as free defined extra fields in an extension.",
                  "value" : {
                    "clientSystemId" : "ERP-ID",
                    "clientIdentCode" : "APITEST",
                    "resultLanguageIsoCodes" : [ "en" ],
                    "consignment" : {
                      "consignmentIdClientSystem" : "CONS-1000-ID",
                      "consignmentNumber" : "CONS-1000",
                      "profileCode" : "STD",
                      "deliveries" : [ {
                        "deliveryIdClientSystem" : "DEL-1000-ID",
                        "deliveryNumber" : "DEL-1000",
                        "dispatchCountryCode" : "NL",
                        "destinationCountryCode" : "US",
                        "decisiveDate" : {
                          "dateInTimezone" : "2020-05-05 12:00:00",
                          "timezone" : "CET"
                        },
                        "parties" : [ {
                          "partyType" : "CONSIGNEE",
                          "name" : "Consignee US",
                          "street" : "Main road 1",
                          "city" : "Atlanta",
                          "postCode" : "123456",
                          "country" : "US"
                        } ],
                        "transportMeans" : [ {
                          "meansType" : "BORDER",
                          "transportModeCode" : "3",
                          "transportMeansCode" : "20",
                          "identification" : "US 123",
                          "nationalityCode" : "US"
                        } ],
                        "extension" : {
                          "exportBroker" : {
                            "extraFields" : [ {
                              "identCode" : "FIELD_1",
                              "value" : "VALUE_1"
                            }, {
                              "identCode" : "FIELD_2",
                              "value" : "VALUE_2"
                            } ]
                          }
                        },
                        "items" : [ {
                          "itemIdClientSystem" : "1",
                          "itemNumber" : "1",
                          "material" : {
                            "materialId" : "M-1000"
                          },
                          "netMass" : {
                            "value" : "120",
                            "unit" : "kg"
                          },
                          "originCountryCode" : "BE",
                          "statisticalValue" : {
                            "value" : "400",
                            "currencyIso" : "EUR"
                          },
                          "classifications" : [ {
                            "classificationType" : "COCOEXPORT",
                            "classificationValue" : "87120030"
                          } ],
                          "goodsDescription" : [ {
                            "languageISOCode" : "EN",
                            "text" : "Bicycles and accessories"
                          } ],
                          "quantities" : [ {
                            "quantityType" : "ITEM",
                            "quantity" : {
                              "value" : "10",
                              "unit" : "St"
                            }
                          } ],
                          "extension" : {
                            "exportBroker" : {
                              "extraFields" : [ {
                                "identCode" : "FIELD_1",
                                "value" : "VALUE_1"
                              }, {
                                "identCode" : "FIELD_2",
                                "value" : "VALUE_2"
                              } ],
                              "producedDocuments" : [ {
                                "typeCode" : "Y902",
                                "reference" : "Document reference Y902",
                                "informationDate" : {
                                  "dateInTimezone" : "2020-05-05 00:00:00",
                                  "timezone" : "CET"
                                }
                              } ]
                            }
                          }
                        } ],
                        "packages" : [ {
                          "packageIdClientSystem" : "PACK-1000-ID",
                          "quantity" : "1",
                          "typeUneceCode" : "PB",
                          "grossMass" : {
                            "value" : "150",
                            "unit" : "kg"
                          },
                          "marksAndNumbers" : {
                            "languageISOCode" : "EN",
                            "text" : "Marks"
                          }
                        } ]
                      } ]
                    }
                  }
                },
                "Export ATLAS DE" : {
                  "description" : "Example with fields filled for a customs declaration in German ATLAS system.",
                  "value" : {
                    "clientSystemId" : "HOSTSYSTEM",
                    "clientIdentCode" : "REPLACE_WITH_YOUR_CLIENT_IDENTODE",
                    "userName" : "REPLACE_WITH_YOUR_USER_NAME",
                    "resultLanguageIsoCodes" : [ "DE" ],
                    "consignment" : {
                      "consignmentIdClientSystem" : "4732_DE",
                      "consignmentNumber" : "4732_DE",
                      "personInCharge" : {
                        "forename" : "Forename",
                        "surname" : "Surename1",
                        "email" : "email@company.com",
                        "phone" : "Phone",
                        "supplement" : "Supplement",
                        "initials" : "Initials"
                      },
                      "profileCode" : "REPLACE_WITH_YOUR_EXPORT_DE_PROFILE",
                      "deliveries" : [ {
                        "deliveryIdClientSystem" : "DCTEST",
                        "deliveryNumber" : "DCTEST_001",
                        "isContainerised" : "true",
                        "dispatchCountryCode" : "DE",
                        "destinationCountryCode" : "CH",
                        "decisiveDate" : {
                          "dateInTimezone" : "2024-01-10 10:12:10",
                          "timezone" : "UTC"
                        },
                        "parties" : [ {
                          "partyType" : "DECLARANT",
                          "name" : "Declarant NL",
                          "name2" : "Name2",
                          "street" : "Street",
                          "street2" : "Street 2",
                          "city" : "City",
                          "postCode" : "123456",
                          "district" : "District",
                          "country" : "DE",
                          "contact" : {
                            "forename" : "Forname",
                            "surname" : "Surname",
                            "email" : "email@declarant.com",
                            "phone" : "Phone",
                            "supplement" : "Supplement",
                            "initials" : "Initials"
                          },
                          "customsIds" : [ {
                            "identificationType" : "EORI",
                            "identification" : "DE123456789"
                          } ]
                        }, {
                          "partyType" : "EXPORTER",
                          "name" : "Declarant NL",
                          "name2" : "Name2",
                          "street" : "Street",
                          "street2" : "Street 2",
                          "city" : "City",
                          "postCode" : "123456",
                          "district" : "District",
                          "country" : "DE",
                          "customsIds" : [ {
                            "identificationType" : "EORI",
                            "identification" : "DE123456789"
                          } ]
                        }, {
                          "partyType" : "CONSIGNEE",
                          "name" : "Consignee CH",
                          "street" : "Street",
                          "city" : "City",
                          "postCode" : "123456",
                          "country" : "CH"
                        } ],
                        "transportEquipments" : [ {
                          "equipmentType" : "CONTAINER",
                          "identification" : "CON-1001",
                          "seals" : [ {
                            "identification" : "SEAL-1001"
                          } ]
                        } ],
                        "customsOffices" : [ {
                          "officeType" : "EXPORT",
                          "sequenceNumber" : "1",
[...]
