{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BSM (TEST2) HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/test2bsm/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "BSM Carrier",
    "description" : "The API for BSM Carrier operations"
  }, {
    "name" : "AEB Delivery",
    "description" : "API for the AEBDelivery"
  }, {
    "name" : "BSM International Customs",
    "description" : "API for BSM International Customs operations"
  }, {
    "name" : "BSM Sync",
    "description" : "API for synchronizing data asynchronous from an engine to a client system"
  }, {
    "name" : "SAP®",
    "description" : "All SAP® specific APIs to interact with the BSM."
  }, {
    "name" : "CoreBFBean",
    "description" : "API for the XNSGFoundation"
  }, {
    "name" : "Shipping",
    "description" : "API for the CarrierEngine service"
  }, {
    "name" : "Export Control",
    "description" : "API for export control"
  }, {
    "name" : "FoundationAFBean",
    "description" : "Business facade for the XNSGFoundation UI API"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "ExternalTelemetryBFBean",
    "description" : "API for sending telemetry data from a third party system."
  }, {
    "name" : "FoundationBFBean",
    "description" : "REST endpoint for FoundationBF"
  }, {
    "name" : "RemoteAdminBFBean",
    "description" : " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
  }, {
    "name" : "SyncBFBean",
    "description" : "API for synchronizing data asynchronous from an engine to a client system."
  }, {
    "name" : "International Customs API",
    "description" : "Interface overview for Customs Management"
  }, {
    "name" : "LISBF20Bean",
    "description" : "Business facade for LIS, version 2.0"
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "O&P UI",
    "description" : "The API with all about Origin and Preferences UIs"
  }, {
    "name" : "Declaration of Origin",
    "description" : "The API with all about declaration of origin"
  }, {
    "name" : "O&P",
    "description" : "The API with all about Origin and Preferences"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  }, {
    "name" : "Routing",
    "description" : "API for the handling of routing tasks"
  }, {
    "name" : "x360",
    "description" : "All Haufe x360 specific APIs to interact with the BSM."
  } ],
  "paths" : {
    "/BSMCarrierBFBean/createShipment" : {
      "post" : {
        "tags" : [ "BSM Carrier" ],
        "summary" : "createShipment",
        "description" : "Creates a shipment with the data specified in the shipment request",
        "operationId" : "createShipment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMDLCreateShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMDLCreateShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMCarrierBFBean/getQuotes" : {
      "post" : {
        "tags" : [ "BSM Carrier" ],
        "summary" : "getQuotes",
        "description" : "Get the quotes for the requested shipment data",
        "operationId" : "getQuotes",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetQuotesRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetQuotesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetQuotesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetQuotesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMCarrierBFBean/getShipment" : {
      "post" : {
        "tags" : [ "BSM Carrier" ],
        "summary" : "getShipment",
        "description" : "Get the shipment data including the quotes for a service",
        "operationId" : "getShipment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/AEBDeliveryBFBean/deleteDelivery" : {
      "post" : {
        "tags" : [ "AEB Delivery" ],
        "summary" : "deleteDelivery",
        "description" : "Delete the AEBDelivery",
        "operationId" : "deleteDelivery",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteAEBDeliveryRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteAEBDeliveryRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteAEBDeliveryResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteAEBDeliveryResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/AEBDeliveryBFBean/getDelivery" : {
      "post" : {
        "tags" : [ "AEB Delivery" ],
        "summary" : "getDelivery",
        "description" : "Get the AEBDelivery",
        "operationId" : "getDelivery",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetAEBDeliveryRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetAEBDeliveryRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAEBDeliveryResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAEBDeliveryResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/AEBDeliveryBFBean/updateDelivery" : {
      "post" : {
        "tags" : [ "AEB Delivery" ],
        "summary" : "updateDelivery",
        "description" : "Update the AEBDelivery",
        "operationId" : "updateDelivery",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAEBDeliveryRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAEBDeliveryRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateAEBDeliveryResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateAEBDeliveryResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMInternationalCustomsBFBean/createConsignment" : {
      "post" : {
        "tags" : [ "BSM International Customs" ],
        "summary" : "createConsignment",
        "description" : "Creates a consignment in Customs Management",
        "operationId" : "createConsignment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMICCreateConsignmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMICCreateConsignmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BSMICCreateConsignmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BSMICCreateConsignmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/acknowledgeEvents" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "acknowledgeEvents",
        "description" : "Acknowledge events",
        "operationId" : "acknowledgeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMAcknowledgeEventsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMAcknowledgeEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeEventsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeEventsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/getNotAcknowledgedEvents" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "getNotAcknowledgedEvents",
        "description" : "Poll any not acknowledged events for the client system",
        "operationId" : "getNotAcknowledgedEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSyncEventsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/getPartnerSystemSubscriptions" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "getPartnerSystemSubscriptions",
        "description" : "Fetch a list of registered partner system subscriptions",
        "operationId" : "getPartnerSystemSubscriptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMGetPartnerSystemSubscriptionsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMGetPartnerSystemSubscriptionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/subscribePartnerSystem" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "subscribePartnerSystem",
        "description" : "Subscribe a partner system to receive events for the specified business object type",
        "operationId" : "subscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSubscribePartnerSystemRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscribePartnerSystemResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/synchronizeEvents" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "synchronizeEvents",
        "description" : "Poll the next events for the client system",
        "operationId" : "synchronizeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSyncEventsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMSyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/BSMSyncBFBean/unsubscribePartnerSystem" : {
      "post" : {
        "tags" : [ "BSM Sync" ],
        "summary" : "unsubscribePartnerSystem",
        "description" : "Unsubscribe a partner system from receiving events for the specified business object type",
        "operationId" : "unsubscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMUnsubscribePartnerSystemRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BSMUnsubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnsubscribePartnerSystemResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnsubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/SAP/handleEvent" : {
      "post" : {
        "tags" : [ "SAP®" ],
        "summary" : "Handle SAP® events.",
        "description" : "Handles events from SAP® to process according to customizing.",
        "operationId" : "handleEvent",
        "requestBody" : {
          "description" : "Event data as JSON String.",
          "content" : {
            "application/cloudevents+json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details."
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token."
          },
          "405" : {
            "description" : "Method not allowed. Use POST."
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json."
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json."
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details."
          }
        }
      }
    },
    "/CoreBFBean/checkBFFunctionExists" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Can be called to know if a BF function exist.",
        "operationId" : "checkBFFunctionExists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BFFunctionDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BFFunctionExistsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echo" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value.",
        "operationId" : "echo",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echoUpperCase" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value in uppercase.",
        "operationId" : "echoUpperCase",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getAllMonitoringValues" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns all available monitoring values of the server.",
        "operationId" : "getAllMonitoringValues",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getBuildForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".",
        "operationId" : "getBuildForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getMonitoringValue" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the current monitoring value for the given group and name.",
        "operationId" : "getMonitoringValue",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getProductInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".",
        "operationId" : "getProductInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".",
        "operationId" : "getRuntimeInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeState" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".",
        "operationId" : "getRuntimeState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RuntimeStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getThreadDump" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Generate Thread-Dump.",
        "operationId" : "getThreadDump",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getVersionForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".",
        "operationId" : "getVersionForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".",
        "operationId" : "restartRFCServer",
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/DLCarrierBFBean/addShipmentAttachments" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "addShipmentAttachments",
        "description" : "Adds attachments to a shipment (e.g. invoices, origin documents, etc.).",
        "operationId" : "addShipmentAttachments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLAddShipmentAttachmentsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLAddShipmentAttachmentsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLAddShipmentAttachmentsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLAddShipmentAttachmentsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/cancelShipment" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "cancelShipment",
        "description" : "Cancels a shipment.",
        "operationId" : "cancelShipment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCancelShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCancelShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCancelShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCancelShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/createPickup" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "createPickup",
        "description" : "Creates a new pickup for the shipments specified in the request.<br> Depending on the request, an error may be returned when the shipments can't form a single pickup, e.g. when they have different carriers.<br> Optionally the new pickup can be manifested. That means that the EDI is sent to the carrier if necessary and the pickup will be closed.<br> When specified in request, the manifest documents are printed.",
        "operationId" : "createPickup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCreatePickupRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCreatePickupRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreatePickupResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreatePickupResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/createShipment" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "createShipment",
        "description" : "Creates a shipment with the data specified in the shipment request.<br> An error will be returned when the shipment exists already.<br> Optionally various operations like label preparation and label output can be applied on the shipment. A complete processing including the pickup assignment is also possible.<br> The operations are handled asynchronously, so operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId" : "createShipment_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCreateShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLCreateShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/deleteItem" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "deleteItem",
        "description" : "Deletes an existing item. Packages containing items remain in the shipment and can be packed again with processShipment. Deleting a item is not always possible. It mainly depends on the status of the package containing the item and the shipment.",
        "operationId" : "deleteItem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeleteItemRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeleteItemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeleteItemResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeleteItemResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/deletePackage" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "deletePackage",
        "description" : "Deletes an existing package. Packed items remain unpacked in the shipment and can be packaged again with processShipment. Deleting a package is not always possible. It mainly depends on the status of the package and the shipment.",
        "operationId" : "deletePackage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeletePackageRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeletePackageRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeletePackageResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeletePackageResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/deletePickup" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "deletePickup",
        "description" : "Cancels an existing pickup. All shipments are removed from the pickup and must be assigned to a new pickup by another <code>createPickup</code> call.<br> Warning: EDI data for the existing pickup might have already been sent to the carrier. So check with the carrier that it's fine to cancel the pickup and create a new (differing) one.",
        "operationId" : "deletePickup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeletePickupRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLDeletePickupRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeletePickupResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLDeletePickupResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getAllCarriers" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getAllCarriers",
        "description" : "Returns a list of all carrier available for the requested client.",
        "operationId" : "getAllCarriers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetAllCarriersRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetAllCarriersRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetAllCarriersResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetAllCarriersResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getCarrierPortfolioNames" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getCarrierPortfolioNames",
        "description" : "Returns a list of the names of all supported carriers.",
        "operationId" : "getCarrierPortfolioDetails",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getCarrierPortfolioDetails" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getCarrierPortfolioDetails",
        "description" : "Returns detailed information about the requested carriers.",
        "operationId" : "getCarrierPortfolioNames",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getCarrierProperties" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getCarrierProperties",
        "description" : "Returns the properties of the requested carrier.",
        "operationId" : "getCarrierProperties",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPropertiesRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetCarrierPropertiesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPropertiesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetCarrierPropertiesResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getPickups" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getPickups",
        "description" : "Returns detail information about specific pickups.",
        "operationId" : "getPickups",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetPickupsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetPickupsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetPickupsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetPickupsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/getShipments" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "getShipments",
        "description" : "Returns detail information about specific shipments.",
        "operationId" : "getShipments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetShipmentsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLGetShipmentsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetShipmentsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLGetShipmentsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/processPackage" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "processPackage",
        "description" : "Allows to perform various operations on an existing package. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a further <code>processPackage</code> call, a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId" : "processPackage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPackageRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPackageRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPackageResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPackageResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/processPackageReturnEnclosedLabel" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "processPackageReturnEnclosedLabel",
        "description" : "Returns a return enclosed label in case of a return shipment.",
        "operationId" : "processPackageReturnEnclosedLabel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/processPickup" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "processPickup",
        "description" : "Prints or reprints the manifest documents for the pickup. Mainly to be used, when manifest documents were not printed with the <code>createPickup</code> call or if a reprint of the documents is necessary.",
        "operationId" : "processPickup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPickupRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessPickupRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPickupResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessPickupResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/processShipment" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "processShipment",
        "description" : "Allows to add packages or perform various operations on an existing shipment. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId" : "processShipment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLProcessShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLProcessShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/syncPickups" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "syncPickups",
        "description" : "Allows the synchronization of client system transactions with the engine pickups. By the use of a syncId it is possible to return only pickups that have changed between two syncPickups calls.",
        "operationId" : "syncPickups",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLSyncPickupsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLSyncPickupsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLSyncPickupsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLSyncPickupsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/syncShipments" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "syncShipments",
        "description" : "Allows the synchronization of client system transactions with the engine shipments. By the use of a syncId it is possible to return only shipments that have changed between two syncShipments calls.",
        "operationId" : "syncShipments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLSyncShipmentsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLSyncShipmentsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLSyncShipmentsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLSyncShipmentsResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/updateCustomsData" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "updateCustomsData",
        "description" : "Updates customs data for one existing shipment. Updates data on shipment and item level. Updates customs relevant data only.",
        "operationId" : "updateCustomsData",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLUpdateCustomsDataRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLUpdateCustomsDataRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLUpdateCustomsDataResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLUpdateCustomsDataResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/DLCarrierBFBean/validateShipment" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "validateShipment",
        "description" : "Validates a shipment with the data specified in the shipment request.<br> Various validation operations can be applied on the shipment to determine, whether the shipment can be processed.",
        "operationId" : "validateShipment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLValidateShipmentRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLValidateShipmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLValidateShipmentResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLValidateShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/acknowledgeGetChangedTransactions" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Acknowledge changed results of EC check transactions.",
        "description" : "Acknowledge the changed results of EC check transactions. If calling *getChangedTransactions* returns false in *GetChangedTransactionsResponseDTO.isComplete*, there are more changed results available. To get those results, the already retrieved results need to be acknowledged with the *GetChangedTransactionsResponseDTO.syncId* from the *getChangedTransactions* call.",
        "operationId" : "acknowledgeGetChangedTransactions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeGetChangedTransactionsResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/checkTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Check a transaction in Export Controls.",
        "description" : "Check a transaction in Export Controls. This call does not imply any approval management in the host system. Instead, if required, for each checked transaction from host system a check transaction is created in Export Controls with the data of the transmitted transaction. This is necessary, for example, due to critical results in the export control check. Further export control checks for the corresponding transaction are done using the associated check transaction in Export Controls. Based on this, approvals for a transaction must be managed directly using the corresponding check transaction in Export Controls. The existing approvals for the associated check transaction are automatically taken into account during check of transaction from host system in Export Controls.",
        "operationId" : "checkTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckTransactionResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/createQuestionnaireForTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Create a new questionnaire for a transaction in Export Controls",
        "description" : "Explicitly create a new questionnaire for a transaction in Export Controls. In case other questionnaires already exist for the given transaction, they are marked as invalid and the newly created questionnaire becomes the active one for that transaction.",
        "operationId" : "createQuestionnaireForTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateQuestionnaireForTransactionResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/deleteTransaction" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "To be invoked when a transaction in the partner system is deleted.",
        "description" : "Method to be invoked when a transaction in the partner system is deleted. Deletes the corresponding check transaction in Export Controls if existing.",
        "operationId" : "deleteTransaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteTransactionRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteTransactionRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteTransactionResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteTransactionResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/finalizeClearing" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Finalize a clearing.",
        "description" : "Method to be invoked when a clearing should be finalized. Finalizes the clearing for the corresponding check transaction in Export Controls if existing.",
        "operationId" : "finalizeApproval",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizeApprovalRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizeApprovalRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FinalizeApprovalResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FinalizeApprovalResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/getChangedTransactions" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Get the changed results of EC check transactions.",
        "description" : "Get the changed results of EC check transactions. Returns the changed results of EC check transactions, that were created for EC check transaction created with the *checkTransaction* call. The result of an EC check transaction might change if e.g. an approval was made or revoked on any of the items within Trade Compliance Management. Only changes relating to EC check transactions created by the transmitted in *GetChangedTransactionsRequestDTO.clientSystemId* are considered.<br>A partner system subscription needs to be configured in Trade Compliance Management.",
        "operationId" : "getChangedTransactions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetChangedTransactionsRequestDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/getTransactionCheckResult" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Gets the check result for a certain EC check transaction.",
        "description" : "Gets the check result for a certain EC check transaction. The check result is returned without a new EC check being performed. If a check is desired, call *checkTransaction* instead.",
        "operationId" : "getTransactionCheckResult",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetTransactionCheckResultRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetTransactionCheckResultRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTransactionCheckResultResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTransactionCheckResultResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Other errors, like a malformed request or internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/ExportControl/v2/updateCustomsInfo" : {
      "post" : {
        "tags" : [ "Export Control" ],
        "summary" : "Update customs info.",
        "description" : "Method to be invoked when customs info is to be updated. Updates the customs info for the corresponding check transaction in Export Controls if existing.",
        "operationId" : "updateCustomsInfo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCustomsInfoRequestDTO"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCustomsInfoRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation response. See response schema documentation for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCustomsInfoResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCustomsInfoResponseDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized. Missing or invalid authorization token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "405" : {
            "description" : "Method not allowed. Use POST.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable. This resource produces application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. This resource accepts application/json or application/xml.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. See errorMessage for details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorData"
                }
              }
            }
          }
        },
        "security" : [ {
          "BASIC_AUTH" : [ ]
        } ]
      }
    },
    "/FoundationAFBean/releaseApplicationFacade" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Release a UI API which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the UI API session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the UI API by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId" : "releaseApplicationFacade",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "query",
          "description" : "sessionid The sessionid returned by any UI API method, e.g. workplace @throws RemoteException",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/workplace" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Creates an UI API to be able to display the workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId" : "workplace",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
[...]
