{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Product Classification HTTP API",
    "description" : "Thank you for using our HTTP API documentation.",
    "version" : "4.0"
  },
  "servers" : [ {
    "url" : "https://rz3.aeb.de/test2cl/rest"
  } ],
  "security" : [ {
    "SWAGGER_AUTH_KEY" : [ ]
  }, {
    "BASIC_AUTH" : [ ]
  } ],
  "tags" : [ {
    "name" : "CoreBFBean",
    "description" : "API for the XNSGFoundation"
  }, {
    "name" : "FoundationAFBean",
    "description" : "Business facade for the XNSGFoundation UI API"
  }, {
    "name" : "Logon",
    "description" : "Authentication handler for the XNSGFoundation"
  }, {
    "name" : "DataFeedBFBean",
    "description" : "DataFeedBFBean"
  }, {
    "name" : "ExternalTelemetryBFBean",
    "description" : "API for sending telemetry data from a third party system."
  }, {
    "name" : "FoundationBFBean",
    "description" : "REST endpoint for FoundationBF"
  }, {
    "name" : "RemoteAdminBFBean",
    "description" : " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
  }, {
    "name" : "SyncBFBean",
    "description" : "API for synchronizing data asynchronous from an engine to a client system."
  }, {
    "name" : "ClassificationProposalBFBean",
    "description" : "API for classification proposals."
  }, {
    "name" : "FTMaterialClassification20BFBean",
    "description" : "API for the foreign trade material classification (version 2.0)"
  }, {
    "name" : "MaterialBFBean",
    "description" : "API for maintaining and requesting classification master data."
  }, {
    "name" : "MaterialConfigurationBFBean",
    "description" : "API for requesting settings regarding materials."
  }, {
    "name" : "Companies",
    "description" : "Rest API for companies"
  }, {
    "name" : "WorkstationServiceAgent",
    "description" : "Connection handler for the Workstation Service Agent"
  }, {
    "name" : "GenericAFBean",
    "description" : "API to open views that support this generic interface."
  }, {
    "name" : "TariffContent20BFBean",
    "description" : "API for the tariff content solution (version 2.0)."
  }, {
    "name" : "CustomsContentServiceBF",
    "description" : "API providing services around customs content (nomenclatures, export control lists)."
  } ],
  "paths" : {
    "/CoreBFBean/checkBFFunctionExists" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Can be called to know if a BF function exist.",
        "operationId" : "checkBFFunctionExists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BFFunctionDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BFFunctionExistsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echo" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value.",
        "operationId" : "echo",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echoUpperCase" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the given echo parameter value in uppercase.",
        "operationId" : "echoUpperCase",
        "parameters" : [ {
          "name" : "echo",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getAllMonitoringValues" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns all available monitoring values of the server.",
        "operationId" : "getAllMonitoringValues",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getBuildForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".",
        "operationId" : "getBuildForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getMonitoringValue" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Returns the current monitoring value for the given group and name.",
        "operationId" : "getMonitoringValue",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getProductInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".",
        "operationId" : "getProductInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeInfo" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".",
        "operationId" : "getRuntimeInfo",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeState" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".",
        "operationId" : "getRuntimeState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RuntimeStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getThreadDump" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Generate Thread-Dump.",
        "operationId" : "getThreadDump",
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getVersionForSolution" : {
      "get" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".",
        "operationId" : "getVersionForSolution",
        "parameters" : [ {
          "name" : "solutionName",
          "in" : "query",
          "description" : "solutionName the name of the solution for which version information is to be obtained",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "CoreBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".",
        "operationId" : "restartRFCServer",
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/releaseApplicationFacade" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Release a UI API which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the UI API session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the UI API by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId" : "releaseApplicationFacade",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "query",
          "description" : "sessionid The sessionid returned by any UI API method, e.g. workplace @throws RemoteException",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No result.",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationAFBean/workplace" : {
      "post" : {
        "tags" : [ "FoundationAFBean" ],
        "description" : "Creates an UI API to be able to display the workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId" : "workplace",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken" : {
      "get" : {
        "tags" : [ "Logon" ],
        "description" : "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId" : "authToken",
        "responses" : {
          "200" : {
            "description" : "Returns the authentication token.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Returns the cause why authentication has failed.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/logon/user" : {
      "post" : {
        "tags" : [ "Logon" ],
        "description" : "Logon with classical procedure: user, client and password.",
        "operationId" : "logonUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogonArgument"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Acknowledge the processed published data feed parts retrieved with getPublishedDataFeedParts containing the synchronization ID up to which all parts are acknowledged.",
        "operationId" : "acknowledgePublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgePublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/dataFeedParts/{client}/{id}" : {
      "get" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Retrieve the data feed part content.",
        "operationId" : "getDataFeedPartContentForRest",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the data feed part.",
            "content" : {
              "application/octet-stream" : { }
            }
          }
        }
      }
    },
    "/DataFeedBFBean/getPublishedDataFeedParts" : {
      "post" : {
        "tags" : [ "DataFeedBFBean" ],
        "description" : "Poll data about the next 10 published data feed parts. This data contains an id, which can be used to download the content of a part. To download the content, use the endpoint /DataFeedBFBean/dataFeedParts/{client}/{id} ",
        "operationId" : "getPublishedDataFeedParts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPublishedDataFeedPartsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPublishedDataFeedPartsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMIdentificationRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/status" : {
      "get" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId" : "getTelemetryStatusByParams",
        "parameters" : [ {
          "name" : "externalSystemId",
          "in" : "query",
          "description" : "externalSystemId, the id of the calling system, mandatory",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reportClientIdentCode",
          "in" : "query",
          "description" : "reportClientIdentCode, the identCode of the client to call the status for",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/telemetryReport" : {
      "post" : {
        "tags" : [ "ExternalTelemetryBFBean" ],
        "description" : "Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.",
        "operationId" : "sendTelemetryReport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalTMReportRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalTMResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/acknowledgeFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Acknowledges a file download.",
        "operationId" : "acknowledgeFile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeFileRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/announceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Announces a stop of the installation.",
        "operationId" : "announceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/cancelAnnounceStop" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Revokes an already announced stop.",
        "operationId" : "cancelAnnounceStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancelAnnounceStopParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancelAnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/changeAdminPassword" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Changes the admin password.",
        "operationId" : "changeAdminPassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeAdminPasswordParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChangeAdminPasswordResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/client" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all clients from this engine, or one client identified by values in query parameter",
        "operationId" : "queryClients",
        "parameters" : [ {
          "name" : "identCode",
          "in" : "query",
          "description" : "Filter for client ident code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "debtorNumber",
          "in" : "query",
          "description" : "Filter for debtor number",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the client infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Create a client.",
        "operationId" : "createClient",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateClientRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateClientResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/downloadFile" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves a file for download.",
        "operationId" : "downloadFile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DownloadFileRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DownloadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/generateClientIdentCode" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Generates a client ident code.",
        "operationId" : "generateClientIdentCode",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GenerateClientIdentCodeRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The client ident code."
          }
        }
      }
    },
    "/FoundationBFBean/client/active" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all active clients from this engine.",
        "operationId" : "getAllActiveClients",
        "responses" : {
          "200" : {
            "description" : "Contains the client infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests all monitoring values from this engine.",
        "operationId" : "getAllMonitoringValues_1",
        "responses" : {
          "200" : {
            "description" : "Contains all monitoring values.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/build" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the build info for a solution from this engine.",
        "operationId" : "getBuildForSolution_1",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Name of solution.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the build info."
          }
        }
      }
    },
    "/FoundationBFBean/downloadableFileRefs" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves refs for download.",
        "operationId" : "getDownloadableFilesRefs",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DLFilesRefsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The download refs.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLFilesRefsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue/{groupName}/{valueName}" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests a specific monitoring value from this engine.",
        "operationId" : "getMonitoringValue_1",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "description" : "group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "valueName",
          "in" : "path",
          "description" : "value name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The monitoring value."
          }
        }
      }
    },
    "/FoundationBFBean/numberOfClients" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Returns the number of clients.",
        "operationId" : "getNumberOfClients",
        "responses" : {
          "200" : {
            "description" : "The client count."
          }
        }
      }
    },
    "/FoundationBFBean/productInfo" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the product info from this engine.",
        "operationId" : "getProductInfo_1",
        "responses" : {
          "200" : {
            "description" : "Contains the product info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/runtimeInfo" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the runtime info from this engine.",
        "operationId" : "getRuntimeInfo_1",
        "responses" : {
          "200" : {
            "description" : "Contains the runtime info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/scriptExecutionState" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "gets a script execution state",
        "operationId" : "getScriptExecutionState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScriptExecutionStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScriptExecutionStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/tableUpdateState" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieve the status of the table update.",
        "operationId" : "getTableUpdateState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TableUpdateStateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The table update status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/uploadSettings" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Retrieves the upload settings.",
        "operationId" : "getUploadSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadSettingsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The upload settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadSettingsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/version" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the version info for a solution from this engine.",
        "operationId" : "getVersionForSolution_1",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Name of solution.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the version info.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/workplaceURL" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the workplace url from this engine.",
        "operationId" : "getWorkplaceURL",
        "responses" : {
          "200" : {
            "description" : "The workspace url."
          }
        }
      }
    },
    "/FoundationBFBean/checkDebtorNumber" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Checks if debtor number is known.",
        "operationId" : "isDebtorNumberKnown",
        "parameters" : [ {
          "name" : "debtorNumber",
          "in" : "query",
          "description" : "the debtor number to check",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "True if known."
          }
        }
      }
    },
    "/FoundationBFBean/publishUserMessage" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "creates a user message, in several languages if required",
        "operationId" : "publishUserMessage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublishMessageRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublishMessageResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the current engine to report all its roles",
        "operationId" : "requestReport",
        "responses" : {
          "200" : {
            "description" : "Contains all roles and clients.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles/{clientIdentCode}" : {
      "get" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Requests the current engine to report all roles for a specific client",
        "operationId" : "requestReport_1",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "path",
          "description" : "Client ident code for retrieving its roles.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contains the roles of a specific client from the queried engine.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Client ident code is invalid."
          },
          "404" : {
            "description" : "No client with that ident code exists."
          }
        }
      }
    },
    "/FoundationBFBean/restartRFCServer" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \"/AEB/XNSG_IF_RSTRFCSRV\"",
        "operationId" : "restartRFCServer_1",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/FoundationBFBean/sendMail" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Sends a mail.",
        "operationId" : "sendMail",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendMailResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startScriptExecution" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Starts a script execution",
        "operationId" : "startScriptExecution",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartScriptExecutionParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StartScriptExecutionResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startTableUpdate" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Starts the table update.",
        "operationId" : "startTableUpdate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartTableUpdateParmDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/systemSearch/{language}" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Performs a system search in this engine.",
        "operationId" : "systemSearch",
        "parameters" : [ {
          "name" : "language",
          "in" : "path",
          "description" : "the langauge",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/SystemSearchParameterDTO"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SystemSearchResultDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/uploadFileMultiPart" : {
      "post" : {
        "tags" : [ "FoundationBFBean" ],
        "description" : "Uploads a file using multipart.",
        "operationId" : "uploadFileMultiPart",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "description" : "Attach file to upload",
                    "format" : "binary"
                  },
                  "metaInfo" : {
                    "$ref" : "#/components/schemas/UploadFileMultiPartRequestDTO"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/RemoteAdminBFBean/clientRoles/{clientId}" : {
      "get" : {
        "tags" : [ "RemoteAdminBFBean" ],
        "summary" : "getRoles",
        "description" : "Returns a list of roles",
        "operationId" : "getRolesForClient",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The roles of the specified client.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolesOfClientDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolesOfClientDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "returned when client with given ident code is not found"
          }
        }
      }
    },
    "/RemoteAdminBFBean/roles" : {
      "get" : {
        "tags" : [ "RemoteAdminBFBean" ],
        "summary" : "getRoles",
        "description" : "Returns a list of roles",
        "operationId" : "getRolesGET",
        "parameters" : [ {
          "name" : "scope",
          "in" : "query",
          "description" : "the dataset to return",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCodes",
          "in" : "query",
          "description" : "includeClientIdentCodes",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resultLanguageIsoCodes",
          "in" : "query",
          "description" : "resultLanguageIsoCodes",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRolesResponseDTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRolesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/acknowledgeEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId" : "acknowledgeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcknowledgeEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AcknowledgeEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getNotAcknowledgedEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId" : "getNotAcknowledgedEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getPartnerSystemSubscriptions" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Fetch a list of registered subscriptions (either all or filtered by the business object type).<br>Only subscription belonging to the provided <code>clientSystemId</code> are returned (mandatory field)<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "getPartnerSystemSubscriptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/subscribePartnerSystem" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Subscribe a partner system to be able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "subscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/synchronizeEvents" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.",
        "operationId" : "synchronizeEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/unsubscribePartnerSystem" : {
      "post" : {
        "tags" : [ "SyncBFBean" ],
        "description" : "Unsubscribe a partner system from being able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId" : "unsubscribePartnerSystem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UnsubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The operation result.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnsubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/certTemplate" : {
      "put" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Creates a new document template.",
        "operationId" : "createCertTemplate",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters or the created document template.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCertTemplateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCertTemplateResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/codeTemplate" : {
      "put" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Creates a new classification code template.",
        "operationId" : "createCodeTemplate",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters or the created classification code template.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCodeTemplateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCodeTemplateResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/certTemplate/{id}" : {
      "get" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Gets the data of a document template.",
        "operationId" : "getCertTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a document template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCertTemplateResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Deletes an existing document template.",
        "operationId" : "deleteCertTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a document template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteCertTemplateResponseDTO"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Updates an existing document template.",
        "operationId" : "updateCertTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a document template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The update parameters for the document template.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCertTemplateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCertTemplateResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/codeTemplate/{id}" : {
      "get" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Gets the data of a classification code template.",
        "operationId" : "getCodeTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a classification code template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCodeTemplateResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Creates a new classification code template.",
        "operationId" : "deleteCodeTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a classification code template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteCodeTemplateResponseDTO"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Updates an existing classification code template.",
        "operationId" : "updateCodeTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of a classification code template.",
          "required" : true,
          "schema" : {
            "maxLength" : 32,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used..",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The update parameters for the classification code template.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCodeTemplateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateCodeTemplateResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/certTemplate/search" : {
      "post" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Searches for suitable document templates matching the criteria of the given search input.",
        "operationId" : "searchCertTemplates",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the document template search.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCertTemplatesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchCertTemplatesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ClassificationProposalBFBean/codeTemplate/search" : {
      "post" : {
        "tags" : [ "ClassificationProposalBFBean" ],
        "summary" : "Searches for suitable classification code templates matching the criteria of the given search input.",
        "operationId" : "searchCodeTemplates",
        "parameters" : [ {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the classification code template search.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCodeTemplatesRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchCodeTemplatesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/closeMaterialTransfFromEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Closes the transfer of material data and its classifications from the Classification Engine back to the host system.<br><br>See also <b>openMaterialTransferFromEngine</b> and <b>transferMaterialFromEngine</b>",
        "operationId" : "closeMaterialTransfFromEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCCloseMaterialTransferRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCCloseMaterialTransferResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/closeMaterialTransferToEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Closes the transfer of material data and its classifications from the host system to the Classification Engine.<br><br>See also <b>openMaterialTransferToEngine</b> and <b>transferMaterialToEngine</b>",
        "operationId" : "closeMaterialTransferToEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCCloseMaterialTransferRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCCloseMaterialTransferResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/getActiveClassificationSettings" : {
      "post" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Returns all active classification settings for the given client.",
        "operationId" : "getActiveClassificationSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCGetActiveClassificationSettingsRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCGetActiveClassificationSettingsResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/getClassificationData" : {
      "post" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Get classifications for a number of materials.",
        "operationId" : "getClassificationData",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCGetClassificationDataRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCGetClassificationDataResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/getClientInfo" : {
      "post" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Get information about a specific client",
        "operationId" : "getClientInfo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCClientInfoRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCClientInfoResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/getMaterialData" : {
      "post" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Gets the material and its classification data for one concrete material.",
        "operationId" : "getMaterialData",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCGetMaterialDataRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCGetMaterialDataResult20DTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/openMaterialTransferFromEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Opens the transfer of material data and its classifications from the Classification Engine back to the host system.<br><br>See also <b>transferMaterialFromEngine</b> and <b>closeMaterialTransfFromEngine</b>",
        "operationId" : "openMaterialTransferFromEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCOpenMaterialTransferFromEngineRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCOpenMaterialTransferResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/openMaterialTransferToEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Opens the transfer of material data and its classifications from the host system to the Classification Engine.<br><br>See also <b>transferMaterialToEngine</b> and <b>closeMaterialTransferToEngine</b>",
        "operationId" : "openMaterialTransferToEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCOpenMaterialTransferToEngineRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCOpenMaterialTransferResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/setMaterialAttachment" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Set the material attachment for one concrete material.",
        "operationId" : "setMaterialAttachment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCSetMaterialAttachmentRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCSetMaterialAttachmentResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/setMaterialData" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Set the material data for one concrete material.",
        "operationId" : "setMaterialData",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCSetMaterialDataRequest20DTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCSetMaterialDataResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/transferMaterialFromEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Transfers material data and its classifications from the classification server (engine) back to the host system. The transfer has to be opened before with the help of <b>openMaterialTransferFromEngine</b>. At the end of the transfer <b>closeMaterialTransfFromEngine</b> has to called to end the transaction.<br><br>Attention: only about <b>500</b> materials will be passed in one call, but it will be indicated if more data sets are available in the engine. Just call this method again many times.",
        "operationId" : "transferMaterialFromEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCTransferMaterialFromEngineRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCTransferMaterialFromEngineResult20DTO"
                }
              }
            }
          }
        }
      }
    },
    "/FTMaterialClassification20BFBean/transferMaterialToEngine" : {
      "put" : {
        "tags" : [ "FTMaterialClassification20BFBean" ],
        "description" : "Transfers material data and its classifications to the classification server (engine). The transfer has to be opened before with the help of <b>openMaterialTransferToEngine</b>. At the end of the transfer <b>closeMaterialTransferToEngine</b> has to called to provide a safe transaction.<br><br>Attention: only about <b>500</b> materials should be passed in one call. To transfer more call this method many times. ",
        "operationId" : "transferMaterialToEngine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FTMCTransferMaterialToEngineRequest20DTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FTMCTransferMaterialToEngineResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/MaterialBFBean/materials/partnerSystems" : {
      "put" : {
        "tags" : [ "MaterialBFBean" ],
        "description" : "Adds a new partner system to the materials. If a partner system subscription exists, journal entries will be created for the partner system.",
        "operationId" : "addPartnersystem",
        "parameters" : [ {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "clientSystemId Required. The id of the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        }, {
          "name" : "setOwner",
          "in" : "query",
          "description" : "setOwner Optional. If true, the clientSystemId is set as owner of the material. Default value is false.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "materials Required. A list of material numbers (max. 100) which identify a material uniquely for the client.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MaterialNumbersDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddPartnersystemToMaterialResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "MaterialBFBean" ],
        "description" : "Removes a partner system from the materials.",
        "operationId" : "deletePartnersystem",
        "parameters" : [ {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "clientSystemId Required. The id of the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "materials Required. A list of material numbers which identify a material uniquely for the client.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MaterialNumbersDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeletePartnersystemOfMaterialRepsonseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/MaterialBFBean/materials/{materialNumber}" : {
      "get" : {
        "tags" : [ "MaterialBFBean" ],
        "summary" : "Get the data for one material.",
        "operationId" : "getMaterial",
        "parameters" : [ {
          "name" : "materialNumber",
          "in" : "path",
          "description" : "The material number which identifies a material uniquely for the client.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "type" : "string"
          }
        }, {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "The id of the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        }, {
          "name" : "decisiveDate",
          "in" : "query",
          "description" : "If specified, only classification values that are valid on the specified date are returned. Defaults to today, if empty. Format: yyyy-MM-dd.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "ignoreMaterialDetails",
          "in" : "query",
          "description" : "If true, material details are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreMaterialDescriptions",
          "in" : "query",
          "description" : "If true, material descriptions are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreLinkAttachments",
          "in" : "query",
          "description" : "If true, attachments are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreFeatures",
          "in" : "query",
          "description" : "If true, features are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreClassifications",
          "in" : "query",
          "description" : "If true, classifications are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreClassificationValues",
          "in" : "query",
          "description" : "If true, classification values are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ignoreCertificates",
          "in" : "query",
          "description" : "If true, certificates are ommited in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetMaterialResultDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "MaterialBFBean" ],
        "description" : "Initiates the deletion of a material if the caller is owner of the material. If this is not the case, the partnersystem with the caller's clientSystemId is removed from the material.",
        "operationId" : "deleteMaterial",
        "parameters" : [ {
          "name" : "materialNumber",
          "in" : "path",
          "description" : "The material number which identifies a material uniquely for the client.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "type" : "string"
          }
        }, {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "The id of the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteMaterialResponseDTO"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "MaterialBFBean" ],
        "summary" : "Update the data of one material.",
        "operationId" : "updateMaterial",
        "parameters" : [ {
          "name" : "materialNumber",
          "in" : "path",
          "description" : "The material number which identifies a material uniquely for the client.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "type" : "string"
          }
        }, {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "The id of the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        }, {
          "name" : "transferMode",
          "in" : "query",
          "description" : "The mode in which the data specified in the request body shall be applied.\n<dl><dt>ADD_ONLY (default)</dt><dd>Only adds new data.</dd>\n<dt>OVERWRITE_ONLY_MASTER_DATA</dt><dd>Changes existing master data (e.g. features, material descriptions). Meanwhile only new classification values and customs documents are added.</dd>\n<dt>OVERWRITE</dt><dd>Changes existing data.</dd>\n<dt>FULL_SYNC_ONLY_MASTER_DATA</dt><dd>Deletes all existing master data, and adds the sent data.</dd>\n<dt>FULL_SYNC</dt><dd>Deletes all existing data, and adds the sent data.</dd></dl>\nHint: Updates for priority/dueDate of a classification are always taken into account. But only changes to more urgency will be accepted.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ADD_ONLY", "OVERWRITE", "OVERWRITE_ONLY_MASTER_DATA", "FULL_SYNC", "FULL_SYNC_ONLY_MASTER_DATA" ]
          }
        } ],
        "requestBody" : {
          "description" : "The data to add to the material on the engine.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MaterialDataDTO"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateMaterialResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/MaterialBFBean/businessObjects/{type}/{id}" : {
      "get" : {
        "tags" : [ "MaterialBFBean" ],
        "summary" : "Gets the data of a material related business object.",
        "description" : "This method is meant to be used in combination with the ISyncBF API to get data of single business objects separately.",
        "operationId" : "getBusinessObject",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The unique identification of the business object.",
          "required" : true,
          "schema" : {
            "maxLength" : 36,
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "The type of the business object.",
          "required" : true,
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "The id of the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
          "in" : "query",
          "description" : "The unique identification code of the client. If empty, the client of the authentication is used.",
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "userName",
          "in" : "query",
          "description" : "Names the user from the client system. Used to identify the origin of the call.",
          "schema" : {
            "maxLength" : 254,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetBusinessObjectResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/MaterialBFBean/materials/{materialNumber}/classificationProfiles/{profileCode}" : {
      "get" : {
        "tags" : [ "MaterialBFBean" ],
        "summary" : "Returns classification values of a classification profile for the requested material.",
        "operationId" : "getClassification",
        "parameters" : [ {
          "name" : "materialNumber",
          "in" : "path",
          "description" : "The material number which identifies a material uniquely for the client.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "type" : "string"
          }
        }, {
          "name" : "profileCode",
          "in" : "path",
          "description" : "The code of the profile to request.",
          "required" : true,
          "schema" : {
            "maxLength" : 40,
            "type" : "string"
          }
        }, {
          "name" : "decisiveDate",
          "in" : "query",
          "description" : "If specified, only classification values that are valid on the specified date are returned. Defaults to today, if empty. Format: yyyy-MM-dd.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "clientSystemId",
          "in" : "query",
          "description" : "The id of the client system. Used to identify the origin of the update.",
          "schema" : {
            "maxLength" : 20,
            "type" : "string"
          }
        }, {
          "name" : "clientIdentCode",
[...]
